[2018-01-03 16:53] hjsyoo commented on #197
Thanks, @hweng! One question - I can't access the ARKs in this format: http://library.ucsd.edu/ark:/20775/bb00028666
I'm assuming this is not a publicly accessible link, correct? If so, is there any reason for me to provide it to a non-Library party?

[2018-01-03 18:31] hweng commented on #197
@hjsyoo I got "Service Temporarily Unavailable": https://library.ucsd.edu/dc,
I will try it late.

[2018-01-03 19:23] hweng commented on #197
@hjsyoo Yes, the format http://library.ucsd.edu/ark:/20775/bb00028666 worked before but in DAMS4 it is not accessible link.
But In the report I provide the file(component) download url: https://library.ucsd.edu/dc/object/bb00028666/_1_2.jpg/download which is accessible links, which he can code using ARK as the above format.
There are a few object components which don't have downloadable files avai

[2018-01-03 19:39] hjsyoo commented on #197
@hweng  I think he will only need the component URLs that are accessible, if I understand correctly. Yes, it's fine to leave blanks for components that do not have downloadable files, since I'm not sure if he needs to point to them, and since we don't have component-level ARKS yet. Thanks so much for your help!

[2018-01-03 19:39] #197 closed

[2018-01-03 19:48] hweng commented on #197
@hjsyoo You are very welcome. Do you want me to update the report for ARK column to remove "http://library.ucsd.edu/ark:/20775/" since it is not working url?
This format of url was actually retrieved from RDFs: <dams:Component rdf:about="http://library.ucsd.edu/ark:/20775/bb00028666/1">

[2018-01-03 20:15] hjsyoo commented on #197
No need! I'll modify it and send it along. Thank you!

[2018-01-05 23:47] lsitu commented on #163
I've added the support to the Subject Import tool to test for matching subjects, see PR https://github.com/ucsdlib/damsmanager/pull/199.
@mcritchlow It's ready for review now. Thanks.

[2018-01-08 17:43] lsitu commented on #190
@arwenhutt Anything else do I need to do for stage 4?

[2018-01-08 18:14] arwenhutt commented on #190
@lsitu we are still reviewing - we've found a few things that we're tracing back to identify what's happening.  We'll let you know as soon as we have more specifics.

[2018-01-08 23:49] #163 closed

[2018-01-09 02:11] arwenhutt commented on #190
@lsitu there are some problems with rights holders names being added as subjects.  I can rewrite the processing instructions to more explicitly include these, but I need a little more information so they are correct:

1. There are three ways I've found rights holders encoded (below).  Are there any other ways  rights holders are encoded and linked to records in the DAMS?
    1. dams:rightsHolderNa

[2018-01-09 20:13] lsitu commented on #190
@arwenhutt:
For # 1, theoretically, I think rights holders could be encoded with other predicates like dams:rightsHolder, dams:rightsHolderConference, and dams:rightsHolderFamily since I see these predicates are defined in dams4. But I can't find any records that are lined by these predicates. So I think we can ignore them for now.
For # 2, regarding the report for dams:name/mads:Name, I am runnin

[2018-01-09 23:03] lsitu commented on #190
@arwenhutt Here is the report for # 2, the uses of dams:name/mads:Name linked to records in dams. I added an additional column "linked by" to include the predicate and name class path. Please let me know if you need anything else.
[report_dams_name.txt](https://github.com/ucsdlib/damsmanager/files/1616965/report_dams_name.txt)

[2018-01-12 20:57] arwenhutt commented on #190
@lsitu thanks, that helped.  The names are gnarly.
Basically we need to add logic to the code to identify names linked as rights holders and add (when there is a change in ark) them with the new ark but retaining the rights holder relationship.
But since the rights names have already been added as subjects to objects, I think we'll need to start another test round.  I believe @gamontoya is going t

[2018-01-12 20:57] #190 closed

[2018-01-12 20:58] #184 closed

[2018-01-12 22:45] remerjohnson opened #200 "Restrict ~135 images in CCAS Pickowicz collection to curator-only access"
### Descriptive summary

The researcher for the [CCAS Paul Pickowicz collection](https://library.ucsd.edu/dc/collection/bb5737145r) has indicated that around 135 of the images in production should be restricted. Please change the access state for these objects to curator-only access.

Attached is a sheet with the data, most importantly the ARK and associated access level for each object. Let me kn

[2018-01-12 23:03] gamontoya commented on #200
@jessicahilt Can Longshou take this one on? @remerjohnson can confirm, but I think this needs to be done before next Wednesday.

[2018-01-12 23:17] lsitu commented on #200
@gamontoya @jessicahilt Sure. I'll work on it.

[2018-01-12 23:26] lsitu commented on #200
@remerjohnson What license would you like for those restricted objects? It look like these restricted objects currently have a public license as follows:
<dams:license>
<dams:License>
<dams:licenseNote>Public access granted by rights holder.</dams:licenseNote>
<dams:permission>
<dams:Permission>
<dams:type>display</dams:type>
</dams:Permission>
</dams:permission>
</dams:License>
</dams:license>

I

[2018-01-12 23:53] remerjohnson commented on #200
@lsitu That may work. Do you know if that will be fine once those objects are released?

[2018-01-12 23:56] lsitu commented on #200
@remerjohnson I think so if all these objects are "under copyright". But it will be safe to add a restricted license if you are not sure.

[2018-01-13 00:05] remerjohnson commented on #200
@lsitu Yes, I believe they were all ingested with the "Copyrighted (Person)" selection in the ingest form, with Paul Pickowicz as the rights holder.

[2018-01-13 00:27] lsitu commented on #200
@remerjohnson Then I believe it'll work.

[2018-01-16 21:13] lsitu commented on #200
@gamontoya @remerjohnson I've deleted the "Public access granted by rights holder." license from  those 129 curator-only objects in the Excel source file ccas_pickowicz_access_levels.xlsx above. So all those objects should be curator-only access now. Could you take a look?

[2018-01-16 21:14] arwenhutt commented on #164
@gamontoya I think we discussed this in person, but wanted to put it here as well:  this looks good to me :+1:

[2018-01-16 21:37] gamontoya commented on #164
@jessicahilt Here's a ticket for Longshou to work on when he has the bandwidth.

[2018-01-17 17:58] remerjohnson commented on #200
@lsitu @gamontoya Sorry for the delay: this fix could only really be tested after releasing the collection. As of now, there are 556 public images, and 129 curator-only, which correctly adds up to the extent, 695. So we should be good. Thanks for the speed of this work.

[2018-01-17 17:59] remerjohnson commented on #200
@gamontoya @lsitu I've released the collection in order to test the fix, and it all adds up. Thanks for the speedy work on this

[2018-01-17 18:53] #200 closed

[2018-01-17 20:19] lsitu commented on #164
@GregReser I've added the closeMatch column to Subject Import tool. See PR https://github.com/ucsdlib/damsmanager/pull/201.
@mcritchlow The PR is ready for review now. Thanks.

[2018-01-18 18:58] #164 closed

[2018-01-22 20:05] remerjohnson opened #202 "Add PowerPoint file to a Holocaust Living History Workshop collection object"
### Descriptive summary

Dr. Grishaver would like to have his PowerPoint presentation added to his lecture:
* Archival Footprints: In Search of the Grishavers
  * https://library.ucsd.edu/dc/object/bb19135044

This would turn bb19135044 into a complex object, with the existing video lecture being one component, and this PowerPoint becoming the second component.

### Location of File
* digital-stag

[2018-01-26 17:57] GregReser opened #203 "Set 13 objects from Scripps Institution of Oceanography Photographs to "Curator Only""
### Descriptive summary

~~At the request of Special Collections, delete the following objects from production:~~

#### Per DLDP, change the status of the following 13 objects to "Curator" mode:

bb7612027t
bb63150884
bb59737890
bb4676849d
bb0274077s
bb4847631v
bb0308339k
bb35848216
bb56326201
bb2253754v
bb4642849m
bb00011743
bb8977358t

[2018-01-26 22:26] lsitu opened #204 "Release 2.63"
### Descriptive summary
Version: 2.63
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

To Verify/Review:
- [x] #163 Subject import tool - add pre-ingest test for matching subjects
- [x] #164 Subject import tool - add closeMatch

[2018-01-26 22:45] lsitu commented on #204
@gamontoya DAMS Manager Release 2.63 is created and deployed to staging. It's ready for review now. The major changes for this release are PRs for tickets #163 and #164. Thanks.

[2018-01-29 22:40] lsitu commented on #204
@GregReser We may need you to review #163 and #164 for the release. Could you test it on staging? Thanks.

[2018-01-29 22:48] GregReser commented on #204
@lsitu I should have this tested by tomorrow.

[2018-01-29 23:31] remerjohnson opened #205 "Remove / deaccession Heat and Automation CLR"
### Descriptive summary

**Background:** The only object within the collection [Data From: Heat Automation and Transfer...](https://library.ucsd.edu/dc/collection/bb45080154) has been moved to be a member of the [CAICE](https://library.ucsd.edu/dc/collection/bb96275693) collection. The former was also put into curator-only mode.

We are requesting the CLR also be deaccessioned (or removed) so that

[2018-01-30 19:50] GregReser commented on #204
@lsitu
#163 is working well.  This will help us greatly with subject reconciliation.  It's a great addition to our workflow.
#164 is working, but I discovered that if there are multiple closeMatch values (either in separate columns or in a single column separated with " | ", the result is single mads:hasCloseExternalAuthority property with both values.

<mads:hasCloseExternalAuthority rdf:resource

[2018-01-30 20:00] lsitu commented on #204
@GregReser Thanks for your review and feedbacks. Yes, we won't support multiple value in the subject tool at this time. It sounds good to open a new ticket for the improvements you need.

@gamontoya Please let me know if you we are ready to move this release forward to prod. Thanks.

[2018-02-06 17:06] lsitu commented on #203
@gamontoya Is this ticket ready?

[2018-02-06 17:13] gamontoya commented on #205
@jessicahilt Can you assign this to whomever has the bandwidth on your team?

[2018-02-06 17:16] lsitu commented on #205
@jessicahilt I can work on it.

[2018-02-06 17:45] gamontoya commented on #205
@lsitu Thank you!

[2018-02-06 21:33] lsitu commented on #205
@gamontoya I think the collection [Data From: Heat Automation and Transfer...](https://library.ucsd.edu/dc/collection/bb45080154) is gone now.

[2018-02-06 22:22] gamontoya commented on #205
@lsitu Yes, thank you!

[2018-02-06 22:22] #205 closed

[2018-02-13 17:58] hjsyoo opened #206 "Remove two components from Fresno and Fontana object"
### Descriptive summary

Researchers have requested that two components (plots) be removed from object, https://library.ucsd.edu/dc/object/bb70335495:

* Component 5 ("Coating Thickness")
* Component 9 ("Organonitrate")

### Rationale

Scope and Contents note will be added to object to explain need for removal.

### Related work

https://lib-jira.ucsd.edu:8443/browse/CPP-93

[2018-02-13 17:59] hjsyoo commented on #206
@gamontoya This is a high priority ticket for RDCP.

[2018-02-13 18:48] gamontoya commented on #203
@lsitu Not yet Longshou. I'm checking on something.

[2018-02-13 18:48] gamontoya commented on #206
@lsitu This one is ready. Feel free to start on it.

[2018-02-13 18:50] lsitu commented on #206
@gamontoya Sure.

[2018-02-13 18:52] gamontoya commented on #203
@GregReser Policy for SIO images. We don't ever delete, we change their status to curator mode.

[2018-02-13 18:55] gamontoya commented on #203
@lsitu It's ready now, but note that this is not a deletion, but instead a status change.

[2018-02-13 18:56] gamontoya commented on #203
@GregReser @lsitu Am I imagining, or are these all already curator only?

[2018-02-13 19:13] GregReser commented on #203
@gamontoya yes, they are already curator only.  Laurel requested they be deleted.  If we can only set to curator, then I'll let her know and I will close this issue.

[2018-02-13 19:17] lsitu commented on #206
@hjsyoo We may need to re-ingest all the files in components with index larger than 5.  Where can I find the original files for this object?

[2018-02-13 19:18] gamontoya commented on #203
@GregReser Yes, let her know that she can discuss with Roger if needed.

[2018-02-13 19:19] gamontoya commented on #203
#### Status: Will not fix (already curator only)

[2018-02-13 19:19] #203 closed

[2018-02-13 19:22] hjsyoo commented on #206
@lsitu This is the file/component list, starting with component #2.

SummaryPlot_Timeseries_Number_Distribution.jpg | image-source |   |   | Aerosol Particle Number   Distributions
-- | -- | -- | -- | --
SummaryPlot_Timeseries_sizedistribution_Non-refractory_Fresno_Fontana.png | image-source |   |   | Non-Refractory Aerosol Mass   Distributions
SummaryPlot_Timeseries_BlackCarbon_Massdistribution.j

[2018-02-13 19:51] lsitu commented on #206
@hjsyoo Yes. Thanks. So file SummaryPlot_Timeseries_CoatingThickness_Fresno_Fontana.jpg (component 5) and fileSummaryPlot_Timeseries_Organonitrate.jpg (component 9) will be removed from the object, right?

[2018-02-13 20:25] gamontoya opened #207 "Collections report not reporting all data"
### Descriptive summary

The Collections Report for DAMS collections is not reporting out correctly for a few collections:

- Cinewest Archive **(missing size count)**
- Committee of Concerned Asian Scholars Friendship Delegations **(missing searchable items, items and size count)**
- Meet the Scientist Lecture Recordings **(missing size count)**
- William A. Joseph Collection **(missing size coun

[2018-02-13 20:26] gamontoya commented on #207
@lsitu You might have to take this one too since you're the expert on the statistics reports.

[2018-02-13 20:50] hjsyoo commented on #206
Correct!

[2018-02-13 21:47] lsitu commented on #207
@gamontoya No problem.

[2018-02-15 17:13] lsitu commented on #206
@hjsyoo I think the re-ingest of the giant .zip date files in object https://library.ucsd.edu/dc/object/bb70335495 is done late yesterday evening. Could you take a look?
It looks like that the zoomify tiles creation was failed for component 5 and component 9, which may still have the stale tiles. I'll see how to fix them. Could you verify that zoom for other components are correct? Thanks.

[2018-02-15 18:25] lsitu commented on #206
@hjsyoo The zoomify tiles for component 5 and component 9 are fixed now. Let me know if you see anything else. Thanks.

[2018-02-15 18:40] hjsyoo commented on #206
@lsitu Thanks - component 7 seems to have lost its proper title. Can you rename it to: "Organic Aerosol Factors - Number Based"

[2018-02-15 19:33] lsitu commented on #206
@hjsyoo The title for component 7 is fixed now.

[2018-02-15 20:25] #206 closed

[2018-02-15 20:26] hjsyoo commented on #206
@lsitu Looks great. Thanks!

[2018-02-15 20:27] hjsyoo commented on #206
@remerjohnson Since lsitu had to reingest this object, your Scope and Contents note disappeared. Please redo the edit.

[2018-02-15 21:32] lsitu commented on #207
@gamontoya It looks like that the total disk size of some of the single object collections are much smaller than one megabyte that we are counting for in the report. In this case it'll be rounded to 0 (MB).
Do we need to change the counting rule to include the precisions with two digits after the decimal point? Or just make it 1 megabyte when the total disk size of a collection is less than 1 mega

[2018-02-15 21:47] lsitu commented on #206
@hjsyoo @remerjohnson Just to clarify what we've done here to delete component 5 and component 9. We restructured the components of this object and all files in components starting from index 5 were re-ingested. I think the descriptive metadata should be retained. So please double check before you make any metadata changes. Thanks.

[2018-02-15 22:14] remerjohnson commented on #206
Not sure, but in any event, I think the scope and contents note looks good, @hjsyoo?

[2018-02-15 22:16] gamontoya commented on #207
@lsitu For those smaller than 1 megabyte, yes. We need to make it show up as 1 versus 0.

However, the collections I list above, I believe those are all larger than 1 megabyte. Can you confirm.

[2018-02-15 22:26] hjsyoo commented on #206
@remerjohnson @lsitu Yes, I now see that it's back. I'm pretty sure the S&C note had disappeared after the restructuring, as topics began after the Description note. At any rate, I believe the files weren't technically removed until yesterday (2017-02-14), but since the note was first posted on 02-13, I'm not sure which date makes the most sense. Perhaps when the files were actually removed?

[2018-02-15 22:27] lsitu commented on #207
@gamontoya Yes, some are much larger than 1MB and I've recaptured the counts for those collections that are failed during the new year day 2018. I think you can log in and download the latest collection status now: https://library.ucsd.edu/damsmanager/collectionsReport.do.
Please let me know if there's anything else is still missing. Thanks.

[2018-02-16 00:31] gamontoya commented on #207
@lsitu Awesome. Let me know when you've updated DAMS Manager so that I can confirm that collections with size smaller than 1 kb show up as 1 and not 0.

Thanks Longshou!

[2018-02-16 00:43] lsitu commented on #207
@gamontoya Sure. I think there could be three of those "Date from: " single object collections in rdcp will be affected with the changing of 0 to 1.

[2018-02-16 17:21] gamontoya opened #208 "Create ARK list for SIO Geological Collection"
### Descriptive summary

There are 126 **curator only** objects in the [SIO Geological Collection](https://library.ucsd.edu/dc/collection/bb2936476d).

Please produce a report listing the ARKs to only these 126 objects.

### Rationale

Ho Jung does not believe that there should be **curator only** objects in this collection. This report will help us to investigate if the visibility of these 126 is

[2018-02-16 19:36] lsitu commented on #208
@gamontoya Attached is the ark list for those 126 curator objects in SIO Geological Collection:
[report_sio-geological-curators.txt](https://github.com/ucsdlib/damsmanager/files/1732579/report_sio-geological-curators.txt)

[2018-02-16 22:32] gamontoya commented on #208
@lsitu Thank you. We're investigating why these objects are curator only.

[2018-02-16 23:56] lsitu commented on #208
@gamontoya Diving into some of the objects, it looks like the rights holder and/or license elements are missing. For example https://library.ucsd.edu/dc/object/bb98649978.

[2018-02-17 00:03] #207 closed

[2018-02-17 00:19] gamontoya commented on #208
@lsitu Good detective work!

[2018-03-06 23:45] GregReser opened #210 "SIO photos: remove ". Date Unknown." from title"
### Descriptive summary

For all the items in collection = bb20151229 (Scripps Institution of Oceanography Photographs), delete the text substring = ". Date Unknown." in metadata field = Title (mads:Title/mads:authoritativeLabel AND mads:MainTitleElement/mads:elementValue)

### Example
https://library.ucsd.edu/dc/object/bb55984893

### Current value
Frogfish (Antennarius). Date unknown.

### Expec

[2018-03-07 16:20] GregReser opened #211 "UCSD Guardian: delete duplicate fields"
### Descriptive summary
Objects may contain duplicate Title, Date, and Note fields (same property, type, value) that should be removed.

for all the items in collection = bb4847930p (UCSD Guardian)
 - remove duplicate metadata field dams:title if the values are the same
 - remove duplicate metadata field dams:date if the type and value are the same
 - remove duplicate metadata field dams:note if t

[2018-03-07 23:58] remerjohnson opened #212 "Add Excel file to a DataMares Collection object"
### Descriptive summary

The (Excel) data that is associated with [an object in DataMares](https://library.ucsd.edu/dc/object/bb4438832x) is now out of embargo. Due to lack of embargo support, we had simply ingested an empty object. So we now need that data to be attached to the object.

### Location of file

+ rdcp-staging/rdcp-0041-dataMares/Working_Files/Batch_2_updated_2017-05-18/collection_up

[2018-03-08 00:00] remerjohnson commented on #212
Looping in @hjsyoo to this as well

[2018-03-08 18:42] GregReser opened #213 "Harold Scheffler Photographs: remove "." from end of title"
### Descriptive summary

For all the items in collection = bb08204951 (Harold Scheffler Photographs), remove the trailing period "." at the end of metadata field = Title (mads:Title/mads:authoritativeLabel AND mads:MainTitleElement/mads:elementValue)

### Example

https://library.ucsd.edu/dc/object/bb4676786b

### Current value

Aerial view from airplane.

### Expected value

Aerial view from airp

[2018-03-13 16:00] remerjohnson opened #214 "Add CC-BY licenses to all objects in SIO Geological Collections"
### Descriptive summary

For all objects in the [SIO Geological Collections](https://library.ucsd.edu/dc/collection/bb2936476d), we need to add the Creative Commons Attribution (CC-BY) license.

### XML value
To be added to the RDF/XML at object level:
[code]

### Related work

ucsdlib/dams-metadata/issues/72

[2018-03-13 22:52] hjsyoo opened #215 "Add components to Stack Gas object"
### Descriptive summary

We have received additional data that need to be added to an existing object. Please add the following as components 8, 9, and 10 (last components) to https://library.ucsd.edu/dc/object/bb83642973:

8) File location: \rdcp-0077-stack-gas\Working_Files\RawData\BF1.zip
Component title: 2014 Cruise Raw Data
9) File location: \rdcp-0077-stack-gas\Working_Files\RawData\BF2part1

[2018-03-13 23:19] remerjohnson opened #216 "Add newer CC license and a rights holder to Santa Fe Collection"
### Descriptive summary

The current Creative Commons license for the objects in the [Santa Fe Light Cone Collection](https://library.ucsd.edu/dc/collection/bb1673671n) needs updating from 3.0 to 4.0

In addition, there is currently no Rights Holder, which should be added to all objects as "UC Regents".

### Related work

ucsdlib/dams-metadata/issues/75

[2018-03-14 16:12] hjsyoo commented on #215
@gamontoya The Related work items above have been resolved this morning. This ticket is ready for you.

[2018-03-14 16:53] #208 closed

[2018-03-14 17:05] gamontoya commented on #192
@hjsyoo Can this be closed out? I'm assuming you'll be creating new "related" tickets?

[2018-03-14 17:10] gamontoya commented on #204
@lsitu Let's get this pushed to prod.

[2018-03-14 17:39] hjsyoo commented on #192
Yes, closing this ticket.

[2018-03-14 17:39] #192 closed

[2018-03-14 17:41] hjsyoo commented on #215
@remerjohnson FYI

[2018-03-14 18:58] GregReser opened #217 "DAMS Excel Import allows invalid Begin/End date - object is not visible"
### Descriptive summary

Currently, pre-ingest and ingest validation does not validate Begin date and End date values.  For example, 2018-02-31 is invalid because February does not have 31 days.
In addition to the current ISO date format (YYYY-MM-DD) validation, date values should also be validated.

### Rationale

This is a problem because an object containing an invalid Begin or End date value i

[2018-03-14 19:14] lsitu commented on #204
@gamontoya Sure.
@jhriv The release branch 2.63 is merged. Just feel free to move it to prod at your convenience. Thanks.

[2018-03-14 20:05] hjsyoo opened #218 "RDCP objects JPG views in curator mode get logged as non-curator views"
### Descriptive summary

This testing was conducted on RDCP objects which contain one or more JPG file components. In curator mode, when we click on the JPG files in an RDCP object to view the pictures, the JPG views do not register as curator views. Instead, they register as non-curator views.

### Rationale

When curators visit the object page to view/manage the JPG file components, their visits

[2018-03-14 20:11] hjsyoo opened #219 "RDCP object views do not get logged uniquely"
### Descriptive summary

Under both curator and non-curator mode, when users/curators visit the same object page multiple times in a given time period, each visit is logged as a separate view instead of one unique count for the visits. The DAMS manager does not track unique counts based on users/curators.

### Rationale

When users/curators visit the object page to view object contents, it is poss

[2018-03-14 20:17] GregReser commented on #217
Here is a test ingest spreadsheet:
[invalid_dates.xlsx](https://github.com/ucsdlib/damsmanager/files/1812923/invalid_dates.xlsx)

[2018-03-14 21:00] hjsyoo commented on #215
I've just added some additional metadata needed for each of the components. Sorry - forgot about these til this moment.

[2018-03-16 18:16] gamontoya commented on #204
@jhriv Did this get pushed to prod?

[2018-03-16 19:22] rstanonik commented on #204
Yes, deployed to production 6:00am this morning

[2018-03-16 19:22] #204 closed

[2018-03-20 09:18] hjsyoo commented on #218
@gamontoya @jessicahilt My team needs to do additional testing on the RDCP stats reports before we can write up complete specs on a third related ticket - we discovered inconsistent results at the end of last week. Since we're all out of office until April, is it possible to put this work on hold until further notice?

[2018-03-20 16:25] gamontoya commented on #218
`On hold until further notice.`

[2018-03-26 23:31] lsitu commented on #202
@remerjohnson We may need to re-ingest the existing lecture video master file. Do you know where's the original source file?

[2018-03-27 20:19] gamontoya commented on #162
@GregReser Is this still needed?

[2018-03-27 20:30] gamontoya commented on #165
Revisit with Hyrax.

[2018-03-27 20:30] #165 closed

[2018-03-27 20:49] lsitu commented on #217
@mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/220 for Begin/End date validation support. It's ready for review now. Thanks.

[2018-03-27 20:53] GregReser commented on #162
@gamontoya yes please.  It was a request form Matt Peters

[2018-03-27 21:47] gamontoya commented on #202
@lsitu I believe the original master file was deleted from digital-staging some time ago.

[2018-03-27 21:50] lsitu commented on #202
@gamontoya Okay, I'll use the copy in the filestore for re-ingest then. Thanks.

[2018-03-27 21:52] remerjohnson commented on #202
@hjsyoo I believe Gabriela is right, I cannot find the original video anywhere

[2018-03-27 22:09] lsitu commented on #202
@remerjohnson Thanks. It seems like we have no other choices but the one in the filestore.

[2018-03-27 23:02] lsitu commented on #212
@gamontoya @remerjohnson I've ingested the Excel data file to the DataMares object and it's ready on prod for review now:
https://library.ucsd.edu/dc/object/bb4438832x.

[2018-03-27 23:51] gamontoya commented on #212
@remerjohnson Please close if this issue is resolved.

[2018-03-27 23:52] gamontoya commented on #162
@GregReser We'll add it to the next Sprint.

[2018-03-27 23:56] remerjohnson commented on #212
This looks great. Thanks Longshou!

[2018-03-27 23:56] #212 closed

[2018-03-28 02:42] #217 closed

[2018-03-28 23:29] lsitu commented on #202
@gamontoya @remerjohnson I've added the PowerPoint file to object https://library.ucsd.edu/dc/object/bb19135044 and restructure it to a complex object. It's ready on prod for review now. Thanks.

[2018-03-28 23:46] gamontoya commented on #202
Looks great! Thank you @lsitu

[2018-03-28 23:47] #202 closed

[2018-03-29 18:56] lsitu commented on #215
@hjsyoo What's the structure you want for these files? Add them after "Event trigger single particle cluster analysis" under Plots, or after "Processed data in ICARTT format"?

[2018-03-29 20:18] lsitu commented on #215
Thanks @remerjohnson. It seems like I can't work on the ticket until she's back.

[2018-04-02 15:16] hjsyoo commented on #212
Thanks all! @remerjohnson There are a few more action items for this object, listed here: https://lisn.ucsd.edu/display/datacuration/Action+Items+-+dataMares.

[2018-04-02 15:37] hjsyoo commented on #215
Hi @lsitu - please add these new files to the very end of the component list, after "Processed data in ICARTT format".

[2018-04-02 16:52] remerjohnson commented on #212
@hjsyoo Okay. I think those changes should be visible now. If you need more for this, let me know on Slack

[2018-04-02 22:54] lsitu commented on #215
@hjsyoo I've added the components under "Processed data in ICARTT format" and ingested the .zip files. I think the Stack Gas object is ready for review now.

[2018-04-03 15:36] lsitu commented on #219
@hjsyoo Yes, we haven't tracked any accesses basing on the users yet. With the library weblog that the current implementation basing on, I think we can only extract the user's IP address for this purpose. Does using the user's IP address to determine the unique counts of object access work for you?

[2018-04-03 16:05] hjsyoo commented on #219
@lsitu Using the user's IP address (which will be static for each session that a user on campus is connected to wireless continuously, correct?) sounds like the best solution. But can we put this work on hold for now, while my student assistants finish their testing? We're working on specifying a third related ticket on RDCP stats, and it will be difficult for them if any of the reporting methods

[2018-04-03 19:52] hjsyoo commented on #219
@lsitu Great! In that case, please feel free to proceed, unless you think our next ticket could affect how you approach the work. Regarding campus IP, I checked with Tim M, and I think you're right, one access per IP address every day would do a good job of capturing unique views.

[2018-04-03 20:12] lsitu commented on #219
@hjsyoo It's good that we move ahead with the user's IP address  for counting the unique access. But I don't want to know what are your two other tickets related so that we all agree on what can do and what can't before moving forward with the implementation. I see your second ticket here: https://github.com/ucsdlib/damsmanager/issues/218. But what's your third ticket about?

[2018-04-03 20:51] hjsyoo commented on #219
@lsitu Here are summaries of the third ticket:
- RDCP object views do not get logged when user clicks on URL link (from a google sheet)
- RDCP curator views under curator mode get logged into non-curator mode, when entering via Google search or Calisphere link.
- RDCP object views do not get consistently logged when user clicks on DOI link from an external publication or website.

We're more thoro

[2018-04-03 21:05] lsitu commented on #219
@hjsyoo Regarding your [comment](https://github.com/ucsdlib/damsmanager/issues/219#issuecomment-378395162) above for the third ticket, with the library weblog that our current implementation is relying on, I don't think we can count any accesses from a public URL link (eg. from a google sheet) out side of our dams4 curator view as curator access. Should this be dams 5 feature, or we should look fo

[2018-04-03 21:34] lsitu commented on #218
@hjsyoo I think this ticket is related to my comment https://github.com/ucsdlib/damsmanager/issues/219#issuecomment-378395162 as well. When clicking on the image viewer, it's redirected to zoomify, which won't be counted. So the view of the object will be counted for the object URL in the google spreadsheet, which is public. Please let me know if I miss anything when conducting any more tests. Tha

[2018-04-03 22:07] hjsyoo commented on #219
@lsitu Let's see what the students find when they link from DataCite and various publications (PDFs and websites). We are getting some logged hits when accessing from a Google search or Calisphere, so there's an inconsistency we don't quite understand.
We very much need access from external sources to work in D5, however we can get that data. I think it would be informative for us to troubleshoot

[2018-04-04 23:25] gamontoya opened #221 "Stats summary not working"
### Descriptive summary

- https://library.ucsd.edu/damsmanager/statsSummary.do?start=2010-03-01

Getting zero hits for collections, total items, and size.

![stats1](https://user-images.githubusercontent.com/4314914/38339696-78aabba8-3824-11e8-9024-6ef266193d8b.png)

### Probable Cause
_It's something new. It seems like we got the error when damsmanager was trying to insert the records to databas

[2018-04-05 17:06] GregReser opened #222 "Ed Fletcher Papers: edit geographic subjects"
### Descriptive summary

155 objects in Ed Fletcher Papers portraying "Hodges, Lake (Calif.)" incorrectly include the geographic subject Escondido (Calif.) - it should be "San Diego (Calif.)"

### Task

FOR all the items in collection = Ed Fletcher Papers bb55647135
IF dams:geographic = Hodges, Lake (Calif.) bb60436951 AND Escondido (Calif.) bb99682178
REPLACE Escondido (Calif.) bb99682178 WITH Sa

[2018-04-09 22:36] lsitu commented on #221
@rstanonik /@jgorney I see the following error with DAMS Statistic while inserting records into  table stats_dlc_quan: InternalError: ERROR: value too long for type character varying(200).
I think we have longer collection titles that are over 200 characters. Could we update the collection_title column in table stats_dlc_quan to varchar(500)? Thanks.

I've updated it in QA and we just need to upda

[2018-04-10 14:26] jgorney commented on #221
@lsitu - I've updated both prod and staging.  Please let me know if everything is ok.

Juliana

[2018-04-10 15:11] lsitu commented on #221
@gamontoya Thank you very much. I'll run a test and let you know.

[2018-04-10 16:35] lsitu commented on #162
@GregReser To convert MARC 79X field and 245 $c field from MARC to CSV, we first need to convert these two fields to MODS, what MODS properties would you like to map these two fields to? I think we may need to use unique MODS property/predicate for this purpose so that it won't mix with other fields. Thanks.

[2018-04-10 18:56] GregReser commented on #162
@lsitu
For 245 $c, use mods:note type ="statement of responsibility", unless we are already mapping something else to that.

For 79X, I can't find any appropriate MODS property, sub-property, or attribute.  Since we are placing this in a single column for human review, it makes sense to use a simple custom MODS property/predicate localAddedEntry.  Do we need to use mods:extension for this?

[2018-04-10 19:06] lsitu commented on #162
@GregReser For 245 $c, |'ll use mods:note type ="statement of responsibility" then. For 79X, what structure do you suggest with mods:extension?

[2018-04-10 20:10] GregReser commented on #162
@lsitu Maybe this:

<mods:extension xmlns:ucsd="http://library.ucsd.edu/ontology/dams4.2#">
	<ucsd:localAddedEntry> </ucsd:localAddedEntry>
</mods:extension>

I'm hesitant to use ucsd because we don't actually use localAddedEntry in the DAMS5 data model, but the MARC to CSV conversion is an internal process so it shouldn't cause any problems.

[2018-04-10 20:27] GregReser commented on #162
@lsitu re-thinking this - maybe we should make it simple and use mods:note type = "Local Added Entry"

These are all the 79X that would exist:

790 Local Added Entry--Personal Name
791 Local Added Entry--Corporate Name
792 Local Added Entry--Meeting Name
793 Local Added Entry--Uniform Title
796 Local Added Entry--Personal Name
797 Local Added Entry--Corporate Name
798 Local Added Entry--Meeting Na

[2018-04-10 20:35] lsitu commented on #162
@GregReser Thanks. It sounds good to use mods:note type = "Local Added Entry". Do we need to encode the values after '--' like Personal Name (790 Local Added Entry--Personal Name) into the mapping structure?

[2018-04-10 20:43] GregReser commented on #162
@lsitu No, don't worry about the type values after "--".

Here is a simple example to test.  It only has a 790 and 793, but I will look for a better one.
b4104439

[2018-04-10 20:47] gamontoya commented on #221
@lsitu Please run them also for all the missing months. Thank you.

[2018-04-11 15:49] lsitu commented on #221
@gamontoya It works now and I've generated the stats for all the missing months. Thanks @jgorney.

[2018-04-11 21:30] gamontoya commented on #221
Awesome! Thank you @lsitu and @jgorney !

[2018-04-11 23:16] hweng commented on #216
@remerjohnson I've updated RDF for copyright and license, see following example RDF, Let me know if it is correct?
http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb2322141x/transform?recursive=true&xsl=normalize.xsl

<dams:copyright>
<dams:Copyright rdf:about="http://library.ucsd.edu/ark:/20775/bb1639537b">
<dams:copyrightJurisdiction>us</dams:copyrightJurisdiction>
<dams:copyrightNote>

[2018-04-11 23:37] remerjohnson commented on #216
@hweng The copyright note looks correct. Thanks!

For the license, I don't believe I've ever seen a Permission besides "display", as I believe that's what is applied by default when we select a CC license at time of ingest. Interesting! This is what the default is:

[code]

@gamontoya Do we need to evaluate the default CC license behavior in applying Permission values? I am not sure if this is an

[2018-04-12 16:33] gamontoya commented on #216
@remerjohnson @hweng I think it's a good idea to review the default CC behavior for 4.0 if different from 3.0. @hweng are they different?

[2018-04-12 18:04] remerjohnson commented on #216
@gamontoya This is currently happening as the default for 4.0 as well: only the "display" permission is used

[2018-04-12 20:17] lsitu commented on #162
@mcritchlow I've added PR https://github.com/ucsdlib/jollyroger/pull/1 in JollyRoger and PR https://github.com/ucsdlib/damsmanager/pull/223 in damsmanager for this support. Both PRs are ready for review now. Thanks.

[2018-04-12 20:59] GregReser commented on #216
Looking at that full list of RDF CC permissions above, it looks like a list of permissions allowed under CC - "you are allowed to adapt, distribute, ect."   We don't need to include those in our RDF since the user can, and should, get that information at the CC URL.  We use dams:permission display to drive object visibility in the DAMS and since all CC objects would be visible, it seems unnecessar

[2018-04-12 21:40] gamontoya commented on #216
@hweng Do the answers from Ryan and Greg help? Can we just use _display_?

[2018-04-12 21:53] #162 closed

[2018-04-13 16:35] hweng commented on #216
@gamontoya @GregReser @remerjohnson Thank you for looking into it. Just confirm with you, the `<dams:license>` should update to the following format, correct?

[code]

[2018-04-13 17:28] remerjohnson commented on #216
@hweng Yes, that would be consistent with our current values, so I think that's fine. Thanks

[2018-04-13 18:03] hweng commented on #216
@remerjohnson No problem, I'll update them. Thanks for confirming!

[2018-04-13 20:17] hweng commented on #216
@remerjohnson They were updated. Let me know if it looks all fine to you now: http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb2322141x/transform?recursive=true&xsl=normalize.xsl

[2018-04-16 21:32] remerjohnson opened #224 "dataMares: object update/restructure needed"
### Descriptive summary

The data providers for the dataMares collection have sent us updated data. One of these is for this object: https://library.ucsd.edu/dc/object/bb3757060t

It is currently a simple object: we have a new data file, so we'd like to make this into a complex object.

The _current_ file in the DAMS will become **component 2**, while the _new_ file (located at `//rdcp-staging/rdc

[2018-04-16 23:09] hweng commented on #214
@remerjohnson, the Creative Commons Attribution (CC-BY) license has been added for all objects in the SIO Geological Collections.
For example: https://library.ucsd.edu/dc/object/bb2970735b
Let me know if it looks fine to you.

[2018-04-18 15:55] remerjohnson commented on #214
@hweng Thanks Huawei! Looks good. Closing

[2018-04-18 15:55] #214 closed

[2018-04-20 22:42] hweng commented on #213
@GregReser  All the items in collection = bb08204951 have been removed the trailing period from end of title. Would you take a look and let me know if it looks fine to you? Thank you!

[2018-04-21 00:34] VivianChu commented on #210
@GregReser @gamontoya - The Title field has been updated for all the items in this collection.  The solr index process for this collection has been run.  I'll let you know when the solr index process is done.

[2018-04-23 16:01] VivianChu commented on #210
@GregReser @gamontoya - The index process is done.
For example
https://library.ucsd.edu/dc/object/bb24585316
https://library.ucsd.edu/dc/object/bb1468761m

[2018-04-23 16:01] #210 closed

[2018-04-23 17:01] hweng commented on #213
@GregReser I checked several items and it looks good to me now:
https://library.ucsd.edu/dc/object/bb4676786b
https://library.ucsd.edu/dc/object/bb4676787v
https://library.ucsd.edu/dc/object/bb44378750

[2018-04-23 17:01] #213 closed

[2018-04-23 17:30] gamontoya commented on #210
@GregReser Please close this ticket if this work is approved.

[2018-04-23 17:52] GregReser commented on #213
@hweng They look good.  Thank you.

[2018-04-24 16:26] hjsyoo opened #225 "RDCP object views from external points of entry do not get logged at all"
### Descriptive summary

A) When we directly click on the object page’s URL in a Google Sheet to open an object, no views are registered in either curator mode or non-curator mode. No views are registered in incognito mode. We found that no views are registered by directly clicking on an object’s DOI (which redirects the page to its object page’s URL).

B) When we directly click on the object’s UR

[2018-04-24 16:32] hjsyoo opened #226 "RDCP object views from external points of entry in curator mode get logged as non-curator views"
### Descriptive summary

Under curator mode, when curators visit the RDCP objects through the external sources Google Search or Calisphere, the views are being logged in as non-curator views.

### Rationale

Curator views should be reported as curator views, not as non-curator views, regardless of point of entry by user.

### Steps to reproduce the behavior

* Our Testing Procedure: (This testing

[2018-04-24 16:35] hjsyoo opened #227 "RDCP object views get logged inconsistently from session to session"
### Descriptive summary

When we click directly on the object’s URL to open an object from an external link at Plos, Wiley, Oxford Academics, or DPLA, both curator views and non-curator views can be registered as non-curator views. However, this pattern is inconsistent from session to session. Occasionally, no views get logged in at all despite Google Analytics reporting >0 views. Specifically, in

[2018-04-26 21:45] hweng commented on #216
@remerjohnson  The solr was updated for Rights Holder, and it shows on UI now, see the examples:
https://library.ucsd.edu/dc/object/bb0718029h
https://library.ucsd.edu/dc/object/bb8192501m

[2018-04-26 21:45] #216 closed

[2018-05-01 22:01] lsitu commented on #218
@hjsyoo As specifying in `Steps to reproduce the behavior` :
[code]
It looks like that test here is over wrapping with ticket https://github.com/ucsdlib/damsmanager/issues/226 (RDCP object views from external points of entry in curator mode get logged as non-curator views). I have to clarify that if
an object view is accessed from a external URL saved on a google doc/sheet, it will be always count

[2018-05-02 21:30] hjsyoo commented on #218
@lsitu Thanks, your understanding of the issues reported is correct, but I think we should put a hold on all of this stats work until @gamontoya @mcritchlow @jessicahilt have had a chance to meet next week to discuss these 5 related tickets. I'm not sure at this point if actual work should be done, or if the tickets should be considered guidelines for testing stats reporting in D5.
But to answer y

[2018-05-02 21:38] lsitu commented on #218
@hjsyoo Okay, I'll hold off those five dams stats related tickets for now.

[2018-05-03 20:18] lsitu commented on #211
@GregReser I found that there are total 60 objects in UCSD Guardian that have the issue with one or more duplicate fields in dams:title, dams:date, dams:note. Attached is the report for those 60 objects:
[report-UCSDGuardian-duplicate-fields.txt](https://github.com/ucsdlib/damsmanager/files/1972501/report-UCSDGuardian-duplicate-fields.txt)

Do you see any objects that has the issue but missing fro

[2018-05-03 20:32] GregReser commented on #211
@lsitu your search is probably the most accurate way to find the duplicates - there are too many objects for me to do a visual search.

The best thing to do is fix the objects on your list and close this ticket.  If any more duplicates are discovered after that, we will open a new ticket an re-evaluate the search criteria.

[2018-05-03 21:02] lsitu commented on #211
@GregReser Thanks. It sounds good and I'll move ahead to fix these objects.

[2018-05-08 15:15] lsitu commented on #211
@GregReser I've corrected those 60 objects in the report that have duplicate fields. I think they are ready on prod for review now. Could you take a look? Thanks.

[2018-05-08 15:39] #211 closed

[2018-05-08 15:39] GregReser commented on #211
@lsitu Well done, they look much better now.  Thanks.

[2018-05-08 20:41] gamontoya commented on #219
Google Analytics does this right. It registers unique views.

[2018-05-08 20:45] #221 closed

[2018-05-08 21:13] lsitu commented on #219
@gamontoya /@hjsyoo Should I restart my work on it with the approach of counting views basing on client IP addresses daily?

[2018-05-09 00:00] lsitu commented on #219
Here is the article regarding how pageviews and unique pageviews are counted by google analytics:
https://support.google.com/analytics/answer/1257084?hl=en

[2018-05-10 16:25] #218 closed

[2018-05-10 16:54] hjsyoo commented on #219
@lsitu Thanks for the link - that description matches with my understanding of pageviews and unique pageviews. I believe @gamontoya will be adding this ticket to one of the upcoming sprints, but to answer your question, yes, we would want to report unique pageviews based on daily visits from unique IP addresses.

[2018-05-10 20:17] lsitu commented on #227
@hjsyoo One of the issue I see is that some of the external links may be redirected with a pattern like most of the search engines do, which has "-" as the referral url logged in the weblog. We ignore this pattern from counting in dams statistics at this time. I'll look for other ways to exclude those search engine /bot/spider accesses from counting, which could be tricky regarding accuracy.

[2018-05-11 22:00] lsitu commented on #227
@gamontoya / @jessicahilt / @mcritchlow It looks like it's hard to make it accurate to exclude all search engines/crawlers from counting in dams statistics. And I think google analytics by default may not exclude those hits from search engines from counting in as well.

After exploring the information regarding search engines and looking into some of our data in the weblog, I am thinking about usi

[2018-05-15 16:16] mcritchlow commented on #227
@lsitu - Sorry for the delayed response. That general approach seems very sensible to me. It would definitely be nice, at least for now if we can, to leverage the crawler list you noted. Managing this entirely ourselves seems like biting off a lot.. Perhaps we can integrate a cron task into the solution that periodically updates the list automatically or something so we don't have to babysit it.

[2018-05-15 16:50] lsitu commented on #227
@mcritchlow For question# 4, yes, we could make the changes to choose to filter statistics that are in the DB tables already but I am afraid that the query will be very slow, which could take us too long to wait for the result.
Currently, the search engines filter is configurable, so we don't need to redeploy damsmanger but only need to update the configuration for the bot/crawler list to have tho

[2018-05-15 17:31] mcritchlow commented on #227
Yeah that's a good point about query times. I wonder how different it would be in practice, but it's true that it would definitely slow down the reporting by some amount. I ask because I'm pretty sure that's what GA and Matomo do. It sounds like you already have a plan in place for regenerating statistics, which works as well. Perhaps that the path of least resistance (and additional work) for now

[2018-05-15 18:42] lsitu commented on #227
@mcritchlow Then I'll create a PR with the current implementation for now, and we can change it later if we see a fit. Currently we store the stats data item by item daily and I see the queries are slow with aggregation. So I am afraid that any such filters with a list of search engine user agents will slow down the aggregation queries a lot. Maybe we could try doing filtering and aggregation at t

[2018-05-15 20:15] lsitu commented on #227
@mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/228 to exclude search engines /crawlers from counting in dams statistics. It's ready for review now. Thanks.

[2018-05-15 22:03] #227 closed

[2018-05-21 15:03] hjsyoo opened #229 "NAAMES: components not displaying in zoom viewer"
### Descriptive summary

In https://library.ucsd.edu/dc/object/bb0856963d, components 12 and 14 are not displaying in zoom viewer when components are clicked:
* https://library.ucsd.edu/dc/object/bb0856963d/zoom/12
* https://library.ucsd.edu/dc/object/bb0856963d/zoom/14

According to @remerjohnson , "Re: the component images, nothing stands out for the two .png files, besides the fact they seem to

[2018-05-23 16:26] gamontoya commented on #229
@lsitu Do you have time to create these tiles?

[2018-05-23 16:28] lsitu commented on #229
@gamontoya Yes. I'll take a look.

[2018-05-23 20:29] lsitu commented on #229
@gamontoya It looks like that the formats/mimetype of the source .png  for component 12 (`image/jpeg`) and the source .jpg file for component 14 (`application/octet-stream`) are not correct. I think this could be part of the reason that the tiles didn't get created for component 12 and 14, while the tiles for other components were created.
[code]
[code]
Is it possible to correct the formats/mimety

[2018-05-23 20:44] remerjohnson commented on #229
@lsitu That makes sense, Longshou. Should I do that and then attempt a file replace?

[2018-05-23 20:50] lsitu commented on #229
@remerjohnson Yes. I think you can just go ahead with the File Replace tool in damsmanager to replace the master files. Thanks.

[2018-05-23 21:28] GregReser commented on #222
@gamontoya any chance this can be added to the next sprint?

[2018-05-24 15:56] remerjohnson commented on #229
@lsitu When I attempt the file replace, the tool complains:

Which is what I need to do. The (hopefully) corrected images are in `//rdcp-staging/rdcp-0112-naames/file_replace/`

[2018-05-24 16:45] lsitu commented on #229
@remerjohnson Yes, for File Replace, the file URI and the file extension need to be matched. For example, the values in File Replace form (https://librarytest.ucsd.edu/damsmanager/fileReplace.do) need to be as follows:
ARK File:       http://library.ucsd.edu/ark:/20775/bb0856963d/14/1.jpg
File location: /rdcp-staging/rdcp-0112-naames/file_replace/NAAMES-RUSSELL-SEMSNumberSizeDistribution_Atlantis_

[2018-05-24 21:03] lsitu commented on #229
@remerjohnson I've replaced the files for component 12 and 14. The tiles for these two components are created now.

[2018-05-24 21:11] remerjohnson commented on #229
@lsitu Looks good. Thanks, Longshou!

@hjsyoo If it looks good to you, I think you can close this out

[2018-05-24 21:14] hjsyoo commented on #229
Looks great. Thanks @lsitu @remerjohnson !

[2018-05-24 21:14] #229 closed

[2018-05-30 20:59] #222 closed

[2018-05-30 22:27] GregReser commented on #222
Closing this because I made the edits by hand.

[2018-05-31 00:32] gamontoya commented on #222
@GregReser Thanks Greg. I was out a handful of days last week and we haven't had a Sprint lately. Sorry about the delay, but I'm glad you were able to tackle this.

[2018-05-31 23:33] lsitu commented on #219
@mcritchlow I'v added PR https://github.com/ucsdlib/damsmanager/pull/230 to support unique views for RDCP object access and file downloads. It's ready for review now. Thanks.

[2018-06-01 17:20] #219 closed

[2018-06-14 18:23] lsitu commented on #225
@mcritchlow I just added a PR https://github.com/ucsdlib/damsmanager/pull/232 to exclude those invalid client requests from counting in dams statistics, which is found during examining the tests data. It's ready for review now. Thanks.

[2018-06-15 16:36] lsitu commented on #225
@hjsyoo I think the major issue with the external links that do not get logged is fixed in ticket #227 through PR https://github.com/ucsdlib/damsmanager/pull/228. And once we deploy damsmanager to prod, when you perform those tests again, you will see the counts logged for those external links.

However, while examining your tests and the data in the weblog, I see there could be a browser caching

[2018-06-15 17:06] hjsyoo commented on #225
@lsitu Thank you, it's fine that those external links will log as non-curator views. I think the unique views issue has been resolved as well, so we won't expect multiple clicks to register from the same user in a single session. @xiw391 won't be back until July to resume testing, so we should be able to report back some time in August. When do you expect to deploy to prod?

[2018-06-15 17:34] #225 closed

[2018-06-15 20:20] lsitu opened #233 "Release 2.64"
### Descriptive summary
Version: 2.64
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

To Verify/Review:
- [ ] #219 RDCP object views do not get logged uniquely
- [ ] #225 RDCP object views from external points of entry do not get logged at all
- [ ] #227 RDCP object views get logged inconsistently from session to session
- [x] #162 MARC to CSV Mapp

[2018-06-15 21:09] lsitu commented on #233
@rstanonik / @jgorney We need to update the tables stats_dlp_object_access and stats_file_download in PostgreSQL with the scripts in [stats-update_ip.sql]( https://github.com/ucsdlib/damsmanager/blob/develop/conf/stats-update_ip.sql) as part of this deployment. I've updated it on QA for my tests. Could you run the scripts for the staging environment when you are convenient? And we need to update i

[2018-06-15 21:17] rstanonik commented on #233
I updated damsmanager.properties in QA and restarted the lib-ingest-qa tomcat.

Does the order of changes matter?
That is, must the tables be updated before damsmanager.properties?

[2018-06-15 21:28] rstanonik commented on #233
I made the changes to damsmanager.properties in Staging and Production and restarted the ingest tomcats.

[2018-06-15 21:43] gamontoya commented on #233
@lsitu Did you get Ho Jung and Greg to review the related tickets listed above?

[2018-06-15 21:46] lsitu commented on #233
@gamontoya I haven't add them to the review list yet. But I think we can add them in once we get the new release for damsmanger setup on staging.

[2018-06-18 04:43] jgorney commented on #233
Hi @lsitu I've made the database changes in staging as requested.

[2018-06-18 14:55] lsitu commented on #233
Thanks @jgorney. It looks good.

[2018-06-18 17:42] lsitu commented on #233
@rstanonik I got a null error for the configuration params added. It looks like both params (dams.stats.se.patterns and dams.stats.se.data) are missing from /pub/data2/damsmanager/damsmanager.properties on lib-hydratail-staging. Could you double check? Thanks.

[2018-06-18 17:58] rstanonik commented on #233
I changed the config on lib-ingest-staging.  I forgot that you are running damsmanager on lib-hydratail-staging.  I changed the config on lib-hydratail-staging and restarted the tomcat.

Do you still need lib-ingest-staging?  Can I turn it off?

[2018-06-18 18:10] lsitu commented on #233
@rstanonik Have we made the same changes for damsmanager on prod and QA? I think @jhriv had changed it for a while with damsmanager on staging already. I don't think we may still need lib-ingest-staging. And yes, I believe we can turn it off in this case.

[2018-06-18 18:28] rstanonik commented on #233
Yes, the changes were made to prod and QA, which have damsmanager running on their ingest servers.

[2018-06-18 18:33] lsitu commented on #233
@rstanonik Thanks. Do we have any plans to move damsmanager on prod and QA to lib-hydrahead like what @jhriv hand done for staging in the past?

[2018-06-18 23:02] lsitu commented on #233
@hjsyoo Do you have a test doi link that I can use to test the RDCP Objects Views on staging? I think a test doi link should be something like https://doi.org/10.5072/FK2xxxxxx. Thanks.

[2018-06-19 16:15] hjsyoo commented on #233
@lsitu Sure, any of these should work for testing:
https://doi.org/10.6075/J02B8W60
https://doi.org/10.6075/J0W66HP1
https://doi.org/10.6075/J0H12ZXW
Are you testing external links, or just entering these into the address bar? If you want to test a view that hasn't been getting logged and is coming from an external link, try this:
https://pdfs.semanticscholar.org/6664/17af86193e143a85b4ecbed2124bc

[2018-06-19 16:28] lsitu commented on #233
@hjsyoo I was thinking about testing the basic functionalities by entering those external link into the address bar. However, I can follow the steps you provided to test it in pdf though. But it looks like all the links you provide are all formal DOI links and I can't test it on prod until we deploy damsmanager there. Do you have a staging DOI link that I can test it on staging environment (librar

[2018-06-19 16:30] hjsyoo commented on #233
@lsitu I don't have a DOI that points to librarytest at the moment, but can easily create one. I'll let you know when it's active.

[2018-06-19 16:35] hjsyoo commented on #233
I just minted https://doi.org/10.5072/FK2XW4H173 for this page: https://librarytest.ucsd.edu/dc/object/bb2391869d, but I did it by visiting the page first, so keep in mind that one curator view is already logged for today. You might want to wait until tomorrow to do the test?

[2018-06-19 17:46] lsitu commented on #233
@hjsyoo Thanks. I'll do more tests tomorrow then.

[2018-06-19 21:45] rstanonik commented on #233
I'm ready to move damsmanager from ingest to hydratail in QA.  Any discussion or scheduling necessary?

[2018-06-19 21:46] rstanonik commented on #233
I'm ready to move damsmanager from ingest to hydratail in QA.  Any discussion or scheduling required before I do that?

[2018-06-19 22:02] lsitu commented on #233
@rstanonik For the changes on QA, I think anytime should be fine. Thanks.

[2018-06-19 22:38] lsitu commented on #233
@rstanonik Thanks. I just tried to access https://libraryqa.ucsd.edu/damsmanager/controlPanel.do but got 403 error:
HTTP Status 403 - Access to the requested resource has been denied.

[2018-06-19 22:39] rstanonik commented on #233
Yes, me too.  I'm trying to understand why.  Any ideas?

[2018-06-19 22:46] lsitu commented on #233
@rstanonik I don't see anything in the tomcat log related to damsmanager. It could be related to the AD roles. Is tomcat on lib-hydratail-qa able to access AD server?

[2018-06-19 22:52] rstanonik commented on #233
Yes, it is connected to AD.

[2018-06-19 23:22] lsitu commented on #233
@rstanonik Hmm, it's weird and I don't see any related info in the tomcat log.

[2018-06-20 04:47] rstanonik commented on #233
The server.xml differ between ingest and hydratail.  I think hydratail is missing some authentication config, which I'll copy from ingest tomorrow.

[2018-06-20 14:51] lsitu commented on #233
@rstanonik Thanks. Yep, that could be an issue.

[2018-06-20 15:41] rstanonik commented on #233
Does damsmanager authentication depend upon access to a postgresql database?

[2018-06-20 15:44] lsitu commented on #233
No. It depends upon AD.

[2018-06-20 16:07] rstanonik commented on #233
If QA damsmanager looks okay, then we can pick a time to move damsmanager from ingest to hydratail in production.

[2018-06-20 16:14] rstanonik commented on #233
I have a jenkins plan to deploy damsmanager.

It deploys to Staging automatically, from the release branch.  Is that correct?

It deploys to QA from the release branch too.  Is that correct?  And should that be automatic too?

[2018-06-20 16:25] lsitu commented on #233
@rstanonik For staging, yes, it's correct. For QA, since we are going to use it for subject conversion next, I think we can set it up to deploy it from the master branch for now and disable the automatic deployment. Thanks.

[2018-06-20 20:55] gamontoya commented on #233
@lsitu Can we close this ticket?

[2018-06-20 21:01] lsitu commented on #233
@gamontoya No. We haven't deployed it yet. I am still testing the external links views with the DOI link that @hjsyoo created, which could be verified tomorrow morning. But I think we can have @hjsyoo and @GregReser to review those features above at the mean time. What do you think?

[2018-06-20 22:54] lsitu commented on #233
@rstanonik QA damsmanager looks good, and I think we can pick a time to move damsmanager from ingest to hydratail in production. But I would suggest to move ticket [Update Tomcat configuration for database connection pooling](https://github.com/ucsdlib/damsrepo/issues/62) to prod at the same time since damsmanager and damrepo will share the same database connection pool.
@mcritchlow What time do y

[2018-06-20 23:37] lsitu commented on #233
@gamontoya Sure. I'll post them for reviewing once I verify the result tomorrow morning.

[2018-06-21 17:05] lsitu commented on #233
@gamontoya / @hjsyoo / @GregReser I think damsmanager release 2.64 is ready on staging (https://librarytest.ucsd.edu/damsmanager/) for review now. We will deploy it to prod once it's approved. Thanks.

[2018-06-21 18:09] GregReser commented on #233
@lsitu #162 MARC to CSV Mapping: add 79X, 245 $c is working correctly

[2018-06-21 18:47] GregReser commented on #233
@lsitu #217 Added support to validate Begin/End date for Excel Import

Validation for the number of days in a month is working, but now the format requires a full date (YYYY-MM-DD).  I got this error:  "2018" is too short.

Currently, DAMS Manager allows YYYY or YYYY-MM, or YYYY-MM-DD.  We want to continue to allow this.

[2018-06-21 19:04] lsitu commented on #233
@GregReser Sure. I'll add date validation support for YYYY format and YYYY-MM format. Thanks.

[2018-06-22 00:51] hjsyoo commented on #233
@lsitu I initiated testing for unique views and external link entry today, and cleared the cache between each round of test. I'll download the stats report tomorrow, but will be at an all day event and may not be able to report on results until Tuesday of next week. Is that timing okay for you?

[2018-06-22 16:33] lsitu commented on #233
@mcritchlow I've added PR #234 above to support the validation of date time formats YYYY and YYYY-MM. It's ready for review now. Thanks.

[2018-06-22 21:00] hjsyoo commented on #233
@lsitu Just wanted to make sure - I need to test RDCP views in librarytest.ucsd.edu/dc, right?

[2018-06-22 21:13] lsitu commented on #233
@hjsyoo Yes, if you are convenient to test the unit views for the basic support. And I think we can move it to prod so that you can test it more with the external links for accuracy. Just let us know if you think the basic support for the unique views looks good and we can move it forward to prod for more tests. Thanks.

[2018-06-23 17:39] hjsyoo commented on #233
@lsitu Here are results from testing google sheet clicks on librarytest.ucsd.edu/dc.

Behavior: After adding the URLs to my google sheet, I clicked on an object URL, scrolled down to tbe bottom of the page, then closed the tab. I then returned to my google sheet and clicked on the next object URL.  I cleared my cache between the two rounds of clicks, but not between the object clicks.

  |   | Exp

[2018-06-26 16:04] lsitu commented on #233
@hjsyoo Thank you very much for your tests. While reviewing the data on the weblog, I see there were two object views from IP 137.110.89.134 for each object that you used for test and there was one object view from IP 137.110.93.147. So I think your tests are good and the Observe views (3) above is the pages views. If you click on the `Unique Views` link/button on the top right corner of the the r

[2018-06-26 16:13] lsitu commented on #233
@GregReser I've added the support to validate date time format YYYY and YYYY-MM and deployed it to staging. The feature is ready on [staging](https://librarytest.ucsd.edu/damsmanager/) for your review now. Thanks.

[2018-06-26 17:17] hjsyoo commented on #233
@lsitu Thanks for pointing out the unique views page. They seem to indicate 2 views per object. So, if I understand correctly, clearing the cache causes the next visit to be logged as a unique view? I think this is logical way to parse visits, as most users (with multiple visits in a session) won't likely be clearing the cache during the session.

I still don't understand why an extra visit was lo

[2018-06-26 17:36] hjsyoo commented on #233
@lsitu Also, I'm curious what are the ARKs that start with "bd..."? They are included on the stats reports for staging, with no title information associated with those line items.

[2018-06-26 17:46] lsitu commented on #233
@hjsyoo I don't think clearing the cache will cause the next visit to be logged as a unique view. We still got two views from the same IP 137.110.89.134 though you clear the cache for each round of test may explain it. But if your wireless session is timeout during your tests, then I think you will be assigned another IP.
Here are the object views logged in the Apache weblog for the first object h

[2018-06-26 18:14] hjsyoo commented on #233
@lsitu Thanks. The timing is odd on that log, as it suggests I reopened that object after the lunch break. I'm certain I did both rounds of testing before lunch, which would explain the first two hits. Can you give me a copy of the weblog for all hits on librarytest for Jun 22 between 11 am and 2 pm? Or can you tell if all of the third hits were after 12:45 that day? I'm curious if all 11 objects

[2018-06-26 18:18] GregReser commented on #233
@lsitu date time format validation is working correctly.

[2018-06-26 19:01] lsitu commented on #233
@hjsyoo The weblog is big and mixed with tons of other accesses to the libraries, which is hard for you to read. So I just grabbed all those hits that were counted for your tests. And yes, it's showing that all 11 objects were visited twice before lunch (11:30-12:45 that day) and once after lunch started at 12:51pm:
[code]

[2018-06-26 21:34] hjsyoo commented on #233
@lsitu Thank you for the log output! Looking at the timestamps, I'm guessing the post-lunch views were machine generated. Note how almost all of them took place exactly 2 seconds into the minute? My morning views are much more irregular, because they were human generated.

[2018-06-26 21:38] hjsyoo commented on #233
@lsitu By the way, I would be fine with deploying to prod, given that at least the views registered in the log. This is a definite improvement, and we can do another set of tests in July.

[2018-06-26 22:13] lsitu commented on #233
@hjsyoo Thanks.

[2018-06-26 22:14] lsitu commented on #233
@gamontoya Are we ready to move damsmanager release 2.64 to prod now?

[2018-06-26 23:00] gamontoya commented on #233
@GregReser @hjsyoo Thank you for following up and testing.

@lsitu This is now ready for prod.

[2018-06-26 23:09] lsitu commented on #233
Thanks @gamontoya.
@rstanonik I'd merged the changes for damsmanager release 2.64 to the master branch yesterday when we worked together to set up the  Jenkins plan with tag deployment on staging. So we are ready to move it to prod now. Thanks.

[2018-06-27 03:50] rstanonik commented on #233
It will deploy to production tomorrow morning.

[2018-06-27 13:19] rstanonik commented on #233
It deployed this morning

[2018-06-27 14:22] lsitu commented on #233
@rstanonik / @jgorney Thanks. Could we update the tables for dams statistics and check that damsmanager.properties is updated for the required configuration on prod? See comment https://github.com/ucsdlib/damsmanager/issues/233#issuecomment-397743008.

[2018-06-28 23:23] #233 closed

[2018-07-02 18:49] lsitu commented on #224
@remerjohnson I think we may need to re-ingest the existing file with the restructuring of the dataMeMares object. Do you know where can I find the original source for the existing file that will become component 2: the (component) title should be "Version 1, released July 2017", or can we just use the one in the file store instead? Thanks.

[2018-07-03 16:31] remerjohnson commented on #224
@lsitu I have put that file in `//rdcp-staging/rdcp-0041-dataMares/trackers_update/` as `f_gc_trackers_old.xls` to differentiate it from the other newer file there.

So, that will be:
* `f_gc_trackers.xls` -> Component 1, titled "Version 2, released July 2018"
* `f_gc_trackers_old.xls` -> Component 2, titled "Version 1, released July 2017"

Thanks!

[2018-07-03 22:33] lsitu commented on #224
@remerjohnson I've restructured the dataMares object and ingested the files. It's ready for review now, https://library.ucsd.edu/dc/object/bb3757060t. Thanks.

[2018-07-03 23:19] remerjohnson commented on #224
@lsitu Thanks @lsitu, it looks great. Going to close this out

[2018-07-03 23:19] #224 closed

[2018-07-14 16:56] remerjohnson opened #235 "Make 4 dataMares embargoed objects metadata-only"
### Descriptive summary

Although 4 dataMares objects were ingested with metadata-only overrides, the data is appearing publicly.

These objects are under embargo, so need to be hidden from public view.

The objects are:
https://library.ucsd.edu/dc/object/bb3826323k (Note; this object has been deleted https://github.com/ucsdlib/damsmanager/issues/236)
https://library.ucsd.edu/dc/object/bb3519154g

[2018-07-16 16:39] gamontoya commented on #226
@hjsyoo Is this moot/closeable?

[2018-07-16 16:49] hjsyoo commented on #226
Katherine is still testing this. I think it would be fine to close it, and we can report any potential issues in a new ticket.

[2018-07-20 20:47] hjsyoo commented on #235
@lsitu @gamontoya Please note that this is high priority ticket for RDCP. The data were not supposed to be publicly available at all, but they have been public for a week now.

[2018-07-20 20:48] gamontoya commented on #235
@lsitu Can you take care of this asap? Thank you.

[2018-07-20 20:58] lsitu commented on #235
@gamontoya Sure. I'll start to work on it.

[2018-07-20 21:49] lsitu commented on #235
@gamontoya It seems like those four records above are all under copyright "UC regents". I think what we've implemented in the past for access overriding is just for those records that have a third party copyright status but not for those record with public copyright status and/or held by UC regents. So these records are public accessible without overriding by default.
Do we want to change the acce

[2018-07-20 21:52] hjsyoo commented on #235
@remerjohnson Can these 4 objects be put back in Curator view until the issues are resolved?

[2018-07-20 21:55] remerjohnson commented on #235
@hjsyoo I don't know how to do that on a per-object basis.

[2018-07-20 21:58] hjsyoo commented on #235
@remerjohnson Ah, okay.
@gamontoya @lsitu If I understand lsitu's question correctly, we should have access override capability for records held by UC Regents.

[2018-07-20 22:10] lsitu commented on #235
@gamontoya @hjsyoo If we decide to change the access overriding for records held by UC Regents, we need to deploy damsrepo to prod. But the deployment of damsrepo is held by the UCSD IP/metadata-only feature at this time, which is still under review. Does the timeline works for you?

[2018-07-20 22:16] remerjohnson commented on #235
@lsitu Is there a way to just for now, put those 4 objects into curator-only mode manually?

[2018-07-20 22:17] hjsyoo commented on #235
@gamontoya @lsitu This sounds a lot more involved than I thought. As @remerjohnson asked, can we put these into curator only mode or delete the files from those 4 objects for now?

[2018-07-20 22:33] lsitu commented on #235
There is another way that we can do is to create a temporal curator collection and move those four objects there, which make them under the review stage. We could release the collection back to dataMares collection once it's ready.

[2018-07-20 22:34] hjsyoo commented on #235
@lsitu I favor the first option - remove UC Regents to make them metadata only. But any of those 3 options are viable to me. @remerjohnson Do you have a preference?

[2018-07-20 22:54] remerjohnson commented on #235
@hjsyoo I favor the first option as well, @lsitu

[2018-07-20 22:56] lsitu commented on #235
Okay. I'll remove the UC Regents copyrights holder then.

[2018-07-20 23:06] hjsyoo commented on #235
@lsitu @gamontoya Thanks so much for your prompt attn to this.

[2018-07-21 02:34] lsitu commented on #235
@gamontoya @hjsyoo @remerjohnson I think those four objects above in metadata-only view now. No public access to the files now and curator will have full access to the files.
However, the metadata-only viewer with anchor for files won't be available until we deploy the UCSD IP/metadata-only feature to prod.
Could you take a look?

[2018-07-21 16:12] remerjohnson commented on #235
Yes, I've tried the 4 links while logged out, and the data are not accessible. Thanks @lsitu

[2018-07-23 16:14] gamontoya commented on #235
@remerjohnson Does the bigger issues of overriding UC Regents need to be discussed by DOMM?

[2018-07-23 16:34] remerjohnson commented on #235
@gamontoya good question. I'm not sure where it came from that UC Regents overrides an override of metadata-only. I think we can dig around for old documentation @GregReser ?

[2018-07-23 16:39] mcritchlow commented on #235
That sounds like it was likely decided back when the data model we're using was originally created, it sounds kinda familiar. Clearly we would have been better off creating a completely separation between access state/visibility predicates and the (somewhat) related metadata. Probably impractical to fix in DAMS4 now, but I'm glad we will w/ DAMS5.

[2018-07-23 17:16] lsitu commented on #235
@mcritchlow Yes, I think the case like visibility override in the collection level to make all objects (including those public and held by UC Regents objects) in a collection curator-only before the collection is released to public should be that decide back case. I recalled that at that time we discussed a lot with the capability to override objects held by a third party for public access but it

[2018-07-23 17:17] GregReser commented on #235
I can't find documentation about UC Regents overriding an override of metadata-only, but we probably assumed UC Regents would never need to be embargoed.

We have objects with UC Regents as rights holder and a cultural sensitivity override, so why can't metadata only work?
https://library.ucsd.edu/dc/object/bb1366376q

[2018-07-23 19:22] remerjohnson commented on #235
@gamontoya It is mostly a use case for RDCP collections. The default owner is UC Regents, yet we allow for embargoes/metadata-only due to publisher/publishing issues. Is that correct, @hjsyoo? @arwenhutt

[2018-07-23 19:31] hjsyoo commented on #235
Yes. @gamontoya, we have had a specific request for metadata pages in a collection to be made public, but for the data itself to be embargoed until future dates. Going forward, since the fix won't be applied to D4, we'll continue with the previous method of not ingesting those data files at all. As embargoes are released, @remerjohnson submits tickets to Dev requesting that the files be added to t

[2018-07-24 16:16] hjsyoo opened #236 "Delete dataMares object"
### Descriptive summary

This metadata only object was accidentally ingested: https://library.ucsd.edu/dc/object/bb3826323k
Please remove completely from the DAMS, as it is a duplicate of a pre-existing object.

Link to related tickets or prior related work here.
https://lib-jira.ucsd.edu:8443/browse/DI-213 - dataMares Collection-batch3
https://github.com/ucsdlib/damsmanager/issues/235 - Make 4 da

[2018-07-27 17:40] lsitu opened #238 "Release 2.65"
### Descriptive summary
Version: 2.65
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

To Verify/Review:
- [ ] ucsdlib/damspas#493 Automatically update collection record extent when objects are added via DAMS Manager

[2018-07-27 21:32] lsitu commented on #238
@gamontoya I've created damsmanager Release 2.65 and deploy it to staging, which is ready for review now. @GregReser It seems like we may need your feedback for ticket https://github.com/ucsdlib/damspas/issues/493. Thanks.

[2018-07-28 00:12] gamontoya commented on #238
@lsitu Greg is out until Tuesday so we'll wait for this until he's back.

[2018-07-30 20:21] remerjohnson opened #239 "Add Excel file to DataMares Collection object"
### Descriptive summary

The Excel data that is associated with the [bb5258779d object](https://library.ucsd.edu/dc/object/bb5258779d) in DataMares is now out of embargo. Due to lack of embargo support, we had simply ingested an empty object. So we now need that data to be attached to the object.

### Location of file

+ //rdcp-staging/rdcp-0041-dataMares/Working_Files/Batch_2_updated_2017-05-18/c

[2018-07-31 15:30] GregReser commented on #238
@lsitu I confirmed that [ucsdlib/damspas#493](https://github.com/ucsdlib/damspas/issues/493) works as expected.  I tried two different ingests to https://librarytest.ucsd.edu/dc/collection/bd54126335 and the CLR extent was updated as at the same time as the new object became visible.

This is a great improvement - nicely done!

[2018-07-31 15:33] lsitu commented on #238
@GregReser That's great! Thanks.

[2018-07-31 16:42] gamontoya commented on #238
@lsitu This can be pushed to production if nothing else is holding it back.

[2018-07-31 16:56] lsitu commented on #238
@gamontoya Sure. Thanks.
@rstanonik The code changes were merged to the master branch and the release is ready for prod now. Thanks.

[2018-07-31 19:56] rstanonik commented on #238
damsmanager will deploy to production tomorrow (Wed) morning at 6:00am

[2018-08-01 17:44] rstanonik commented on #238
It deployed 6:00am this morning

[2018-08-01 17:50] lsitu commented on #238
Thanks @rstanonik .

[2018-08-01 19:42] #238 closed

[2018-08-01 19:52] gamontoya commented on #235
@lsitu Shouldn't these four objects be hidden from a search? When I search bb3826323k (not logged in), I see this:

![curator](https://user-images.githubusercontent.com/4314914/43545105-cb7e5372-9589-11e8-8a47-66d0fdcc3314.png)

[2018-08-01 20:02] lsitu commented on #235
@gamontoya I think these four dataMares objects are metadata-only, which will be searchable but no file access/download for public users.
However, the metadata-only viewer with placeholder anchor and the "Restricted View" label in the metadata section won't be available until we move the UCSD IP/metadata-only feature to prod. So I think that's why you still see the "Curator Only" label above, whic

[2018-08-01 21:04] gamontoya commented on #235
@lsitu Great, something more to test :-)

[2018-08-01 22:03] GregReser opened #240 "Delete Baja postcard object"
### Descriptive summary

This is a duplicate object, please delete at the request of Special Collections:
https://library.ucsd.edu/dc/object/bb5463148r

[2018-08-01 22:08] gamontoya commented on #240
@jessicahilt This is a quickie and can be assigned.

[2018-08-01 22:09] gamontoya commented on #236
@jessicahilt This can be assigned.

[2018-08-01 22:17] lsitu commented on #240
@gamontoya @jessicahilt I will work on it shortly.

[2018-08-02 00:03] lsitu commented on #236
@gamontoya I think object https://library.ucsd.edu/dc/object/bb5463148r is gone now.

[2018-08-02 00:04] lsitu commented on #240
@gamontoya I think object https://library.ucsd.edu/dc/object/bb5463148r is gone now.

[2018-08-02 15:09] GregReser commented on #240
Looks like it's gone to me, thanks

[2018-08-02 15:13] #240 closed

[2018-08-02 20:07] lsitu commented on #236
@gamontoya /@hjsyoo I've deleted object https://library.ucsd.edu/dc/object/bb3826323k and I think it's gone now.

[2018-08-02 20:34] hjsyoo commented on #236
Confirming I can't find it using a search on its title. Thanks @lsitu !

[2018-08-02 20:34] #236 closed

[2018-08-08 17:22] GregReser opened #241 "METS/MODS to CSV not importing subjects"
### Descriptive summary
DAMS Manager MARC/MODS Import tool, CSV preview is not converting subjects (they do not appear at all in the CSV output file)
 - mods:subject
   - mods:name
   - mods:topic
### Expected behavior
Subjects should be exported to appropriate DAMS ingest template columns

### Actual behavior
Subjects are not exported

### Steps to reproduce the behavior
 METS/MODS test records a

[2018-08-08 21:39] hjsyoo commented on #239
@gamontoya Do we have an ETA on this work? I was hoping we'd get this up relatively quickly, but @remerjohnson and I are both out of office from tomorrow until Aug 20. It might be best to put this on hold until then, as Ryan will need to apply some metadata edits in conjunction with data release.

[2018-08-08 22:44] gamontoya commented on #239
@hjsyoo There is no ETA as we have not a Sprint. However, if you push tickets out and expect them to be worked on immediately, it would be nice if you somehow added some label for High Priority (we not all mind readers :-))

[2018-08-09 15:18] GregReser commented on #241
@gamontoya I can't work on the AV Diss ingest until this is resolved

[2018-08-09 15:33] GregReser commented on #241
Subjects used to work in the METS/MODS transform.  It was discussed in the original ticket. https://lib-jira.ucsd.edu:8443/browse/DM-33

Maybe this changed when we moved to CSV output https://github.com/ucsdlib/damsmanager/issues/116
Perhaps we used an older stylesheet?

[2018-08-09 17:07] lsitu commented on #241
@GregReser I tried http://roger.ucsd.edu/record=b8529446~S9 and I got 7 Subject:topic and 1 Person:author:
[preview-530079460.csv.txt](https://github.com/ucsdlib/damsmanager/files/2275086/preview-530079460.csv.txt)
So I think the mapping is the same in CSV except those mappings that were requested for changes. I think we haven't mapped all MARC/MODS fields to the MARC/MODS Import tool. Could you g

[2018-08-13 15:34] GregReser commented on #241
@lsitu This is for the METS/MOD to CSV, not MARC.  Try the METS/MODS file I attached above (MetsMods_test.zip)

[2018-08-13 17:42] lsitu commented on #241
@GregReser I see. I think we haven't touch that METS/MODS conversion part for a long time. I just did a test to convert the example b3595145x-metsmods.xml from METS/MODS to dams4 RDF/XML format that we got for preview before moving to the CSV output. But I don't see any subjects showing up in the dams4 RDF/XML preview format. So I think it might not related to moving to the CSV output but the METS

[2018-08-13 18:57] lsitu commented on #241
@GregReser Now I found we've changed it not to include those non-FAST subject headings since we introduce FAST headings in MARC conversions: https://github.com/ucsdlib/damsmanager/issues/104

Do you want to do it differently for METS/MODS to include any subjects that are not "FAST" headings?

[2018-08-13 21:11] GregReser commented on #241
@lsitu Yes please.  Any subjects for METS/MODS.  Actually, we have been thinking of changing the MARC to CSV to also include any subject.  Would that be an easy change to make for both METS/MODS and MARC to CSV at the same time?  Maybe we can solve two things at once here.  Let me know if they are separate and need separate tickets.

[2018-08-13 21:16] lsitu commented on #241
@GregReser Sure. I don't think we need another ticket and this could be handled in the same stylesheet.
@gamontoya Is the ticket ready?

[2018-08-13 21:26] GregReser commented on #241
@lsitu Great.  One request: when FAST subjects are exported, could the column header indicate that. e.g., "Subject:topic FAST"?  These will not be valid column headers and that is OK.  We will use these to identify subjects for reconciliation as we are preparing the ingest spreadsheet.

[2018-08-13 22:06] lsitu commented on #241
@GregReser I think we may not be able to do it since the CSV output is converted from the DAMS4 RDF/XML, which doesn't have the corresponding property for "FAST" headings but the general mads:hasExactExternalAuthority property.
Do you want to use a header like "Subject:topic FAST" for all those subjects that contains mads:hasExactExternalAuthority instead?

[2018-08-13 22:29] lsitu commented on #241
@GregReser Yep, I think that could be something that we can manipulate for.

[2018-08-13 22:59] GregReser commented on #241
@lsitu That's great, thanks.

[2018-08-14 14:42] GregReser commented on #241
@lsitu just to clarify, The FAST subjects should still be broken out to specific columns by type, they will just have "FAST" added to the column header.  So, "Subject:topic FAST", "Subject:personal name FAST", etc.

[2018-08-14 15:59] lsitu commented on #241
@GregReser Sure. Will the columns with "FAST" for fast headings apply to MARC to CSV conversion or not?

[2018-08-14 17:26] lsitu commented on #241
@GregReser Since in ticket https://github.com/ucsdlib/damsmanager/issues/104 we decided not to extract those non-FAST headings subjects, I think we can start with not to display "FAST" in the subject columns for the MARC to CSV tool. What do you think?

[2018-08-14 17:32] GregReser commented on #241
@lsitu correct, this would be a change from the decision in #104.  We want to change to extract both FAST and non-FAST subjects now and if they are FAST place them in separate columns and add " FAST" to the column header.
This will be for MARC to CSV tool.  I don't think we will encounter FAST in METS/MODS, but maybe it is all combined into one conversion process, which is fine.  Basically, we wan

[2018-08-14 20:37] lsitu commented on #241
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/242 to support METS/MODS to CSV and MARC to CSV with FAST headings basing on the discussions with @GregReser above. It's ready for review now. Thanks.

[2018-08-14 22:02] gamontoya opened #243 "Update `Restricted - cultural sensitivity` access override"
### Descriptive summary

DAMS Manager currently has the `Restricted - cultural sensitivity` access override which isn't behaving as expected. Update DAMS Manager to make it become metadata-only with a cultural sensitivity note.

### Expected output

1. Make this note internal (curator only)
`<dams:Note>
<dams:type>note</dams:type>
<rdf:value>Image not available due to cultural sensitivities of the

[2018-08-14 22:03] #241 closed

[2018-08-14 22:35] lsitu commented on #243
@gamontoya Currently the access control rule is implemented to restrict those objects with License restriction and embargo date from curator only access. So for object https://library.ucsd.edu/dc/object/bb9011283p, if we need to retain the embargo date with the restriction license, we won't get the `Restricted View` at all.
Do you want to change the access control rule to allow metadata-only displ

[2018-08-14 23:17] gamontoya commented on #243
@lsitu Yes, we need to support metadata-only (restricted view) if a person selects metadata-only AND also adds a restriction license/embargo.

[2018-08-14 23:18] gamontoya commented on #243
@lsitu @VivianChu Also, if a person only selects restriction license/embargo and NO metadata-only, then it will remain locked down to curator only.

[2018-08-14 23:45] lsitu commented on #243
@gamontoya Could we say that if an object with a third party license (except those public objects and UC Regents hold objects) has OtherRights=metadataDisplay, then the object will be overridden as metadata-only and it will be displayed with a `Restricted View` banner?

[2018-08-15 00:00] gamontoya commented on #243
@lsitu Yes, absolutely!

[2018-08-15 16:41] lsitu commented on #243
@gamontoya I've added PR https://github.com/ucsdlib/damsmanager/pull/244 to change the note for `Restricted - cultural sensitivity` and make it internal-only. I think access control and damspas UI display should be working as expected with the new note above on staging and QA now. Please let me know if you see anything else that still need change. Thanks.

[2018-08-15 16:46] lsitu commented on #243
@mcritchlow I think PR https://github.com/ucsdlib/damsmanager/pull/244 is ready for review now. Thanks.
Should we make a new release for damsmanager once it's merged so that @gamontoya can test it since it's related to the metadata-only display feature?

[2018-08-15 17:03] #243 closed

[2018-08-15 17:03] mcritchlow commented on #243
@lsitu - Yes, in fact could we use this as an opportunity to move dams manager to using the `master` plus release tags? I noted that still hasn't happened.

[2018-08-15 17:10] lsitu commented on #243
@mcritchlow Yes. I think we can start with it now. Once we merge the latest two commits to master, we can simply delete the develop branch.

[2018-08-15 17:36] lsitu opened #245 "DAMS Manager Release 2.66"
### Descriptive summary
Version: 2.66
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

To Verify/Review:
- [ ] #241 METS/MODS to CSV not importing subjects
- [ ] #243 Update `Restricted - cultural sensitivity` access override
- [ ] #246 Update `Restricted - cultural sensitivity` access override to allow for license restriction

[2018-08-15 17:41] gamontoya commented on #243
@lsitu Thank you. I'll test it now on QA.

[2018-08-15 18:10] lsitu commented on #245
@gamontoya @GregReser We've deployed damsmanager release 2.66 to both QA and staging. It's ready for review now. Thanks.

[2018-08-15 19:06] gamontoya opened #246 "Update `Restricted - cultural sensitivity` access override to allow for license restriction"
### Descriptive summary

Currently, when setting an object to `Restricted - cultural sensitivity` although a license restriction is set, DAMS Manager is ignoring it. The RDF output is:

`<dams:otherRights>
<dams:OtherRights>
<dams:restriction>
<dams:Restriction>
<dams:type>display</dams:type>
</dams:Restriction>
</dams:restriction>
<dams:permission>
<dams:Permission>
<dams:type>metadataDisplay</da

[2018-08-15 19:34] gamontoya commented on #245
@lsitu Should we hold off until you've implemented #246 ?

[2018-08-15 19:35] lsitu commented on #246
@gamontoya For the behavior of `access overridden until end of license date` in `Restricted - cultural sensitivity + metadataDsiplay`, do you expect an automatic releasing of the embargoed object for public view, or manual release the it like what we did in the past for ETD after the embargoed object is reviewed? It seem like currently those embargoed objects in DAMS4 could have around 50 years of

[2018-08-15 19:36] lsitu commented on #245
@gamontoya Sure.

[2018-08-15 19:37] gamontoya commented on #246
@lsitu No, let's not do that because I'm hoping that our new system will auto-release and will be in place before 2059 :-)

[2018-08-15 20:39] lsitu commented on #246
@mcritchlow I've added license with the embargoed date for the access overridden option with `Restricted - cultural sensitivity` in PR https://github.com/ucsdlib/damsmanager/pull/247. It's ready for review now. Thanks.

[2018-08-15 20:45] #246 closed

[2018-08-15 22:54] lsitu commented on #245
@gamontoya /@GregReser I've deployed the latest code changes for ticket https://github.com/ucsdlib/damsmanager/issues/246 to staging and QA, along with this deployment is the recent changes for damsrepo on master branch. I think you can start your review to test it on QA and staging now.

[2018-08-17 17:10] gamontoya commented on #239
@hjsyoo This is currently on hold. Once you and Ryan are back, let me know if you'd like to proceed.

[2018-08-17 19:57] gamontoya opened #248 "Allow license to be added to metadata-only override"
### Descriptive summary

As a rights holder, I want to be able to add license restrictions to my dataset and have it set to metadata-only visbility as well.

### Rationale

RDCP collections currently need and expect this combination.

### Expected behavior

Public and campus users will see the "Restricted View" banner and the metadata. The object will be accessible **ONLY** to curators.

[2018-08-20 16:08] hjsyoo commented on #239
@gamontoya I'm back, and we should be fine to proceed. The researchers asked on Friday for an emergency embargo on some existing objects, but this wasn't one of them.

[2018-08-20 17:10] lsitu commented on #248
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/249 for it. It's ready for review now. Thanks.

[2018-08-20 17:29] #248 closed

[2018-08-20 19:51] gamontoya commented on #248
@lsitu Is this working on stage and QA?

[2018-08-20 19:52] lsitu commented on #248
@gamontoya Yes. I think you can test it on staging and QA now.

[2018-08-21 22:31] remerjohnson commented on #239
@gamontoya

I don't see a priority type of label available for issues. How would you like us to denote priority?

[2018-08-21 22:46] gamontoya commented on #239
@remerjohnson How about create a new label?

[2018-08-22 20:08] lsitu commented on #239
I've added the file to object https://library.ucsd.edu/dc/object/bb5258779d and it's ready for review now.

[2018-08-22 20:39] remerjohnson commented on #239
Thanks Longshou, looks good. @hjsyoo Feel free to close this out if it looks good to you.

[2018-08-22 21:35] #239 closed

[2018-08-22 21:35] hjsyoo commented on #239
Thanks all, looks good.

[2018-08-30 15:49] remerjohnson opened #250 "Resolve encoding/display errors on 3 Catalhoyuk Digipres staging objects"
### Descriptive summary

Despite a successful test ingest log ([damslog-2099381761.txt](https://github.com/ucsdlib/damsmanager/files/2336843/damslog-2099381761.txt)) of 13 objects, only 10 objects are visible in the [Catalhoyuk Digipres Test Collection](https://librarytest.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Data+from%3A+Spatial+Analysis+and+Heritage+Conservation%3A+Leveraging+3-D+Data+

[2018-08-30 18:39] hjsyoo commented on #250
By any chance, would saving the XLSX file as CSV, then saving again as XLSX remove all encoded characters? We would then need to replace all instances of Catalhoyuk with the properly MS-formatted version of the word. Not that this would address the cause of the original problem, but is this even a possible quick fix?

[2018-08-30 22:03] remerjohnson commented on #250
@lsitu Ah, that's great Longshou. I found some suspect line breaks, but that wasn't the real issue, and couldn't find other suspects. I can see how a slash like that would not be kosher in Excel. I'll try that fix and report back if that resolves the issue.

I could see this happening again if someone were putting Windows-style file paths in for some reason, but I don't anticipate that realistical

[2018-08-30 23:07] hjsyoo commented on #250
Thanks for catching that so quickly, @lsitu. I tentatively agree with Ryan that ignoring the chars going forward might be best. It's hard to anticipate every data file coming in, but ignoring sounds safer than replacing.

[2018-08-31 16:07] mcritchlow commented on #250
Nice catch @lsitu! I'm not as familiar with the Jena parsing library as Longshou is, but I agree that ideally we would ignore or otherwise escape characters that can't be encoded.

[2018-08-31 16:12] remerjohnson commented on #250
Going to close this ticket out for now since it's been resolved. Do we need another ticket for ignoring invalid characters like these? @lsitu @mcritchlow

[2018-08-31 16:12] #250 closed

[2018-08-31 16:18] lsitu commented on #250
@remerjohnson I am fine with either way, work on this ticket or open a new one. Thanks.

[2018-09-04 15:59] lsitu commented on #250
@remerjohnson Will you open a new ticket for handling those control characters, or reopen this ticket for me to work on? Thanks.

[2018-09-04 16:42] remerjohnson opened #251 "Ignore or escape control characters upon metadata validation"
### Descriptive summary

When the metadata source contains a control character (example "[end-of-text](https://www.fileformat.info/info/unicode/char/0003/index.htm)" as '`\3`'), the metadata passes the RDF/XML validation in the report, yet fails on the server side with an error such as:
`com.hp.hpl.jena.shared.CannotEncodeCharacterException: cannot encode (char)  ETX in context XML`

### Rationale

[2018-09-06 17:09] lsitu commented on #251
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/252 for it. It's ready for review now. Thanks.

[2018-09-07 22:47] lsitu commented on #245
@gamontoya Are we ready to push damsmanager release 2.66 to prod along with damspas release 1.82 now? I think those notes change above could affect the matadata-only display behavior with new ingest.

[2018-09-07 22:49] gamontoya commented on #245
@lsitu Yes. This can be pushed to prod.

[2018-09-07 22:50] lsitu commented on #245
@gamontoya Thanks.
@rstanonik The codes are in master branch and we are ready to move it to prod now. Thanks.

[2018-09-07 23:00] gamontoya opened #253 "Create report (output) for all RDCP collections"
### Descriptive summary

For the figshare project, Ho Jung needs a report containing the following information:

- Collection title
    - Collection URL
- Object title
    - Object URL
- DOI in Preferred Citation (or whole citation, if DOI alone is difficult to parse)
- Number of components in object (for objects only)

### Deliverable

- CSV output (or Excel)

[2018-09-11 20:15] lsitu commented on #253
@gamontoya Do you want to have all RDCP collections and objects in one CSV file, or separate them collection by collection? For counting `Number of components in object`, do we need to count those nested components (components inside a component) or not?

[2018-09-11 20:36] gamontoya commented on #253
@hjsyoo Can you please answer Longshou's questions above?

[2018-09-11 23:00] hjsyoo commented on #253
Hi @lsitu, I'd like to have one CSV file with all collections and objects listed, where there's a column for each of the variables listed in the Description above. For number of components, I just need a total number of components, whether they're parent or child components. But one other variable that would be useful is the number of files associated with the object. So for example, this object,

[2018-09-11 23:28] lsitu commented on #253
@hjsyoo Yes, I think we can count the files in each object as well. How about adding a column name like `Number of files` for it? Do you want to count any alternate files, like image-alternate, audio-alternate etc.?
With reporting collections and objects in one single CSV file, how about list the collections one by one with listing the collection CLR first and then the objects in that collection?

[2018-09-12 15:01] hjsyoo commented on #253
@lsitu Yes, a column name, NumberOfFiles would be great. I don't need alternate files. There should be one row for each object, and the CollectionTitle and CollectionURL should not be empty - please do include that information, even though it's repeated for every object in the collection. I believe with this format, the only column that may have empty cells will be the DOI (many objects do not hav

[2018-09-12 15:16] lsitu commented on #253
@hjsyoo Thanks. That sounds good.

[2018-09-12 23:14] hjsyoo commented on #235
@remerjohnson @gamontoya Today, we had a new release for the DAMS. The 3 metadata-only objects that were ingested with their files (see Description above) now display this message:
Not Found
The page you were looking for does not exist.
Home · Contact Us
Response Status Code 404

I think this is a new behavior. We used to see the landing page (metadata), but not the file. Is this your recollection

[2018-09-12 23:40] lsitu commented on #235
@hjsyoo / @remerjohnson I found those three records (exception bb3826323k) was edited with the a timestamp like `2018-08-17T08:43:46+0000`, and I see a weird element `<dams:visibility>curator</dams:visibility>` was added to each object. For example, http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb7648882b. It seems like these items were changed to curator display last month but not rela

[2018-09-13 15:20] gamontoya commented on #235
@hjsyoo @remerjohnson Can you wait until I confirm with Longshou that this collection has been re-indexed?

[2018-09-13 15:34] gamontoya commented on #235
@hjsyoo @remerjohnson Confirming it's been re-indexed. Do you want Longshou to set back to metadata only?

[2018-09-13 15:36] remerjohnson commented on #235
@hjsyoo @lsitu

Yes, this editing occurred on August 17... I was out on vacation and we had an urgent embargo request come in for several objects, which must have included these 3 objects.

@hjsyoo Would putting these back as metadata-only be okay? I was unsure if the dataMares team wanted any metadata for these emergency embargo objects.

[2018-09-13 15:58] hjsyoo commented on #235
@gamontoya @remerjohnson @lsitu Apologies - Ryan is right. These 3 objects (the only metadata-only embargoed objects in this collection that have files ingested) were included in the list of 8 objects that the depositors requested be embargoed immediately on Aug 17. I hadn't made that connection previously, but it's in my documentation now. Thanks everyone, we're done with this work so I'll close

[2018-09-13 15:58] #235 closed

[2018-09-13 17:38] gamontoya commented on #245
@lsitu Was this deployed?

[2018-09-13 17:40] #226 closed

[2018-09-13 17:41] lsitu commented on #245
@gamontoya Yes. I think @rstanonik had deployed it this Monday morning.

[2018-09-13 19:52] gamontoya commented on #245
@lsitu Thank you.

[2018-09-13 19:52] #245 closed

[2018-09-17 19:01] lsitu commented on #253
@gamontoya / @hjsyoo Here is the report with the additional column `Number of Files` added, which has all RDCP collection CLRs and the objects in one CSV file:
[Report-RDCP.csv.txt](https://github.com/ucsdlib/damsmanager/files/2389838/Report-RDCP.csv.txt)

I rename the csv file to .txt so that I can attach it here and you can simply rename it to `Report-RDCP.csv` to open it with Excel. It looks li

[2018-09-18 20:17] hjsyoo commented on #253
@lsitu The report is exactly what I need. Thanks!

[2018-09-18 20:17] #253 closed

[2018-09-18 20:39] lsitu commented on #245
@rstanonik Did this release deployed on prod again after you deployed it last Monday? We found it carried the changes that we committed on Tuesday Sep 11 (https://github.com/ucsdlib/damsmanager/commit/9dfcb5abcd564f8cd3bf078dcc89ef7d15a08f52), which hasn't been tested yet. @remerjohnson ran into an issue with our latest deployment, which is related to the big commit on Tuesday, Sep 11 and we may n

[2018-09-18 21:57] rstanonik commented on #245
Sorry, it did deploy on Sept 12 because I forgot to remove a deploy trigger.  I'll rollback to the version from Sept 10.  I'll let you know when that's done

[2018-09-18 22:03] rstanonik commented on #245
I restored damsmanager.war from Sept 10 and restarted the tomcat.
Can you confirm I got the right version?

[2018-09-18 22:40] lsitu commented on #245
@rstanonik I just tested it and I think it's the correct version. Thanks. @remerjohnson The latest damsmanager on prod should has no control character fix now. We'll do a fully test on staging and deploy it again later. Sorry about it.

[2018-09-18 22:43] remerjohnson commented on #245
@lsitu @rstanonik That's all right. It wasn't hard to edit the affected objects, and maybe we found some good things to test the character fix feature. Thanks!

[2018-09-19 17:54] gamontoya opened #254 "Add banner to DAMS Manager (staging environment)"
### Descriptive summary

Please add a "staging" banner to the DAMS Manager `staging environment` to help users note that they in the right environment (staging and not production).

### Rationale

Oftentimes I catch myself doing a "test" ingest in the production environment. It would help if I saw the staging banner as a clue that I'm in the right place.

[2018-09-19 17:55] gamontoya commented on #254
@jessicahilt This is ready for assignment.

[2018-09-19 18:33] lsitu commented on #254
@jessicahilt @gamontoya Sure. I'll find a way to add the "staging" banner to damsmanager for the staging environment.

[2018-09-20 15:49] lsitu opened #255 "Support 9 digit bibs for MARC/MODS Import"
### Descriptive summary
Per Matt Petters @mdpeters,
[code]

### Rationale

DAMS Manager will produce error java.lang.NullPointerException when export csv for bib records with 9 digits. This is caused by JollyRoger fails to retrieve the bibs is more than 8 digits. For example, http://roger.ucsd.edu/record=b10409153~S6.

[2018-09-20 20:27] lsitu commented on #255
@mcritchlow I've added JollyRoger PR https://github.com/ucsdlib/jollyroger/pull/3 for it. Thanks.

[2018-09-20 21:34] #255 closed

[2018-09-20 22:01] lsitu commented on #251
@remerjohnson I reopen the ticket as the result of our discussion this Tuesday for the control characters like `LINE FEED (LF)` that you expect to have, and the values in multiple columns could be merged together.
Could you give me a list of control characters that you don't want to ignore?

[2018-09-21 20:33] remerjohnson commented on #251
@lsitu the only ones I can think of right now are Line Feed and possibly Carriage Return.  It's crucial that we have support for as you say:

Do you think that's being affected by Line Feed, or something else?

[2018-09-21 23:09] lsitu commented on #254
@gamontoya \ @mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/256 to add the banner/ribbon to staging environment (see screenshot above). It's ready for review now. Thanks.

[2018-09-21 23:10] lsitu commented on #254
<img width="1439" alt="screen shot 2018-09-21 at 4 03 16 pm" src="https://user-images.githubusercontent.com/2430784/45909773-ce71d980-bdb8-11e8-8c28-4629382044e0.png">

[2018-09-21 23:18] lsitu commented on #251
@remerjohnson It could be but I need to dive deeper into it since I have the codes for automatic test with multiple values and it passes.

[2018-09-24 15:53] gamontoya commented on #254
@lsitu Looks great!

[2018-09-24 18:58] lsitu commented on #251
@remerjohnson Are you seeing the issue that header `Identifier:identifier` with multiple fields are merged together on staging?

I created more automatic tests with multiple values that include control character [Line Feed] and I don't see the problem. So I think this is not related to the control characters handling here.

And I tested it with the Excel that you provided, I see there are two colu

[2018-09-24 19:09] remerjohnson commented on #251
@lsitu Thanks for looking into that Longshou. I thought that might be the case. So in the future, if I simply separated multiple values with the `|` character for `Identifier:identifier`, would it render properly?

I can test this and get back to you if you'd prefer...

[2018-09-24 19:17] lsitu commented on #251
@remerjohnson I think we can support multiple values for header `Identifier:identifier`, either separated by | character or with multiple `Identifier:identifier` columns.

[2018-09-24 20:35] remerjohnson commented on #251
@lsitu Oh, great. Will that have to be a new ticket or not?

[2018-09-24 20:57] lsitu commented on #251
@mcritchlow / @remerjohnson I've created PR https://github.com/ucsdlib/damsmanager/pull/257 to keep Line Feed (LF) and Carriage Return (CR) control characters.
@remerjohnson I'll work on another PR to enable support for header `Identifier:identifier` with multiple values. Would you like me to work on this ticket or create a new ticket for it?

[2018-09-24 21:13] lsitu commented on #251
@remerjohnson I can just work on this ticket if you update the description text above. It seems like a new ticket for this support might be clearer but it's not a must.

[2018-09-24 21:52] remerjohnson commented on #251
@lsitu It seems it would be better to keep track of if you created a new ticket for that, since it's fairly unrelated

[2018-09-24 22:48] lsitu opened #258 "Add multiple values support for header Identifier:identifier"
### Descriptive summary
Add support for header Identifier:identifier with multiple columns or delimited by | character for multiple values.

### Rationale
Currently, DAMS Manager assumes header `Identifier:identifier` to be single value and will merge multiple `Identifier:identifier` columns together into a single identifier note. While in object https://library.ucsd.edu/dc/object/bb0515927k, it h

[2018-09-24 22:53] lsitu commented on #251
@remerjohnson I agree. Though the change is straight forward. I've created ticket https://github.com/ucsdlib/damsmanager/issues/258 for it.

[2018-09-25 21:20] lsitu commented on #258
@mcritchlow / @remerjohnson I've added PR https://github.com/ucsdlib/damsmanager/pull/259 for the support.

[2018-09-26 23:17] gamontoya commented on #254
@lsitu Can you assign the PR review to another dev since Matt is out?

[2018-09-27 17:45] #254 closed

[2018-09-28 17:31] #258 closed

[2018-09-28 17:50] #251 closed

[2018-09-28 18:29] gamontoya commented on #258
@remerjohnson or @GregReser This ticket needs confirmation that this is working on staging.

[2018-09-28 18:35] gamontoya opened #260 "Release 2.67"
### Descriptive summary

Version: 2.67
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

---

### To Verify/Review

- [x] Ignoring escape characters #251
- [x] Adding multiple header values for identifer #258
- [x] Adding banner to DAMS Manager staging #254

[2018-09-28 18:51] gamontoya commented on #254
@gamontoya Confirming that this is working on staging.

[2018-09-28 18:55] gamontoya commented on #255
@mdpeters Can you confirm this is working on staging?

[2018-09-28 19:09] remerjohnson commented on #251
@gamontoya Yup! I will make some tests for this today. Thanks

[2018-09-28 19:39] gamontoya opened #261 "Add banner to DAMS Manager (QA environment)"
### Descriptive summary

Please add a "quality assurance" banner to the DAMS Manager `QA environment` to help users note that they in the correct environment. Spell out "quality assurance" instead of QA.

### Rationale
It is helpful for users of DAMS Manager to know what working environment they are in.

[2018-09-28 19:39] gamontoya commented on #254
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/261)

[2018-09-28 23:16] remerjohnson commented on #251
@gamontoya @lsitu This object's Excel source had the line feed character, as well as multiple `Identifier:identifier` fields (and one that had a `|` character to delimit within the cell):
https://librarytest.ucsd.edu/dc/object/bd2478683d

Everything seems to be rendering correctly.

[2018-10-01 16:02] gamontoya commented on #260
@lsitu This is approved for deploying to prod on Tuesday morning.

[2018-10-01 16:03] gamontoya commented on #258
@remerjohnson Can you confirm this one is working as expected?

[2018-10-01 22:11] remerjohnson commented on #258
@gamontoya Yup! Confirmed this as working on staging

[2018-10-02 14:47] rstanonik commented on #260
damsmanager deployed to production this morning at 6:00am and the tomcat was restarted

[2018-10-02 19:06] gamontoya commented on #261
@lsitu Maybe a yellow banner for QA?

[2018-10-02 19:07] #260 closed

[2018-10-02 19:10] lsitu commented on #261
@gamontoya Sure. I'll make it happen on QA as well.

[2018-10-03 19:13] gamontoya opened #262 "R&D: Collections reporting tool"
### Descriptive summary

Investigate feasibility of creating a tool that dynamically generates a report to denote if a collection:

1. is newly released
2. has had objects added
3. has had objects removed
4. has had metadata edits to 1 or more objects

- Two event types that may already be recorded are `record created` and `record edited` (which don't really = `released`). Per Arwen, we might need

[2018-10-03 19:14] gamontoya commented on #262
@jessicahilt This is ready for R&D/assignment.

[2018-10-03 19:34] lsitu commented on #262
@jessicahilt / @gamontoya Sure. I'll look into this potential support.

[2018-10-04 17:10] arwenhutt opened #263 "Batch edit"
### Descriptive summary
DOMM would like to be able to make batch edits.  We're flexible about the details.

### Rationale
We frequently need to edit multiple records, our most frequent use cases are:
1. replacing, adding, or removing variable fields/values
2. replacing, adding, removing constant fields/values (which can include changing collection membership)

Currently such edits need to either b

[2018-10-04 17:19] arwenhutt opened #264 "Decouple/simplify rights and access controls"
### Descriptive summary
Currently some rights information is used to determine access levels.  This leads to more complexity and less predictable behavior.  We would like to decouple access from rights.

### Rationale
Simplify implementation so it is more understandable and predictable, easier to code, and easier to assign metadata for.

### Related work
https://github.com/ucsdlib/damspas/issues/5

[2018-10-04 17:24] arwenhutt opened #265 "Move rights and access controls into spreadsheet"
### Descriptive summary
Materials within a single collection increasingly have different rights or access settings.  Currently, since these are set in the Excel ingest form, they must be ingested in different (sometimes many different) batches.  Instead of setting these at the batch level in the form, we would like to set them at the item/object level in the spreadsheet.

### Rationale
Save time.

[2018-10-04 17:38] arwenhutt opened #266 "Address indexing queue wait time"
### Descriptive summary
Editing a CLR launches a re-index of all objects in the collection and all linked sub-collections, creating a very large queue which delays indexing of unrelated edits and ingests.  While some edits, such as Title value, do have an impact on all linked objects, many other edits do not and therefore should not trigger a full re-index.

Long indexing queues, whether triggered

[2018-10-04 23:13] gamontoya commented on #266
Per Longshou:

[code]

[2018-10-05 17:59] lsitu commented on #261
@mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/267 to add banner/ribbon to all environments except production, including QA. Thanks.

[2018-10-05 20:04] #261 closed

[2018-10-08 17:34] remerjohnson opened #268 "Provide way to expand full collection names in damsmanager UI"
### Descriptive summary

We need a way to fully expand collection names where they exist in the UI (i.e., the Collection Import/Create&Edit tools, the Excel Import tool, etc.). This is the current view of two CalCOFI collections, one which has a "2017" at the end but is obscured:

![calcofi_cutoff_text](https://user-images.githubusercontent.com/5183580/46623773-9de1ad80-cae3-11e8-8f5f-092a0b9f2689

[2018-10-09 22:42] lsitu commented on #268
@gamontoya Sure. I'll start it once I get ticket [Check for recent bot crawls ](https://github.com/ucsdlib/damspas/issues/530) done.
@remerjohnson Please let me know if you are waiting on it.

[2018-10-12 20:19] gamontoya opened #269 "Release 2.68"
### Descriptive summary

- Version: 2.68
- Release Manager: @lsitu
- Product Owner and Reviewers: @gamontoya
- Operations: @jhriv or @rstanonik

---------------
### To Verify

- [ ] #261 Add banner to DAMS QA
- [ ] ucsdlib/damspas#530 Check for recent bot crawls

[2018-10-15 18:16] lsitu commented on #269
@rstanonik / @jgorney Could we update table WEB_STATS to add column CLIENT_IP with index  for staging and prod environments with the following scripts (see scripts https://github.com/ucsdlib/damsmanager/blob/master/conf/web_stats_ip-update.sql#L1-L2)?
[code]
Note that I'd run the scripts to add the new column CLIENT_IP to table WEB_STATS on QA.

And can we update damsmanager.properties on QA, stag

[2018-10-16 14:49] jgorney commented on #269
I've updated both the staging and prod databases with the requested modifications to table web_stats.

[2018-10-16 15:00] lsitu commented on #269
Thanks @jgorney.

[2018-10-16 18:01] remerjohnson commented on #268
@lsitu Nope, this is not a critical fix, but would be nice to have next sprint. Thanks

[2018-10-16 18:31] lsitu commented on #268
@remerjohnson No problem. I am working on it now.

[2018-10-16 20:11] rstanonik commented on #269
I updated damsmanager.properties on qa, staging, and prod.

I restarted the tomcat on qa and staging, but not prod.

[2018-10-16 20:45] lsitu commented on #269
@gamontoya I think damsmanager release 2.68 is ready for review now. Thanks.

[2018-10-16 21:16] lsitu commented on #268
@mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/272 to expend the full collection names in the selection option. It's ready for review now. Thanks.
@remerjohnson Now when you move the the mouse over the select option, the full collection name will be shown.

[2018-10-16 21:59] jhriv opened #274 "Compromised Tokens"
### Descriptive summary

Configuration files with access tokens were inadvertently committed to the repository. Those files have been obliterated from history. The tokens still require changed.

### Rationale

Plain text access tokens were committed - anyone could have cloned and now have access.

[2018-10-16 23:55] gamontoya commented on #269
@lsitu This is approved for prod.

[2018-10-17 00:19] lsitu commented on #269
@rstanonik I think we are ready to move it to prod now. Please double check Tomcat for damsmanager is restarted once the release is deployed to avoid the stale thread running for dams statistics. Thanks.

[2018-10-17 13:19] rstanonik commented on #269
damsmanager was deployed this morning to production and the tomcat on lib-ingest was restarted

[2018-10-17 15:09] lsitu commented on #269
I'll re-generate the stats data for those peaks. Thanks @rstanonik.

[2018-10-17 15:56] remerjohnson commented on #268
@lsitu That sounds like a great option. Thanks

[2018-10-17 20:54] lsitu commented on #269
@gamontoya I've regenerated the dams statistic data for Aug 26, the whole month for September and October. The maximum number of accesses drops sharply to 6990 on October 4 now, https://library.ucsd.edu/damsmanager/stats.do.

[2018-10-17 22:36] gamontoya commented on #269
@lsitu Very nice. Is it possible to regenerate July 2018 as well?

[2018-10-17 23:10] lsitu commented on #269
@gamontoya Yes, we can. I'll do it for July and August (whole month) now.

[2018-10-17 23:17] gamontoya commented on #269
@lsitu Great because my reporting of stats run from July 1 thru June 30 of the following year.

[2018-10-18 15:45] #269 closed

[2018-10-18 15:48] gamontoya opened #275 "Release 2.69"
### Descriptive summary

- Version: 2.68
- Release Manager: @lsitu
- Product Owner and Reviewers: @gamontoya
- Operations: @jhriv or @rstanonik

------

### To Verify

- [x] #272 Expand full collection names in DM UI

[2018-10-18 16:21] GregReser opened #276 "MARC to CSV Mapping: map 510 to Note:bibliography"
### Descriptive summary
For the MARC Import Tool, conversion to CSV, the 510 tag is incorrectly exporting to Title Variant

### Request
Change the 510 export to Note:bibliography

- Place multiple 510 in separate Note:bibliography columns
- Include all 510 fields with any indicator
- Include all subfields
  - Replace each subfield with a space, e.g., "Rocq|c7897" = "Rocq 7897"

[2018-10-18 16:56] lsitu commented on #268
@mcritchlow Sorry I created PR https://github.com/ucsdlib/damsmanager/pull/277 to fix a mistake in my last commit that breaks the control panel page. It's ready for review now. Thanks.

[2018-10-18 17:08] gamontoya commented on #276
@lsitu You'll probably have to work on this in the next Sprint since you'll be out on vacation.

[2018-10-18 17:14] lsitu commented on #276
@gamontoya Sure. Thanks.

[2018-10-18 18:41] lsitu commented on #275
@gamontoya I think damsmanager release 2.69 is ready for review now. The full collection title will show up as a tool tip while moving the mouse over the collection select option. Thanks.

[2018-10-18 20:04] gamontoya commented on #275
@lsitu Yup. Looks good. Approved for prod.

[2018-10-18 20:18] lsitu commented on #275
Thanks @gamontoya .
@rstanonik I think damsmanager release 2.69 is ready for prod now. Thanks.

[2018-10-19 13:14] rstanonik commented on #275
Deployed to production this morning and tomcat restarted

From: lsitu <notifications@github.com>
Sent: Thursday, October 18, 2018 1:24 PM
To: ucsdlib/damsmanager <damsmanager@noreply.github.com>
Cc: Stanonik, Ronald <rstanonik@ucsd.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ucsdlib/damsmanager] Release 2.69 (#275)

Thanks @gamontoya<https://github.com/gamontoya> .
@rstanonik<https://

[2018-10-19 16:30] gamontoya commented on #275
@rstanonik Thank you!

[2018-10-19 16:32] #275 closed

[2018-10-23 21:37] arwenhutt opened #278 "Search functionality for DAMS administrators and managers"
### Descriptive summary
There isn't currently a way to search administrative metadata in the DAMS, so we have to hunt around for examples or request reports from ITD for fuller results.

Search functions that would be useful:
- Searching for exemplar records which contain specific settings or administrative metadata  (e.g. a permission type of "metadataDisplay", event type of "record created").
-

[2018-10-24 23:56] gamontoya opened #279 "Find way to pull in orphan objects into collection statistics"
### Descriptive summary

There are currently some objects in the DAMS that are not attached to a collection record. These objects are not being counted in our collections statistics. For example:

- https://library.ucsd.edu/dc/search?_=1540424124377&f%5Bobject_type_sim%5D%5B%5D=video&f%5Bsubject_series_sim%5D%5B%5D=East+Asia+Film+Collection.+Underground+films%2FIndependent+films

- https://library

[2018-10-25 19:39] GregReser commented on #264
### Sample use case:
We would like to create objects that are limited to UCSD only and are not discovered through a search, but can be accessed directly by using the https ARK. This should be possible by using a localDisplay and suppressDiscovery overrides.

Currently, this only works if copyright status is public domain and there is no Rights Holder.  If there is a Rights Holder, the object is fo

[2018-10-25 21:57] hjsyoo opened #280 "RDCP download counts are inaccurately reported"
### Descriptive summary and Steps to Reproduce Behavior

DAMS manager (DM) reports download counts inaccurately and inconsistently for RDCP components. Four tests have been run so far during different intervals in September and October, all on Chrome while on the UCSD domain:

1. 2018-09-04:
* In non-curator mode, tester searched the DC or browsed to object, then downloaded a selected component on

[2018-10-30 15:52] lsitu commented on #276
@GregReser Do you have an example that I can use for test? Thanks.

[2018-10-30 18:20] GregReser commented on #276
@lsitu b7209364

[2018-10-30 21:52] lsitu commented on #276
@mcritchlow I've added PR https://github.com/ucsdlib/jollyroger/pull/5 to JollyRoger for the conversion. It's ready for review now. Thanks.

[2018-10-31 15:36] lsitu commented on #280
@hjsyoo I can't access any of the google share spreadsheets above. Could you give me the access to those four spreadsheets above so that I can take a look? Thanks.

[2018-10-31 16:06] #276 closed

[2018-10-31 16:25] hjsyoo commented on #280
@lsitu I gave you access to the sheets just now. I tried to give you access to the entire folder in which we're doing our work, but for some reason Google isn't letting me.

[2018-10-31 21:43] lsitu commented on #280
@hjsyoo Can you repeat those negative results and those high volume download tests? It seems like something may be going wrong with the test. For example, in test `3. 2018-10-23:` https://docs.google.com/spreadsheets/d/1lR2ZaGQLUgwInN-ff6RfmP6WgdLX-OdgKTX92PgdaVA/edit#gid=0, I see item bb0549894r in row#51 for component `3-D render of all superimposed buildings in the sequence` has 32 downloads, w

[2018-10-31 21:53] hjsyoo commented on #280
@lsitu Those roller-coaster counts are exactly the problem we're seeing. They seem to alternate between high positive increments on one day, followed by highly negative increments the next day. I don't really believe these components are seeing that much activity in one day. I took screenshots of the download reports for 10/23 to 10/25:
![downloads_2018-10-23_3drender](https://user-images.githubus

[2018-10-31 22:10] lsitu commented on #280
@hjsyoo Do you still seeing the same behavior now?

[2018-11-01 17:38] hjsyoo commented on #280
@lsitu Actually, we didn't look at any of the *unique download* stats reports. We are primarily concerned about the component *download* stats reports behaving oddly. The object views aren't quite correct, either (they frequently show one more view than was actually performed), but we wanted to address the roller coaster download reports here first. @anrastog , can you paste for us the exact link

[2018-11-01 17:44] anrastog commented on #280
Yes. Our main focus was to look at the download stats by component and we used the RDCP File Download by month:
https://library.ucsd.edu/damsmanager/statsRdcpDownload.do?unique

We did also note down our views and unique views as well, but more for context.
https://library.ucsd.edu/damsmanager/statsRdcpDownload.do (for views)
https://library.ucsd.edu/damsmanager/statsRdcpDownload.do?unique (for un

[2018-11-01 18:09] hjsyoo commented on #280
@lsitu Hang on, Anushka and I are troubleshooting some link issues on our end.

[2018-11-01 18:21] lsitu commented on #280
@hjsyoo / @anrastog Sorry I meant the unique component downloads (https://library.ucsd.edu/damsmanager/statsRdcpDownload.do?unique) and all download (https://library.ucsd.edu/damsmanager/statsRdcpDownload.do). If you look at the title of the table on the left, you will see `Views
RDCP Downloads by Month (Unique Views)` for unique downloads. I could disable the other view if that confuses you guys.

[2018-11-01 18:41] hjsyoo commented on #280
@lsitu You're right, it looks like there may be some confusion on our end regarding whether we're consistently downloading total or unique stats. We'll do another round of tests next week and make sure we've bookmarked the correct pages rather than navigating from https://library.ucsd.edu/damsmanager/statsRdcpUsage.do.

Can you verify that these URLs are correct?
• For (total) downloads: https://l

[2018-11-01 18:59] hjsyoo commented on #280
@lsitu One helpful fix might be to label the CSV exports differently. We always export the CSV to harvest stats, but I believe total and unique downloads, for example, both get named "rdcp_downloads" by default. Would it be an easy fix to have unique downloads get named "rdcp_unique_downloads", and unique views to be named "rdcp_unique_views"?

[2018-11-01 19:07] lsitu commented on #280
@hjsyoo Yes. The above links are correct. And I think we can update the file name for CSV download to "rdcp_unique_downloads.csv" and "rdcp_unique_views.csv".

[2018-11-01 22:09] lsitu commented on #280
@mcritchlow Per discussion with @hjsyoo above, I just added PR https://github.com/ucsdlib/damsmanager/pull/281 to rename the CSV export filename for unique views/file downloads. It's ready for review now. Thanks.

[2018-11-02 17:32] #280 closed

[2018-11-02 21:33] lsitu commented on #266
@arwenhutt / @mcritchlow  I've added PR https://github.com/ucsdlib/damsmanager/pull/282 that will give the item edited the highest level of priority 9, and all other linked records will be indexed in a lower priority. I also update our dev tool to index single items in the highest priority so that we can index some urgent items at any time. The PR is ready for review now.

Attached is the screensh

[2018-11-02 22:33] #266 closed

[2018-11-08 21:50] jessicahilt commented on #263
This is huge and has a lot of ambiguity that we'll need to sort out.

[2018-11-08 21:52] jessicahilt commented on #263
This conversation can probably start now to get what is wanted/expected first.

[2018-11-08 22:46] arwenhutt commented on #263
@jessicahilt Yeah, the request was intentionally vague, we wanted to communicate that we're flexible : )

There are lots of different ways this could be done, but maybe help get the conversation started, here are two ideas that represent the two ends of the LOE/functionality spectrum:
1) on the lowest end would be allowing us to edit/upload multiple RDF records at once using the same process as we

[2018-11-08 22:48] arwenhutt commented on #263
Oh, and I want to ping @GregReser that this conversation may be starting up.  He's done a lot of work/thinking about these things both locally and as part of the Hyrax Batch Ingest WG.

[2018-11-09 00:10] lsitu commented on #262
@mcritchlow / @gamontoya I've added damsrepo PR https://github.com/ucsdlib/damsrepo/pull/70 and damsmanager PR https://github.com/ucsdlib/damsmanager/pull/283 for Collection Report. Both PRs are ready for review now. Thanks.
Here is the screenshots for begin date selection and the report page (CSV exportable):
<img width="1046" alt="screen shot 2018-11-08 at 10 38 12 am" src="https://user-images.g

[2018-11-09 15:58] gamontoya commented on #262
@lsitu Very nice work. Shouldn't we have an `end date` option too?

[2018-11-09 16:03] gamontoya commented on #263
@GregReser Going along with what we discussed and saw demo'd in the Hyrax Batch Import/Exprt WG, can you come up with a `spec` that aligns with that for our currently DAMS workflow?

[2018-11-09 17:05] lsitu commented on #262
@gamontoya I think we can compare the date range with SPARQL for the `end date` option. And we can see what's the performance looks like.

[2018-11-09 18:19] gamontoya commented on #263
@arwenhutt Sounds good. But a spec is what we're shooting for, for sure.

[2018-11-09 20:38] lsitu commented on #262
@mcritchlow I was just thinking about adding the optional `End date` field as @gamontoya suggested. So if leaving the `End date` field empty, then it's the `start date` up until now. If specify any end date values, then it's a date range for searching. This could slow down the query a little bit but I think it should be fine:

<img width="1063" alt="screen shot 2018-11-09 at 11 32 43 am" src="http

[2018-11-09 20:40] gamontoya commented on #262
@lsitu Yes, that's exactly what I expected to see.

[2018-11-09 21:58] lsitu commented on #262
@mcritchlow / @gamontoya I've added commit https://github.com/ucsdlib/damsmanager/commit/98e26878cc60f03fabc5e4f3cd6e4df3bb708dc1 for the `end time` option above. It's ready for review now. Thanks.

[2018-11-09 22:18] gamontoya opened #284 "RDCP download counts are inaccurately reported"
### Descriptive summary and Steps to Reproduce Behavior
DAMS manager (DM) reports download counts inaccurately and inconsistently for RDCP components. Four tests were run on separate days, all on Chrome while on the UCSD domain. All testers shared this behavior:
* Clear cache and sign out of DAMS (non-curator mode)
* Search for a designated object's ARK in Google. Click on the object URL in search

[2018-11-09 22:18] gamontoya commented on #280
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/284)

[2018-11-09 22:47] gamontoya opened #285 "Release 2.70"
### Descriptive summary

Version: 2.70
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonikbug.

-----
### To Verify

- [x] #262 R&D: Collection Reporting tool
- [ ] #266 - Address indexing queue wait time
- [ ] #281 - RDCP download counts are inaccurately reported

@lsitu Any more to verify?

[2018-11-13 18:03] anrastog commented on #284
Also, when I looked at the testing we conducted two weeks ago, I added the downloads over a two day period. We had downloaded an object 7 times over the span of 2 days, but it showed up on the DAMS stats as 6 downloads.

[2018-11-13 22:33] #262 closed

[2018-11-13 23:36] lsitu commented on #285
@gamontoya DAMS Manager release 2.70 is ready on staging for review now. The URL for the collection report tool is https://librarytest.ucsd.edu/damsmanager/collectionStatusReport.do, or you can access from the first item `Collection Report` on the `DAMS` main menu. Thanks.

[2018-11-14 00:40] lsitu commented on #285
Thanks @gamontoya .
@rstanonik The codes for DAMS Manager release 2.70 is ready on master branch and it's for prod now. Thanks.

[2018-11-14 15:49] rstanonik commented on #285
DAMS Manager was deployed to production this morning, including a tomcat restart

[2018-11-14 16:30] lsitu commented on #285
It looks good. Thanks @rstanonik.

[2018-11-14 18:51] #285 closed

[2018-11-26 18:20] lsitu commented on #264
@GregReser It seems like we need to separate the license and access override here. With the current values from the Excel Ingest form, we'll have:

**- License**
1. Public - granted by rights holder (public access granted by rights holder)
2. UCSD - granted by rights holder (localDisplay)
3. Restricted - by rights holder (Display currently prohibited)
4. Creative Commons - Attribution (http://crea

[2018-11-26 23:45] gamontoya opened #286 "Delete"
### Descriptive summary

Version: 2.71
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonikbug.

-----
### To Verify

- [ ] [#559](https://github.com/ucsdlib/damspas/issues/559) Update FFmpeg video-derivative encoding
- [ ] [#552](https://github.com/ucsdlib/damspas/issues/552) Investigate spike in statistics and exclude IP peak

[2018-11-26 23:45] gamontoya commented on #285
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/286)

[2018-11-26 23:51] #286 closed

[2018-11-27 17:07] lsitu commented on #265
@arwenhutt While looking into the Excel InputStream template xls_standard_input_template.xlsx, I see the following columns that haven't been implemented yet:
Access   granted | Copyright   status | Copyright   holder | CC license

And we have the following additional fields for rights and access in the Excel ingest form:
Copyright Jurisdiction | License Begin Date | License End Date

And we also h

[2018-11-27 17:31] lsitu commented on #265
@GregReser Thanks. Yes. It's related to #264 and I think we can think about them all together. And the implementation can be separate for these two tickets if we want to have the default values from the Excel ingest form.

[2018-11-27 17:42] GregReser commented on #265
@lsitu let's focus on #264 first then figure out how to implement that in the spreadsheet

[2018-11-27 17:45] GregReser commented on #264
@lsitu I think we will have to make additional changes to what metadata is created by the DAMS Manager selections and to the access control logic.

In my Use Case 1 above, suppress discovery of a copyrighted object would still not work because I would specify "UCSD - granted by rights holder (localDisplay)" which would create a License/Permission which is overriding suppressDiscovery and allowing

[2018-11-27 18:03] lsitu commented on #264
@GregReser Yes. I see that. We may need to adjust the access control logic a little bit in damsrepo when needed. So just list the fields/values that you want to have in the ingest form, along with the use cases for the expected access control behavior for a combination of the values that we want, and we can adjust the access control logic in damsrepo to make it works. Thanks.

[2018-11-27 18:28] hjsyoo opened #287 "Delete (dupe)"
### Descriptive summary

[2018-11-27 18:39] gamontoya commented on #287
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/562)

[2018-11-27 18:41] #287 closed

[2018-11-27 19:01] remerjohnson opened #288 "Add files to dataMares objects"
### Descriptive summary

Several dataMares objects without files need new files added. I'm attaching a spreadsheet of the object URIs and the files that need to be added. Let me know if more information is needed.

[dataMares_object_list.xlsx](https://github.com/ucsdlib/damsmanager/files/2621471/dataMares_object_list.xlsx)

### Rationale

Before we had 'metadata-only' functionality, a kludge solut

[2018-11-27 19:22] lsitu commented on #288
@gamontoya Is the ticket ready for the sprint?

[2018-11-27 22:05] gamontoya commented on #288
@lsitu Yes. Feel free to take it.

[2018-11-28 21:53] arwenhutt opened #289 "CIL harvesting and metadata transformation processes"
### Descriptive summary
Write scripts for regular harvesting and transformation of content (files and metadata) from the Cell Image Library GitHub repository: https://github.com/slash-segmentation/CIL_Public_Data_JSON

### Documentation
1. Outline of Ongoing Harvesting processes https://docs.google.com/document/d/1Eg2024XATxuwdzFtoLTNujalK2SDR_s6-Sg6zyUC9wE/edit#heading=h.caf5ayev1pza
2. Mapping f

[2018-11-29 16:40] lsitu commented on #288
@remerjohnson I think all 22 file in the excel file dataMares_object_list.xlsx above are ingested and available for review now. Thanks.

[2018-11-29 17:33] GregReser commented on #264
@lsitu just trying to confirm current access behavior to see what we might need to change...

It seems like a Note:note can control access and boilerplate display.  This test object, created with DAMS Manger Excel ingest, has no License or otherRights, it only has a Note:note that begins with the text "Culturally sensitive content:"  This note is causing this behavior:
https://librarytest.ucsd.edu

[2018-11-29 17:46] lsitu commented on #264
@GregReser Object https://librarytest.ucsd.edu/dc/object/bd7529991m is a curator-only object since it has no License or otherRights. And yes, the Note:note with "Culturally sensitive content:" will trigger the click through boilerplate.
In public, I don't think you can access the object it. And you may need to use an Incognico window to test it.

[2018-11-29 17:59] GregReser commented on #264
OK, got it, thanks.

[2018-11-29 18:08] GregReser commented on #264
@lsitu I understand now that metadata only (including cultural sensitivity) boilerplate text is hard coded, but cultural sensitivity click through boilerplate comes from Note:note.  Is this correct?

[2018-11-29 18:17] lsitu commented on #264
@GregReser Yes. I think it's correct.

[2018-11-29 21:42] remerjohnson commented on #288
@lsitu I checked and they all seem good. What do you think @hjsyoo?

[2018-11-30 19:06] lsitu commented on #289
@arwenhutt Can you give me the permission to the share doc [Mapping for creation of subject heading ingest file and object level record ingest file](https://docs.google.com/spreadsheets/d/1NnYw3bgNraJ9hZCH1SOKijh_JvJh3So1LpDC24vu7h8/edit#gid=1321122337) so that I can take a look? Thanks.

[2018-11-30 19:19] arwenhutt commented on #289
@lsitu done!

[2018-12-03 17:44] GregReser commented on #264
@lsitu Here is my proposal to simplify the access/visibility controls.  This approach will require some changes to the display logic, but will use existing predicates and values in order to minimize large batch object edits.

The big changes to consider:
- Since local CLRs and objects are now public metadata only, there is no need to consider CLR visibility = local in the logic. The only test for

[2018-12-03 18:17] hjsyoo commented on #288
@remerjohnson @lsitu Confirmed! Closing the ticket as they all look good.

[2018-12-03 18:17] #288 closed

[2018-12-03 18:23] lsitu commented on #264
@GregReser I believe the change is big and it will affect both the access control logic and UI display, especially the UCSD IP/metadata-only features. And I am not sure how this change will affect the display behavior for those objects held by UC Regents.
Maybe we need a report for those objects held by UC Regents first? And also, with the changes above, I think we may need to rethink about the im

[2018-12-03 18:47] lsitu commented on #289
@arwenhutt Could you show me an example for row#75 `Create a new row for child component for json file` in [Mapping for creation of subject heading ingest file and object level record ingest file](https://docs.google.com/spreadsheets/d/1NnYw3bgNraJ9hZCH1SOKijh_JvJh3So1LpDC24vu7h8/edit#gid=1321122337)? Thanks.

[2018-12-03 20:36] arwenhutt commented on #289
@lsitu In other words, we want to add a final child component to the object with the source metadata (the json file itself) attached as a file.  We aren't mapping all of the source metadata into the dams so this gives a user access to the full source metadata in case they need it.

Let me know if you would still like an example ingest file, I can do that but this week is very busy and I'm not sure

[2018-12-03 20:50] GregReser commented on #264
@lsitu I'm hoping we won't have to rethink the UCSD IP/metadata-only features too much.  I tested various DAMS Manager ingest access options to see what works and I think most things will not change.  I might be overlooking something, so we should look carefully at each scenario.  UC Regents would be a good place to start

For rights holder UC Regents
- Public UC Regents objects are easy - they ha

[2018-12-03 21:10] lsitu commented on #264
@GregReser I think the issue is in the first change that you suggested above:
[code]
`visibility = local ` is used to determine the UCSD IP/metadata-only display feature at this time.

For your question, `Do you think it is possible we have some UC Regents with local CLR where the objects do not have metadataDisplay?`, I don't know exactly. Maybe we need a report or do some search to find it out?

[2018-12-03 21:59] lsitu commented on #264
@GregReser Yes. I think if we don't need it, then we may need to update the access control logic and damspas UI for the changewe need.

[2018-12-03 22:11] GregReser commented on #264
@lsitu OK, I'll open a ticket to see what access values we have in local collections.

[2018-12-03 22:21] GregReser opened #290 "Delete - Dupe"

[2018-12-03 22:32] gamontoya commented on #290
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/564)

[2018-12-03 22:34] #290 closed

[2018-12-06 15:55] lsitu commented on #289
@arwenhutt Are there any identifiers in the CIL object that can be used to check whether a JSON file (object) is ingested or not?
For date:creation mapping (row#7-9) in [Mapping for creation of subject heading ingest file and object level record ingest file],(https://docs.google.com/spreadsheets/d/1NnYw3bgNraJ9hZCH1SOKijh_JvJh3So1LpDC24vu7h8/edit#gid=1321122337), is three `CIL_CCDB.CIL.CORE.ATTRIB

[2018-12-06 19:12] mcritchlow commented on #289
Hi @lsitu - I can help with the 2nd part, I'm not clear on the 1st part of the question re: identifiers in the object.

For the dates, I believe it can be an array with 1-m values.

I did a quick grep in the github repo `grep -iRl "DATE" ./` to find some examples.

Here's one: Version8_6/DATA/CIL_PUBLIC_DATA/40685.json

I'm not sure that answers your question or not.

[2018-12-06 21:35] lsitu opened #291 "Add CIL Input Stream for CIL Harvesting"
### Descriptive summary
This task is to add new CIL InputStream for CIL Harvesting, which will convert a list of JSON source files that are downloaded from Github (https://github.com/slash-segmentation/CIL_Public_Data_JSON) to dams4 RDF/XML. Need to fit into the Excel Input Stream process and ingested by damsmanager.

Link to related tickets or prior related work here.
#289

[2018-12-06 21:41] lsitu opened #292 "Integrate CIL InputStream into DAMS Manager for Ingest"
### Descriptive summary
This task is to integrate the CIL InputStream created in #291 into DAMS Manager's ingest process so that it can be triggered for automatic ingest JSON source files downloaded from Github (https://github.com/slash-segmentation/CIL_Public_Data_JSON) to DAMS.

### Related work

Link to related tickets or prior related work here.
#289
#291

[2018-12-07 22:18] hjsyoo opened #293 "Delete"
### Descriptive summary

[2018-12-07 22:55] hjsyoo commented on #293
@mcritchlow @jessicahilt This ticket addresses the DOI minting work I mentioned last week. It's high priority for RDCP.

@gamontoya If possible, the data depositor would like to submit these DOIs to NOAA before winter break. She can get an extension into January if needed, but please let me know what that timeline might be. The subsequent work that will be requested for creating Cite This Work wil

[2018-12-07 23:47] hjsyoo opened #294 "Delete"
### Descriptive summary

[2018-12-10 19:19] hjsyoo commented on #293
One caveat - it's possible that adding preferred citations (ticket #294 ) first will make the work for this ticket easier to implement. Please let me know which order makes sense. I will be requesting a lot more of these for preexisting objects, in the new year.

[2018-12-10 19:44] gamontoya commented on #293
@jessicahilt Ready to be assigned.

[2018-12-10 19:44] gamontoya commented on #294
@jessicahilt Ready for assignment.

[2018-12-10 21:38] lsitu commented on #291
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/295 for CIL harvesting support, which enable use to convert a list of CIL JSON source files to DAMS4 RDF/XML, and export the converted metadata as CSV format with Excel InputStream headings. It's ready for review now. Thanks.

[2018-12-11 17:56] gamontoya commented on #294
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/567)

[2018-12-11 17:58] #294 closed

[2018-12-11 17:59] gamontoya commented on #293
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/568)

[2018-12-11 18:00] #293 closed

[2018-12-11 18:35] #291 closed

[2018-12-11 22:09] arwenhutt opened #296 "Batch update file use values in SIO Explorer Cruises collection"
### Descriptive summary
For the items in the SIO Explorer Cruises collection https://library.ucsd.edu/dc/collection/bb29737300

please replace the value:
        <dams:use>document-source</dams:use>
with:
        <dams:use>document-service</dams:use>

and reindex

### Rationale
the document-source value does not trigger the pdf viewer

### Related work
https://github.com/ucsdlib/damspas/issues/568

[2018-12-11 22:18] gamontoya commented on #296
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/569)

[2018-12-12 17:40] gamontoya commented on #264
@GregReser Where are we with this ticket? Is it waiting for you?

[2018-12-12 17:41] gamontoya commented on #265
@GregReser Is this waiting on you, or ticket #264

[2018-12-12 17:46] GregReser commented on #265
@gamontoya both tickets are related to the questions about metadata only policy, so when we get clarity on that I can move forward.

[2018-12-12 17:48] gamontoya commented on #265
@GregReser Okay. You might want to inform Arwen of this since she was asking why there was no movement on these tickets.

[2018-12-12 17:48] GregReser commented on #264
@gamontoya getting more info on metadata only policy

[2018-12-13 16:35] lsitu commented on #289
@arwenhutt Yes, I was thinking about the step above. In this case, we may need an identifier with the file name. At this time, since we'll download the new JSON source files from github https://github.com/slash-segmentation/CIL_Public_Data_JSON and place them in a folder with a date like `cil_harvest_[YYYY-MM-DD]`, I think it should work to just do a nightly process to convert all those JSON sourc

[2018-12-13 23:34] lsitu opened #297 "CIL Harvesting - Download source JSON metadata files and retrieve master source files from Github"
### Descriptive summary
This task is to download JSON metadata files from Github https://github.com/slash-segmentation/CIL_Public_Data_JSON, convert to CSV format (OLR ingest file), and retrieve source files for CIL Harvest. The JSON files, OLR ingest file, and the master source files need to store in the location as required in https://docs.google.com/document/d/1Eg2024XATxuwdzFtoLTNujalK2SDR_s6-

[2018-12-13 23:38] lsitu commented on #297
@mcritchlow Would you mind setup your codes in https://gist.github.com/mcritchlow/f133e8bacd32a7d9daaa4b74af4cbcab as a UCSD Github repository that can be used for this support? Thanks.

[2018-12-14 21:15] lsitu commented on #292
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/298 for the support. It's ready for review now. Thanks.

[2018-12-17 23:02] mcritchlow commented on #297
@lsitu - I'm happy to help with this if I can. From the gist, what would you like to see in the new github repo? What would be most helpful as a starting point? Would you like the `cil_download` and `git_changes` files there so you can iterate on those?

[2018-12-17 23:11] lsitu commented on #297
@mcritchlow Thanks. Yeah, I think we need the `cil_download` and `git_changes` files. And we may need `cil_csv.rb` as well since @arwenhutt mentioned it in section 4.b.i.1 that we may need to store the csv format source files  there.

[2018-12-17 23:37] mcritchlow commented on #297
@lsitu - Ok sounds good, i'll create an initial repo with those files and then let you assess next steps from there.

[2018-12-17 23:42] mcritchlow commented on #297
@lsitu - here's the initial repo https://github.com/ucsdlib/cil-sync

[2018-12-17 23:52] lsitu commented on #297
@mcritchlow That's great! Thanks.

[2018-12-18 01:06] lsitu commented on #297
@rstanonik As suggested by @arwenhutt in [CIL Ongoing Harvesting Process](https://docs.google.com/document/d/1Eg2024XATxuwdzFtoLTNujalK2SDR_s6-Sg6zyUC9wE/edit#), I think we may need write access to rdcp-staging with the following paths:
/rdcp-staging/rdcp-0126-cil/cil_harvest_[YYYY-MM-DD]/metadata_source
/rdcp-staging/rdcp-0126-cil/cil_harvest_[YYYY-MM-DD]/metadata_processed

Is it possible to wri

[2018-12-18 19:05] #296 closed

[2018-12-18 23:04] lsitu commented on #297
@rstanonik Do you think is possible to download and store all those files for CIL harvesting  to rdcp-staging or not? Thanks.

[2018-12-19 03:07] rstanonik commented on #297
Yes, I'm sure it can be run.  I ran it and it didn't do anything.

[2018-12-19 16:42] lsitu commented on #297
@rstanonik Thanks. I am working on it now and will let you know once it's ready. I think if the tomcat user and the process running the script (https://github.com/ucsdlib/cil-sync/blob/master/git_changes.sh) can have write access to /pub/data2/damsmanager/dams_staging/rdcp-staging/rdcp-0126-cil on rdcp-staging will help.

[2018-12-20 18:10] lsitu commented on #297
@mcritchlow / @rstanonik I've added PR https://github.com/ucsdlib/cil-sync/pull/1 for the support. Thanks.

[2018-12-20 21:45] #292 closed

[2018-12-21 19:22] #297 closed

[2019-01-02 18:17] lsitu commented on #289
@arwenhutt I think the work to support CIL Harvesting is done in the following related tickets:
#291
#292
#297

Do you think how often we should run a cron job to check for new JSON source files added on git hub repository https://github.com/slash-segmentation/CIL_Public_Data_JSON?
Could you give more specifically regarding item `6. Notification of harvest completion sent to [DOMM, JIRA, and Ho Ju

[2019-01-02 22:18] lsitu commented on #264
@GregReser Do we have any decisions made for the ticket that I can move forward to work on? Thanks.

[2019-01-02 23:07] GregReser commented on #264
@lsitu I'm putting together a summary of options for discussion.  I'll complete that when I return to work on 01/07.

[2019-01-08 22:34] gamontoya opened #299 "R&D: Investigate how to integrate watermarking and disabling download for VRR"
### Descriptive summary

Need to determine the least invasive way to:
- integrate watermarking in the derivative creation process (FFmpeg). Ideally watermark process done before tile creation.
    - Matt P. and Heather S. to come up with watermarking mockups
- disable downloading of files (no download button) for VRR-only collections.

### Visibility/Access Proposal

From Greg R:

- virtual_readin

[2019-01-09 00:18] remerjohnson opened #300 "Publish new CCAS Joseph objects"
### Descriptive summary

We need to make ~36 objects that have been added to the [CCAS Joseph collection](https://library.ucsd.edu/dc/collection/bb5259361d) publicly accessible (they are now curator-only). The exact ARK list is attached.

[damslog--1020446901-arkReport.xlsx](https://github.com/ucsdlib/damsmanager/files/2738865/damslog--1020446901-arkReport.xlsx)

Attempts to re-release the collect

[2019-01-09 16:11] lsitu commented on #263
@arwenhutt / @GregReser Is the spec ready for me to work on? Thanks.

[2019-01-11 18:41] lsitu opened #301 "Support batch export metadata in RDF and CSV format"
### Descriptive summary

Batch export metadata in CSV and RDF format with an ARK list or objects in a collection.

### Rationale

To support Batch edit in https://github.com/ucsdlib/damsmanager/issues/263, we need to tool to export metadata in CSV format. The tool should be able to export metadata provided by a list of ARKs, or objects/ARKs in any collection(s).

### Related work

https://github.c

[2019-01-17 16:56] lsitu commented on #284
@hjsyoo Thanks for performing the tests. I think we may have to compare what's in the library weblog and the database for the period that you performed the tests to see what's going wrong.
@jgorney Is it possible to export the records in stats_file_download table for period from 2018-11-05 to 2018-11-08 (join table web_stats and stats_file_download)? Thanks.

[2019-01-17 17:47] gamontoya commented on #289
@lsitu Is this ticket open because you are waiting on @arwenhutt?

[2019-01-17 17:48] gamontoya commented on #301
@lsitu Is this ticket done or are you waiting for a review of the work?

[2019-01-17 20:57] lsitu commented on #279
@gamontoya Do you mean to include those orphans in the [collections report (quantity )](https://library.ucsd.edu/damsmanager/collectionsReport.do) spreadsheet and group them by unit `Library Digital Collections` and `UCSD Research Data Collections`?

[2019-01-17 21:10] gamontoya commented on #279
@lsitu Yes. The hook(s) could be the collection name, like scarare-orphans and series-orphans.

[2019-01-17 21:16] lsitu commented on #279
@gamontoya There will be some gaps there since there are no collections these orphans belong to. May be we need some customs rules if we want to give a set of orphans a name?

[2019-01-17 21:49] gamontoya commented on #279
@lsitu That's the thing Longshou. They do not want these orphans collections to be given a collection name. Since this is R&D sort of work, can you think of another suggestion?

What if we just did something like:

![001](https://user-images.githubusercontent.com/4314914/51351089-c1ab7c80-1a5e-11e9-9ff2-662065fc31ce.png)

[2019-01-17 21:58] lsitu commented on #279
@gamontoya Yeah, That sounds good! And all orphans are grouped by units (dlp and rdcp).

[2019-01-17 23:32] arwenhutt commented on #301
@lsitu we've finished up the spec for batch export: https://docs.google.com/document/d/1NAEVvYkU4oqfrZTaSrjbPwUyIGd9meFkkOyzR8ZlO9c/edit?usp=sharing
You should be able to comment and add questions within the document but, let me know if you have any access issues.

[2019-01-17 23:40] arwenhutt commented on #301
@lsitu We've also completed an initial review of the sample export file:

_Unless otherwise noted review was done on xlsx file created by importing csv from within excel, using the “from text” function, with file origin encoding of Unicode/UTF8, comma delimiters, and manually setting column date formats for Begin Date and End Date to text._
1. Problem with incorrect new line for objects: http://li

[2019-01-17 23:52] lsitu commented on #301
@arwenhutt Thanks for the CSV review. I just added a couple of comments in the the spec for batch export.

[2019-01-18 00:46] gamontoya commented on #279
Oh, well that's a nice surprise. Okay, then just change the collection title to be _Library Digital Collections Orphans_ and _Research Data Collections Orphans_ (yes, get rid of the preceding _UCSD_.

Thank you.

[2019-01-18 18:15] lsitu commented on #279
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/303 fro the title change that @gamontoya suggested. It's ready for review now. Thanks.

[2019-01-18 19:07] #279 closed

[2019-01-22 17:31] jgorney commented on #284
Sorry, I didn't see this.  I will do it right now.

[2019-01-22 17:32] jgorney commented on #284
@lsitu , this is in production, correct?

[2019-01-22 17:33] lsitu commented on #284
@jgorney Yes, it's prod. Thanks.

[2019-01-22 17:50] jgorney commented on #284
@lsitu Do you want all fields from table stats_file_download for that period, or just select columns (like file_id, etc) ?  I assume the join between the two tables is columns stats_file_download.stat_id = web_stats.id? Just making sure I get the right data.

[2019-01-22 18:11] lsitu commented on #284
@jgorney Yes, I need all the fields from table stats_file_download and web_stats (WHERE stats_file_download.stat_id = web_stats.id) for that period.

[2019-01-22 18:32] jgorney commented on #284
Hopefully this is what you want - let me know.  You will note that there are two "client_ip" columns - this field occurs in both tables.  The first "client_id" column is from web_stats, the second is from stats_file_download:

[DAMS_webstats.xlsx](https://github.com/ucsdlib/damsmanager/files/2784121/DAMS_webstats.xlsx)

[2019-01-23 20:55] lsitu commented on #297
@rstanonik / @mcritchlow Basing on the discussion with @arwenhutt ( https://github.com/ucsdlib/damsmanager/issues/289#issuecomment-456912792), is it possible to setup a process or a Jenkins plan to automatically run the program (https://github.com/ucsdlib/cil-sync) every month? Thanks.

[2019-01-23 23:42] mcritchlow commented on #297
@lsitu - seems like we should be able to do either. With a recent cron need for ldap syncing, we actually deployed via a Kubernetes CronJob. So I think the general answer is yes, though there are a few scripts in that repo, so perhaps we should document this in that repo in a new or existing ticket?

[2019-01-24 00:13] lsitu commented on #297
@mcritchlow That sounds great and we can update README of the repo (https://github.com/ucsdlib/cil-sync) once the CronJob is setup. Let's open a new ticket for this purpose then. Thanks.

[2019-01-24 17:15] lsitu commented on #297
@mcritchlow I've created ticket https://github.com/ucsdlib/cil-sync/issues/2 for the Kubernetes CronJob to run the script on the repo https://github.com/ucsdlib/cil-sync and assigned it to you and @rstanonik. Thanks.

[2019-01-29 19:33] lsitu commented on #284
@hjsyoo I found the problem that prevents it from counting the RDCP downloads with a direct URL, which is caused by the last implementation for request IP filtering support. And I've added a PR to fix it. Thank you very much for catching that.
@mcritchlow The PR https://github.com/ucsdlib/damsmanager/pull/305 is ready for review now. Thanks.

[2019-01-29 22:07] #284 closed

[2019-02-05 18:50] GregReser commented on #263
@lsitu The batch edit spec is ready https://docs.google.com/document/d/17e921jvvjhFXJA_y1VaDyi9Qmsg_ZNYv4UFSyxACQDM/edit?usp=sharing

The input for the edit tool will be an Excel file based on the output from the batch metadata export spec https://github.com/ucsdlib/damsmanager/pull/302

Many of the functions in the edit spec are similar to the current Excel ingest and CLR Edit tools, though some

[2019-02-06 22:47] gamontoya commented on #278
@arwenhutt What's the priority on this? I just found this ticket rummaging through old stuff!

[2019-02-07 22:36] gamontoya opened #306 "Create DAMS events report"
### Descriptive summary

Create a report from our db that contains events from 11:00 am Feb. 6, 2019 to 11:00 am Feb. 7, 2019

- event ark
- event type
- timestamp
- agent name
- ark of the record "touched"

### Rationale

Within the last 24 hours, a handful of objects became orphaned from the parent [Data from Scripps Research Expeditions](https://library.ucsd.edu/dc/collection/bb29737300)

Longs

[2019-02-07 22:59] gamontoya commented on #306
@lsitu High priority task

[2019-02-08 16:10] lsitu commented on #306
@gamontoya / @arwenhutt The events report that contains the fields above (.csv format) is ready:
[eventsReport.csv.txt](https://github.com/ucsdlib/damsmanager/files/2845774/eventsReport.csv.txt)

There are a couple of issues I found in the report:
1. The timestamp has 4 hours delayed with the PST time here. For example, I fixed the collection CLR https://library.ucsd.edu/dc/object/bb5021535s at 9:

[2019-02-08 16:13] arwenhutt commented on #306
Awesome, thanks Longshou!
But let's hold off on changing anything until we figure out what caused the data loss.  Otherwise it'll get harder to know what we're looking at.

[2019-02-08 19:43] arwenhutt commented on #306
@lsitu to double check, does this report include all event metadata for the time period for everything in the DAMS?

[2019-02-08 19:47] lsitu commented on #306
@arwenhutt That's all I can get with sparql. So I'll say yes. Just let me know if you need to review events in different date range.

[2019-02-12 01:06] lsitu commented on #306
@arwenhutt I think the issue I raised above for the wrong editor credited for DOI update are fixed in PR https://github.com/ucsdlib/damsrepo/pull/79. So fell free to close the ticket now. Thanks.

[2019-02-13 18:06] #306 closed

[2019-02-14 22:04] GregReser opened #307 "Excel Ingest Tool - add Person:Advisor & add valid values for Level"
### Descriptive summary

1. In the Excel standard input template,  add creator role Person:Advisor to the list of valid values
**Rationale**
Approved by DMPS in [dams-metadata issue 107](https://github.com/ucsdlib/dams-metadata/issues/107)

2. Add `"  \Component"` & `"    \Sub-component"` as valid values for "Level"
Valid values should be:
`"Object"`
`"Component"`
`"  \Component"`
`"Sub-component"

[2019-02-20 17:05] hjsyoo commented on #284
@lsitu @gamontoya Is this issue ready for my review?

[2019-02-20 17:27] hjsyoo commented on #289
@gamontoya Can you update me on the status of this work? Is there anything for me or @arwenhutt to review, or are there some dependencies that need to be addressed first?

[2019-02-20 17:47] gamontoya commented on #289
@hjsyoo I think @lsitu can confirm, but I think this work is complete.

[2019-02-20 19:01] lsitu commented on #289
@gamontoya / @hjsyoo Yes, the work is done. We just need to setup a cron job to run it: [Create cron job for CIL syn](https://github.com/ucsdlib/cil-sync/issues/2). @rstanonik / @mcritchlow Are we going to setup Kubernetes CronJob for it? Thanks.

[2019-02-20 20:04] rstanonik commented on #289
If this should run in kubernetes (or even docker), then are you going to create a docker image?

I looked at the "Create cron job" link.  The example of running the code looks like

/pub/data2/damsmanager/dams-staging/rdcp-staging/rdcp-0126-cil

If this runs as a cron job, does it always use the same argument "rdcp-0126-cil"?

[2019-02-20 22:23] lsitu commented on #289
@rstanonik From the documentation in [1. Outline of Ongoing Harvesting processes](https://docs.google.com/document/d/1Eg2024XATxuwdzFtoLTNujalK2SDR_s6-Sg6zyUC9wE/edit#heading=h.caf5ayev1pza) in the description text, I think we always pass the same path `/pub/data2/damsmanager/dams-staging/rdcp-staging/rdcp-0126-cil` to rdcp-staging to store the results.
Yes, I think we can create a docker file whe

[2019-02-20 22:47] lsitu commented on #284
@gamontoya /@hjsyoo I think we can release a new version of damsmanager with the fix for RDCP stats at any time. But it carries the codes for CIL Harvest processing which may need to review at the same time. Do you want to release damsmanager with these changes now?

[2019-02-20 22:49] rstanonik commented on #289
Take a look at how Vivian set up ldapsync

https://gitlab.com/ucsd-gitlab/library/ldap_sync

[2019-02-20 22:50] rstanonik commented on #289
She creates a docker image and pushes it to gitlab's repository.  Then docker or kubernetes can pull it.

[2019-02-20 22:51] gamontoya commented on #284
@lsitu No. We will wait for the CIL Harvest work to be completed.

[2019-02-20 22:52] rstanonik commented on #289
But maybe it should actually go under

https://gitlab.com/surfliner

so it doesn't violate the gitlab academic license.

[2019-02-20 23:56] rstanonik commented on #289
I'm trying to run this by hand and it fails because "No such file or directory @ rb_sysopen cil_harvest_2019-02-21/metadata_processed/json_files.txt".

What input files does it expect to exist?

What output files will it create.

Should this be deployed first to dev or staging?

[2019-02-20 23:56] rstanonik commented on #289
What ruby version?

[2019-02-21 00:18] arwenhutt commented on #289
@rstanonik I'm not sure but the outline of the harvesting process might have some of the information you need: https://docs.google.com/document/d/1Eg2024XATxuwdzFtoLTNujalK2SDR_s6-Sg6zyUC9wE/edit#heading=h.caf5ayev1pza

[2019-02-21 14:12] rstanonik commented on #289
I'm trying to test by hand, so my question is does it expect input files in the path /pub/data2/damsmanager/dams-staging/rdcp-staging/rdcp-0126-cil or does it just produce output files there.  I'd like to test on an empty directory first, but maybe I need to provide some input files there too?

Can you include a Gemfile, so that I can "bundle install" to ensure I get all of the needed gems.

Thank

[2019-02-21 14:15] rstanonik commented on #289
Once I have it running by hand, then I'll try to create a Dockerfile to create an image, but it can run just as a script in the interim.

[2019-02-21 16:17] lsitu commented on #289
@rstanonik Thank you very much. I think the Ruby version doesn't matter but it's 2.4.1 in my MAC that ran the tests. The script just run the `Ruby` command to download the source files for CIL Harvesting and here are the list of gems that are used:
require 'open-uri'
require 'json'
require 'byebug'
require 'csv'
require 'fileutils'

For directory `/pub/data2/damsmanager/dams-staging/rdcp-staging/r

[2019-02-21 16:23] rstanonik commented on #289
How did you test?

[2019-02-21 16:30] rstanonik commented on #289
I get this when I "bundle install"
Could not find gem 'open-uri' in any of the gem sources listed in your Gemfile.

[2019-02-21 16:47] rstanonik commented on #289
Apparently, open-uri is part of ruby, so isn't installed as a gem.
https://stackoverflow.com/questions/20544662/unable-to-bundle-install-open-uri/20544806#20544806

[2019-02-21 17:11] rstanonik commented on #289
When I run it, it creates the directory for today
cil_harvest_2019-02-21/
cil_harvest_2019-02-21/metadata_processed
cil_harvest_2019-02-21/content_files
cil_harvest_2019-02-21/metadata_source

But fails with
...
../CIL_Public_Data_JSON/Version8_6/DATA/CIL_PUBLIC_DATA/41066.json
../CIL_Public_Data_JSON/Version8_6/DATA/CIL_PUBLIC_DATA/2775.json
../CIL_Public_Data_JSON/Version8_6/DATA/CIL_PUBLIC_DATA

[2019-02-21 17:15] lsitu commented on #289
@rstanonik Yep, Ruby could include some of them. I just follow the steps in README ( https://github.com/ucsdlib/cil-sync). Here is the command I use to run it locally:
```./git_changes.sh /Users/lsitu/Documents/git/CIL_Public_Data_JSON /Users/lsitu/Documents/git/cil-sync/rdcp-0126-cil```
`/Users/lsitu/Documents/git/CIL_Public_Data_JSON`: full path to CIL_Public_Data_JSON repository cloned from `gi

[2019-02-21 17:36] lsitu commented on #289
For the `No such file or directory` error you got, could you check whether the path to local `CIL_Public_Data_JSON` repository is correct and accessible?

[2019-02-21 18:10] rstanonik commented on #289
The path seems correct and accessible.

Here's how I'm testing on my machine

[rstanonik@sandcrab cil]$ ls
CIL_Public_Data_JSON  cil-sync

[rstanonik@sandcrab cil]$ cd cil-sync/
[rstanonik@sandcrab cil-sync]$ ls
cil_csv.rb       cil_harvest_2019-02-21  Gemfile.lock    LICENSE  README.md
cil_download.rb  Gemfile                 git_changes.sh  log.txt

[rstanonik@sandcrab cil-sync]$ ./git_changes.s

[2019-02-21 18:11] rstanonik commented on #289
It creates
cil_harvest_2019-02-21

[2019-02-21 18:12] rstanonik commented on #289
Which consists of empty subdirectories

[rstanonik@sandcrab cil-sync]$ find cil_harvest_2019-02-21/ -print
cil_harvest_2019-02-21/
cil_harvest_2019-02-21/metadata_processed
cil_harvest_2019-02-21/content_files
cil_harvest_2019-02-21/metadata_source

[2019-02-21 18:22] rstanonik commented on #289
When I run it with fully qualified paths, rather than relative paths, it now seems to be generating files

For example

./git_changes.sh /home/rstanonik/cil/CIL_Public_Data_JSON /home/rstanonik/cil

[2019-02-21 20:09] rstanonik commented on #289
It's still running and has used 191GB so far.
How big do you expect the result to be?
How often should this run?  Nightly?
Will it download the same files each time or does it only download new files?
Each time run it seems to create a directory cil_harvest_YYYY-MM-DD, where YYYY-MM-DD is today's date.

[2019-02-21 21:36] lsitu commented on #289
@rstanonik I have no ideas regarding the the initial size of this big batch. Maybe @arwenhutt know more about it?

It's expected to run once a month. And I think run it any time after 3 o'clock in the morning will be fine since damsmanager will run nightly at 3 o'clock to pickup those new files added (https://github.com/ucsdlib/damsmanager/blob/master/src/edu/ucsd/library/xdre/utils/DAMSRoutineMan

[2019-02-21 21:40] hjsyoo commented on #289
@rstanonik I believe it's around 40TB. I'll double check with the db manager and let you know if this estimate is vastly off.

[2019-02-21 21:59] rstanonik commented on #289
I've been running a test download to my local drive, but I'm going to stop that and start a download to rdcp-staging.  After it has run a while, I'll have an estimate how long it will take.  Judging from the speed to my local disk, I'd guess 40TB will take about 20 days.  The download will not run on the DAMS machines, but on a machine with a faster connection to the isilon, although I suspect the

[2019-02-21 22:09] rstanonik commented on #289
Do you want this to download 24/7?  Or to start and stop?

[2019-02-21 22:10] hjsyoo commented on #289
@rstanonik Wow, okay. I believe this is a typical example location for the data: https://cildata.crbs.ucsd.edu/media/videos/10725/10725.jpg

[2019-02-21 22:11] rstanonik commented on #289
Oh, so from on-campus.

[2019-02-21 22:12] lsitu commented on #289
It's downloaded from `https://cildata.crbs.ucsd.edu/`. For example https://cildata.crbs.ucsd.edu/media/videos/10725/10725.jpg.

[2019-02-21 22:14] rstanonik commented on #289
My rough estimate is that data moves about 8TB/day over a 1Gigabit/second connection, at best.   If software is doing some processing of the data, that will slow it down.  Data over an https connection will be slower.  We'll see once it has run for a while.

[2019-02-21 22:20] rstanonik commented on #289
@lsitu If something interrupts the download (network problem, machine reboot, etc) and I restart the download, it will figure out where it was and resume from there, rather than start from the beginning, right?

[2019-02-21 22:25] lsitu commented on #289
Hmm, with such a long time downloading that could fail at any time, I believe we may need some work to restart the download process, which will skip those files that were downloaded already with checksum/size verification, and also make sure the files are downloaded to the same folder/container. But this this will slow it down a lot.

[2019-02-21 22:31] mcritchlow commented on #289
Just a thought, i'm not sure it's practical. But I'll put it out there.

Given that the data is coming from an on-campus source, would it be possible to transfer the data in a more direct manner this first time around? Future updates I imagine will be much smaller, and doing so over the web probably makes sense. But if we could somehow get an Isilon mount they could copy the files into (for exampl

[2019-02-21 22:36] hjsyoo commented on #289
It never hurts to ask. So I'll ask.

[2019-02-21 22:59] rstanonik commented on #289
Data is being written to the Isilon at about 1/2 Gigabit/sec, so 40TB should take about 10 days, if allowed to run 24/7.

[2019-02-21 23:10] rstanonik commented on #289
When I move data I try to use rsync, because it can restart a transfer.  But rsync requires a "direct" connection to the filesystem containing the data.  https isn't a direct connection.

[2019-02-21 23:12] hjsyoo commented on #289
If the data are also in an accessible filesystem, then you can operate the transfer yourself, @rstanonik ? That might be a more appealing solution all around.

[2019-02-21 23:29] rstanonik commented on #289
Yes, if we can NFS (or SMB) mount the data read-only, then I can rsync it.

[2019-02-21 23:33] lsitu commented on #289
@mcritchlow It will be nice if that can be worked out, which is much more efficient! Thanks.

[2019-02-22 15:58] rstanonik commented on #289
2.6T after 16 hours is about 4T/day, so 40T should take about 10 days.

[2019-02-22 16:01] rstanonik commented on #289
Since the application currently doesn't resume where it was, if it is restarted, how does the application only download new content in the future?  The goal is to run it periodically to get new content, right?

[2019-02-22 16:23] lsitu commented on #289
@rstanonik When start it again or resume, it'll check for new json files added in the CIL_Public_Data_JSON git repository. If  there are new json files added, the script will download those new json source files. If no new json source files added to the repository, it will exit immediately.

[2019-02-22 16:49] hjsyoo commented on #289
@rstanonik I usually hear back from Willy quickly, but I'm still waiting on his response about data transfer. When he does, I'll add you to the email thread.

[2019-02-22 18:04] rstanonik commented on #289
After this initial download, what are the steps to run periodically?

git clone or git pull CIL_Public_Data_JSON.git
git clone or git pull cil-sync.git
./git-changes.sh

I assume this will download into a new directory cil_harvest_YYYY-MM-DD

But how will it know which json are new and only download the new json?
Does it look back through previous directories cil_harvest_YYYY-MM-DD?

Thanks.

[2019-02-22 18:31] lsitu commented on #289
@rstanonik The script will check for the latest commit in the source data CIL_Public_Data_JSON.git repository and grab the new json files added. So you don't need to run `git clone or git pull CIL_Public_Data_JSON.git` again after this intitiation.

For the CronJob, I think we just need to run the following two commands like:
[code]

[2019-02-22 22:22] rstanonik commented on #289
[cil-sync-out.txt](https://github.com/ucsdlib/damsmanager/files/2896051/cil-sync-out.txt)

The sync stopped, no sign of a error in the log, which I'm attaching.  About 3.3T of data, a little over 10,000 json.  Any chance this is correct and the first download isn't 40T?

[2019-02-22 22:36] hjsyoo commented on #289
@rstanonik The 10000 json sounds right (if there's one per object), but 3.3T sounds very low. Their site indicates 20T of publicly available data, and although some of this would be copyrighted (and therefore not for us to download), I didn't think the majority was. Let me ask in the email thread a little more pointedly.

[2019-02-25 23:10] hjsyoo commented on #289
Documenting here that 3.3TB is very likely the full set of data we needed to pull, but it includes the data copyrighted by owners.

[2019-02-25 23:20] lsitu commented on #289
Reopen it for QA.

[2019-03-05 21:41] arwenhutt opened #308 "template for binder/epic tickets"
## Brief description
[brief description]

- [ ] Products proposal: [_link to proposal ticket?_]
- [ ] Initial scope discussion: [ link to ticket if there is one] _this seems to be something we often do which is helpful, but which makes the initial ticket very long and potentially confusing_

## Acceptance criteria _is this the right thing to call this?_
### [function] _I think this might be option

[2019-03-05 21:47] hjsyoo commented on #289
@rstanonik @lsitu We discovered at our dams-wg meeting today that the 3.22 TB in \rdcp-0126-cil\cil_harvest_2019-02-21\content_files must be an incomplete download. About 28K of the 31.6K files are only 1 KB, mostly .zip, .jpg, and .tif. The files that look correctly transferred are anywhere from 308GB to a few KB. Also, the files with complex names (e.g., 25726-Hoechst.zip) all seem to have trans

[2019-03-05 21:52] rstanonik commented on #289
Yes, ask Sean if the files are the correct size.
If Sean can compute checksums for all of the files or even just for the suspect files, then I can compute checksums to compare.
I'd prefer to run @lsitu's script again or a version of it, if we only need to download some files.

[2019-03-05 22:51] lsitu commented on #289
@rstanonik I found a bug in the script for the mapping URL to download image files. I'll fix it so that you can run it again.

[2019-03-05 22:54] rstanonik commented on #289
ok, thanks

[2019-03-05 23:32] arwenhutt opened #309 "Batch edit functionality (epic)"
## Brief description
Batch edit functionality for DOMM

- [x] Products proposal and initial scope discussion: https://github.com/ucsdlib/damsmanager/issues/263
_I think this was the ticket products discussed_

## Acceptance criteria:
### Batch metadata export
- [x] spec written, reviewed , and finalized:  https://github.com/ucsdlib/damsmanager/issues/263
- [x] code written:  https://github.com/ucs

[2019-03-05 23:39] arwenhutt opened #310 "Batch metadata overlay : specification"
### Descriptive summary
Specification for batch metadata overlay functionality

### Acceptance criteria
- [x] spec drafted (DOMM)
- [x] spec reviewed (ITD)
- [x] changes made and spec finalized (DOMM & ITD)

### Part of Batch edit functionality (epic) https://github.com/ucsdlib/damsmanager/issues/309

[2019-03-05 23:58] arwenhutt opened #311 "Decouple rights metadata from access controls (epic)"
## Brief description
Decouple rights metadata from access controls in the DAMS

Products proposal & initial scope discussion: https://github.com/ucsdlib/damsmanager/issues/264

## Acceptance criteria:
- [ ] spec written, reviewed , and finalized:  tbd

[2019-03-06 00:02] arwenhutt commented on #264
I'm going to close this ticket as I think it has served the purpose of initial discussion and getting the ball rolling on how we can approach this high level goal.

Next steps will be tracked in the Decouple rights metadata from access controls (epic) #311 ticket

[2019-03-06 00:02] #264 closed

[2019-03-06 00:07] arwenhutt commented on #263
Per discussion in DAMS-WG 3/5 we're going to try breaking up the work into smaller chunks and link them via an epic or binder ticket.  I'm going to close this ticket as I think it has served the purpose of initial discussion and getting the ball rolling on how we can approach this high level goal

Next steps will be tracked in the **Batch edit functionality (epic) #309** ticket

[2019-03-06 00:07] #263 closed

[2019-03-06 00:09] arwenhutt commented on #310
@mcritchlow passing this over to you for review

[2019-03-06 00:22] arwenhutt commented on #309
This ticket is for tracking and coordination across the individual tasks/tickets which are part of this larger functionality.  Discussion and work on the more specific deliverables is still in the relevant ticket, and linked above.

I'm adding everyone who is involved in some part of this work as assignee's to this ticket.  I'm not sure if that's a good approach going forward for these kinds of co

[2019-03-06 00:32] arwenhutt opened #312 "Decouple rights / access : specification"
### Descriptive summary
Specification for batch metadata overlay functionality

### Acceptance criteria
- [ ] spec drafted (DOMM)
- [ ] spec reviewed (ITD)
- [ ] changes made and spec finalized (DOMM & ITD)

### Part of **Decouple rights metadata from access controls (epic) #311**

[2019-03-06 00:39] arwenhutt commented on #311
This ticket is for tracking and coordination across the individual tasks/tickets which are part of this larger goal. Discussion and work on the more specific deliverables is still in the relevant ticket, and linked above (or will be when specific tasks are identified).

I'm adding everyone who is involved in some part of this work as assignee's to this ticket. I'm not sure if that's a good approac

[2019-03-06 17:45] mcritchlow commented on #310
@arwenhutt - At a first reading, here are some initial thoughts, so I'll preface this by saying @lsitu has far more experience with existing code in this context, so I happily defer to his expertise if I'm off base on anything here.

1. [Metadata Batch Export Spec](https://docs.google.com/document/d/1NAEVvYkU4oqfrZTaSrjbPwUyIGd9meFkkOyzR8ZlO9c/edit)

This all seems reasonable to me. I would perhap

[2019-03-06 19:31] lsitu commented on #289
@mcritchlow / @rstanonik I've added PR https://github.com/ucsdlib/cil-sync/pull/3 to fix the download URL for image/non-video contents. It's ready for review now. Thanks.

[2019-03-06 20:39] rstanonik commented on #289
Do I need to reply/approve the PR?

[2019-03-06 20:51] lsitu commented on #289
@rstanonik I think @mcritchlow will. But it'll be nice if you can have an eye on it as well.

[2019-03-06 21:06] lsitu commented on #289
Thanks @mcritchlow for keeping an eye on it and merging the PR.
@rstanonik I think you can update the repo and run the script again, which will correct the URL to download those non-video content files. I think those 1kb image small image files should be gone this time.

[2019-03-06 21:46] rstanonik commented on #289
I updated cil-sync and re-ran and got this output

10023 files
From https://github.com/slash-segmentation/CIL_Public_Data_JSON
 * branch            master     -> FETCH_HEAD
Already up-to-date.
No new commits have been added

[2019-03-06 21:47] rstanonik commented on #289
Should I also have updated CIL_Public_Data_JSON?

[2019-03-06 21:48] rstanonik commented on #289
@hjsyoo Please confirm the 1k files are gone.

[2019-03-06 22:00] hjsyoo commented on #289
@rstanonik I still see 1KB files in R:\rdcp-0126-cil\cil_harvest_2019-02-21\content_files. There's a new folder, R:\rdcp-0126-cil\cil_harvest_2019-03-06\content_files, but it looks empty.

[2019-03-06 22:03] lsitu commented on #289
@rstanonik We may need to re-initiate the process, otherwise it just looks for new json added to the repository. Please remove all those JSON files from directory/rdcp-staging/rdcp-0126-cil so that the source file download process can be reinitiated. Thanks.

[2019-03-07 16:02] rstanonik commented on #289
I removed the json and re-ran, which returned within seconds and produced this output
10023 files
From https://github.com/slash-segmentation/CIL_Public_Data_JSON
 * branch            master     -> FETCH_HEAD
Already up-to-date.
No new commits have been added

[2019-03-07 17:01] lsitu commented on #289
@rstanonik This will happen when there are .json files existing in a folder called `metadata_source`. Could you rename folder `metadata_source`  in directory `cil_harvest_2019-02-21/pre/`?

[2019-03-07 22:21] lsitu commented on #265
@arwenhutt / @GregReser Is there anything need to do for this ticket at this time? Thanks.

[2019-03-07 22:36] hjsyoo commented on #289
@rstanonik The checksum files are now in \rdcp-0126-cil\Admin\checksums_from_cil_sysadmin. Let me know if they're not what you need.

[2019-03-07 22:54] rstanonik commented on #289
After removing the metadata_source directory, the git_changes.sh is running and outputting a list of json.

[2019-03-07 23:02] rstanonik commented on #289
It looks like git_changes.sh is downloading everything again, but to a directory named cil_harvest_2019-03-07, even though most (all?) of the files are already in cil_harvest_2019-02-21

[2019-03-07 23:33] lsitu commented on #289
@rstanonik Yes, it's correct for first time initiation. And the next time when you restart the process, the script will only download those new json files.

[2019-03-08 00:03] rstanonik commented on #289
The download directory contains the date; for example cil_harvest_2019-03-07.

The next time it runs it will create a new directory; eg, cil_harvest_2019-03-09.

Will it find the old directory and only download files which aren't in the old directory?

[2019-03-08 00:11] lsitu commented on #289
No. All the source files are downloaded in that same parent directory with the timestamp date. And it should always download all the content files for any new json files added to the repository.

[2019-03-08 16:33] rstanonik commented on #289
[git_changes-out.txt](https://github.com/ucsdlib/damsmanager/files/2946641/git_changes-out.txt)

The run finished with an error.  I've attached the output.

Here is the space usage by the various runs.

du -sh --apparent-size cil_harvest_201*
100     cil_harvest_2018-12-14
3.3T    cil_harvest_2019-02-21
2.6T    cil_harvest_2019-03-07

[2019-03-08 17:18] lsitu commented on #289
@rstanonik It looks like something may be wrong with the last item https://github.com/slash-segmentation/CIL_Public_Data_JSON/blob/master/Version8_6/DATA/CIL_PUBLIC_DATA/32103.json. Do you see content files 32103.tif, 32103.jpg, and 32103.zip are downloaded for source json 32103.json ?

[2019-03-08 17:51] lsitu commented on #289
@hjsyoo / @arwenhutt I think the initial content files download wass interrupted by json https://github.com/slash-segmentation/CIL_Public_Data_JSON/blob/master/Version8_6/DATA/CIL_PUBLIC_DATA/46280.json, which is missing the `Data_type` section (/CIL_CCDB/Data_type).  The `Data_type` section that is required, which is used to determine the URL for downloading the contents. What should we do?

[2019-03-08 20:37] lsitu commented on #289
@mcritchlow / @rstanonik I've added PR https://github.com/ucsdlib/cil-sync/pull/4 above to skip files downloaded with the option to choose the harvesting date. Also, it will continue content files download on error.
The harvesting date option will ensure content files are writing to the existing folder with the date specify. For example, the following command will write to folder `cil_harvest_2019

[2019-03-08 21:18] hjsyoo commented on #289
@lsitu I haven't heard back yet about how to handle JSON with missing main data files, but will let you know.
Can you review this brief documentation of what your script does, and let me know if any of my understanding is incorrect or incomplete?

1. The metadata are harvested. CIL stores its metadata in JSON at https://github.com/slash-segmentation/CIL_Public_Data_JSON. New JSON files in the CIL

[2019-03-08 22:19] lsitu commented on #289
@hjsyoo Yes. The script does exactly as what you interpreted above.

[2019-03-08 23:29] lsitu commented on #289
Thanks @mcritchlow for your quick reviewing and merging the PR.

@rstanonik I think we can restart the download script to continue download the json and content files to folder `cil_harvest_2019-03-07` by appending parameter `2019-03-07` to the end of the command now:
./git_changes.sh $HOME/CIL_Public_Data_JSON /pub/data2/dams/dams-staging/rdcp-staging/rdcp-0126-cil 2019-03-07

[2019-03-08 23:44] rstanonik commented on #289
I did
cd cil-sync
git pull
./git_changes.sh /home/hjsyoo/CIL_Public_Data_JSON /mnt/isilon/rdcp-staging/rdcp-0126-cil 2019-03-07
It returned almost immediately.
The output was
6881 files
From https://github.com/slash-segmentation/CIL_Public_Data_JSON
 * branch            master     -> FETCH_HEAD
Already up-to-date.
No new commits have been added

[2019-03-09 00:28] lsitu commented on #289
@mcritchlow / @rstanonik Sorry my mistake. Here is the PR https://github.com/ucsdlib/cil-sync/pull/5 with the condition to fix it. Thanks.

[2019-03-09 00:36] lsitu commented on #289
@rstanonik It seems like @mcritchlow is not available now. Could you just merge PR https://github.com/ucsdlib/cil-sync/pull/5 so that you can restart the download? It's a very simple change. Thanks.

[2019-03-09 01:37] rstanonik commented on #289
Thanks Longshou.

I just now did "git pull" and ran
 ./git_changes.sh /home/hjsyoo/CIL_Public_Data_JSON /mnt/isilon/rdcp-staging/rdcp-0126-cil 2019-03-07

It returned almost immediately.  It output the following
6881 files
From https://github.com/slash-segmentation/CIL_Public_Data_JSON
 * branch            master     -> FETCH_HEAD
Already up-to-date.
No new commits have been added

[2019-03-09 01:40] lsitu commented on #289
@rstanonik The PR ucsdlib/cil-sync#5 haven't been merged yet and I just merged it. Try it now.

[2019-03-09 06:09] rstanonik commented on #289
Thanks Longshou.
I did git pull and re-ran the script.
I is still running.
The output so far is
6881 files
From https://github.com/slash-segmentation/CIL_Public_Data_JSON
 * branch            master     -> FETCH_HEAD
Already up-to-date.
git diff --name-only --diff-filter=A 603698cca33dbcbd54f771715a239fb66b03e74e..603698cca33dbcbd54f771715a239fb66b03e74e

[2019-03-09 14:01] rstanonik commented on #289
It finished and with no additional output messages, but the directory now has more files.
 du -sh --apparent-size cil_harvest_201*
3.3T    cil_harvest_2019-02-21
3.7T    cil_harvest_2019-03-07

I'll compare to the checksum list which Willy sent.

[2019-03-13 19:57] GregReser commented on #265
@lsitu @arwenhutt I think this could be linked to Decouple rights metadata from access controls (epic) #311 We will want to see if we are making changes to the rights/access properties and values before moving them into the spreadsheet.

[2019-03-14 20:29] mcritchlow commented on #299
re: disabling download. I think whoever works on this should (hopefully) be able to look at the current user, and see if the context is VRR (do they have a work authorization allowing them to see this record). See the updated DB schema https://github.com/ucsdlib/damspas/blob/feature/vrr/db/schema.rb#L75-L83

[2019-03-21 20:10] hjsyoo commented on #307
HDSI will need to start using the Person:Advisor role as early as end of spring quarter.

[2019-03-22 15:17] lsitu commented on #307
@GregReser Could we prefix double slash `\\` like`\\Component``\\Sub-component` instead of using single slash? With single slash, it will be interpreted as the escape character for control characters as what we've seen in the past.

[2019-03-22 16:50] GregReser commented on #307
@lsitu Maybe we could use something else, like this an asterisk
Object
* Component
  * Sub-component

Also allow no spaces or asterisk
Object
Component
Sub-component

[2019-03-22 16:58] hjsyoo commented on #307
@GregReser Would it at all be helpful to change the controlled values in the Excel template? For the RDCP side, I think it would be easy enough for us to switch to plain text without the leading slashes. Some folks are still using old templates I've sent out, but we could change them on our end and they'd eventually phase out.

[2019-03-22 17:01] GregReser commented on #307
@hjsyoo Yes, if you think having added punctuation is not really helpful.  The template still changes the cell color automatically when Component or Sub-component is selected.

[2019-03-22 17:07] GregReser commented on #307
@arwenhutt @remerjohnson @abbypenn93 any thoughts?  Maybe using " \Component" & " \Sub-component" isn't very helpful and we should just use:
Object
Component
Sub-component

[2019-03-22 22:59] GregReser commented on #307
@lsitu Let's not change the validation for Object, Component, and Sub-component at this time so we can add Person:Advisor and close this ticket.

Unless there is other feedback, I think we should change the Excel template to remove "/" from Component and Sub-component.  That change wont affect the ingest validation code.

[2019-03-22 22:59] hjsyoo commented on #307
The punctuation doesn't help me personally, maybe neither for researchers unfamiliar with our processes. If you want to update that column, please share your latest version of the template. The one I share out to researchers could very well be an older version (2018)!

[2019-03-22 23:53] lsitu commented on #307
@GregReser / @hjsyoo Thank you very much for your feedback. I've added Person:Advisor to the Excel Standard InputStream template.
@mcritchlow Basing on our discussions above, I've added Person:Advisor and the PR https://github.com/ucsdlib/damsmanager/pull/313 is ready for review now. Thanks.

[2019-03-25 19:49] arwenhutt commented on #310
@mcritchlow Thanks!
That's very helpful.  I've revised the [Batch Edit Spec draft](https://docs.google.com/document/d/17e921jvvjhFXJA_y1VaDyi9Qmsg_ZNYv4UFSyxACQDM/edit#heading=h.uf7y0azdw7j) integrating the approach you suggest if you and @lsitu could take a look.

[2019-03-25 20:36] arwenhutt commented on #310
@mcritchlow about the format for the export:  My main concern is that the import, export, and overlay tools utilize the same format, less about what the actual format is.  This seems most important for the export and overlay tool, since we'll be using the file produced by the export in the overlay, but there also seems to be a lot of overlap between the overlay functions, as well as validation, wi

[2019-03-25 20:51] lsitu commented on #310
@arwenhutt I think we'll refactor damsmanager's ingest function a little bit to see what we can be reused for the batch edit function.
Could you clarify what column headers need to handle in the batch metadata overlay tool as well? I recalled that @GregReser proposes to append `add:` and `delete:` to the headers in Batch Export output for add/delete actions.

[2019-03-26 16:29] arwenhutt commented on #307
@GregReser I think updating our template to remove the / from component and sub-component values makes sense.  Thanks!

[2019-03-26 16:39] arwenhutt commented on #310
@lsitu all of the columns from the batch export.  The current approach doesn't use `add:` or `delete:` - this approach uses a similar approach to the single item rdf edit tool, and just overlays the fields in the spreadsheet.

[2019-03-26 17:14] lsitu commented on #310
@arwenhutt Do you mean replace the fields that show up in the spreadsheet? For example, if field `Note:note` shows up in the spreadsheet, then all the `Note:note` elements in the object should be replaced with the `Note:note` values from the spreadsheet.

[2019-03-26 18:00] arwenhutt commented on #310
That's what we were thinking.  Theoretically it seems to hold up if the export contains all of the existing values.  But let me know if you see potential issues with this approach!

[2019-03-26 18:35] lsitu commented on #310
@arwenhutt This approach is similar to the `Same Predicates Replacement` tool in DAMS Manager, which is used to replace values for top level predicates. In this case, we simply remove those fields with the same name and then add in the new values for those fields
I think we can rebuild the RDF/XML for each object basing on the fields presented in the spreadsheet to make it work.

[2019-03-26 22:41] remerjohnson commented on #307
@GregReser I feel like you could retain the color coding (dark to light green I believe?) so it makes sense on our end or to users, which would not affect. Otherwise, yes, I agree we should stick to the plain values.

[2019-03-27 16:09] lsitu commented on #310
@arwenhutt It seem like we may need to clarify how to deal with with the export headers that could be part of a compound field like `Title`, which includes the following elements:
Title
Subtitle
Part name
Part number
Translation
Variant

Will all the elements above need to be presented if we only need to update just one element like `Subtitle`?

[2019-03-27 16:37] arwenhutt commented on #310
@lsitu since we won't know which fields will need editing for different tasks, we have to include all the possibilities.  These are outlined in the batch export spec: https://docs.google.com/document/d/1NAEVvYkU4oqfrZTaSrjbPwUyIGd9meFkkOyzR8ZlO9c/edit#heading=h.kau6zgn45wxy
And would include all of the `title` elements.

[2019-03-27 20:24] arwenhutt commented on #310
@lsitu let me know if the chunking and ordering of the overlay spec functionality looks good to you, or if there are chunks that would be better put together or split up more.  Once we have that settled, I'll review the rest of the doc (validation checking and reporting) and make any updates, and we can hopefully finalize the spec and I can make tickets for the parts of work.
Thanks!

[2019-03-27 21:55] lsitu commented on #310
@arwenhutt I think it's doable and we just need to rebuild the whole RDF/XML basing on the headers provided. Will you just provide the fields that need edit in the spreadsheet, or include all fields from batch export for Batch Edit?

[2019-03-28 00:09] lsitu commented on #307
Thank you all for your feedback. I've updated it to remove the slash from the template used by damsmanager.

[2019-03-28 20:32] #307 closed

[2019-04-03 20:01] lsitu commented on #310
@arwenhutt It looks like there are a couple of special cases that we may need to take into account if Batch Edit won't include all the fields exported from Batch Export:
- Change a single field to another field. For example, change field `Corporate:Owner` to `Person:Owner`.
- Delete a single field.

[2019-04-03 21:12] GregReser commented on #310
@lsitu I need help understanding why your two special cases are a problem.

If the whole RDF/XML is rebuilt based on the headers provided then the existing `Corporate:Owner` would just be deleted with everything else and a new `Person:Owner` would be created.

Same for deleting a single field.  If that single field is not included in the overlay spreadsheet, it won't be created in the new RDF/XML.

[2019-04-03 23:55] lsitu commented on #310
@GregReser How to determine a filed like `Corporate:Owner` need to be deleted or a few like `Person:Owner` is to add?

[2019-04-04 01:48] gamontoya opened #314 "Release 2.71"
### Descriptive summary

Version: 2.71
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

-----

### To Verify

- [x] #307 - Add Person:Advisor to Excel Standard input stream
- [ ] #301 - Support batch export metadata in RDF and CSV format
- [ ] #284 - RDCP download counts are inaccurately reported

[2019-04-04 01:48] gamontoya commented on #285
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/314)

[2019-04-04 15:22] GregReser commented on #310
@lsitu `Corporate:Owner` would be deleted automatically because all descriptive properties would be deleted at the beginning of the process.  `Person:Owner` would be added because it is in the edit spreadsheet and all properties in the spreadsheet would be added.

If it is possible, we were thinking that the edit process would work like this:
1. Delete all existing descriptive properties from the

[2019-04-04 16:31] lsitu commented on #310
@GregReser I think that will work. Thanks for you clarification.
Also, for adding files, could we clarify that we just add files to existing components? We may not be able to just any new components to hold the new files since we may want to reorder/restructure existing components and re-ingest existing files in the object to match their ark filenames in the filestore. But if we agree on just add

[2019-04-04 16:40] lsitu commented on #314
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/315 to disable the automatic process for CIL Ingest for now since the feature is still under review for CIL API implementation. I think we can move all other features to staging and prod once the PR is merged. Thanks.