[2019-04-04 17:56] lsitu commented on #314
@gamontoya / @hjsyoo / @GregReser DAMS Manager release 2.71 are ready on staging for test / review now. Thanks.

[2019-04-04 18:18] gamontoya commented on #314
@GregReser Testing for:

- Add Person:Advisor to Excel Standard input stream
- Support batch export metadata in RDF and CSV format

@hjsyoo Testing for:
- RDCP download counts are inaccurately reported

[2019-04-04 18:31] GregReser commented on #310
@lsitu Yes, I was afraid inserting new components would cause a complication.  We can leave that function for the future and just handle editing existing components for now.
How about if we limit the scope of this to deliverables 1 - 4 on [Metadata batch edit / overlay](https://docs.google.com/document/d/17e921jvvjhFXJA_y1VaDyi9Qmsg_ZNYv4UFSyxACQDM/edit#heading=h.5mmeyb2nybz9)

[2019-04-04 19:21] lsitu commented on #310
@GregReser  It sounds good to start with 1 - 4 ([Metadata batch edit / overlay](https://docs.google.com/document/d/17e921jvvjhFXJA_y1VaDyi9Qmsg_ZNYv4UFSyxACQDM/edit#heading=h.5mmeyb2nybz9)). Thanks.

[2019-04-04 20:28] GregReser commented on #314
@lsitu @gamontoya Confirming that Add Person:Advisor to Excel Standard input stream is working

[2019-04-05 21:18] arwenhutt opened #316 "Cell Image Library (CIL) Input Stream (epic)"
## Brief description
[brief description]

- [ ] Products proposal: [_link to proposal ticket?_]
- [ ] Initial scope discussion: [ link to ticket if there is one] _this seems to be something we often do which is helpful, but which makes the initial ticket very long and potentially confusing_

## Acceptance criteria _is this the right thing to call this?_
### [function] _I think this might be option

[2019-04-05 21:37] arwenhutt commented on #316
@hjsyoo I created a binder ticket for CIL work - I am not sure if the changes to the harvesting process (to use the API instead of their github repo) are included in the comments in #289 or if it would be helpful to have a new ticket for that or not.  Or if there is other work that needs a new ticket or to be linked to this one.  Please edit freely, and we can touch base next week.

[2019-04-05 21:40] arwenhutt commented on #316
This ticket is for tracking and coordination across the individual tasks/tickets which are part of this work. I'm adding everyone who is involved in some part of this work as assignee's to this ticket.

[2019-04-05 21:43] arwenhutt opened #317 "CIL metadata transformation QA"
### Descriptive summary
Review transformation output from CIL harvest process and update mapping/script.

[Processing & mapping instructions](https://docs.google.com/spreadsheets/d/1NnYw3bgNraJ9hZCH1SOKijh_JvJh3So1LpDC24vu7h8/edit#gid=1321122337)

part of #316

[2019-04-05 21:49] arwenhutt commented on #317
@lsitu I think we can go ahead with reviewing the metadata transformation before the updated process for harvesting files is figured out.
It looks like the json files were downloaded to staging, can we get the metadata ingest files from [step 4](https://docs.google.com/document/d/1Eg2024XATxuwdzFtoLTNujalK2SDR_s6-Sg6zyUC9wE/edit#)?
Thanks!

[2019-04-05 22:30] lsitu commented on #317
@arwenhutt Yes. I think we can start to verify it once [Release 2.71](https://github.com/ucsdlib/damsmanager/issues/314) is done.

[2019-04-05 23:36] arwenhutt commented on #317
@lsitu great, thanks!

[2019-04-05 23:46] arwenhutt commented on #310
@lsitu & @GregReser Thanks for keeping this discussion going!  It sounds like we have agreement on the first four items, so I'll go ahead and create tickets for them.

[2019-04-08 18:09] GregReser commented on #314
@lsitu I have feedback on Support batch export metadata in RDF and CSV format.  Should I post that here?

[2019-04-08 18:17] lsitu commented on #314
@GregReser If it's something need to adjust, posting here is fine. But feel free to create a new ticket for new features or reopen the original ticket https://github.com/ucsdlib/damsmanager/issues/301 for bugs. Thanks.

[2019-04-08 18:31] GregReser commented on #314
@lsitu I think it's a bug, so I'll reopen #301

[2019-04-08 18:38] GregReser commented on #301
@lsitu a couple of bugs (I think)
1. The output is creating columns for properties that don't exist in the objects
Subtitle	Translation	Variant
2. The column "license:permission/type" is sometime repeated multiple times
 a. When exporting two collections at once (bb67932564, bb30391860) the column "license:permission/type" was repeated 54 times, all with the same value "display".  See attached fil

[2019-04-08 19:02] lsitu commented on #301
@GregReser We have the following required fields for MODS/MARC Import tool, which is sharing the same code template:
`Object Unique ID`
`Level`
`File name`
`File use`
`Type of Resource`
`Language`
`Title`
`Subtitle`
`Translation`
`Variant`

So the fields will show up no matter what. I would suggest use the same rule for both tools if possible. Would you like to remove field `Subtitle`, `Translatio

[2019-04-08 20:31] GregReser commented on #301
@lsitu I don't recall ever having an error because I didn't include Subtitle, Translation, Variant.
I just did a test ingest using this spreadsheet and didn't get an error without those fields, so I don;t think they are required and they shouldn't be
[xls_standard_input_test.xlsx](https://github.com/ucsdlib/damsmanager/files/3056159/xls_standard_input_test.xlsx)

[2019-04-08 21:07] lsitu commented on #301
@GregReser I think that's something we talked about in the past while adding support for MODS/MARC Import tool, in which we need those fields exported in Excel. Yes, it won't trigger any errors. But I need you to confirm whether we should remove `Subtitle`, `Translation`, and `Variant` fields from the MODS/MARC Import tool or not. Thanks.

[2019-04-08 21:11] GregReser commented on #301
@lsitu Yes, you can remove `Subtitle`, `Translation`,` Variant` as required fields from the MODS/MARC Import tool.

[2019-04-09 16:55] lsitu commented on #301
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/318 to address the issues that @GregReser raised. I'll deploy it to staging again for test once the PR is merged. Thanks.

[2019-04-09 18:08] #301 closed

[2019-04-09 19:56] lsitu commented on #314
@GregReser I've deployed damsmanager with a hotfix for the issues you found to staging. Could you test it on staging again? Thanks.

[2019-04-09 22:25] GregReser commented on #314
@lsitu The issues are fixed and everything is working.  This is ready to deploy to production.
This is a huge benefit to us! Thank you very much for your work on it.

[2019-04-09 22:28] lsitu commented on #314
Thanks @GregReser.
@gamontoya Are we ready to move damsmanager release 2.71 to prod?

[2019-04-09 22:33] hjsyoo commented on #314
@gamontoya @lsitu I won't be able to properly test the RDCP download count fix without holding this release up. If it's fine for you, I'm all for going ahead with the release. I can test later and create a new ticket if there are any issues with this release. Sound ok?

[2019-04-09 22:59] lsitu commented on #314
@hjsyoo I think that works since it's not easy to test dams statistics on staging. @gamontoya What do you think?

[2019-04-09 23:31] gamontoya commented on #314
@lsitu Sounds good.

[2019-04-10 00:00] lsitu commented on #314
@rstanonik / @jhriv  The codes for damsmanager release 2.71 is already in the master branch and it's ready to be deployed to prod now. Thanks you.

[2019-04-10 04:21] rstanonik commented on #314
deployed to prod

[2019-04-10 15:16] GregReser commented on #314
Confirmed that Add Person:Advisor to Excel Standard input stream is working properly

[2019-04-10 21:56] GregReser commented on #314
Confirmed that batch export metadata in RDF and CSV format is working properly.

[2019-04-11 20:31] hjsyoo opened #319 "Remove 6 components from CCR2 object"
### Descriptive summary

The following components (metadata and files) should be removed from https://library.ucsd.edu/dc/object/bb3963059d.

1. Jupyter notebook for identifying and extracting the apo clusters (component 10)
2. Jupyter notebook for identifying and extracting the holo clusters (component 11)
3. Jupyter notebook for SASA calculations, distances analyses, and chi angle calculations (

[2019-04-11 21:58] gamontoya commented on #319
@lsitu Do you have the bandwidth to do this?

[2019-04-11 22:39] lsitu commented on #319
@gamontoya Sure. I'll work on it.

[2019-04-11 23:23] lsitu commented on #319
@gamontoya / @hjsyoo I think we may have to restructure the component orders and re-ingest the files with component index larger that 12. Where can I find the source files for the object? Thanks.

[2019-04-11 23:33] hjsyoo commented on #319
@lsitu They're here:
Metadata file location: //rdcp-staging/rdcp-0141-ccr2-landscape/Final_Metadata/
Content files location: //rdcp-staging/rdcp-0141-ccr2-landscape/Final_Files/
Final_Files still contains the component files that should be removed from prod.

[2019-04-11 23:55] lsitu commented on #319
@hjsyoo It looks like there are some files in //rdcp-staging/rdcp-0141-ccr2-landscape/file_replace, which were ingested for the object. Should I use those files as well?

[2019-04-12 00:06] lsitu commented on #319
Also, I can't find file `ccr2_apo_123_aligned_nopopc.dcd` and `ccr2_holo_234_aligned_nopopc.dcd` in both locations.

[2019-04-12 00:10] lsitu commented on #319
Never mind, I found both file ccr2_apo_123_aligned_nopopc.dcd and ccr2_holo_234_aligned_nopopc.dcd in sub-directory.

[2019-04-12 00:17] hjsyoo commented on #319
@lsitu I’ve already moved the two files needed from file_replace into Final_Files, so please don’t use that folder. The remaining files in file replace are old versions.

[2019-04-12 00:24] lsitu commented on #319
It looks like files `placeholder_text_conda_environment.yml` and `placeholder_text_pip_environment.txt` that we need are still in the `file_replace` folder.

[2019-04-12 00:31] hjsyoo commented on #319
No, those were placeholders that we put in temporarily, until the researcher confirmed that the originals were correct. So the files we should use are the ones indicated in the OLR. The OLR is correct with respect to filenames, except for the 6 components that should be removed.

[2019-04-12 00:45] lsitu commented on #319
@hjsyoo Okay, I'll use those two files in [ucsdlib/dams-metadata#120](https://github.com/ucsdlib/dams-metadata/issues/120). Yes, you don't need ticketucsdlib/dams-metadata#120 since I have to re-ingest those two files.

[2019-04-12 20:48] lsitu commented on #319
@gamontoya / @hjsyoo I've deleted all components and files above and restructure those components with index larger than 12. Those files attached to the components restructured are also re-ingested.
I think the restructured object https://library.ucsd.edu/dc/object/bb3963059d is ready for review now.

[2019-04-12 21:14] hjsyoo commented on #319
@lsitu Thank you! Looks great.

[2019-04-12 21:14] #319 closed

[2019-04-15 16:39] lsitu commented on #317
@rstanonik It looks like damsmanager don't have write access to directory `/pub/data2/damsmanager/dams_staging/rdcp-staging/rdcp-0126-cil/` for CIL metadata transform on staging yet. I saw it failed with error `Read-only file system` when damsmanager tried to create the output file `cil_excel_headings.csv`. Could you check whether the `tomcat` user for damsmanager on staging can write to directory

[2019-04-19 15:57] lsitu commented on #317
@rstanonik Have you got a chance to look into the write access permission on staging for damsmanager? The tomcat user need write access to dams_staging `/pub/data2/damsmanager/dams_staging/rdcp-staging/rdcp-0126-cil/` for CIL ingest. Thanks.

[2019-04-19 16:09] abbypenn93 commented on #317
Sorry, I haven’t. I’m not sure I have permission to make those sorts of changes (I’m new), but I’ll check with Arwen today. Thanks for following up.

From: lsitu <notifications@github.com>
Reply-To: ucsdlib/damsmanager <reply@reply.github.com>
Date: Friday, April 19, 2019 at 8:57 AM
To: ucsdlib/damsmanager <damsmanager@noreply.github.com>
Cc: Abby Pennington <apennington@UCSD.EDU>, Assign <assign@

[2019-04-19 19:06] rstanonik commented on #317
I'm giving tomcat user rw access now, but it will take a while, there are over 1 million files.  In which environments?  prod, staging, qa?

[2019-04-19 19:09] lsitu commented on #317
@rstanonik Thanks. Yes, while moving forward, I think we need that to be setup for prod and QA as well.

[2019-04-19 19:24] rstanonik commented on #317
@lsitu Try now, tomcat user should have rw access in prod, staging, and qa.

[2019-04-19 19:33] lsitu commented on #317
Thanks @rstanonik. I'll run a test for it.

[2019-04-22 15:07] lsitu commented on #317
@arwenhutt The CIL metadata transformation process is finished over the weekend. And I think the transformed CSV output is ready for you to review now. Thanks.

Here is the location of the output:
/rdcp-staging/rdcp-0126-cil/cil_harvest_2019-03-07/metadata_processed/cil_excel_headings.csv

[2019-04-22 21:11] arwenhutt commented on #317
@lsitu great!
@abbypenn93 I don't think I'll be able to look at this till Thursday, you don't need to wait for me if you have time before then, but we can schedule some time Thursday to look at it together.  Sound good?

[2019-04-22 23:29] abbypenn93 commented on #317
Sounds good.

From: arwenhutt <notifications@github.com>
Reply-To: ucsdlib/damsmanager <reply@reply.github.com>
Date: Monday, April 22, 2019 at 2:11 PM
To: ucsdlib/damsmanager <damsmanager@noreply.github.com>
Cc: Abby Pennington <apennington@UCSD.EDU>, Mention <mention@noreply.github.com>
Subject: Re: [ucsdlib/damsmanager] CIL metadata transformation QA (#317)

@lsitu<https://github.com/lsitu> gre

[2019-04-25 19:38] hweng opened #320 "VRR PDF watermarking: Use python script"
### Descriptive summary

Assess/review the python script, and determine whether it needs to be a python script or if it can be rewritten in java (in dams-manager directly).
If ultimately it does need to be in python, then it needs to be put in version control somewhere, either vendored into dams-manager or otherwise, documented, and setup in our deployment process.

### Related work

- ucsdlib/dam

[2019-04-25 20:14] hweng commented on #299
@gamontoya  Some updates for watermarking:

We tried using ImageMagick to add watermark to vrr image and pdfs. I found that there is ImageMagick commands to do the task to watermark IMAGE. However Dan LaSusa and I found ImageMagick is to be better at handling/converting IMAGES, but not really made to deal with .pdfs in a meaning/smart way. It need to be handled in programming language in python, J

[2019-04-25 21:20] GregReser opened #321 "Batch metadata overlay: deliverable 1"
### Descriptive summary
Existing objects can be edited using a spreadsheet in a batch process form DAMS Manager

### Rationale
We should be able to edit a spreadsheet generated by the batch export tool, then use it to overlay existing object metadata.

- The spreadsheet should support all columns generated by batch export #301
- Properties and values in the object are replaced with those in the sp

[2019-04-25 21:31] GregReser opened #322 "Batch metadata overlay: deliverable 2"
### Descriptive summary
Batch edit should support be flexible on the format of linked headings in a cell.

### Rationale
For linked headings, we should be able to use a label, ARK or both.
- When value is an ARK: use the ARK
- When value is a label and an ARK, formatted as “Label @ ARK”: use the ARK
- When value is a label: try matching label to existing ARK, if matched use that ARK, else if no ma

[2019-04-25 21:39] GregReser opened #323 "Batch metadata overlay: deliverable 3"
### Descriptive summary
Component metadata can be edited

### Rationale
We should be able to edit exiting component metadata.

[Batch edit specification](https://docs.google.com/document/d/17e921jvvjhFXJA_y1VaDyi9Qmsg_ZNYv4UFSyxACQDM/edit#)

### Related work
#321
#322
#324

### Part of Batch edit functionality (epic) #309

[2019-04-25 21:41] GregReser opened #324 "Batch metadata overlay: deliverable 4"
### Descriptive summary
File use for existing files can be edited

### Rationale
We should be able to edit the file use value for existing files

File use for existing files can be edited (i.e., replace “data-source” with “data-service”) and visibility/access should be updated when the object is re-indexed

[Batch edit specification](https://docs.google.com/document/d/17e921jvvjhFXJA_y1VaDyi9Qmsg_

[2019-04-30 19:28] #314 closed

[2019-04-30 19:32] gamontoya commented on #299
@hweng Thank you for the thorough explanation. I'll close this ticket out then.

[2019-04-30 19:32] #299 closed

[2019-05-01 21:57] xiw391 opened #325 "RDCP download counts and view counts are inaccurately reported"
Descriptive summary and Steps to Reproduce Behavior
DAMS manager (DM) reports download and view counts inaccurately (counts are doubled) and consistently for RDCP components while reporting unique download and view counts accurately. Six tests were run on separate days. All testers shared this behavior:

Tested on Chrome
Clear cache and sign out of DAMS (non-curator mode)
Search for a designated o

[2019-05-01 23:21] gamontoya commented on #325
@lsitu While you did a great job the last time around, it looks like we are still not correctly capturing unique views/downloads.

[2019-05-01 23:44] lsitu commented on #325
@hjsyoo / @xiw391 I am not able to access the test documentation https://docs.google.com/spreadsheets/d/1vbGlLbAXtCNGCS859SkWuT6CROa9nr6K22PrgsnLY8I/edit#gid=1826356290. Could you give me access? Thanks.

[2019-05-02 18:03] hjsyoo commented on #325
@lsitu For clarification, the unique downloads and views counts were correct. But the total downloads and views counts were twice as large as they should have been. During testing, separate users/computers accessed each object only once per day, so total counts should have been the same as unique counts.

[2019-05-02 18:10] lsitu commented on #325
@hjsyoo Thank you so much for the clarification. I will look in to the total count issue. Thanks.

[2019-05-02 20:35] lsitu commented on #325
@rstanonik While looking into those records that were tested in https://docs.google.com/spreadsheets/d/1vbGlLbAXtCNGCS859SkWuT6CROa9nr6K22PrgsnLY8I/edit#gid=1826356290, I found all trequests were logged twice in the weblog. I tested downloading files in object bb8260985q several times  and see all those download requests were logged twice in the weblog. Is it possible to eliminate the duplicate li

[2019-05-02 21:36] rstanonik commented on #325
John found and fixed it, so shouldn't have duplicate entries in the future.  Fixing past logs might be possible, but might confused splunk.

[2019-05-02 22:00] lsitu commented on #325
@gamontoya / @hjsyoo Should we leave it as it for now?

[2019-05-02 22:51] hjsyoo commented on #325
@lsitu Sure, if the doubling issue has been resolved, then we'll do some more testing and let you know if we find anything else. Thank you!

[2019-05-02 22:51] #325 closed

[2019-05-03 00:31] gamontoya commented on #325
@lsitu Thank you!

[2019-05-03 23:31] abbypenn93 commented on #317
When reviewing the transformed metadata, we found the following issues. Please let me know if you have any questions.

1. Records missing from output file:
- 10,023 json files were downloaded, 400 are under copyright, so there should be 9623 objects represented in the processed metadata file (cil_excel_headings.csv).
- cil_excel_headings.csv has 7979 objects, so 1,644 items are missing.

2. Copyri

[2019-05-06 16:52] lsitu commented on #317
Thanks @abbypenn93 .
For your review comments, I added my questions below starting with >:
When reviewing the transformed metadata, we found the following issues. Please let me know if you have any questions.

1. Records missing from output file:
- 10,023 json files were downloaded, 400 are under copyright, so there should be 9623 objects represented in the processed metadata file (cil_excel_headi

[2019-05-07 21:59] abbypenn93 commented on #317
Responses to 5/6/19 post (organized by original item number):

**Item 1. Records missing**

Examples of missing json files include: 2, 111, 120, 122-126, 130

**Item 2. Copyright**

From document:
https://docs.google.com/document/d/1Eg2024XATxuwdzFtoLTNujalK2SDR_s6-Sg6zyUC9wE/edit

Content for harvesting identified.  Conditions:
Not already harvested
See OLR file, but essentially loop through dire

[2019-05-07 22:14] abbypenn93 commented on #317
Additional item: The dates in the Date:creation and Begin date (and ultimately End date) fields need to follow YYYY-MM-DD format but currently do not. For instance, for Date:creation, object 37225 shows 10/27/54 in the output file.

[2019-05-07 22:41] lsitu commented on #317
@abbypenn93 Thank you so much. I'll go over all these and correct it.
Just want to clarify that in the `Additional item` above, the `Begin date (and ultimately End date) fields` in object 37225 are following the YYYY-MM-DD format already. If you open it with a text editor, you will see date value `1954-10-27`.  For the `Date:creation` value, I think we can make it the same if all three values are

[2019-05-14 17:33] arwenhutt opened #326 "Set up Questioning Authority for use by DOMM for reconciliation"
### Descriptive summary
We would like to be able to use Questioning Authority with Open Refine
for batch reconciliation.

It could help to simplify, standardize, and speed up reconciliation for digital collections headings.

### Related work
Questioning Authority https://github.com/samvera/questioning_authority
An openrefine reconcilition endpoint for use with Samvera's Questioning Authority. http

[2019-05-20 18:57] hjsyoo opened #327 "CIL Harvesting - Retrieve initial batch of master source files from CIL's Public REST API"
### Descriptive summary

Please try our API again. See https://github.com/CRBS/CIL_RS/wiki/CIL_Public_API

Example:
curl -XGET -u ucsd_lib:yrDMRoZzOfmlHQU "https://cilia.crbs.ucsd.edu/rest/public_ids?from=0&size=1&lastModified=1285905600"

### Rationale

The CIL (http://www.cellimagelibrary.org) has made data available through their public API. We want to harvest all of their current metadata and

[2019-05-24 23:42] lsitu commented on #317
@mcritchlow Basing on the QA comments from @abbypenn93 and our discussions, I've created PR https://github.com/ucsdlib/damsmanager/pull/328 to fix the CIL mapping issues. It's ready for review now. Thanks.

[2019-05-28 18:08] lsitu commented on #327
@hjsyoo It look like that the CIL's Public REST API requires authentication. Do you have the account that we can use to pull the JSON data? Thanks.

[2019-05-29 16:56] lsitu commented on #327
@hjsyoo Is the CIL API (https://cilia.crbs.ucsd.edu/rest) ready for us? It looks like it always return 9681 total hits regardless what lastModified timestamp it is. For example:
1. Test with timestamp lastModified=1559147762017 (Wed May 29 09:36:02 PDT 2019) get total hits 9681:
[code]
Results:
[code]

2. Test with timestamp lastModified=959618162016 (Mon May 29 09:36:02 PDT 2000) get the same tot

[2019-05-29 20:59] lsitu commented on #327
@hjsyoo I found the problems now and please ignore my question above. I think I was using milliseconds in my tests above while the CIL API is expecting seconds instead.
Is 9681  the total CIL objects that we have so far or something like 10,023 JSONs as in https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-489270362?

[2019-05-29 22:04] abbypenn93 commented on #327
10,023 json files were in what I believe is the most recent download, dated 2-21-2009.

[2019-05-29 22:14] hjsyoo commented on #327
@abbypenn93 Sorry - I'm in a workshop this week, but where are these files located?

[2019-05-29 22:56] abbypenn93 commented on #327
The 10,023 json files are located in rdcp-0126-cil/cil_harvest_2019-03-07/metadata_source (sorry, i cited the wrong date above)

[2019-05-30 15:34] lsitu commented on #327
@hjsyoo It looks like the format of JSON source retrieved from CIL API is a little different from the version in the Github repository https://github.com/slash-segmentation/CIL_Public_Data_JSON, which is wrapping the source data under the `_source` key.
Here is the JSON retrieved from CIL API for object 50512:
`$ curl -XGET -u ucsd_lib:yrDMRoZzOfmlHQU "https://cilia.crbs.ucsd.edu/rest/public_docum

[2019-05-30 17:15] arwenhutt commented on #317
@mcritchlow if the PR automatically closes this ticket, can you reopen it for the next round of output QA?

[2019-05-30 22:28] arwenhutt commented on #312
[Draft specification for decoupling rights metadata from access controls
](https://docs.google.com/document/d/1dzHj08Pq8Edu3qe4FpBf_o9ThvXIGM1w0XV5oX3lIjY/edit?usp=sh)
[dams:accessControl Controlled Values specification](https://docs.google.com/spreadsheets/d/1qe0ruWJRhMX_jxPKCNZBqqS9ghhG)

[2019-06-03 21:55] GregReser opened #329 "Replace invalid personalName ARKs in History of the UC San Diego Visual Arts Department"
### Descriptive summary

This is a high priority because the collection is public.

In the History of the UC San Diego Visual Arts Department, some personalName properties for "Lonidier, Fred 1942-" were created with an invalid ARK which results in the name and role not displaying:
<dams:personalName rdf:resource="http://library.ucsd.edu/ark:/20775/75f9542697244934y"/>

### Task
FOR every object i

[2019-06-04 15:38] lsitu commented on #327
@hjsyoo / @arwenhutt Do you have any suggestions for the issues in my comment https://github.com/ucsdlib/damsmanager/issues/327#issuecomment-497373874 above? Thank you.

[2019-06-04 16:59] arwenhutt commented on #327
@lsitu For your first question about the metadata_source files, I think the second option makes more sense

[2019-06-04 17:16] arwenhutt commented on #327
@lsitu for your second question - are you saying that the method (previously implemented in [#297](https://github.com/ucsdlib/damsmanager/issues/297)) no longer works?

[2019-06-04 18:29] lsitu commented on #327
@arwenhutt This a new implementation in DAMS Manager for the CIL public API download. I think  the problem is that some content files are missing from the portal `https://cildata.crbs.ucsd.edu/` that is used to download content files in https://github.com/ucsdlib/damsmanager/issues/297. For example, https://cildata.crbs.ucsd.edu/media/videos/50512/50512.flv. But I am not sure whether there are any

[2019-06-04 18:59] lsitu commented on #320
@gamontoya Basing on the discussions on the `#vrr` channel this morning https://ucsdlibrary.slack.com/messages/GA10S5DPW/. I think we may need decisions regarding how the watermark derivatives for PDFs and Images should be created, and `spec` regarding how this process is related to damsmanager and the ingest workflow.

What should be done for this ticket? Thanks.

[2019-06-04 20:22] gamontoya commented on #320
@lsitu Let's leave it open and I'll put this on the DAMS Working Group's agenda for discussion this Thursday.

[2019-06-04 21:48] arwenhutt commented on #327
@lsitu sorry, I'm not aware of any changes, but I'm also not completely clear on the question.  I had thought that the file transfer piece from the previous implementation was still viable but I could be wrong about that.

Maybe @hjsyoo knows more?

[2019-06-04 22:42] lsitu commented on #327
@arwenhutt / @hjsyoo Thanks. Then I am assuming that the original portal `https://cildata.crbs.ucsd.edu/` for content files download (see https://github.com/slash-segmentation/CIL_Public_Data_JSON) is still valid and I'll simply apply it for the new JSON source download implementation from the CIL public API.

[2019-06-04 22:51] hjsyoo commented on #327
@lsitu I’m not aware of any changes either! I’m away from the office at the moment, but will ask Willy about the missing data as soon as I get back and will cc you on the thread.

[2019-06-05 20:21] gamontoya commented on #329
@hweng Do you have time to work on this high priority ticket?

[2019-06-05 20:51] hweng commented on #329
@gamontoya Yes, I can take it.

[2019-06-06 16:12] lsitu commented on #327
@mcritchlow / @hjsyoo Basing on the feedbacks from Willy, I've created the following two PRs to support CIL REST API download:
https://github.com/ucsdlib/damsmanager/pull/330
https://github.com/ucsdlib/private_config/pull/14

Both PRs are ready for review now. Thanks.

[2019-06-06 18:37] hjsyoo commented on #327
Thanks, @lsitu. Please let me know when the call seems to work and you're ready for @arwenhutt and me to review the harvested content and JSON source files.

[2019-06-06 20:12] lsitu commented on #327
@hjsyoo Sure thing. I think we can start another round of QA once the PR get merged. But we can't start the process to download the JSON until Willy have the metadata updated for videos:
[code]

Could you let me know once we can start to download JSON source from the REST API? Thanks.

[2019-06-06 23:25] arwenhutt commented on #312
@gamontoya we have a fairly well vetted and robust spec for the rights / access decoupling!

Can we add this ticket to the prioritization discussion at DAMS-WG Tuesday?  I'd love it if we could get this ticket (for the spec review and revisions) done before the end of June, so that @GregReser can be part of those discussions.

Also any feedback you have regarding the spec would be much appreciated

[2019-06-07 00:17] gamontoya commented on #312
@arwenhutt You got it!

[2019-06-07 00:31] gamontoya commented on #312
@arwenhutt The specs look great. I'm just wondering how long Deliverable 2 will take and if we will need to do major testing scenarios again in a QA environment since a lot of object records will be touched?

[2019-06-07 16:19] #327 closed

[2019-06-10 16:42] arwenhutt commented on #312
@gamontoya I don't really know - it'll depend on how long the batch updates take, how many records are left after the batch update, how diverse they are, and whether the batch overlay tool is available at that point for DOMM to do some of the updating (which reminds me, we'll probably also need a ticket to update the batch export and overlay tools with the new properties added in deliverable 1!).

[2019-06-10 17:03] lsitu commented on #312
@gamontoya / @arwenhutt I am working on the tickets for batch update now. I think the following four tickets related to batch update (overlay) could be done in two weeks:
[Batch metadata overlay: deliverable 1](https://github.com/ucsdlib/damsmanager/issues/321)
[Batch metadata overlay: deliverable 2](https://github.com/ucsdlib/damsmanager/issues/322)
[Batch metadata overlay: deliverable 3](https:/

[2019-06-10 19:00] hweng commented on #329
@GregReser @gamontoya The objects in History of the UC San Diego Visual Arts Department have been updated to fix dams:personalName.  And the solr index finished updating too.

I've seen the Display result: "Lonidier, Fred 1942-"
For example: https://library.ucsd.edu/dc/object/bb15403545,
could you take a look if it looks good to you too?

[2019-06-10 21:05] GregReser commented on #329
@hweng looks good.  Thank you

[2019-06-10 21:05] #329 closed

[2019-06-11 15:47] mcritchlow commented on #326
Unfortunately, this gem is not compatible with our damspas application. It requires [version 5 of the Rails framework](https://github.com/samvera/questioning_authority#compatibility), and damspas is stuck on Rails 4.

[2019-06-11 17:11] lsitu commented on #322
@GregReser For linked headings with ARK in `When value is an ARK: use the ARK`, it cannot be 100% to determine the ARK itself like `bbxxxxxxxx`, `dbxxxxxxxx`, unless we use the ARK URL like http://library.ucsd.edu/ark:/20775/bbxxxxxxxx. What rules would you like to determine an ARK is used for linked headings? Will follow the same pattern `Label @ ARK` to use `@ ARK` works or not? Thanks.

[2019-06-11 17:42] GregReser commented on #322
@lsitu I see what you mean - it might be risky to determine that `bb6929767w` is an ARK without any other context.
I think using the pattern `@ ARK` will work.  For example, the entire cell content would be `@ bb6929767w`
Can we make it flexible to allow for both a space or no space before @?
" @ bb6929767w"
"@ bb6929767w"

[2019-06-11 17:53] lsitu commented on #322
@GregReser Sure. We'll ignore spaces around `@`. Thanks.

[2019-06-12 18:26] arwenhutt commented on #326
@mcritchlow I updated the title of this issue to switch it to an R&D ticket like we talked about in the DAMS-WG meeting yesterday :)

[2019-06-12 20:40] mcritchlow commented on #326
@arwenhutt - sounds good. I added some notes to the description reflecting what I think we talked about too.

[2019-06-12 21:24] arwenhutt commented on #265
blocked pending specification work in #312

[2019-06-13 17:20] jessicahilt commented on #320
We're going to keep the python script and r&d swapping to ruby by the end of the summer. See #623.

[2019-06-13 17:31] hweng commented on #320
@lsitu For your question about the command to apply watermark to image. Here is the  basic syntax:  `$COMPOSITE -gravity SouthEast watermark.png input.jpg output.jpg`

There are several options to adjust such as: `$composite -quality 100 -gravity South -density 400 VRR_SCA_watermark.png -resize 500x300 -geometry +100+20 test_image/input.jpg result/output.jpg`

Here is the reference: https://imagem

[2019-06-13 18:07] gamontoya opened #331 "VRR image watermarking: Use ImageMagick"
### Descriptive summary

Use ImageMagick to create watermarked images for VRR.

### Related ticket

ucsdlib/damsmanager#320

### Huawei notes

@lsitu For your question about the command to apply watermark to image. Here is the basic syntax: $COMPOSITE -gravity SouthEast watermark.png input.jpg output.jpg

There are several options to adjust such as: $composite -quality 100 -gravity South -density

[2019-06-13 18:08] gamontoya commented on #320
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/331)

[2019-06-13 18:23] gamontoya opened #332 "Add to DAMS Manager to trigger watermarking for VRR pdfs/images"
### Descriptive summary
Add a checkbox to DAMS Manager [Excel import](https://library.ucsd.edu/damsmanager/excelImport.do) to trigger watermarking of files on ingest

     [ ] generate watermarked document and image service files

### fileUse rules

When the checkbox is selected:
1. For files ingested with File use = `document-source`
    1. Store original pdf with `document-source` file use
    2

[2019-06-13 22:05] arwenhutt commented on #332
@mdpeters @gamontoya I've added what we discussed re: file use values above - please review!

Also two questions:
1. we talked about image-service, but there are a number of other image derivatives created on ingest - do we want to all of the image-derivatives to be watermarked? (I'm guessing yes, but wanted to verify)
2. it would be good to have some flag, hook for the files which are watermarked

[2019-06-14 14:13] mdpeters commented on #332
@arwenhutt For files ingested with image-source do we really need to change that to document-source? Though that might be necessary if we need to generate a large watermarked image for zoom tile generation; I'm not entirely sure what the workflow is for generating the tiles, is that done off of the master tiff (I assume this is true) or off of a later smaller derivative? Whichever we'd likely need

[2019-06-14 15:30] arwenhutt commented on #332
@mpeters

ack!  no, that was just a typo!  sorry - corrected above!

(I'm ooo today and need to go make breakfast - so will reply to the other parts when I'm back in the office, just wanted to correct my typo asap : )

[2019-06-14 15:31] lsitu commented on #331
@gamontoya / @mdpeters Do we have the watermark image that can be used for image watermarking? Also, do we need to watermark all derivatives like image-large, image-huge, image-service, image-preview, image-thumbnail, image-icon? And how about the watermark image use for for each size? Thanks.

[2019-06-14 15:43] mpeters commented on #332
@arwenhutt You mentioned the wrong person :) I think you meant @mdpeters

[2019-06-14 16:08] mdpeters commented on #331
![vrr_sca_watermark](https://user-images.githubusercontent.com/22665238/59522445-939e5d00-8e83-11e9-8f95-5b8afae0e529.png)

@lsitu watermark image above. I think it should only be necessary for the larger images sizes (probably image-service and larger) and for the zoom tiles.

[2019-06-14 19:22] gamontoya opened #334 "Test ticket to see what the "Transfer" option does in GH"
### Descriptive summary

Provide a brief summary of the requested work. If appropriate, include any relevant tracebacks, screenshots, etc. if you're reporting a bug.

### Rationale

Provide the rationale or user story that describes "why" this issue should be addressed. Especially if this is a new feature or significant change to the existing implementation.

### Expected behavior

### Actual beha

[2019-06-14 19:32] lsitu commented on #327
@mcritchlow Basing on the recent changes of the CIL public API and the response from Willy, I've add PR https://github.com/ucsdlib/damsmanager/pull/333 to fix the GTE search results with  lastModified. It's ready for review now. Thanks.

[2019-06-14 20:46] gamontoya commented on #332
@lsitu Do you have any thoughts on what Arwen said above:

[2019-06-14 23:47] lsitu commented on #332
@gamontoya / @arwenhutt Maybe we need to add another predicate into the dams:File model to flag it as a watermarked derivative?

[2019-06-14 23:51] gamontoya commented on #332
@lsitu What's the level of effort?

[2019-06-15 00:24] lsitu commented on #332
@gamontoya It should be a simple thing but we need to update both damsmanager and damsrepo for it.

[2019-06-18 15:04] lsitu commented on #331
@gamontoya / @arwenhutt Which watermarking derivative are we going to use for zoom tiles creation? Should we need to create a new derivative for it or use image-huge instead?

[2019-06-18 15:13] lsitu commented on #332
@gamontoya / @arwenhutt Do we need to add a property to dams:File to flag a watermarked image? What predicate we should use in this case? Thanks.

[2019-06-18 21:43] lsitu commented on #320
@mcritchlow I've created the following two PRs to utilize the Python script for PDF watermarking PDF:
https://github.com/ucsdlib/damsmanager/pull/335
https://github.com/ucsdlib/private_config/pull/15

Both PRs are ready for review now. Thanks.

[2019-06-19 03:18] #320 closed

[2019-06-19 17:04] gamontoya commented on #331
@lsitu What is image-huge? Does that exist already?

[2019-06-19 17:12] lsitu commented on #331
@gamontoya It's a derivative added for DAMS4 but we haven't use it yet. And yes, it's created on ingest for every image file with size 1600x1600.

[2019-06-19 17:21] gamontoya commented on #331
@lsitu That makes sense. I say go ahead and use that derivative.

[2019-06-19 17:36] gamontoya commented on #331
@lsitu Should this ticket be open?

[2019-06-19 17:38] gamontoya commented on #332
@lsitu Arwen said she doesn't think it's necessary to flag a watermarked image. What do you think?

[2019-06-19 17:38] lsitu commented on #331
@gamontoya Yes. I am reopening it now.

[2019-06-19 17:41] lsitu commented on #332
@gamontoya I am find with it. But what's the solution for your comment on https://github.com/ucsdlib/damsmanager/issues/332#issuecomment-502257661?

[2019-06-19 17:55] gamontoya commented on #332
@lsitu My comment had to do with ways to flag a watermarked image and Arwen seems to think now that it may not be necessary if we don't have use cases.

[2019-06-19 17:58] arwenhutt commented on #332
@lsitu @gamontoya yeah, without use cases or others thinking it's important, there doesn't seem to be a strong case for it.

[2019-06-19 18:18] lsitu commented on #332
@gamontoya / @arwenhutt Should I just move forward without flagging those watermarked images/PDFs for now?

[2019-06-19 18:20] gamontoya commented on #332
@lsitu Yes, thank you.

[2019-06-19 23:37] lsitu commented on #331
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/336 for image watermarking support with ImageMagick convert. It's ready for review now. Thanks.

[2019-06-20 15:58] #331 closed

[2019-06-21 22:20] lsitu commented on #332
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/337 to wrap up the support for PDF and Image watermarking with Excel InputStream ingest. It's ready for review now. Thanks.

[2019-06-25 23:46] lsitu commented on #321
@mcritchlow I've added the following PRs to support batch metadata overlay for simple objects:
https://github.com/ucsdlib/damsmanager/pull/338
https://github.com/ucsdlib/private_config/pull/17

Both PRs above are ready for review now. Thanks.

[2019-06-26 17:50] gamontoya opened #339 "Release 2.72"
### Descriptive summary

Version: 2.72
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

### Dependency

private_config Release 2.1: https://github.com/ucsdlib/private_config/issues/18

-----

### To Verify
- [ ] [CIL metadata transformation QA ](https://github.com/ucsdlib/damsmanager/issues/317)
- [ ] [CIL Harvesting - Retrieve initial batch of mast

[2019-06-26 17:50] gamontoya commented on #314
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/339)

[2019-06-26 17:52] gamontoya commented on #339
@lsitu Please reference the tickets that need to be verified above.

[2019-06-28 15:14] abbypenn93 commented on #317
Hi All,
We could use an update on this project--are you ready for DOMM to do another round of metadata transformation QA?
Thanks,
Abby

[2019-06-28 17:35] hjsyoo commented on #317
Thanks for the ping, @abbypenn93. I think we're ready for another round of QA, unless @lsitu has a new update since May 24? I believe the work he's been doing with Willy only has to do with harvesting the data files themselves. The metadata harvesting work should be independent of that.

[2019-06-28 17:58] lsitu commented on #317
@hjsyoo / @abbypenn93 We've got codings for the QA work and Willy's REST API update ready and we can deploy it to staging for review early next week.
Both need to deploy damsmanager to staging for test, and the CIL metadata on Github is out dated with lost of missing videos so I think we had better review them all together. I'll initiate another round of CIL harvesting once damsmanager is deploy t

[2019-06-28 18:25] hjsyoo commented on #284
@gamontoya Was this download count fix ever deployed? I'm hoping my student assistant will be able to resume testing this summer.

[2019-06-28 18:28] lsitu commented on #284
@hjsyoo / @gamontoya Yes, it's deployed there on prod for some time already.

[2019-06-28 18:31] hjsyoo commented on #284
@lsitu Do you recall the date the fix was deployed?

[2019-06-28 18:37] lsitu commented on #284
@hjsyoo I think it was deployed April 9th. See https://github.com/ucsdlib/damsmanager/issues/314.

[2019-07-01 16:36] #332 closed

[2019-07-01 19:50] #321 closed

[2019-07-01 21:03] lsitu commented on #339
@gamontoya / @hjsyoo / @abbpenn93 / @mdpeters DAMS Manager release 2.72 is deployed to staging. The support for PDFs and images watermarking is ready for review now.
I've started the CIL Harvesting process to generate the results for QA, which will download the JSON sources (as well as the missing and new videos) from the CIL public API, which could be done in a day or two. I'll let you know once

[2019-07-01 22:07] #322 closed

[2019-07-02 17:46] mdpeters commented on #339
@lsitu pdf watermarking appears to be working I'm going to do some more testing with various sized pdfs to confirm. Image watermarking is sort of working, the image is getting watermarked but both the image-preview and image-service images are getting a use value of document-service and are not displaying in the DAMS object view.

[2019-07-02 19:44] lsitu commented on #339
@mdpeters Could you give me the links to the objects that you are testing so that I can take a look? Thank you.

[2019-07-02 19:55] mdpeters commented on #339
@lsitu sure, meant to do that before:
Image https://librarytest.ucsd.edu/dc/object/bd78717010 (ignore the title, it was set to curator only)
PDF https://librarytest.ucsd.edu/dc/object/bd47317414 this worked as expected though it does look like the watermark isn't sizing down correctly when aligned vertically, it does seem to size down correctly when aligned horizontally, pages 14 and 15 illustrate

[2019-07-03 00:44] lsitu commented on #323
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/341 to support component and sub-component batch metadata overlay. It's ready for review now. Thanks.

[2019-07-03 15:30] lsitu commented on #317
@arwenhutt / @abbypenn93 The new round of CIL metadata transformation process is finished and the transformed CSV outputs are ready for you to review now:
/rdcp-staging/rdcp-0126-cil/cil_harvest_2019-03-07/metadata_processed/cil_excel_object_input.csv

/rdcp-staging/rdcp-0126-cil/cil_harvest_2019-03-07/metadata_processed/cil_excel_subject_headings.csv

[2019-07-03 15:33] abbypenn93 commented on #317
That's good news, thanks.

[2019-07-03 15:42] lsitu commented on #339
@mppeters Thanks. I'll fix that file use value with document-service issue.

For the PDF watermarking, we are using the Python script https://github.com/ucsdlib/watermark. @rstanonik / @dlasusa Do you have any thoughts on fixing the watermarking image vertical scaling issue in PDF that @mdpeters reported above (https://github.com/ucsdlib/damsmanager/issues/339#issuecomment-507821930)? Thank you.

[2019-07-03 15:48] lsitu commented on #339
@gamontoya / @hjsyoo / @abbypenn93 The CIL Harvesting process is done and the transformed CSV output is ready for QA now. Note that the support for downloading JSON sources (as well as the missing and new videos) from the CIL public API is also included. See https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-508142934 for more info. Thanks.

[2019-07-03 17:53] #323 closed

[2019-07-03 18:10] dlasusa commented on #339
Changed how the portrait scaling was being calculated.  Instead of page_height/watermark_height it's now using page_height/watermark_WIDTH (since the watermark is being rotated).  Let me know if that's any better.  I'm not sure how the watermarking script is getting called into the overall process.  @lsitu

[2019-07-03 18:13] dlasusa commented on #339
Also, as a reminder, when I make changes they're committed to the watermark repository (not damsmanager directly)

[2019-07-03 18:30] lsitu commented on #339
@dlasusa Thanks. We just follow the instruction in the watermark repository https://github.com/ucsdlib/watermark that @rstanonik documents to call the Python scripts. So just make the change in https://github.com/ucsdlib/watermark and we need @rstanonik to redeploy it to staging, QA and prod once it's done. Thank you.

[2019-07-03 18:46] rstanonik commented on #339
@lsitu Thanks for the reminder!  I even have a Jenkins plan to deploy, but not configured to deploy automatically.  I ran the plan, so it should be ready to test.

[2019-07-03 19:09] lsitu commented on #339
Thanks @dlasusa and @rstanonik for the quick fix. @mdpeters Could you test the PDF wartermarking again? Thank you.

[2019-07-03 21:07] lsitu commented on #324
@mccritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/342 for the support. It's ready for review now. Thanks.

[2019-07-03 22:44] lsitu commented on #339
@mcrichlow I've added PR https://github.com/ucsdlib/damsmanager/pull/343 to fix the file use value issue that @mdpeters reported. It's ready for review now. Thanks.

[2019-07-05 16:31] lsitu commented on #312
@gamontoya / @arwenhutt While waiting for reviewing, do you have any tickets created for this spec that I can work on now? Thanks.

[2019-07-05 17:23] #324 closed

[2019-07-05 18:52] lsitu commented on #339
@mdpeters I think the static "document-service" file use for image watermarking is fixed and it's ready for test now. Also, thanks @dlasusa and @rstanonik for fixing and deploying the Python script for PDF watermarking (vertical scaling of the watermark image). Could you test the VRR watermarking support again? Thank you.

[2019-07-05 20:02] lsitu commented on #339
@gamontoya / @arwenhutt / @GregReser We've got the batch metadata overlay support ready on staging for test now: https://librarytest.ucsd.edu/damsmanager/batchEdit.do:
<img width="1194" alt="Screen Shot 2019-07-05 at 12 04 05 PM" src="https://user-images.githubusercontent.com/2430784/60741110-22e7df00-9f1d-11e9-970a-5c8b8dc756e3.png">

Just like the Excel InputStream form, we'll select the Excel s

[2019-07-08 15:01] lsitu commented on #278
@gamontoya / @arwenhutt With decoupling rights/ access ticket https://github.com/ucsdlib/damsmanager/issues/312 on the way, do we need any change in this ticket?

[2019-07-08 15:50] mdpeters commented on #339
@lsitu the image watermarking and display is working but now the PDF display is broken (looking at the data view there doesn't seem to be a document-service component). The PDF objects are behaving like image objects, trying to go to a zoom view rather than opening the watermarked pdf.
Examples:
https://librarytest.ucsd.edu/dc/object/bd88956018
https://librarytest.ucsd.edu/dc/object/bd7223232k

[2019-07-08 17:48] arwenhutt commented on #278
@gamontoya I can take a look at this - rereading the description I think that it's not specifically tied to access/rights, but the way it's written makes it sound kind of like it is.  I can take a pass at revising this to make the functions more generic to the search function and less specific to any particular field.

[2019-07-08 18:12] gamontoya commented on #278
@arwenhutt Thanks for looking into this.

[2019-07-08 18:21] lsitu commented on #339
@mdpeters It looks like the PDFs for object bd88956018 and bd7223232k were ingested as document-source without the watermarking option. Could you try it one more time and make sure that the option for watermarking is selected to see how it goes? Thank you.

[2019-07-08 18:32] mdpeters commented on #339
@lsitu watermarking option was definitely checked when they were ingested. The following image objects were ingested at the same time and they did receive a watermark:
https://librarytest.ucsd.edu/dc/object/bd65406355
https://librarytest.ucsd.edu/dc/object/bd8247134w

[2019-07-08 19:50] lsitu commented on #339
@mdpeters Thanks for the additional information. I am looking into the PDF watermarking issue now. But what's the difference with your ingest test last time that got PDF watermarking working? Can you tell me the location of the source metadata file and the files that use for test? Thank you.

[2019-07-08 19:56] mdpeters commented on #339
@lsitu There isn't much of a difference between last time and this time. I even used many of the same files (I added a few objects to do some additional testing but this object: https://librarytest.ucsd.edu/dc/object/bd88956018 has the exact same data and was ingested the exact same way as this object: https://librarytest.ucsd.edu/dc/object/bd47317414 that I did last week)

Objects and metadata ar

[2019-07-08 21:07] gamontoya commented on #339
@arwenhutt @abbypenn93 @remerjohnson Can you please test this on staging and let us know if it's working as expected?

[2019-07-08 21:11] gamontoya commented on #312
@lsitu I don't think so, but I'm pinging @arwenhutt in case I'm missing something.

@lsitu Who in ITD is reviewing the spec?

[2019-07-08 21:31] remerjohnson commented on #339
@gamontoya To confirm, is this to test VRR functionality?

[2019-07-08 21:37] lsitu commented on #312
@gamontoya I've reviewed it and I think it looks good. But I would like @jessicahilt and @mcritchlow to keep an eye on it and give it a pass. Thank you.

[2019-07-08 22:16] lsitu commented on #339
@remerjohnson I think @mdpeters is testing the VRR functionality at this time. But we need to test all other functions in https://github.com/ucsdlib/damsmanager/issues/339#issue-461103089 as well. Thank you.

[2019-07-08 23:06] mcritchlow commented on #312
I agree w/ @lsitu that overall this looks good and will greatly simplify things once we're done.

I do have one question from the spec re: Deliverable 4 (damspas code updates):

Ideally the front-end (damspas) code shouldn't have to make this distinction, it would only key on the value in `dams:accessControl` and set/limit access to objects and files accordingly. I'm curious if we can make that ha

[2019-07-09 00:11] gamontoya commented on #339
@remerjohnson As Longshou stated. You really have to test that the batch metadata overlay is working as expected.

[2019-07-09 15:47] lsitu commented on #312
@mcritchlow Yes, that makes senses. I think we just need to do the same way as what we are doing now to update the access control value on damsrepo while damsolrizer index the objects. But the result only can be reviewed in damspas. Maybe that why @arwenhutt put it on damspas.

[2019-07-09 16:11] lsitu commented on #339
@mdpeters Thanks for the information. I think I've found the problem, which could be caused by my mistake while fixing merge conflicts somehow. @mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/344 to fix it. It's ready for review now. Thank you.

[2019-07-09 18:20] mcritchlow commented on #339
merged, thanks @lsitu :+1:

[2019-07-09 19:55] lsitu commented on #339
Thank @mcritchlow.
@mdpeters We've deployed damsmanager to staging, which will fix the PDF watermarking issue that you found yesterday. Could you test it again? Thank you.

[2019-07-10 16:47] arwenhutt commented on #339
@gamontoya an update on testing of batch edit/overlay - I've drafted a testing plan and test booklet.  I have a few more tests to add to it, and will be reviewing it with @abbypenn93 and @remerjohnson and then we'll divy up and start testing.

We're going more formal with this testing due to the great responsibility which comes with great (editing) power!

[2019-07-10 16:54] lsitu commented on #339
@arwenhutt With the heavy codes refactoring for batch overlay support, I think the Excel Standard InputStream is affected by the changes. Could you add test for it as well? Thank you.

[2019-07-10 17:45] gamontoya commented on #339
@arwenhutt Thank you! We'll be very patient with this one since it does merit detailed testing.

[2019-07-10 23:00] arwenhutt commented on #339
@lsitu thanks for the heads up.  I'll add it to our testing plan.

[2019-07-11 21:48] arwenhutt opened #345 "Batch metadata overlay: testing on staging server"
### Descriptive summary

Testing for new batch overlay functionality - issues #321 #322 #323 #324
Also testing of existing excel ingest functionality ([due to code refactoring](https://github.com/ucsdlib/damsmanager/issues/339#issuecomment-510143027))

### Related work
#321
#322
#323
#324

### Part of Batch edit functionality (epic) #309

[2019-07-11 21:56] arwenhutt commented on #345
## 1. Unable to ingest tracer record in staging
This ingests to production https://library.ucsd.edu/dc/object/bb38955027 may not be indexed yet but rdf is visible) but fails in staging.
Error message in DAMS Manager UI
![image](https://user-images.githubusercontent.com/16270512/61087745-634acf80-a3eb-11e9-8f65-10c789191616.png)

Interestingly I was able to ingest another "real" record to staging:

[2019-07-11 22:02] arwenhutt commented on #339
Link to issue for batch edit functionality: #345

[2019-07-12 16:48] arwenhutt commented on #312
@mcritchlow & @lsitu about this:

The reason we included it was that we do still need to have a temporary status during ingest review, BUT we are totally flexible on how this is done if either of you have an idea for a better way to do it.

[2019-07-12 16:56] arwenhutt commented on #312
@mcritchlow & @lsitu
What are your thoughts on this item in the spec:

@gamontoya can you review the list of access scenarios to see if there are any that we currently support that are missing?  This draws on Greg's pretty extensive survey of current ones in D4, but I think it'd be great if you could give it one last review!
https://docs.google.com/spreadsheets/d/1qe0ruWJRhMX_jxPKCNZBqqS9ghhGWLb7Q

[2019-07-12 17:00] arwenhutt commented on #345
@lsitu & @gamontoya just an fyi that much of our testing is dependent upon being able to ingest tracer records, so we're in a holding pattern until the first bug is figured out.

[2019-07-12 19:17] lsitu commented on #345
Thanks @arwenhutt. I've fixed the error with CulturalContext conversion that causes the old tracer record failed to be ingested. I also refactored the codes to separate the control values for Excel Import and Batch Overlay to have their own set of CVs for validation.
@mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/346 for it. It's ready for review now. Thanks.

[2019-07-12 19:59] lsitu commented on #345
Thanks @mcritchlow for giving such a quick review on PR https://github.com/ucsdlib/damsmanager/pull/346.
@arwenhutt I've deployed PR https://github.com/ucsdlib/damsmanager/pull/346 to staging, which will fix the problem you ran into while ingesting the old tracer record. Could you to test it again when you got a chance? Thank you.

[2019-07-12 22:25] remerjohnson commented on #321
Wanted to report something I encountered... the export from Batch Export contains columns that then fail pre-processing on Batch Import. The error is:

[code]
I realize this ticket said the validation should be the same as the Excel Ingest, so not sure how to address this. What do you think?

[2019-07-12 23:00] lsitu commented on #321
@remerjohnson The headings validation is different for Excel Ingest and Batch Overlay, which contains additional fields above like `Note:local attribution`, `collection(s)` etc.
@mcritchlow I have a `private_config` PR https://github.com/ucsdlib/private_config/pull/17 that will handle the additional fields. Could you review it when you get a chance? Thanks.

[2019-07-12 23:03] remerjohnson commented on #345
I'm not sure if this is user error on my part or not, but upon submitting a changed record via Batch Import, it passed initially, but seemingly is querying for the "old" unique object ID and 404s out?

[code]

[2019-07-13 00:12] arwenhutt commented on #345
@remerjohnson verified that it now ingests the tracer record.
Thanks @lsitu!

[2019-07-15 15:25] lsitu commented on #345
@arwenhutt / @remerjohnson We've deployed PR https://github.com/ucsdlib/damsmanager/pull/346 to staging and I think those additional fields for batch overlay will be validated now. Could you give it a try to test Batch edit again? Thanks.

[2019-07-15 19:03] arwenhutt commented on #345
@lsitu yep, we'll continue testing.

[2019-07-15 22:44] gamontoya commented on #312
@arwenhutt Will do!

[2019-07-17 18:27] arwenhutt commented on #345
@lsitu
## 2. Component and sub-component titles lost or overwritten with the object title on ingest
### SOCCOM example
 - Staging: https://librarytest.ucsd.edu/dc/object/bd2410911r
 - Production: https://library.ucsd.edu/dc/object/bb7786316t

They both used the same metadata and files:
- Metadata: /rdcp-staging/rdcp-0090/Final_Metadata
- Files: /rdcp-staging/rdcp-0090/Final_Files

### STEM undergr

[2019-07-17 20:11] lsitu commented on #345
@arwenhutt Good catch! Thanks. I've created PR https://github.com/ucsdlib/damsmanager/pull/347 to fix it. Once the PR is reviewed and merged, I'll deploy it to staging for you to review. @mcritchlow The PR is ready for review now. Thanks.

[2019-07-17 21:14] lsitu commented on #345
Thanks @mcritchlow for the a quick review of the PR. @arwenhutt I've deployed it to staging and it's ready for test now. Thank you.

[2019-07-17 21:49] arwenhutt commented on #345
@lsitu I just ingested the SOCCOM object again and the titles look good!  Thanks!

[2019-07-18 18:28] lsitu commented on #345
@mcritchlow I added PR https://github.com/ucsdlib/damsmanager/pull/348 to fix the `java.lang.UnsupportedOperationException` found by Ryan during collection import, which is caused by the fixed size list support in Java. Could you review and merge it if you get a chance? Thanks @remerjohnson.

[2019-07-18 18:48] lsitu commented on #345
Thanks @mcritchlow for the quick review.
@arwenhutt / @remerjohnson I've deployed the PR to staging to fix that `java.lang.UnsupportedOperationException` issue with collection import. It's ready for test on staging now. Thanks.

[2019-07-18 19:16] remerjohnson commented on #345
@lsitu Yes, the `java.lang.UnsupportedOperationException` error has gone away, and I was able to ingest two different CLRs. Thanks

[2019-07-18 22:56] gamontoya opened #349 "Give dams-curator group access to the DAMS Collection Status Report and File Report Tool"
### Descriptive summary

Please update DAMS Manager to give the `dams-curator` group access to the [DAMS Collection Status Report](https://library.ucsd.edu/damsmanager/collectionStatusReport.do)

[2019-07-18 23:06] gamontoya opened #351 "Improve output of the DAMS Collection Status Report"
### Descriptive summary

Determine best way to accurately report a recently release/added collection. A collection should only report itself as new once only.

- https://library.ucsd.edu/damsmanager/collectionStatusReport.do

### Rationale

Sometimes a collection is listed as newly released when it was released months ago.

Per Longshou:

### Expected behavior
Collections should only show up in a

[2019-07-18 23:06] lsitu commented on #349
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/350 for it. Thanks.

[2019-07-19 00:28] gamontoya commented on #349
@lsitu Sorry about this Longshou, but it needs to be set for dams-curators since there are others that shouldn't be editors but want access to the reports. Is this easy re-do?

[2019-07-19 00:49] gamontoya commented on #349
@lsitu Also, can add dams-editors (not curators) to the file report tool

https://library.ucsd.edu/damsmanager/fileReport.do

[2019-07-19 01:14] lsitu commented on #349
@gamontoya Yes, will do.

[2019-07-19 15:11] lsitu commented on #349
@gamontoya / @mcritchlow I've added dams-curator group for accessing the collection status report. For the file report tool https://library.ucsd.edu/damsmanager/fileReport.do, dams-editor group should have access to it at this time.

[2019-07-19 16:44] gamontoya commented on #349
@lsitu Does this take a deploy to prod before Matt P. can test?

[2019-07-19 17:04] lsitu commented on #349
@gamontoya I think we can deploy it along with damsmanger [Release 2.72](https://github.com/ucsdlib/damsmanager/issues/339) once the PR https://github.com/ucsdlib/damsmanager/pull/350 is merged.

[2019-07-19 17:23] gamontoya commented on #349
@lsitu Okay, just make sure both the Collection Status and File Report tools are in this code update. Thank you!

[2019-07-19 17:33] lsitu commented on #349
@gamontoya No problem. I am working on https://github.com/ucsdlib/damsmanager/issues/351 for Collection Status report now.

[2019-07-22 14:10] #349 closed

[2019-07-23 00:01] gamontoya commented on #339
@arwenhutt @lsitu There is still testing going on for this release, correct?

[2019-07-23 00:06] lsitu commented on #339
@gamontoya I am not sure. Have you finished all your tests for the release, @arwenhut, @remerjohnson, @mdpeters?

[2019-07-23 03:31] arwenhutt commented on #339
@lsitu & @gamontoya yes, we are still testing. We’re still working through all the permutations of functions/properties in ingest. We’ve checked all properties at the object, component, & sub-components, and are working through the different rights/access form options, clr ingest/overlay, validations, file type/file use combinations, etc.

[2019-07-24 19:52] lsitu commented on #351
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/352 that will prevent those collections that were released in the past from adding the record released event again so that it won't be reported more than once.

[2019-07-24 19:56] lsitu commented on #351
@gamontoya The PR https://github.com/ucsdlib/damsmanager/pull/352 won't fix the current collection status report but it will prevent new released collections from reporting more than once in the feature. Does it sounds good?

[2019-07-24 22:30] #351 closed

[2019-07-24 22:57] gamontoya commented on #351
@lsitu Yes, sounds great!

[2019-07-24 23:58] arwenhutt commented on #345
@lsitu & @gamontoya Just a quick update, we've finished our planned batch ingest testing and haven't found any other issues there.  With that done, we resumed batch overlay testing this afternoon.

[2019-07-25 19:10] arwenhutt commented on #345
@lsitu
## 3. Component and sub-component metadata edits applied to the wrong level

### Example
When editing complex objects, the metadata gets "scrambled" - sub-component metadata is written to components, component metadata sometimes disappears (overwritten I'm guessing), and sub-components metadata isn't changed (when it should be.)

We are wondering if it has something to do with the `Object U

[2019-07-25 20:42] abbypenn93 commented on #345
**Regarding 3. Component and sub-component metadata edits applied to the wrong level**: Changes were correctly applied during Batch Edit after manual edit of the Sub-component Object Unique ID. Batch Export originally wrote the ARKs as Object:  bd9510029v, Component: bd9510029v/1, Sub-component: bd9510029v/1. Changing the Sub-component Object ID to bd9510029v/2 and rerunning Batch Edit resulted in

[2019-07-25 20:54] lsitu commented on #339
@gamontoya [Give dams-curator group access to the DAMS Collection Status Report and File Report Tool](The codes for https://github.com/ucsdlib/damsmanager/issues/349) and [ Improve output of the DAMS Collection Status Report](https://github.com/ucsdlib/damsmanager/issues/351) are deployed to staging and it's ready for review now. Thanks.

[2019-07-25 21:13] arwenhutt commented on #339
@lsitu & @gamontoya Abby and I can both access the Collection Status Report and File Report tools in staging :tada:
Thank you!

[2019-07-25 21:35] lsitu commented on #345
Thanks @arwenhutt and @abbypenn93 for the additional information. I've found the issue in Batch Export and created PR https://github.com/ucsdlib/damsmanager/pull/353 to fix it.
@mcritchlow Could you review PR https://github.com/ucsdlib/damsmanager/pull/353 when you got a chance? Thank you.

[2019-07-25 22:24] lsitu commented on #345
Thanks @mcritchlow for the quick review.
@arwenhutt / @abbypenn93 I've deployed the PR that fix the Batch Export `Unique Object ID` for Sub-component ` to staging. Could you export the collection with complex objects and test the batch overlay support again? Thank you.

[2019-07-25 22:41] arwenhutt commented on #345
@lsitu yay!  It worked: https://librarytest.ucsd.edu/dc/object/bd9783066t is all fixed and everything in order.  Thanks!

[2019-07-25 23:12] gamontoya commented on #339
@lsitu This can be pushed to prod.

[2019-07-26 00:06] lsitu commented on #339
@gamontoya Yes. Is there anything still need to be tested?

[2019-07-26 00:24] gamontoya commented on #339
@lsitu Never mind. I think @arwenhutt and others are still testing.

[2019-07-26 00:25] arwenhutt commented on #339
@gamontoya yes, still testing the overlay.  Making progress though and feeling optimistic based on how lightning quick @lsitu is squasing bugs!

[2019-07-26 00:32] gamontoya commented on #339
@lsitu @arwenhutt You guys are the best! 🏆

[2019-07-26 21:19] hjsyoo opened #354 "Add component to NAAMES 3 object"
### Descriptive summary

In the NAAMES 3 object, https://library.ucsd.edu/dc/object/bb7512314s, a new component (#33) should be added to the end of the component list (currently n=32).

Component Title: Raw data for NAAMES3 LS
File location: \rdcp-0112-naames\Final_Files_N3\NA3-raw\LS.zip
File use: data-service

### Related work
https://lib-jira.ucsd.edu:8443/browse/CPP-112

[2019-07-26 22:02] gamontoya commented on #354
@lsitu Can you please add the component?

[2019-07-26 22:08] lsitu commented on #354
@gamontoya Sure. Will do.

[2019-07-29 15:18] lsitu commented on #354
@gamontoya / @hjsyoo  The new component `Raw data for NAAMES3 LS` for object [NAAMES 3](https://library.ucsd.edu/dc/object/bb7512314s) is added and it's file is ingested on prod. It's ready for review now  Thanks.

[2019-07-29 16:07] hjsyoo commented on #354
@lsitu @gamontoya Perfect, and thank you for the speedy turnaround!

[2019-07-29 16:07] #354 closed

[2019-07-31 23:58] arwenhutt commented on #345
@lsitu & @mcritchlow I think we're done with testing! There are a few things that came up in the last rounds, but I don't think any of them are blockers and could be fixed after the production release.

[2019-08-01 00:31] lsitu commented on #345
@arwenhutt Thanks for the hard work. We'll push damsmanager Release 2.72 to prod then. @mcritchlow Do you have any concerns for pushing it to prod now? Thanks.

[2019-08-01 00:42] lsitu commented on #339
@arwenhutt / @abbypenn93 Are you still reviewing ticket https://github.com/ucsdlib/damsmanager/issues/317 for CIL Harvesting? We'll move the new release forward to prod if you've done with it. Thank you.

[2019-08-01 15:30] abbypenn93 commented on #317
I'm just about to report my QA findings. Looking better, but more work to do.
Thanks,
Abby

[2019-08-01 16:19] mcritchlow commented on #345
@lsitu - with the feedback you've gotten, i'd say ship it! :rocket:

[2019-08-01 17:17] abbypenn93 commented on #317
**Status of issues reported in May (Ticket: https://github.com/ucsdlib/damsmanager/issues/317):**

1. Records missing from output file:Found 10081 unique objects in the spreadsheet = 10081 .json files in /rdcp-staging/rdcp-0126-cil/cil_harvest_2019-03-07/metadata_source;
however please see notes below about the records with the "copyright" attribute (Item 8).

**Status: Fixed:** found 10081 unique

[2019-08-02 18:07] lsitu commented on #317
@abbypenn93 Thank you very much for the hard work. I think we may need to clarify the open issues and new issues (see section **Q:** for my comments):

3. Subject heading ingest file not generated (step 4.a. of the harvest process):

**Status:**
**Fixed** - Subject file is present.

**Open** - in addition to the term (from onto_name), the onto_id should be placed in the "closeMatch" column of subj

[2019-08-02 20:11] lsitu commented on #339
@rstanonik Basing on the feedbacks from @gamontoya, @arwenhutt and @mdpeters, @mcritchlow and I just discussed the CIL issues that @abbypenn93 brought up, and consider it won't be a blocker for releasing damsmanager, we decide to move damsmanager release 2.72 forward to prod.
Could you deploy it to prod at you earliest convenience? Note that the new release has dependency on private_config (https:

[2019-08-05 13:02] rstanonik commented on #339
Deployed to production this morning.
private_config was deployed first.

[2019-08-06 16:02] lsitu commented on #317
@abbypenn93 I see that the special cases/inconsistent data patterns is the root cause of incomplete metadata records in is the root of item#13: some records are `JSONObject`, while others are `JSONArray`, which triggered the parsing exception that interrupts the conversion process for the records. I'll move forward to fix it now.
Also, the item#9 has the wrong path `CIL_CCCDB.CIL.Citation.Title`in

[2019-08-06 16:24] abbypenn93 commented on #317
Hi Longshou. Thanks for all your hard work. I'm currently wrapping up some other projects, but I should be able to respond to your questions later today.

[2019-08-07 17:37] abbypenn93 opened #355 "Update DOI record fails"
### Descriptive summary

Running _Update DOI record_ fails and returns the following error message:

Error updating DOI: error: bad request - datacite: metadata validation error: Element '{**http://datacite.org/schema/kernel-4**}resource': Missing child element(s). Expected is one of ( {http://datacite.org/schema/kernel-4}resourceType, {http://datacite.org/schema/kernel-4}contributors, {http://dat

[2019-08-07 18:14] lsitu commented on #355
@abbypenn93 Should we use xmlns="http://schema.datacite.org/meta/kernel-4.0/" and xsi:schemaLocation="http://schema.datacite.org/meta/kernel-4.0/ http://schema.datacite.org/meta/kernel-4.0/metadata.xsd" in datacite.xsl?
[code]

[2019-08-07 19:22] lsitu commented on #355
@abbypenn93 Have you ever tried to use `Update DOI record` function to update other records in prod? I tried it with record https://librarytest.ucsd.edu/dc/collection/bb67275909 on QA and staging but I don't see the error.

[2019-08-07 19:32] arwenhutt commented on #355
hmmmm, @lsitu & @abbypenn93 so it looks like the url that was returning a 404 yesterday is now resolving.  Maybe the server was down?

@abbypenn93 can we retest the orginal bug?

[2019-08-07 19:37] lsitu commented on #355
@arwenhutt But I just tried `Update DOI record` for object https://library.ucsd.edu/dc/object/bb2666864s on prod and I was still seeing the error. Maybe it's just a problem for prod but not staging?

[2019-08-07 19:56] arwenhutt commented on #355
@lsitu oh darn.  Not sure about the difference between staging and production - do you know if staging actually mints doi's?  I don't think we'd want it to since it's just for testing.

[2019-08-07 20:17] lsitu commented on #355
@arwenhutt I think it should mints doi's from the DOI staging environment and @hjsyoo may know more about it. I think we may need to replicate the problem on QA/staging and confirm the fix before moving it to prod. Thanks.

[2019-08-07 22:20] arwenhutt opened #356 "Batch export bug - Data from Scripps Research Expeditions"
### Descriptive summary
Batch export of excel or csv for the ["Data from Scripps Research Expeditions" collection](https://library.ucsd.edu/dc/collection/bb29737300) fails.

It looks like all items are processed, the progress bar reaches 100%, and stays there for several minutes.  Then returns this message:

The link provided for download returns this message:

RDF export works.  I haven't noticed

[2019-08-07 23:13] arwenhutt commented on #355
@lsitu @abbypenn93 okay I think I figured it out.  some of the fields datacite requires are at the component level instead of the object level.  I added type of resource to the object level for https://library.ucsd.edu/dc/object/bb2666864s the item above, and the update doi function worked.

I'm going to close this issue, thanks for your time @lsitu!

[2019-08-07 23:13] #355 closed

[2019-08-08 23:08] lsitu commented on #356
@arwenhutt I think I found the problem that causing the error for batch export. Several authority records are corrupted with element like <rdf:Description rdf:about="http://library.ucsd.edu/ark:/20775/b78201908"> instead of <mads:Language rdf:about="http://library.ucsd.edu/ark:/20775/b78201908">, which trigger the exception during XSL transform that is hard to detect. For example,
mads:Language: h

[2019-08-09 17:03] lsitu commented on #317
@abbypenn93 Could you give me more instructions for `Note:technical details` section mapping? Thanks.

[2019-08-09 17:15] abbypenn93 commented on #317
Hi Longshou. Below is my response to your questions. Please let me know if anything needs clarification.

(Only includes questions that required a response)

3. Subject heading ingest file not generated (step 4.a. of the harvest process):

**Status:**
**Fixed** - Subject file is present.

**Open** - in addition to the term (from onto_name), the onto_id should be placed in the "closeMatch" column o

[2019-08-09 17:29] lsitu commented on #356
@arwenhutt I've moved forward create PR https://github.com/ucsdlib/damsmanager/pull/357 that appends text "Corrupted" to the Excel header for authority records that don't have a class name but element `rdf:Description`. I think we may need to review those authority records and fix them.

@mcritchlow The PR https://github.com/ucsdlib/damsmanager/pull/357 is ready for review now. Thanks.

[2019-08-09 18:07] arwenhutt commented on #356
Thanks @lsitu !

[2019-08-09 18:28] lsitu commented on #317
@abbypenn93 Thanks. From the “Technical details processing” sheet, I can see how `Note:technical details` should be mapped now.
For `19. HTML elements are not being processed.`, Yes, damspas will process it in some way, but I think we may need to test it to see how it goes.

[2019-08-12 16:42] arwenhutt opened #358 "VRR Watermarking at ingest not working on production"
### Descriptive summary
The process for ingesting pdf's with generation of watermarked service files that was tested and works in staging does not work in production.

I ingested a VRR collection - [Layard papers](https://library.ucsd.edu/dc/collection/bb24279581) to production with file use value of "document-source" and the "Generate watermarked document and image service files" option selected

[2019-08-12 17:30] lsitu commented on #358
@rstanonik I found the following error in the log:
java.lang.IllegalArgumentException: Can't find command: /usr/local/bin/watermark.sh

It looks like that the watermark.sh program from github https://github.com/ucsdlib/watermark hasn't been on prod installed yet. Could you take a look? Thanks.

[2019-08-12 18:21] rstanonik commented on #358
@lsitu  I installed it on lib-hydratail-prod just now.
Please try again.
Ron

From: lsitu <notifications@github.com>
Sent: Monday, August 12, 2019 10:30 AM
To: ucsdlib/damsmanager <damsmanager@noreply.github.com>
Cc: Stanonik, Ronald <rstanonik@ucsd.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ucsdlib/damsmanager] VRR Watermarking at ingest not working on production (#358)

@rstanonik<

[2019-08-12 18:49] arwenhutt commented on #358
@rstanonik & @lsitu I retried the test ingest but still no derivatives:
https://library.ucsd.edu/dc/object/bb6899053h
https://library.ucsd.edu/dc/object/bb7547524c

[2019-08-12 19:16] rstanonik commented on #358
@lsitu damsmanager.properties in prod doesn't have any configuration information about watermark.

[2019-08-12 19:17] rstanonik commented on #358
Looks like I need to jenkins deploy private_config to prod.  Let me know if that sounds correct.

[2019-08-12 19:36] lsitu commented on #358
@rstanonik Could you check whether the following lines are there https://github.com/ucsdlib/private_config/blob/develop/damsmanager/production/damsmanager.properties#L113-L116? I think we just redeployed it from master last week.

[2019-08-12 19:54] lsitu commented on #358
@rstanonik I think you've setup a plan in Jenkins for it. And I recalled that you mentioned it was setup to deploy from development branch in the past. But last weekTuesday you talked about to deploy it from master branch so I merged the codes to master and you'd deployed it https://ucsdlibrary.slack.com/archives/C04R0LJSU/p1565119925065100.

[2019-08-12 19:57] rstanonik commented on #358
My mistake.
I installed on lib-hydratail-prod, but damsmanager in production runs on lib-ingest.
I installed on lib-ingest just now.

Please try again.

Ron

From: lsitu <notifications@github.com>
Sent: Monday, August 12, 2019 12:36 PM
To: ucsdlib/damsmanager <damsmanager@noreply.github.com>
Cc: Stanonik, Ronald <rstanonik@ucsd.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ucsdlib/damsm

[2019-08-12 20:08] lsitu commented on #358
Thanks @rstanonik . @arwenhutt Could you try it again?

[2019-08-13 16:55] lsitu commented on #317
@abbypenn93 In sheet "Contributor name processing" Row#4, in see value `ignore` in column `ITS Dev action`. Do you mean just to `ignore` all names with last name first like ['woodcock, christopher'] ? That is return no name value for any names with last name first (with pattern delimited by comma like 'woodcock, christopher').

[2019-08-13 19:39] lsitu commented on #317
@abbypenn93 I see it more complicated so I think we should keep this name pattern unless we know there will be no such cases in feature. For example, Row#56 has the following value:
['Buchanan, JoAnn (Stanford) (specimen prep)', 'Genoud, Christel (Gatan) (imaging)']

[2019-08-13 19:45] abbypenn93 commented on #317
Ah, yes! Then I agree, just replace commas and semicolons with pipes and DOMM will take care of the oddballs after the harvest.

[2019-08-13 23:25] arwenhutt commented on #358
Yay - it seems to be working now.
@lsitu how can we get the watermarked service files generated for the Layard collection https://library.ucsd.edu/dc/collection/bb24279581

[2019-08-14 16:56] lsitu commented on #317
@arwenhutt / @abbypenn93 I almost done with coding for the changes we need. But there are something wrong with the public CIL API and it returns a JSON source file instead of the CIL ID's while querying CIL IDs with `https://cilia.crbs.ucsd.edu/rest/public_ids?from=0&size=10&lastModified=1560150000`. And I can't test it. It looks like @hjsyoo is OoO at this time and won't be back by August 20th. W

[2019-08-14 17:09] abbypenn93 commented on #317
Are you in touch with Willy Wong (<wawong@gmail.com>)? I believe Willy is the person you'll need to work with.

[2019-08-14 21:15] arwenhutt commented on #358
@lsitu we need the watermarked service files generated for the Layard collection (the ingest which led to this ticket) - can you do that?

[2019-08-14 21:28] lsitu commented on #358
@arwenhutt Do you mean it's still not watermarking as expected?

[2019-08-14 21:38] arwenhutt commented on #358
@lsitu when I do a new ingest it watermarks as expected, but I ingested a collection (Layard) before the code was added to production on 8/12.  At that point the derivative creation did not work so the 1139 items ingested do not have watermarked service files.  If you click on one of the items you will see that there is no pdf available, and if you look at the metadata there is no file generated a

[2019-08-14 21:46] lsitu commented on #358
@arwenhutt I am not sure what's the better way to fix it in this case but re-ingest the collection with the ARK for the objects ingested (add `ARK` column to the spreadsheet) .

[2019-08-14 21:52] arwenhutt commented on #358
@lsitu Ah, so if I add an ARK column and use the excel ingest tool it won't create duplicate records?  Would I replace the unique ID with the ARK column or include both?

[2019-08-14 22:00] lsitu commented on #358
@arwenhutt It won't create duplicate object as long as you use the same ARK. We need both the unique ID and the `ARK` column.

[2019-08-15 13:24] arwenhutt commented on #358
@lsitu I added an ARK column to the ingest spreadsheet for two of the test objects, and then re-imported but got "execution failed"
the ingest file and damsmanager reports are here: rdcp-staging\zz_Test\vrr-test

[2019-08-15 16:09] lsitu commented on #358
@arwenhutt Could you use the ARK url in the `ARK` column like `http://library.ucsd.edu/ark:/20775/bb27693246`,
`http://library.ucsd.edu/ark:/20775/bb21208532`? Thanks.

[2019-08-15 18:40] arwenhutt commented on #358
@lsitu woohoo!  it worked!

[2019-08-15 20:15] cgarciaspitz commented on #349
Has this gone into effect? If so, how do I login?

[2019-08-15 21:05] lsitu commented on #349
@cgarciaspitz Yes. Here are the urls to login the Collection Status Report and File Report tool:
https://library.ucsd.edu/damsmanager/collectionStatusReport.do
https://library.ucsd.edu/damsmanager/fileReport.do

[2019-08-15 23:14] lsitu commented on #317
@abbypenn93 I looks like the the path `CIL_CCDB.CIL.CORE.TERMSANDCONDITIONS.free_text` in row#53 hasn't been corrected yet, which should be `CIL_CCDB.CORE.TERMSANDCONDITIONS.free_text. Also. per our discussions above, we would like to map it to `copyrightStatus`, right?

[2019-08-16 00:47] lsitu commented on #317
@abbypenn93 Never mind. I see the path is correct and I'll correct the mapping in my codes to `Copyright status` instead. But the  "CIL Processing and Mapping Instructions" may need to update as well. Thanks.

[2019-08-16 14:08] abbypenn93 commented on #317
Thanks, Longshou. I'll update CIL Processing and Mapping Instructions over the next few days.

[2019-08-16 14:38] lsitu commented on #317
Thanks @abbypenn93. Please let me know if there's some other changes so that I can update the one used by damsmanager in my codes.

[2019-08-16 15:51] lsitu commented on #317
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/359 to fix the inconsistent data and complex mapping issues that @abbypenn93 reported during the second round of QA.
I also fix a weird issue found in CIL public api download, which was working (event in staging for August auto harvesting). However I see it broken this time with JSON source response received at the very beginnin

[2019-08-16 19:46] lsitu commented on #317
@gamontoya Could we make a new release for damsmanager so that we can test it on staging for the CIL Harvesting QA again? Thanks.

[2019-08-16 22:21] #358 closed

[2019-08-19 22:32] #339 closed

[2019-08-20 16:26] gamontoya opened #360 "Release 2.73"
### Descriptive summary

Version: 2.73
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

-----

### To Verify
- [ ] [CIL metadata transformation QA ](https://github.com/ucsdlib/damsmanager/issues/317)

[2019-08-20 16:26] gamontoya commented on #339
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/360)

[2019-08-20 16:29] gamontoya commented on #360
@lsitu Ticket is ready. Feel free to add those who need to verify work in staging.

[2019-08-20 19:24] lsitu commented on #360
@gamontoya Thanks. I've deployed it to staging and initiated the CIL Harvesting process for QA, which will take two or three days to finish.

[2019-08-21 16:47] abbypenn93 commented on #317
It looks like the latest harvest/spreadsheet version is from August 1, but the metadata don't look complete. Is there another version that is ready review?
Thanks,
Abby

[2019-08-21 17:06] lsitu commented on #317
@abbypenn93 I think the August 1 was harvested by the monthly auto process, which should be the same as the last version that you'd QA. The new version is on-going and I think it'll be done in a couple of days. I'll let you know once it's ready for QA.

But could you QA the monthly automatic process for August 1? We would expect new JSON source added in July to be harvested there. Thank you.

[2019-08-21 21:32] abbypenn93 commented on #317
QA of cil_harvest_2019_08_01 harvest.

*3. Subject headings file
The headings file (cil_excel_subject_headings.csv) contains subject terms (onto_name and free_text), but not the closeMatch content (onto_id).

*8. TERMSANDCONDITIONS - no copyright note column in output file.

*11. How can I confirm that only new objects are being harvested?

*15. Person:researcher
In objects 50625, 50600, 50624, et

[2019-08-21 21:40] lsitu commented on #317
@abbypenn93 Thanks. I think all the issues above should be fixed in the new version that we deployed to staging yesterday.

[2019-08-21 22:04] remerjohnson opened #361 "Delete 42 duplicate objects in Larcom-Skinner Jones"
### Descriptive summary

Still unsure how this happened, as the ARK reports only contain 353 objects, yet 395 are in the [Larcom-Skinner Jones Collection](https://library.ucsd.edu/dc/collection/bb9663649f).

So requesting those 42 duplicate objects for deletion. Attaching the ARKs to delete on spreadsheet.

[arks_to_delete.xlsx](https://github.com/ucsdlib/damsmanager/files/3527502/arks_to_delete.x

[2019-08-29 15:07] lsitu commented on #317
@arwenhutt / @abbypenn93 I think the new version of CIL metadata transform is ready for review now, which is located at the same location in rdcp-staging:
/rdcp-staging/rdcp-0126-cil/cil_harvest_2019-03-07/metadata_processed/cil_excel_object_input.csv

/rdcp-staging/rdcp-0126-cil/cil_harvest_2019-03-07/metadata_processed/cil_excel_subject_headings.csv

Thanks.

[2019-08-29 15:31] abbypenn93 commented on #317
I should be able to check it out tomorrow.

[2019-09-03 16:01] lsitu commented on #317
@abbypenn93 I've run the CIL process on staging to update the harvest for August 1 to fix the missing contents files issue as you mentioned in   https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-523546257 above. Could you review it again? Thanks.

[2019-09-03 18:53] abbypenn93 commented on #317
@arwenhutt @lsitu @hjsyoo
Results from a check for missing files:
1) The objects 50582 and 50583 are missing their .jpg file (in both cases the other files referenced in the json are 3view-stack-final-bin1.mrc and 3view-stack-final-bin10.mrc). The spreadsheet correctly lists related image files.
2) No related image files: _json metadata_ for 50601, 50602, and 50603 points to 50600.zip and 50600.jp

[2019-09-03 19:10] abbypenn93 commented on #317
@lsitu When you feel like all the issues have been resolved, we'll need a full dump of non-copyrighted records. This will enable us to check that issues related to specific objects have been addressed and that all CIL metadata fields are being transformed properly. Objects in the latest harvests only utilize a subset of the full CIL metadata schema and so cannot be used to verify software fixes.

[2019-09-03 19:40] lsitu commented on #317
@abbypenn93 I think the output file `/rdcp-0126-cil/cil_harvest_2019-03-07/metadata_processed/cil_excel_object_input.csv ` (see https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-526228753) includes all records, and we will know whether there are any other issues exists once you review it. But if you would like to do a full dump of all records now, please delete those folders generated

[2019-09-04 15:57] abbypenn93 commented on #317
@lsitu Why do you want to delete the old harvest files?

[2019-09-04 17:52] jessicahilt commented on #317
@abbypenn93 Just an FYI that @lsitu is on vacation today.

[2019-09-04 18:36] hjsyoo opened #362 "Add more component specificity to RDCP Download report"
### Descriptive summary

In https://library.ucsd.edu/damsmanager/statsRdcpDownload.do, downloads are currently reported for each component, by component title. There are a non-trivial number of objects, however, that have more than one child component with the same title. For example, https://library.ucsd.edu/dc/object/bb7920789g has 12 "Readme", 10 "Raw data" and 10 "Image Analysis" child compone

[2019-09-04 18:43] jessicahilt commented on #356
@lsitu Where can @arwenhutt test this? On staging? Or is this waiting to be deployed?

[2019-09-04 18:51] mcritchlow opened #363 "Replace Fixes in Pull Request template"
This is causing confusion since work with Stakeholders is often not vetted. Having the ticket automatically close when PRs are closed seems to often cause more trouble than it provides value. So, we shouldn't have this as a default anymore.

[2019-09-04 22:44] hjsyoo commented on #317
Hi all, I'd like to describe here some terminology and versioning challenges that seem to be causing some confusion. First, let's standardize the terms we use for the CIL workflow (feel free to suggest better ones or add something I've missed):

1. source metadata harvest = the JSON files at https://cilia.crbs.ucds.edu/rest/public_ids?*" are copied into /rdcp-0126-cil/cil_harvest_YYYY-MM-DD/metada

[2019-09-05 15:21] lsitu commented on #317
@abbypenn93 For those old harvest files, do you have anything want to keep? I think you can rename it to something with different naming patterns if you need it for future reference. We can start a new round of a full dump to initiate a clean harvest process as initiation once you give it a pass. Thanks.

@hjsyoo For your question regarding the CIL workflow sequence, step#1 and step#2 are happenin

[2019-09-05 15:29] lsitu commented on #356
@jessicahilt / @arwenhutt Yes. It was deployed to staging already so please test it there. Thanks.

[2019-09-05 15:35] #363 closed

[2019-09-05 16:15] hjsyoo commented on #317
@lsitu Thanks for clarifying the workflow sequence. Does the SPARQL script verify that all the data files listed in the JSON records exist at cildata.crbs.ucsd.edu, or does it check that they were successfully downloaded to \content_files?

It makes sense that in the ongoing harvests, we will only grab objects that were modified since the lastModified date. I'll convey that workflow to Willy so he

[2019-09-05 16:34] abbypenn93 commented on #317
There now exists two CIL folders on staging:
rdcp-0126-cil (folder for new harvests)
rdcp-0126-cil-development (previous harvests used during early stages of QA)

[2019-09-05 16:36] arwenhutt commented on #356
@lsitu  okay, once the sync is done I'll test it.

[2019-09-05 16:39] abbypenn93 commented on #317
Please note that I'll be attending the RDC retreat today and tomorrow and as a result will be slow to respond to messages.
Also, I'm currently revising the "CIL Processing and Mapping" document so it will be a bit messy for a few days.

[2019-09-05 17:01] lsitu commented on #317
@hjsyoo The SPARQL will check for CIL objects already ingested in DAMS basing on the `samplenumber` identifier so that no duplicate objects will be ingested. So all previous ingested objects that were modify will be ignored with the current process.

[2019-09-06 15:32] lsitu commented on #317
@abbypenn93 I've initiated a full CIL harvest dump to the empty directory `rdcp-0126-cil`, which will take several days to be finished.

While moving forward with CIL harvest on prod, let's use `dcp-0126-cil-development` (previous harvests used during early stages of QA) for QA and staging environment. And the current location `rdcp-0126-cil` (folder for new harvests) will be cleanup for prod once

[2019-09-06 22:03] abbypenn93 commented on #317
@lsitu   In the process of updating the CIL documentation, I realized that there's a problem with the CIL_CCDB.CIL.CORE.ATTRIBUTION.PUBMED field. Entries in the spreadsheet for PubMed related publications appear like this one:
PubMed ID:   https://www.ncbi.nlm.nih.gov/pubmed/?term=PMID:15036382

However, this link doesn't fully resolve. Instead, it should read as follows (without the "PMID:" strin

[2019-09-06 22:14] lsitu commented on #317
@abbypenn93 I think I can make all change you need together. So just update the instructions in the documentation and let me know what need to change. It'll be nice if you can add examples for the mapping. Thank you.

[2019-09-06 22:41] hjsyoo commented on #317
@abbypenn93 I've made a minor revision to the processing instructions in https://docs.google.com/spreadsheets/d/1NnYw3bgNraJ9hZCH1SOKijh_JvJh3So1LpDC24vu7h8/edit#gid=1321122337 for the following mappings. Please check that they look correct.

- CIL_CCDB.Citation.DOI --> Related resource:related

- CIL_CCDB.CIL.Citation.Title --> Note:preferred citation

[2019-09-09 16:32] abbypenn93 commented on #317
Great, thanks.

[2019-09-09 16:53] lsitu commented on #317
@abbypenn93 Can you list the details of all mapping changes that we need so that I can update damsmanager for it?
One issue I see is that the JSON source path `CIL_CCDB.CIL.Citation.Title` in the spreadsheet has the extra key `.CIL`, which should be `CIL_CCDB.Citation.Title`. Right? Thanks.

[2019-09-09 17:21] abbypenn93 commented on #317
I think the documentation revision for the CIL_CCDB.Citation.Title field was made a while back--anyway, it looks okay now.

I'm updating the documentation to reflect changes based on our discussions in this ticket and the resulting code changes. I'll be done later this morning and will let you know when the document is ready for review.

The report from Friday, related to CIL_CCDB.CIL.CORE.ATTRIBU

[2019-09-09 17:35] lsitu commented on #317
@abbypenn93 From coding and damsmanager's side, we need all paths in the documentation (https://docs.google.com/spreadsheets/d/1NnYw3bgNraJ9hZCH1SOKijh_JvJh3So1LpDC24vu7h8/edit#gid=1321122337) to be correct, and any changes that are made since the first round of QA need to be listed so that I can update the codes for it. Otherwise, the required changes at your end won't be corrected during CIL tra

[2019-09-09 21:06] abbypenn93 commented on #317
Please review the revised mapping document "CIL Ongoing Harvesting Process" (https://docs.google.com/spreadsheets/d/1NnYw3bgNraJ9hZCH1SOKijh_JvJh3So1LpDC24vu7h8/edit#gid=1321122337).

Revisions include:
a.  Items discussed in this ticket (especially those items from Aug. 1 (and discussed in question and answer fashion in the Aug. 2 comment)
b. The addition of raw (unprocessed) metadata examples. M

[2019-09-09 21:24] lsitu commented on #317
@abbypenn93 Thanks. It is really helpful to track down for updating the codes in damsmanager.  For you question in cell D4, the `Object Unique ID` is just the json source filename in `metadata_source` folder, which is coming from the public CIL API `https://cilia.crbs.ucds.edu/rest/public_ids?*` while looking up the object IDs and named it at the time the source JSON is downloaded.

[2019-09-09 22:08] lsitu commented on #317
@abbypenn93 Could you review cell D84 for the path `CIL_CCDB.CIL.Citation.Title` again ? I believe it should be `CIL_CCDB.Citation.Title` (without the `CIL` key). Thanks.

[2019-09-09 22:45] abbypenn93 commented on #317
Yes! I think you've pointed this out before but it didn't quite sink in, thanks! Set to CIL_CCDB.Citation.Title now.

[2019-09-10 16:14] lsitu commented on #317
@abbypenn93 I see the CIL harvest process is broken with the latest version of the [CIL Processing and Mapping Instructions](https://docs.google.com/spreadsheets/d/1NnYw3bgNraJ9hZCH1SOKijh_JvJh3So1LpDC24vu7h8/edit#gid=1321122337):
1. The first row is `Terminology` now while it's the column headers in the old version.
2. Values in cell D5 is changed to expressions while it was in multi-value format

[2019-09-10 16:23] lsitu commented on #317
For the change `CIL_CCDB.CIL.Citation.Title --> Note:preferred citation -- The Preferred Citation doesn't need "DOI placeholder"` in https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-529667020, do you have an example for `The Preferred Citation doesn't need "DOI placeholder"`?

[2019-09-10 16:48] hjsyoo commented on #317
I was just thinking that the text, "DOI placeholder", in the citation is unnecessary, since the next step will be to ask you to do a batch DOI minting for all the records? Is this correct? I've requested batch minting after ingest for other collections, so I assumed we would do the same for this collection. That is, minting will be done after the records are ingested into prod. So, the processed c

[2019-09-10 17:56] lsitu commented on #317
@hjsyoo Got it. Thanks. I'll simply trim the text "DOI_placeholder" from the end of the `Note:preferred citation` then.

[2019-09-11 17:31] arwenhutt commented on #317
@lsitu I have a question about this:

It sounds like you are saying that the mapping document we created (CIL Processing and Mapping Instructions) is actually driving the code.  So if we modify anything in that spreadsheet - it impacts the transformation process itself.

Is that correct?

[2019-09-11 18:30] lsitu commented on #317
@arwenhutt Yes. The spreadsheet is **downloaded** and applied for CIL transformation process in damsmanager. The columns that may impact the transformation process are `columns Source / CCDB field`, `Ingest File Header`, and `Processing and Fixed Values Instructions`. Any value and format changes in the columns above may impact the CIL transformation process. So far I detected the following change

[2019-09-11 19:25] lsitu commented on #317
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/365 to apply the new mapping instructions template and fix the mapping issues that were raise above. It's ready for review now. Thanks.

[2019-09-11 22:28] arwenhutt commented on #317
@lsitu Oh, wow, we had no idea...we wrote and have been working with the document as a blueprint or set of instructions rather than as a piece of the `code` itself.  Is this a new approach to metadata transformation?  or one that has been used for other collections?

[2019-09-12 00:03] lsitu commented on #317
@arwenhutt I think the CIL collection is the first collection that we are pursuing the dynamic transformation in damsmanager. The ideas here is just trying to follow the syntax and format  in the spreadsheet, which could give it some flexibility over the mappings. A similar approach is applied for the Excel Input Stream Template for header and values validation.
But this an be applied to other col

[2019-09-13 15:18] lsitu commented on #317
@arwenhutt / @abbypenn93 Have you created the folder `rdcp-0126-cil-staging-qa` for staging and QA? I think we can deploy damsmanager and private-config with the new mapping instructions to staging, which will stop the current CIL harvest process. And I can start a new round of full CIL dump in the folder `rdcp-0126-cil-staging-qa` on staging.

[2019-09-13 16:30] arwenhutt commented on #356
@lsitu Thanks, I've verified that I am able to export that collection now.

I do agree with @mcritchlow 's [comment in pr 356](https://github.com/ucsdlib/damsmanager/pull/357#pullrequestreview-273284128) about needing to look at the issue of corrupted/incomplete md more generally, but that would be something for the future!

[2019-09-13 16:30] #356 closed

[2019-09-13 16:37] arwenhutt commented on #317
@lsitu [yep](https://github.com/ucsdlib/private_config/pull/20#issuecomment-530940656) rdcp-staging\rdcp-0126-cil-staging-qa

[2019-09-16 17:50] hjsyoo opened #366 "Deletion request for dataMares object"
### Descriptive summary

Please delete https://library.ucsd.edu/dc/object/bb34157613, which is currently in Curator only view. Per depositor's email on 6/28/17, "it is very sensitive information that we just realized that can't be released yet (not even metadata)." As part of cleanup for this collection, let's remove this completely from the DAMS since there's minimal benefit to having it remain o

[2019-09-16 20:25] gamontoya commented on #366
@lsitu Can you please do this removal?

[2019-09-17 17:05] abbypenn93 opened #367 "Batch Export uses old Creative Commons license boilerplate text"
### Descriptive summary

Production and Staging Batch Export replaces Creative Commons license boilerplate text with outdated text. Note that I originally blamed Batch Edit.

For example, the **Copyright** section looks like this in the Production object:

![image](https://user-images.githubusercontent.com/48562617/65055596-533bf880-d924-11e9-8737-297351a67d00.png)

but the exported object looks l

[2019-09-17 17:31] lsitu commented on #367
@abbypenn93 I think the context of the ticket is not correct for Batch Export. Batch Export will only export the metadata from the triplestore without altering the values. The issue here for the CC license template is altered by damspas UI display and Batch Export won't retrieve display values from damspas UI.

Instead of requiring the change in Batch Export, there are two tickets may needed:
1. U

[2019-09-17 17:54] lsitu commented on #367
Maybe we need global data cleanup to change the existing old Use Constraint(s)  (`dams:copyrightNote`) to the new CC copyright Use Constraint(s) template?

[2019-09-17 20:21] gamontoya commented on #289
Has dependency:

- [x] https://github.com/ucsdlib/damsmanager/issues/317

Do not close until the above is done.

[2019-09-17 22:10] abbypenn93 commented on #367
Ah, I see. Now I mistakenly blamed Batch Export. :)
Let's pause while Arwen and I take a closer look.

[2019-09-17 22:44] arwenhutt commented on #317
@lsitu it looks like file download to `rdcp-0126-cil-staging-qa` stopped yesterday morning ~7:30am, but the processed metadata files haven't shown up on rdcp-staging yet.  Can you tell where it's at/what's happening?

@jessicahilt mentioned that you'll be working on Chronopolis for the next few weeks, which would be a good time for @abbypenn93 to be reviewing the updated metadata output.

[2019-09-17 22:52] lsitu commented on #317
@arwenhutt It looks like that the lib-hydratail-staging server is rebooted yesterday. Would you like to delete the source json and contents that were downloaded for a fresh restart, or just override the json source dowloaded wihile keeping those content files?

[2019-09-18 21:07] arwenhutt commented on #317
@lsitu we aren't sure if all the metadata files downloaded or if it was interrupted.  Can you re-harvest the json source metadata files and start the metadata transformation process?

[2019-09-18 21:53] lsitu commented on #317
@arwenhutt I think it was interrupted by server reboot and I'd restarted the CIL harvest process last night. But I don't know how long it'll take since it's still downloading the JSON source files at this time.

[2019-09-20 21:09] gamontoya commented on #360
@lsitu Please notify @abbypenn93 and @arwenhutt when it's ready.

[2019-09-20 21:22] lsitu commented on #360
@gamontoya Sure. A new round of full CIL dump is still on going on staging. I seems like it's stop somehow yesterday with only 8092 objects downloaded, while the total number is expected to be 9296. The process is restarted this morning and I think it'll take a few days to be done.

[2019-09-20 21:42] gamontoya commented on #360
@lsitu Perfect. Thanks for the update.

[2019-09-30 16:45] abbypenn93 commented on #317
I'll start QAing the new harvest and metadata transformation this week.

[2019-09-30 16:56] lsitu commented on #317
Thanks @abbypenn93. It's ready for you finally. Just to note that we started the CIL harvest initiation process on Friday, Sep. 13 and it was interrupted a couple of times on staging. It looks it will take around two weeks to have the CIL harvesting initiation step done.

[2019-09-30 19:57] abbypenn93 commented on #317
@lsitu Hopefully future harvests won't take as long since there will be fewer objects.

[2019-09-30 20:46] lsitu commented on #317
@lsitu Agree. Only the initiation step that takes so long. And it looks like it may touch a stalled connection issue from the other side while download content files on staging.

[2019-10-01 01:01] hjsyoo opened #368 "Apply a conditional placement (RDC/non-RDC) for Note:Preferred Citation"
### Descriptive summary
Note: this ticket was re-specified on 2019-10-23 to capture the discussion at the DAMS Working Group meeting on 2019-10-15.

When re-ordering DAMS elements as indicated in https://github.com/ucsdlib/damspas/issues/632, apply a conditional placement for Note:Preferred Citation.

- For RDC objects, place Note:Preferred Citation immediately before Note:Description.
- For non-R

[2019-10-01 18:10] jessicahilt commented on #362
Can you take a look at this and see what you think as far as level of effort?

[2019-10-01 18:34] lsitu commented on #362
@jessicahilt Sure. I think it's doable. I'll see how to build the component title.

[2019-10-03 16:50] arwenhutt commented on #367
@lsitu I think your suggestions make sense, to confirm that includes:

1. Global data cleanup to change the existing old Use Constraint(s) (dams:copyrightNote) to the new CC copyright Use Constraint(s) template for objects with a cc license
2. Update Excel Standard InputStream in DAMS Manager to use the expected CC copyright Use Constrain(s) template on object creation
3. Revert the codes on damsp

[2019-10-04 17:23] gamontoya opened #369 "Searchable Item displays count of 0"
### Descriptive summary

In the DAMS Collections report (collectionsReport.do), column D ("Searchable Items") reports a 0 on some RDCP collections (see screenshot)

It is possible that this is a special characters encoding bug.

![rdcp_collections_report](https://user-images.githubusercontent.com/4314914/66227014-0df02880-e691-11e9-996f-3608eb1d01ff.png)

[2019-10-04 19:07] lsitu commented on #362
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/370 for it. Thanks.

[2019-10-04 21:30] hjsyoo opened #371 "De-index all pages in the collection, Data from: A Glimpse through Time and Space: Visualizing Social Memory...(2018)"
### Descriptive summary

De-index all pages in the Catalhoyuk Glimpse (v1) collection: https://library.ucsd.edu/dc/collection/bb3485072m, so they stop turning up in a search (DAMS or Google).
- 1 collection page
- 8 object pages

The pages should continue to be accessible by URL.

### Related work

- https://ucsdlibrary.atlassian.net/browse/DI-266
- https://docs.google.com/spreadsheets/d/1M96UIFcz

[2019-10-04 21:45] gamontoya commented on #371
@mcritchlow @lsitu What does this entail, exactly (Solr, Google?)?

[2019-10-04 21:57] lsitu commented on #371
@gamontoya @hjsyoo  I think we've never done that to de-index any records in dams but change the visibility of a collection to curator only access. Is it what we need to do?
And I have to clarify that we have no control over the objects from showing up on search engines once the objects are caching there. @mcritchlow Do you have any ideas on it?

[2019-10-04 23:27] arwenhutt commented on #371
@lsitu @gamontoya @mcritchlow
hi all, @hjsyoo will need to confirm, but I believe what is being requested is to suppress discovery for these items (like the open topography collection/items).

If that's the case, then we (DOMM) may be able to do this by editing the records and adding the suppress public discovery note.

Let us know if that sounds right, thanks!

[2019-10-05 00:44] arwenhutt commented on #371
@lsitu @gamontoya @mcritchlow

I confirmed with @hjsyoo on slack that these should be changed to suppress discovery, and have updated the 8 objects with the other rights note:
[code]
They are all working as expected (i.e. not showing up in DAMS PAS search (when not logged in as curator), but visible via direct ark or doi link.

I also updated the CLR adding:

Which did not function as expected, in

[2019-10-07 15:24] hjsyoo commented on #371
Thanks @arwenhutt ! I was using the wrong vocabulary. The objects are behaving as expected now, but aside from the bug issue, _can we have the collection page be publicly visible_ (without changing the suppressDiscovery status of the objects)? If the only two possible states for the collection page are [public access & discoverable] vs. [curator only & suppressDiscovery], then the former state is

[2019-10-07 16:49] arwenhutt commented on #371
@lsitu @gamontoya @mcritchlow
It looks like I was wrong about the CLR functioning!  I've edited my comment above to correct.

So it looks like we still have a bug with the CLR suppress discovery functionality.

[2019-10-07 18:00] gamontoya commented on #368
Hi @VivianChu. This ticket is waiting for input from @arwenhutt

[2019-10-07 19:20] gamontoya commented on #362
@hjsyoo @abbypenn93 Are you able to confirm that this is fixed?

[2019-10-08 16:05] arwenhutt commented on #368
@gamontoya I think this does need DAMS metadata policy group discussion -- I'd also like to discuss with @ucsdlib/domm the property name.

[2019-10-08 16:14] hjsyoo commented on #368
That sounds fine, although I wonder if the working group might also be appropriate? The key request here is for a way for RDC and non-RDC objects to have different rank placement for the Preferred Citation field. We aren't tied to a particular strategy for accomplishing this.

[2019-10-08 16:32] arwenhutt commented on #368
@jessicahilt @gamontoya @hjsyoo Yeah, if the ticket is really a request for:

then developer feedback / working group discussion makes sense.

The solution in this ticket is definitely workable, but there might be beter options.
E.g. Like context specific rendering, e.g. if an object is in the rdcp unit, then display the elements in a different order.  I have no idea if that would be even doable,

[2019-10-09 21:25] #308 closed

[2019-10-11 16:27] hjsyoo opened #372 "Update http to https in Mint DOI button functionality"
### Descriptive summary

Background: When the Mint DOI button is used under Curator Tools, the newly minted DOI is displayed at the end of Preferred Citation. Currently, the URL prefix displays "http://doi.org..."

Request: Although that link works, I believe "https://doi.org..." is a more secure redirect method. Also, for consistency for users, can we have the displayed URL be changed to https?

[2019-10-11 16:50] gamontoya commented on #372
Kamino cloned this issue to [ucsdlib/damsrepo](https://github.com/ucsdlib/damsrepo/issues/102)

[2019-10-11 19:14] lsitu commented on #369
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/373 to correct the Searchable Item count issue, which is caused by title encoding and spaces in titles. And I also fixed the corrupted diacritics in the Excel exported that I found. It's ready for review now. Thanks.

[2019-10-11 21:27] #369 closed

[2019-10-11 22:03] gamontoya opened #374 "Release 2.74"
### Descriptive summary

Descriptive summary
Version: 2.74
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

### To Verify
[ ] - [Add more component specificity to RDCP Download report](https://github.com/ucsdlib/damsmanager/issues/362)
[ ] - [Searchable Item displays count of 0](https://github.com/ucsdlib/damsmanager/issues/369)

[2019-10-11 22:05] gamontoya commented on #374
@lsitu Let me know which tickets to reference above in the _To Verify_ section.

[2019-10-11 22:08] lsitu commented on #374
@gamontoya Sure.

[2019-10-11 22:40] lsitu commented on #374
@gamontoya @hjsyoo DAMS Manager release 2.74 is ready on staging https://librarytest.ucsd.edu/damsmanager for review now. Thanks.

[2019-10-11 23:56] gamontoya commented on #374
@lsitu I'm seeing this on staging:

`"Khirbat   en-Nahas Project (Jordan)"@ar-Latn | ProvenanceCollection | rdcp | 0 | 1366 | 208,230 | public`

Where zero is the searchable count

[2019-10-12 00:02] lsitu commented on #374
@gamontoya I got the following report, which is correct:
[collections_report (2).xls.txt](https://github.com/ucsdlib/damsmanager/files/3719937/collections_report.2.xls.txt)

[2019-10-14 16:21] hjsyoo commented on #374
@lsitu The report (collections_report (2).xls.txt) looks correct to me, too, if it's just pulling from librarytest.ucsd.edu/dc and not prod. But as an FYI, I'm not familiar with how to pull the report from https://librarytest.ucsd.edu/damsmanager/. I usually just ask @gamontoya for that collections report.

[2019-10-14 16:22] gamontoya commented on #374
@lsitu Yes, your version from stage looks correct. This can be pushed to prod.

[2019-10-14 23:22] lsitu commented on #374
@rstanonik / @jhriv DAMS Manager Release 2.74 is ready for prod now. Thank you.

[2019-10-15 12:55] rstanonik commented on #374
Deployed this morning, including tomcat restart

[2019-10-15 13:31] abbypenn93 commented on #317
**QA of cil_harvest_2019-09-13 metadata transformation**

This metadata transformation is really looking good (especially Note:technical details)!

Remaining issues:

_Please note: the item numbers below do not refer to items reported in previous QA reports._

Item 1:
Ingest File Header: person:researcher

a. Names are present but are listed in separate columns (should be located in one column and

[2019-10-15 15:47] lsitu commented on #317
Thanks @abbypenn93. Following are my comments for the issues you reported:

Remaining issues:

Please note: the item numbers below do not refer to items reported in previous QA reports.

Item 1:
Ingest File Header: person:researcher

a. Names are present but are listed in separate columns (should be located in one column and separated by a " | "). There are over 35 columns due to objects like 4570

[2019-10-15 15:54] lsitu commented on #374
It looks good. Thanks @rstanonik.

[2019-10-15 18:07] gamontoya commented on #368
Per Matt, `put a conditional on the code`.

[2019-10-15 18:08] gamontoya commented on #368
@VivianChu See above. If there are issues, please discuss with Matt.

[2019-10-15 18:16] VivianChu commented on #368
@gamontoya - It's fine to use a conditional on the code.  I just want to confirm the change.  For rdc object, the preferred citation note will be displayed as "Cite This Work" above Note:Description element. For non-rdc object, then it will be displayed as "Preferred Citation" above the Copyright element.  Is that correct?  Thanks

[2019-10-15 18:30] hjsyoo commented on #368
@mdpeters @cgarciaspitz Do you want to keep the "Cite This Work" label on Note:Preferred Citation? I don't think we discussed changing this, so want to confirm that the label should remain as is for non-RDC objects?

[2019-10-15 18:34] mdpeters commented on #368
@hjsyoo "Cite This Work" label is fine by me.

[2019-10-21 16:12] lsitu commented on #317
@abbypenn93 Have you got a chance to take a look at my comments above? I can provide my update on `Item 5` and `Item 6` above now:
Item 5:
Ingest File Header: Related resource:related

Encoding error (96 instances). Registered trademark symbol (®) appears at the end of the string: “2004 Olympus BioScapes Digital Imaging Competition¬Æ @ …” Symbol is correct in the json file.

Example object: 42516

[2019-10-22 20:16] abbypenn93 commented on #317
Hi Longshou,

Responses appear after my initials.

Item 1:
Ingest File Header: person:researcher

a. Names are present but are listed in separate columns (should be located in one column and separated by a " | "). There are over 35 columns due to objects like 45701 which have a long list of researchers.

A: As we discussed for Language tag last time, I think we use the same flat spreading columns

[2019-10-22 22:26] abbypenn93 commented on #317
**Follow up on Item 1b (10/22 comment):**
b. All the researcher names should appear in the heading ingest file (cil_excel_subject_headings.csv):

subject type subject term
person:researcher CIL_CCDB.CIL.CORE.ATTRIBUTION.Contributors

A: Yes, we only include columns starting with subject: in cil_excel_subject_headings.csv. I'll add all columns starting with person: then. But how about columns start

[2019-10-22 23:15] lsitu commented on #317
@abbypenn93 I think I have to clarify `Item 6` regarding the wrong header `Copyright status`:
Item 6:
Ingest File Header: copyright status

“copyright status” column not present. Return (non-copyright) value that appears after "TERMSANDCONDITIONS": {"free_text":

**_A:_** Header `copyright status` is not a valid header in the both Batch Overlay/Import and Batch Export tool. So you will get a faile

[2019-10-23 15:26] lsitu commented on #317
@abbypenn93 Regarding `Item 4` above:
Item 4:
Ingest File Header: Note:description

Encoding (from source json file) handling issue affecting 1136 objects. This content is not needed. Please delete the tags and values within the tags.

Examples start at object 32167.
**_Q:_** In object 32127, I see the following `Note:description` with no table tags like `table border="1px"` but `<br />`:
[code]
A

[2019-10-23 15:44] lsitu commented on #317
@abbypenn93 FYI - Here is the documentation for the column headers that are supported in Batch Export and Batch Overlay/Edit tools:
https://docs.google.com/document/d/1NAEVvYkU4oqfrZTaSrjbPwUyIGd9meFkkOyzR8ZlO9c/edit

[2019-10-23 15:53] abbypenn93 commented on #317
It's interesting because when I copy from Excel and paste into this ticket the table is properly formatted. I can see it when I "Preview" the message. Let's see what happens when I click Comment to send the message.
From 32509:

Tissue   section of human prostate containing adenocarcinoma that has been   immunostained for the cell-surface antigen CD13. Nuclei are stained in blue.   This image is p

[2019-10-23 15:53] abbypenn93 commented on #317
Ah, it worked!

[2019-10-23 15:58] lsitu commented on #317
@abbypenn93 I think you can import an object in staging with the HTML tags in metadata to see whether it works for you or not. Let me know if you still need any text processing to remove the HTML tags.

[2019-10-23 17:04] abbypenn93 commented on #317
I ran a test ingest with HTML tags before I left on my trip, it doesn't work: https://librarytest.ucsd.edu/dc/object/bd3469143k

[2019-10-23 19:38] lsitu commented on #317
@abbypenn93 What do you want me to do for `Item 4` above with the html tags in `Note:description` https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-545499347?

[2019-10-23 21:31] abbypenn93 commented on #317
How much work would it take to keep the table structure? Please let me know and I'll talk to Ho Jung about how she wants to proceed.

Thanks,
Abby

[2019-10-23 21:44] lsitu commented on #317
@abbypenn93 I am not sure but this should be some work in damspas to manipulate with the html entities for indexing/UI display.

[2019-10-23 21:51] abbypenn93 commented on #317
@lsitu Thanks, I'll get back to you tomorrow.

[2019-10-24 16:20] lsitu commented on #317
@abbypenn93 I believe damspas are only handling html tags for hyperlinks at this time. For support other HTML tags, as I mentioned in my last comment https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-545649252, there should be some works in damspas to manipulate with the html entities for indexing and/or UI display.

[2019-10-24 16:27] abbypenn93 commented on #317
Do you have a sense of how much work it would take to handle more HTML tags?

[2019-10-24 16:42] lsitu commented on #317
@abbypenn93 I think this may need some R&D work since I am seeing some html tags in the description text are altered/erased. We may need to explore how the current gem works for the hyperlinks and find another one to support html tags. I am pulling @mcritchlow in for more discussions.

[2019-10-24 16:56] mcritchlow commented on #317
I agree with @lsitu - this would probably require a separate R&D ticket to look into what's possible with our existing version of Ruby/Rails. To Longshou's point, the original scope for embedded html wa focused on rendering links, and thus [the solution we're currently using](https://github.com/tenderlove/rails_autolink) specifically targets html links.

Also tagging @gamontoya - since this strike

[2019-10-24 17:23] abbypenn93 commented on #317
@mcritchlow Thanks. Make sense. I'll check in with Ho Jung again too.

[2019-10-24 17:44] gamontoya commented on #317
@mcritchlow @abbypenn93 @hjsyoo Matt is correct. I'll create a separate ticket. The DAMS WG will then review and evaluate.

[2019-10-24 22:15] hjsyoo commented on #317
Noting here that the n=1095 current CIL records with html tables appear to have been created by the same research group, and that according to Willy, they will not enter new data in html format. It sounds like use of html formatting for tables was a one-off (albeit a huge one) for that one research group. We will verify this, but it sounds like R&D may not be strictly necessary.

[2019-10-25 16:56] lsitu commented on #317
@abbypenn93 Should we wait on the support in damspas for HTML tags support, leave the HTML tags there for now, or move ahead to remove the HTML tags: https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-545649252?

[2019-10-25 17:53] hjsyoo commented on #317
@abbypenn93 Given that we're not expecting html tags in future harvests, and that the existing instances look pretty consistent, it seems like we have a few choices: 1) develop HTML tag rendering in the DAMS code, 2) convert table information into a readable (but not pretty) plain text format and leave it in the Description, 3) convert table information into .csv or .txt and add as an additional c

[2019-10-25 17:57] hjsyoo commented on #362
Looks good on prod. Thanks, @lsitu .

[2019-10-25 17:57] #362 closed

[2019-10-29 17:05] lsitu commented on #317
@arwenhutt @abbypenn93 Are there any decisions on the html tags? Since the HTML tags are  specific to part of the existing metadata, is it a separate metadata cleanup/UI display issue instead of binding it to the CIL transformation process as a general support?

[2019-10-29 18:33] hjsyoo commented on #317
@lsitu I hate to hold things up, but I think this may need a working group discussion (scheduled for next Tuesday). The group may have ideas on how to render the table in plain text, or weigh in on whether the html tag rendering functionality is needed.

[2019-11-01 16:37] gamontoya commented on #360
@lsitu Where are we with this ticket?

[2019-11-01 16:58] #368 closed

[2019-11-01 17:07] lsitu commented on #360
@gamontoya It's deployed and we can close it now. The release is carried over by [Release 2.74](https://github.com/ucsdlib/damsmanager/issues/374) on Oct. 15, 2019.

[2019-11-01 17:09] gamontoya commented on #360
Thank you!

[2019-11-01 17:09] #360 closed

[2019-11-06 22:34] hjsyoo commented on #317
@lsitu We've decided to display the html tables as comma-delimited text in the Note:Description field. DOMM will transform those records after your overall metadata transformation is completed. Thanks for your patience!

[2019-11-07 17:29] hjsyoo commented on #317
@lsitu Was the decision on html rendering the last hurdle before QA? Is \rdcp-0126-cil-staging-qa\cil_harvest_2019-09-13\metadata_processed\cil_excel_object_input.csv ready for QA?

[2019-11-07 18:15] lsitu commented on #317
@hjsyoo I think HTML rendering is the last hurdle brough up from @abbypenn93 regarding QA-ing the output in \rdcp-0126-cil-staging-qa\cil_harvest_2019-09-13\metadata_processed\cil_excel_object_input.csv.

@abbypenn93 Basing on your comments in https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-545134807 and the discussions above, I am making the following code changes:
- All fields are

[2019-11-07 20:56] lsitu commented on #317
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/375 for the issues in https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-551200001. It's ready for review now. Thanks.

[2019-11-08 21:19] gamontoya opened #376 "Release 2.75"
### Descriptive summary

Descriptive summary
Version: 2.75
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @rstanonik

------------
### To Verify
[ ] - [Export fields in multi-values formats]( https://github.com/ucsdlib/damsmanager/pull/375)

[2019-11-08 21:19] gamontoya commented on #374
Kamino closed and cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/376)

[2019-11-08 21:19] #374 closed

[2019-11-08 22:54] abbypenn93 commented on #317
In response the email from @lsitu (11/7)
_I am making the following code changes:
--All fields are exported in multi-values delimited by character pipe |: Item 1a, Item 2, Item 3
--All the researcher names (Person:researcher) are exported to the heading ingest file (cil_excel_subject_headings.csv):Item 1B
--Copyright Status field is fixed, with is converted to the standard column name copyrightSta

[2019-11-12 17:06] lsitu commented on #376
@gamontoya @abbypenn93 The new release 2.75 was deployed to staging and the CIL transformation processed is done. The object metadata and subject headings is generated in dams-staging `/rdcp-staging/rdcp-0126-cil-staging-qa/cil_harvest_2019-09-13/metadata_processed`, which ready for review now. Thanks.

[2019-11-12 17:08] lsitu commented on #317
@arwenhutt @abbypenn93 The object metadata and subject headings are generated in dams-staging `/rdcp-staging/rdcp-0126-cil-staging-qa/cil_harvest_2019-09-13/metadata_processed`, which is ready for review now. Thanks.

[2019-11-13 20:10] gamontoya commented on #376
@lsitu -- waiting for @abbypenn93 or @arwenhutt to review.

[2019-11-13 20:49] abbypenn93 commented on #376
Thanks, I'll check it out.

[2019-11-21 21:03] abbypenn93 commented on #317
@lsitu Hi Longshou. I needed to wrap up a few other projects but I'll be starting CIL transformation metadata QA today.

[2019-11-21 21:40] lsitu commented on #317
@abbypenn93 It sounds good. Thanks.

[2019-11-22 16:09] abbypenn93 commented on #317
Yesterday at the end of my working session with /Volumes/rdcp-staging/rdcp-0126-cil-staging-qa/cil_harvest_2019-09-13/metadata_processed/cil_excel_object_input.csv the file save was interrupted and as a result it was not saved entirely. Normally I copy the file to my local disk to refer to during QA but I forgot to yesterday. Can you please restore the file from back up? Sorry for the extra work.

[2019-11-22 16:17] lsitu commented on #317
@abbypenn93 I don't know whether we have a backup copy or not. @rstanonik Is it possible to restore it? Thanks.

[2019-11-22 18:23] abbypenn93 commented on #317
@lsitu  I'll finish QA when the file is recovered but in the meantime, the cil_excel_subject_headings.csv person:research content looks good except that there are a number cases where names that contain special characters don't display correctly. Here's some examples:
Beno√Æt Ladoux, obj 34522, should read "Benoît Ladoux"
S√∏ren T. Christensen, obj 35212, should read "Søren T. Christensen"
Carlos

[2019-11-22 18:35] lsitu commented on #317
@abbypenn93 I think you may need to open it with UTF-8 encoding. It's the same as `Item 5` for “2004 Olympus BioScapes Digital Imaging Competition¬Æ @ …” you mentioned last time.

[2019-11-22 20:47] abbypenn93 commented on #317
@lsitu Thanks for the reminder.

[2019-11-22 21:18] abbypenn93 commented on #317
@lsitu Ok, just confirmed with Ron that rdcp-staging isn't backed up so I'm sorry to have to ask but would you please restart the metadata harvest (the current cil_excel_object_input.csv can be overwritten) so it can run over the weekend?

[2019-11-22 21:45] lsitu commented on #317
@abbypenn93 Sure. I'll re-initiate the CIL harvest process and let you know once it's finished.

[2019-11-22 22:14] lsitu commented on #317
@abbypenn93 I see the process is finished and the outputs are regenerated there in folder `\rdcp-0126-cil-staging-qa\cil_harvest_2019-09-13\metadata_processed\`. It look like it's running much faster on staging without content files download now.

[2019-11-22 22:36] abbypenn93 commented on #317
@lsitu Excellent, thanks so much.

[2019-11-25 22:19] abbypenn93 commented on #317
@lsitu Thanks!

[2019-11-26 20:05] abbypenn93 commented on #317
@lsitu So close!

These two issues have been confirmed as fixed:
- All the researcher names (Person:researcher) are exported to the heading ingest file (cil_excel_subject_headings.csv):Item

- Copyright Status field is fixed;  converted to the standard column namecopyrightStatus: Item 6

For Item 1a (person:researcher), Item 2 (subject:topic), Item 3 (subject:anatomy), pipes have been added, but t

[2019-11-26 20:47] lsitu commented on #317
@abbypenn93 Regarding your question:
[code]
Yes, the spaces surrounding pine (|) hasn't been added to make it consistent with the current internal implementation for multiple values support. If you think this is important, I think we can add the spaces in.

[2019-11-26 23:10] abbypenn93 commented on #317
@lsitu Huh, we (DOMM) were under the impression that spaces need to precede and follow the pipe in order for the OLR to pass ingest validation. Since that's clearly not the case, no change is needed to the metadata transformation script.

I can't think of anything else right now. I'll start the process of preparing the spreadsheet for ingest next week and let you know if anything else comes up.

T

[2019-11-26 23:18] lsitu commented on #317
@abbypenn93 I do see adding the spaces will help you to identify all the values in a multi-values field more easily, and I've created PR https://github.com/ucsdlib/damsmanager/pull/377 to surround the pipe. Hopefully this will make your QA work more smoothly.
@mcritchlow The PR https://github.com/ucsdlib/damsmanager/pull/377 is ready for review now. But I think we can skip it if you think it's not

[2019-11-26 23:28] abbypenn93 commented on #317
@lsitu Space around the pipe definitely makes for easier reading so, sure, it would be good. Thanks.

[2019-12-02 17:47] abbypenn93 commented on #317
@lsitu Are you planning to re-run the metadata transformation to create a copy of the spreadsheet that has space before/after the pipe between topics?

[2019-12-02 17:48] lsitu commented on #317
@abbypenn93 Yes. I am working on it now.

[2019-12-02 19:13] lsitu commented on #317
@abbypenn93 I think the CIL metadata transform process is finished and the outputs are are ready for you to review now:
\rdcp-0126-cil-staging-qa\cil_harvest_2019-09-13\metadata_processed\

[2019-12-02 21:12] abbypenn93 commented on #317
Thanks @lsitu, I'll start the process of preparing the objects for ingest.

[2019-12-03 18:51] remerjohnson opened #378 "Batch metadata overlay fails on validated metadata, due to FAST topics"
### Descriptive summary

The batch metadata overlay tool passed validation on this spreadsheet, which was to edit 10 objects in Mexican Broadsides:

[batchExport-64102016_fixes_with_MDP_MM_edits_stage1.xlsx](https://github.com/ucsdlib/damsmanager/files/3918094/batchExport-64102016_fixes_with_MDP_MM_edits_stage1.xlsx)

However, upon overlay, it reported 5 out of 10 objects had failed to be updated:

[2019-12-04 19:38] lsitu commented on #378
@remerjohnson While using source exported from Batch Export tool, currently damsmanager is treating those FAST subject headers to be valid so that you don't have to change it while re-ingest the metadata through the Batch Edit tool. However, there is a bug that failed to translate the FAST subject headers. I think we can fix it so that the metadata can be ingested successfully. Do you want to just

[2019-12-04 19:46] remerjohnson commented on #378
@lsitu That's a good question, I would probably defer to @gamontoya on whether it's better to fix the underlying bug vs. to merely report it as an error that can be planned around.

For my situation, if I simply excluded all topics columns form my batch overlay, would that ensure the existing topics would stay, and avoid the error?

[2019-12-04 19:49] gamontoya commented on #378
@remerjohnson @lsitu I prefer that the 🐛 bug be fixed.

[2019-12-04 19:57] lsitu commented on #378
@gamontoya Sure. I would go with fixing it as a bug then. @remerjohnson I would say YES for your question, and you don't need to worry about the error with those headers exported but just the metadata. And damsmanager will take care of it internally so that you won't get any errors during batch overlaying.

[2019-12-04 22:42] gamontoya commented on #376
@abbypenn93 Was this ever tested/reviewed on staging?

[2019-12-05 15:39] abbypenn93 commented on #376
@gamontoya Not sure about the scope of this ticket. Functionality associated with "object metadata and subject headings" has been confirmed as working in ticket #317. I hope to start the process of preparing the transformed metadata for ingest this week.

[2019-12-05 16:47] lsitu commented on #376
@gamontoya @abbypenn93 Are we ready to move release 2.75 to prod? Also, should we move all the contents in `/rdcp-staging/rdcp-0126` somewhere or simply delete the folder `/rdcp-staging/rdcp-0126-cil/cil_harvest_2019-09-05` so that we can start a clean CLI harvest for prod?

[2019-12-05 19:22] abbypenn93 commented on #376
@gamontoya I need a few more days to go through the process of preparing the spreadsheet for ingest. I'm shooting to be ready early next week.

[2019-12-05 20:57] gamontoya commented on #376
@abbypenn93 That's fine. Thanks for keeping us updated.

[2020-01-08 23:53] abbypenn93 commented on #317
@lsitu The spreadsheet looks fantastic. However, there are some problems with the source data.

Overview: not all image files are present under /rdcp-staging/rdcp-0126-cil-staging-qa/cil_harvest_2019-09-13/content_files/ because some file names listed in the .json are not unique.

1. Objects 50051 - 50068

- This group of objects reference non-unique file names in the Identifier:filename field (we

[2020-01-09 16:25] lsitu commented on #317
@abbypenn93 Regarding the `File name` mapping above, currently it's from json fields `CIL_CCDB.CIL.Image_files.File_path` and `CIL_CCDB.CIL.Alternative_image_files.File_path` in column "Source /   CCDB". Are we going to ignore the `File_path` fields above to convert `File name` from `Identifier:filename` instead? Does all content files from `CIL_CCDB.CIL.Image_files` and `CIL_CCDB.CIL.Alternative_

[2020-01-09 21:18] abbypenn93 commented on #317
@lsitu First, I don't see any need to change the source metadata harvest script to deal with these few files since this is only a problem with the cil_harvest_2019-09-13 harvest.

Responses:
1. DOMM will update the _File name_ in the Identifier:filename field
2. We don't want to introduce any new mapping rules. This issue is not seen in the October 2019 - January 2020 harvests so hopefully this is

[2020-01-09 22:42] lsitu commented on #317
@abbypenn93 Got it. I think I just need to know what trigger renaming of a file. This will only happen to `CIL_CCDB.CIL.Alternative_image_files` with the following patterns in JSON field `CIL_CCDB.CIL.Alternative_image_files.URL_postfix` (Identifier:filename ):
- `/microscopy_xxxx/reconstruction/FILENAME` -> rename to `microscopy_xxxx-FILENAME`
-  `/images/xxxx/FILENAME` -> ename to `xxxx-FILENAME

[2020-01-10 15:58] abbypenn93 commented on #317
@lsitu Unfortunately, file naming in the Identifier:filename field doesn't follow a consistent pattern.

Perhaps for the files that have a file path and file name beginning _/ccdb/telescience/home/CCDB_DATA_USER.portal/CCDB_DATA_USER/acquisition/project_20099/microscopy_5194144/reconstruction/3view-stack_* rename according to format
- /microscopy_xxxx/reconstruction/FILENAME -> rename to microscop

[2020-01-10 18:48] lsitu commented on #317
@abbypenn93 Okay. Then we can start from rename files with the following two patters then:
- /microscopy_xxxx/reconstruction/3view-stack* -> rename to microscopy_xxxx-3view-stack*
- /images/xxxx/3view-stack*[.mrc] -> rename to xxxx-3view-stack*[.mrc]

Does it sounds good?

[2020-01-10 20:41] abbypenn93 commented on #317
@lsitu Sounds good, thanks.

[2020-01-10 23:45] lsitu commented on #317
@abbypenn93 Okay, I've added PR https://github.com/ucsdlib/damsmanager/pull/381 for it. Hopefully this will fix all those content files with conflicting filenames.

[2020-01-14 17:48] gamontoya opened #382 "DAMS Collection Status Report not working"
### Descriptive summary

When trying to run a report using the DAMS Collection Status Report, user receives the following error:

`Error: Error on line -1 of document : Premature end of file.
Nested exception: Premature end of file.`

- https://library.ucsd.edu/damsmanager/collectionStatusReport.do

[2020-01-14 17:50] gamontoya commented on #367
@lsitu Is this ticket in progress?

[2020-01-14 18:01] arwenhutt commented on #367
@gamontoya @lsitu
a note that we've (@abbypenn93 @hjsyoo @remerjohnson) found some other bugs related to the boilerplate text - we're investigating more at the moment to try and get a little more information about when problems are occurring

[2020-01-14 18:09] arwenhutt commented on #345
@gamontoya I think we can close this and the epic ticket.  While there are some remaining blips we discover those can be added as standalone tickets (bug reports or enhancement requests as appropriate.)  What do you think?

[2020-01-14 18:10] lsitu commented on #367
@gamontoya @arwenhutt No. I don't think it's in progressing. I think it's not the Batch Export issue itself but related to damspas UI display and the copyright metadata in Excel Standard Input tool. I think we may need decisions to move it forward.

[2020-01-14 18:10] #310 closed

[2020-01-14 18:28] arwenhutt commented on #382
@gamontoya @lsitu I was just able to generate a report for September, and then one for October and November.  Not sure if this is relevant to tracking down the bug, or it's because something was done (super speedy) to fix it.

[2020-01-14 18:46] gamontoya commented on #345
@arwenhutt Sounds good to me!

[2020-01-14 18:46] #345 closed

[2020-01-14 18:46] #309 closed

[2020-01-14 18:52] lsitu commented on #312
@arwenhutt I am fine with adding the new field `dams:restrictionMessage` to append (or override?) default “restricted content”. But we we may need some efforts on damsrepo, damsmanger and damspas to support it. Also, what kind of data cleanups that we need for this change?

[2020-01-14 19:00] arwenhutt commented on #312
@lsitu I believe the clean up is largely outlined in the spec linked above https://github.com/ucsdlib/damsmanager/issues/312#issuecomment-497508259

I think we will want to review this again in light of work done and bugs discovered in the last six months.  We'll do that before the DAMS wg meeting on Tuesday

[2020-01-14 19:23] lsitu commented on #382
@arwenhutt Are you still seeing the error now? I tried to generate and export the report for the following periods but I don't see the error:
2019-09-01 to 2019-09-30
2019-10-01 to 2019-10-31
2019-11-01 to 2019-11-30
2019-12-01 to 2019-12-31

[2020-01-14 22:14] arwenhutt commented on #382
@lsitu I just tried:
2019-08-01 to 2019-12-17 and got the same error

[2020-01-14 22:36] arwenhutt opened #383 "CIL Harvesting - update to notification email addresses"
### Descriptive summary
Update the email addresses for the "CIL Harvesting Status Report"

Please remove: ahutt@ucsd.edu

And add: Digital_Object_Metadata_Unit@ucsd.edu

### Rationale
This will enable everyone in the unit to receive notification without requiring future edits when new staff join.

### Expected behavior
Email notifications should be sent to the Digital Object Metadata Unit email an

[2020-01-14 22:39] arwenhutt commented on #383
@jessicahilt & @gamontoya
Hopefully this has a low LOE (and will save future hassle with updating the list as staffing changes.)
Thanks!

[2020-01-14 23:50] lsitu commented on #382
@arwenhutt I see the error now. It seems like error just occurred for August 2019, which is cause by logging some error ingest. We may need to look in to the database for the error evens. Do you know what's going wrong with prod ingest during that time?

[2020-01-15 00:18] arwenhutt commented on #382
@lsitu I don't know.  Looking through past tickets this seems like a possibility though: https://github.com/ucsdlib/damsmanager/issues/358

[2020-01-15 00:45] lsitu commented on #382
@arwenhutt Thanks. Maybe we need to export all events in the events database for August 2019 to see what's going wrong.
@rstanonik @jgorney Is it possible to export the event metadata from the evens_triples table for period 08/01/2019 to 08/25/2019? Thank you.

[2020-01-15 14:46] jgorney commented on #382
Yes, I can export that data.  I'll let you know when it's ready.

[2020-01-15 16:08] jgorney commented on #382
In preparing to export this data, I realized that the events_triples table does not have time stamps.  Unless there is another way to identify which records were added when, I'm going to load (in a separate area) a backup file from Aug 1 2019 and a backup file from Sep 1 2019 (I don't have any in between for that long ago), and export the files added after Aug 1.  I hope this will be ok!

[2020-01-15 17:38] jgorney commented on #382
One limitation of this method, btw, is that without a timestamp on the records in events_triples, I will not be able to identify records created before Aug 1 that were updated during Aug 2019.  @lsitu , is there a way to identify when events_triples records were modified ?

Has adding a timestamp to tables dams_triples and events_triples tables been considered?

[2020-01-15 17:58] lsitu commented on #382
@jgorney How about export the results basing on the `ID` column? We may not need to exact results. So if we can find out the sequence/range of the ids created over that period should help. Thanks.

[2020-01-15 18:19] jgorney commented on #382
Hi @lsitu - that was my plan.  I've now extracted the events_triples records with ID > (max(ID) at 2:00 AM on Aug 1 2019) and ID < (max(ID) at 2:00 AM on Sep 1 2019).

The file is in CSV format (comma delimited).

The zipped file is about 6 MB.  Is it too big to attach here?

[2020-01-15 18:25] lsitu commented on #382
@jgorney Yep, it looks like it's too big to attached here. Can you put it in \\darry\dams_staging\collection_report? Thanks.

[2020-01-15 18:56] jgorney commented on #382
This export was made from a backup made on Sep 1, 2019.  I can create the same export, but from the current production database.  It will be the same set of records (same IDs) in this initial file, but maybe there are differences because of any updates?

I just transferred the file - let me know if you can see it.  Also let me know if you want me to produce the report from the current production d

[2020-01-15 19:20] lsitu commented on #382
@jgorney That works, Thank you very much.

[2020-01-15 19:35] lsitu commented on #382
@arwenhutt It looks like the ARK minter was down in the early morning of August 21, 2019, which recorded errant message `subject` in the evens triplestore like:
[code]
I think your team should got some failed ingest that night. And I need to update my codes to ignore those errant event IDs for collection status report to avoid the error. With that said, some records created that night will be miss

[2020-01-16 18:07] gamontoya commented on #383
@jessicahilt Can Vivian do this?

[2020-01-16 18:09] lsitu commented on #383
@jessicahilt @gamontoya It's a configuration issue in damsmanager and I'll take care of it.

[2020-01-16 18:16] gamontoya commented on #383
@lsitu Thank you!

[2020-01-16 18:42] arwenhutt commented on #382
@lsitu I'm fine with the collection status report being a few records off for that night.

[2020-01-16 18:43] arwenhutt commented on #382
@lsitu I'm fine with the collection status report being a few records off for that night.

[2020-01-16 18:56] lsitu commented on #382
@arwenhutt I've added the PR https://github.com/ucsdlib/damsmanager/pull/384 for it. But we only can test it on prob to see how it goes.

[2020-01-16 21:05] #376 closed

[2020-01-16 21:05] gamontoya opened #385 "Release 2.76"
### Descriptive summary

Descriptive summary
Version: 2.76
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @rstanonik

------------
### To Verify
[ x ] - [Batch metadata overlay fails on validated metadata, due to FAST topics](https://github.com/ucsdlib/damsmanager/issues/378)
[ x ] - [Contextual display for Cite this Work enhancement](https://github.com/ucsdlib/damspas

[2020-01-16 21:05] gamontoya commented on #376
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/385)

[2020-01-16 21:06] gamontoya commented on #385
@lsitu Please reference tickets to verify above.

[2020-01-16 21:41] lsitu commented on #385
@gamontoya @arwenhutt  @abbypenn93 @remerjohnson DAMS Manager release 2.76 is ready on staging for review now. Thanks.

[2020-01-16 22:06] arwenhutt commented on #385
@remerjohnson & @abbypenn93
I've added names for leads on testing each ticket in this release.  Let us all know if you need assistance or replication for testing.  Let me know if you have any questions, thanks!

[ ] - Batch metadata overlay fails on validated metadata, due to FAST topics @remerjohnson
[ ] - Contextual display for Cite this Work enhancement @abbypenn93
[ ] - CIL metadata transforma

[2020-01-17 17:01] arwenhutt commented on #385
@lsitu I think you said (in #382) that the Collection Status Report would need to be tested on production.  I did try running the report on staging just in case, and it worked - but will test again once it's deployed to production.

[2020-01-17 17:02] arwenhutt commented on #378
reopening for testing

[2020-01-17 17:03] arwenhutt commented on #317
reopening for testing

[2020-01-17 17:03] arwenhutt commented on #382
reopening for testing

[2020-01-17 17:04] arwenhutt commented on #383
reopening for testing/verfication

[2020-01-17 17:06] lsitu commented on #385
@arwenhutt Yes, we need to test it on prod as well. Thanks.

[2020-01-17 17:07] arwenhutt commented on #383
@lsitu is there a way we can test this? Or do we just wait until the next harvest to verify?

[2020-01-17 17:09] arwenhutt commented on #385
@abbypenn93 the collection report bug was super quick to check so I did a little testing for https://github.com/ucsdlib/damspas/issues/732 (results added to that ticket)

[2020-01-17 17:10] lsitu commented on #383
@arwenhutt No. But I am running a CIL Harvest process on staging now and the group members in Digital_Object_Metadata_Unit@ucsd.edu should be able to receive email notification once it's done. I'll let you and @abbypenn93 know once it's ready for you to review.

[2020-01-17 17:15] arwenhutt commented on #383
@lsitu perfect, thanks!

[2020-01-17 17:56] remerjohnson commented on #378
I've reviewed this on testing with the original data set as well as another, and both the tests and overlay were successful. So I am calling this fixed 👍

[2020-01-23 18:31] arwenhutt commented on #385
@gamontoya @lsitu
A testing update.  We've completed testing for the three tickets that we can evaluate now and they look good.  We can test the other two once the CIL harvest currently running is done.

[2020-01-23 19:00] gamontoya commented on #385
@arwenhutt Thanks for the update.

[2020-01-23 22:40] jessicahilt opened #386 "Global data cleanup to change the existing old Use Constraint(s) (dams:copyrightNote) to the new CC copyright Use Constraint(s) template for objects with a cc license"
### Descriptive summary

From Ho Jung:
Referencing https://github.com/ucsdlib/damspas/issues/642, following is the latest spec for applying the copyright boilerplate to Research Data Collections. If I'm not mistaken, the Rights Holder can be:

1) an entity (UC Regents, individual, organization),
2) not copyrighted - Public Domain or CC0,
3) unknown.

I don't think RDC will ever use option 3, so th

[2020-01-23 22:43] jessicahilt opened #387 "Update Excel Standard InputStream in DAMS Manager to use the expected CC copyright Use Constrain(s) template on object creation"
### Descriptive summary

Update Excel Standard InputStream in DAMS Manager to use the expected CC copyright Use Constrain(s) template on object creation

### Related work
Batch Export uses old Creative Commons license boilerplate text #367
Global data cleanup to change the existing old Use Constraint(s) (dams:copyrightNote) to the new CC copyright Use Constraint(s) template for objects with a cc l

[2020-01-23 22:44] jessicahilt opened #388 "Revert the codes on damspas that apply the CC template for UI display."
### Descriptive summary
Revert the codes on damspas that apply the CC template for UI display.

### Related work

Global data cleanup to change the existing old Use Constraint(s) (dams:copyrightNote) to the new CC copyright Use Constraint(s) template for objects with a cc license #386

Update Excel Standard InputStream in DAMS Manager to use the expected CC copyright Use Constrain(s) template on o

[2020-01-23 22:44] jessicahilt commented on #367
Global data cleanup to change the existing old Use Constraint(s) (dams:copyrightNote) to the new CC copyright Use Constraint(s) template for objects with a cc license #386

Update Excel Standard InputStream in DAMS Manager to use the expected CC copyright Use Constrain(s) template on object creation #387

Revert the codes on damspas that apply the CC template for UI display. #388

[2020-01-23 22:54] lsitu commented on #385
@arwenhutt @gamontoya I am tracking the process and I's still running at this time. It looks like downloading of those giant zip files are very slow.

[2020-01-24 15:54] lsitu commented on #386
@hjsyoo I am getting a little confusing while referencing ticket https://github.com/ucsdlib/damspas/issues/642. Currently we have the following 6 boilerplate for `Constraint(s) on Use`:

1. Public Domain:
[code]

2. Copyrighted:
[code]

3. Copyrighted UC Regents:
[code]

4. Copyrighted Other:
[code]

5. Unknown US:
[code]
6. Unknown Other:
[code]

After apply the new specs in Slack https://ucsdlib

[2020-01-24 16:22] hjsyoo commented on #386
@lsitu Thank you for this list of existing boilerplates, it'll make it easier for me to spec precisely. I'll consult with DOMM and get back to you.

[2020-01-24 18:23] arwenhutt commented on #385
@lsitu @gamontoya Just wondering if it's possible to split this into two releases, one for the non-cil code changes (that have already been tested) and another for the cil changes?  If so, we could deploy the non-cil changes to production right away, rather than having to wait for the harvest process to finish and be evaluated.

It'd be great to have the batch overlay tool usable again, and get st

[2020-01-24 18:26] gamontoya commented on #385
@lsitu What do you think? ⬆️ ?

[2020-01-24 18:42] lsitu commented on #385
@gamontoya @arwenhutt I think we can deploy the release to prod as a whole if you want. If we found that we need some changes for CIL Harvesting after QA-ed, we can create another PR for it.

[2020-01-24 18:45] arwenhutt commented on #385
@lsitu That seems pretty safe to me, since CIL isn't fully in production tool yet, what do you think @gamontoya ?

[2020-01-24 20:35] gamontoya commented on #385
@lsitu @arwenhutt Yes, let's do it.

@lsitu Go ahead and ask Ops to deploy to prod.

[2020-01-24 20:49] lsitu commented on #385
@rstanonik DAMS Manager release 2.76 is ready for prod now. But it has dependency on release private_config Release 2.2 https://github.com/ucsdlib/private_config/issues/23. So we need to deploy private_config Release 2.2 first. Thank you.

[2020-01-24 22:07] arwenhutt opened #389 "Report on objects missing <dams:Unit> property"
### Descriptive summary
The bug identified in issue https://github.com/ucsdlib/damspas/issues/732 removed the `<dams:Unit`> property from all objects which have been batch edited.  To fix these, we need to identify all objects missing the `<dams:Unit>` property.

### Expected outcome
A report with arks for all objects with no `<dams:Unit>` property, formatted so that it can be used to batch export

[2020-01-24 22:12] arwenhutt commented on #385
@lsitu & @gamontoya thanks!

Once the private_config release is deployed, we'll test the non-cil tickets on production.

One of our top priorities after that's done is to clean up the records effected by https://github.com/ucsdlib/damspas/issues/732

For that, we'll need to identify what records are effected, so I created a report request ticket: https://github.com/ucsdlib/damsmanager/issues/389

[2020-01-27 13:48] #385 closed

[2020-01-27 13:49] rstanonik commented on #385
Deployed to production this morning.
First I deployed private_config (damsmanager properties).
The tomcat was restarted.

[2020-01-27 15:25] lsitu commented on #385
Thanks @rstanonik.

[2020-01-27 18:55] arwenhutt commented on #385
@remerjohnson & @abbypenn93 the following issues can be tested (carefully) on production now!

[  ] - [Batch metadata overlay fails on validated metadata, due to FAST topics](https://github.com/ucsdlib/damsmanager/issues/378) @remerjohnson
[  ] - [Contextual display for Cite this Work enhancement](https://github.com/ucsdlib/damspas/issues/732) @abbypenn93
[  ] - [DAMS Collection Status Report not

[2020-01-27 19:04] arwenhutt commented on #382
@lsitu @gamontoya verified this is working on production 👍

[2020-01-27 19:04] #382 closed

[2020-01-27 19:46] lsitu commented on #317
@arwenhutt @abbypenn93 I think the CIL metadata transformation process is done over the weekend. The new content files downloaded and the transformed CSV outputs for the object metadata and subject headings are ready for review now.

Here is the location of the output:
/rdcp-staging/rdcp-0126-cil-staging-qa/cil_harvest_2019-09-13

[2020-01-27 19:50] lsitu commented on #385
@arwenhutt The CIL Harvest process was done over the weekend. Did all members in the Digital_Object_Metadata_Unit@ucsd.edu group receive email notification?

[ ] - [CIL Harvesting - update to notification email addresses](https://github.com/ucsdlib/damsmanager/issues/383)

[2020-01-27 21:32] arwenhutt commented on #385
@lsitu ack, no.  I just looked and I think it's my bad, I left the "ad" off the email address -- it should have been "Digital_Object_Metadata_Unit@AD.UCSD.EDU"
sorry!  I'll add this to #383 (this isn't urgent to fix)

[2020-01-27 21:33] arwenhutt commented on #383
@lsitu I left the "ad" off the email address -- it should have been "Digital_Object_Metadata_Unit@AD.UCSD.EDU"

[2020-01-27 21:55] lsitu commented on #385
@arwenhutt I would check with OPs to see what we can do. @rstanonik Could we make Digital_Object_Metadata_Unit@AD.UCSD.EDU an alias to Digital_Object_Metadata_Unit@ucsd.edu? Thanks.

[2020-01-27 22:04] rstanonik commented on #385
I'll ask hostmaster@ucsd.edu

[2020-01-27 22:07] lsitu commented on #385
Thanks @rstanonik.

[2020-01-27 22:25] hjsyoo commented on #386
@lsitu Here's a new spec - please disregard the previous ones. Here, I'm trying to use a combination of the boilerplate headings you gave me and the logic that I think should be applied to them. Let me know if you need any clarification.

1.	Public Domain: IF copyright=public domain OR license=CC0 THEN

- Constraint(s) on Use = This work may be used without prior permission.

2.	Unknown US: ELSE I

[2020-01-27 22:47] lsitu commented on #386
@hjsyoo Thanks. Could you give me an example with license=CC0 in # 1 above for public Domain?

[2020-01-27 23:05] hjsyoo commented on #386
I don't think we've actually used CC0 yet, but here's a screenshot from @abbypenn93 showing the settings that DOMM uses to designate CC0:
![image](https://user-images.githubusercontent.com/10660549/73221696-59ce4e00-4116-11ea-8a50-9f4b6068c1fc.png)

[2020-01-27 23:31] lsitu commented on #386
@hjsyoo Thanks. So to determine an object with license=CC0, it don't need to have CC license, but just need to be copyrighted with a public display license and a note like "Public access granted by rights holder." as created from the above form options. Is it correct?

[2020-01-28 17:31] lsitu commented on #386
@hjsyoo I think we need a rule to determine those objects with license=CC0. We should have lots of license=CC0 objects in dams if objects created by the form above (copyrighted objects with a display license) are license=CC0.
For example, objects in [Ben Yellen Papers](https://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Ben+Yellen+Papers&id=bb45091391&sort=title_ssi+asc) collection are

[2020-01-28 17:34] remerjohnson commented on #378
I've now tested this on production, and it is working as exprected.

[2020-01-28 17:35] remerjohnson commented on #385
@arwenhutt The test on production for #378 went well

[2020-01-28 17:39] lsitu commented on #389
@arwenhutt There are total 872 objects on prod that are missing Unit element:
[Report-no-unit-872.txt](https://github.com/ucsdlib/damsmanager/files/4123755/Report-no-unit-872.txt)

[2020-01-28 18:05] arwenhutt commented on #385
@lsitu & @rstanonik thanks!

[2020-01-28 18:06] #378 closed

[2020-01-28 18:20] arwenhutt commented on #389
@lsitu great!  thanks :clap:

[2020-01-28 18:20] #389 closed

[2020-01-28 19:48] hjsyoo commented on #386
@lsitu Thanks for catching the issue. I think there are two separate parts to this -
1. How is CC0 designated in the dams data model and import tool?
- I think you're right about getting clarity on the rule! The few Ben Yellen objects I've browsed so far indicate Rights Holder = "Private party", and the copyright boilerplate is not what I would expect for something where copyright has been waived.

[2020-01-28 22:31] hjsyoo commented on #386
@lsitu I've conferred with DOMM, and we've confirmed that there is currently no proper method for designating the CC0 dedication. This means that curators will figure out workarounds on a case-by-case basis, as they come up. The good news is, this simplifies the work we need to do for this ticket! I've removed any mention of CC0 on this latest spec:

1. Public Domain: IF copyright=public domain TH

[2020-01-28 22:36] lsitu commented on #386
@hjsyoo Thanks. I'll move forward without the case for license=CC0 now.

[2020-01-29 16:14] lsitu commented on #386
@hjsyoo I found lots of objects don't have `jurisdiction = US` but I believe they should be `Copyrighted US`. For example, dams:copyrighNote with text like `Constraint(s) on Use: This work is protected by the U.S. Copyright Law (Title 17, U.S.C.). Use of this work beyond that allowed by "fair use" requires written permission of the UC Regents.`:
https://library.ucsd.edu/dc/object/bb03081961 (Under

[2020-01-29 17:38] arwenhutt commented on #386
@lsitu @hjsyoo I think it's probably safe to treat no jurisdiction the same as jurisdiction = US.

@lsitu if you have a list of the arks that don't have jurisdiction, could you share that?  I don't think it's a high priority clean up but something we can do when there's bandwidth.

[2020-01-29 17:45] remerjohnson opened #390 "Backslash characters in Roger records cause MARC Import tool to fail, and not report errors"
### Descriptive summary

When using the MARC Import tool on Roger records with backslash (`\`) or other control characters in the title, the tool fails and only sends a report with the body consisting of:
[code]

### Rationale

When submitting a large number of bib records for DAMS ingest, a report that lacks which records failed makes it very difficult to isolate issues. Also, MARC conversion ten

[2020-01-29 18:01] lsitu commented on #386
@arwenhutt I don't have the complete list yet. I think we can generate a report for it later.
But we may need a decision for `no jurisdiction` mapping now to move forward with the following tickets, which need to be done at the same time:
https://github.com/ucsdlib/damsmanager/issues/386
https://github.com/ucsdlib/damsmanager/issues/387
https://github.com/ucsdlib/damsmanager/issues/388

If you thi

[2020-01-29 19:06] arwenhutt commented on #386
@lsitu nope, I don't think we need the report to make a decision.  I'm fine with treating no jurisdiction the same as jurisdiction = US.

I just thought if you had a report, I'd file it away for future clean up -- but don't worry about creating it now.  I'll just add a note to our clean up list, and we can request the report later.

[2020-01-29 19:35] rstanonik commented on #385
Campus says the alias will be ready by 11am today.

[2020-01-29 19:51] hjsyoo commented on #386
@lsitu All of those examples you provided are SC&A. We should apply this ticket request only to RDC collections. Will this complicate things excessively?
But if there are RDC objects currently with no jurisdiction, then yes, they should be assigned US. I can't think of any non-US objects we've ingested, off the top of my head.

[2020-01-29 20:18] lsitu commented on #385
That sound great! Thanks @rstanonik .

[2020-01-29 21:16] lsitu commented on #386
@hjsyoo Okay, then we'll only update the dams:copyrightNote fro objects in RDC in this ticket. @arwenhutt Yes, we can generate the report for those ` no jurisdiction` at any time. And I'll just move forward to clean it up for RDC collections now. For Excel Standard InputStream, do you want to apply the copyright note boilerplate above for all new ingest now?

[2020-01-29 23:09] lsitu commented on #386
@hjsyoo Yes, objects in RDC collection is much cleaner. I found total 9836 objects in RDC with 104 public objects. Does the total count seems correct?

I only see three of them may have the copyright issue:
https://library.ucsd.edu/dc/object/bb2052790m (missing copyright)
https://library.ucsd.edu/ark:/20775/bb44418908 (duplicate copyright element)
https://library.ucsd.edu/ark:/20775/bb5534097t (du

[2020-01-29 23:43] arwenhutt commented on #386
@lsitu @hjsyoo I'll edit the last two to remove the duplicate copyright elements.  The first is a test object, I can add something there if needed but I don't think that item will ever be public.

[2020-01-29 23:46] arwenhutt commented on #386
@lsitu ✅ done

[2020-01-29 23:47] lsitu commented on #386
Thanks. @arwenhutt Regarding damsmaanger update in ticket https://github.com/ucsdlib/damsmanager/issues/387, would you like to apply the copyright note boilerplate above for all newly ingest objects?

[2020-01-29 23:50] arwenhutt commented on #386
@lsitu yes, I believe so.

[2020-01-29 23:51] hjsyoo commented on #386
Thanks @lsitu and @arwenhutt . Yes, 104 public objects is correct, and the total is very close to expected.

[2020-01-30 00:08] lsitu commented on #386
@hjsyoo Maybe @arwenhutt need to fix those 872 records that are missing dams:Unit in https://github.com/ucsdlib/damsmanager/issues/389 before we can do the cleanup?

[2020-01-30 00:14] arwenhutt commented on #386
@lsitu I don't think that should be a problem.  I've analyzed the records, there are a bunch that are "empty" so are fine not having a unit, the rest I have ready to go, we just wanted to do a a few small overlay tests for https://github.com/ucsdlib/damspas/issues/732 before making the bulk of the updates.

[2020-01-30 00:17] arwenhutt commented on #386
@lsitu also, have I mentioned how much I love the batch export and batch overlay tools?  they are truly (work) life changing!  thank you : )

[2020-01-30 00:22] lsitu commented on #386
@arwenhutt Thanks for your update on https://github.com/ucsdlib/damspas/issues/732. Glad you like the batch export and batch overlay tools!
@hjsyoo Since the damspas code still building the copyright note boilerplate on prod at this time, I think we have to wait until the new releases for damspas and damsmanager are deployed before we can do the cleanup. Mean while, would you like me to do the cle

[2020-01-30 01:37] hjsyoo commented on #386
@lsitu Happy to test the code on staging first!

[2020-01-30 16:15] lsitu commented on #386
@hjsyoo I've started the process on staging for the copyright boilerplate cleanup.  I'll let you know once it's ready for you to review.

[2020-01-30 18:51] gamontoya commented on #274
@jessicahilt @lsitu Can this ticket be closed?

[2020-01-30 20:12] lsitu commented on #274
@gamontoya I don't know about the context of this ticket. Maybe @mcritchlow know more about and we can wait until he's back? Thanks.

[2020-01-30 23:47] lsitu commented on #390
@remerjohnson I see the following title in record b10629746:
[code]
And yes, the backslash at the end causes the invalid JSON syntax error during parsing the converted JSON data like `{"Title":"Current state and future perspectives of adjuvant and neoadjuvant targeted therapy in the management of clinically localized renal cell carcinoma : Renal cell carcinoma adjuvant and neoadjuvant \"}`, which

[2020-01-30 23:57] remerjohnson commented on #390
@lsitu Ah, that makes sense that it is control characters.

Yes, having a report of records with control characters in them sounds good 👍

[2020-01-31 00:25] lsitu commented on #390
@remerjohnson Actually it's not a control character, just a backslash `\`. The error is  coming from our internal conversion json result, which is a special case for the `\` at the end.
If we do control character error check at this step, you might need to fix it before you can export the Roger record. I think you'll have the control characters check in the later step when you ingest the record th

[2020-01-31 17:10] lsitu commented on #390
@remerjohnson While dipping deeper into the error you got, I think the control characters won't be an issue here since the internal JSON source is converting from MARCXML. The problem is a special case in Roger records that appended the backslash `\` at the end of the title field. I think we can handle it as a special case to remove it or escape it, and provide more information regarding the error

[2020-01-31 18:53] remerjohnson commented on #390
@lsitu Okay, that sounds good. I'll leave it up to you whether removing it or escaping it is better, and yes to the better error reporting. Thanks

[2020-02-03 17:37] mcritchlow commented on #274
@lsitu @gamontoya - I checked with John and he can't recall any specifics about this. He did remember that at some point the situation he described did happen. But the details are lost to history/memory. I propose that we close this out at this point.

[2020-02-03 18:47] #274 closed

[2020-02-04 18:15] arwenhutt opened #392 "Event metadata missing from object records"
### Descriptive summary
Some object records are missing event metadata.

Examples:
- https://library.ucsd.edu/dc/object/bb1199538d
- https://library.ucsd.edu/dc/object/bb7104020x

These records have only one event at the object level, of type "record edited"
They should have at least two events, "record created" and "record edited," and possibly more depending on the records event history.

[2020-02-04 18:39] arwenhutt opened #393 "<dams:initiator> recorded in <dams:event> metadata leads to a 404"
### Descriptive summary
The record for <dams:initiator> with ark `bb4782910t` leads to a 404

The examples we have found so far were ingested or edited by @abbypenn93

Examples:
- https://library.ucsd.edu/dc/object/bb24282657
- https://library.ucsd.edu/dc/collection/bb30062003

[2020-02-04 18:51] arwenhutt opened #394 "Problems with <dams:beginDate> and <dams:endDate>"
### Descriptive summary
When testing release https://github.com/ucsdlib/damsmanager/issues/385 , specifically https://github.com/ucsdlib/damspas/issues/732 and batch editing of a subset of records affected by it, that a batch export of the metadata did not include <dams:beginDate> and <dams:endDate>.   These records were then batch edited, adding the missing <dams:unit> field, <dams:beginDate>, an

[2020-02-04 19:29] arwenhutt opened #395 "Add <dams:unit> to items affected by damspas#732"
### Descriptive summary
Add <dams:unit> to items affected by https://github.com/ucsdlib/damspas/issues/732 and identified by report from https://github.com/ucsdlib/damsmanager/issues/389

DOMM can do this via batch overlay

[2020-02-04 19:30] arwenhutt commented on #395
blocked by https://github.com/ucsdlib/damsmanager/issues/394 and https://github.com/ucsdlib/damsmanager/issues/392

[2020-02-04 20:07] lsitu commented on #390
@remerjohnson I've added PR https://github.com/ucsdlib/damsmanager/pull/396 to report the conversion errors for each Roger record instead of `null` so that you can recognize the metadata problem more easily. And the special backslash at the end is escaped to avoid interrupting the conversion process .
@mcritchlow I think PR https://github.com/ucsdlib/damsmanager/pull/396 is ready for review now. T

[2020-02-04 20:14] lsitu commented on #394
@arwenhutt Could you attached edited spreadsheet from batch export (the one use for metadata overlay) so that I can take a look? Thank you.

[2020-02-04 21:49] arwenhutt commented on #394
@lsitu I believe this is the file @abbypenn93 used for the overlay:
[DataMares_unit.xlsx](https://github.com/ucsdlib/damsmanager/files/4156323/DataMares_unit.xlsx)

[2020-02-04 22:05] arwenhutt commented on #394
@lsitu here's some other tests with object and overlay spreadsheets:
### Test A2: Editing begin and end date values (failed)
https://library.ucsd.edu/dc/object/bb9459046m
spreadsheet used for overlay: [OLR_date_overlay_test_A.xlsx](https://github.com/ucsdlib/damsmanager/files/4156377/OLR_date_overlay_test_A.xlsx)

### Test A3: Editing begin and end date values (successful)
https://library.ucsd.edu

[2020-02-04 22:55] lsitu commented on #392
@mcritchlow I've added MR https://github.com/ucsdlib/damsmanager/pull/397 to retain the events metadata. It's ready for review now. Thanks.

[2020-02-04 23:04] #390 closed

[2020-02-04 23:07] remerjohnson commented on #390
@mcritchlow @lsitu Okay great. Should I test this now or wait?

[2020-02-04 23:11] lsitu commented on #390
@remerjohnson We may need to make a new release for dmasmanager to deploy it to staging for you to test. So just wait and I'll let you know once it's ready for you to test. Thanks.

[2020-02-04 23:45] lsitu commented on #394
@arwenhutt I think the problem is that `Begin date` and `End date` will only bind to `dams:dateCreation` but not just any date types like `dams:dateCollected`. Maybe we should add this rule for validation? Or would you like to change to model to allow other date types to have `Begin date` and `End date` as well? In this case, we may need to define a rule for the order of Begin date` and `End date

[2020-02-05 01:04] arwenhutt commented on #394
@lsitu yes, begin and end date should 1) be allowed to bind to any date type or 2) be encoded separately when there is more than one date.

See https://ucsdlibrary.atlassian.net/browse/DM-28?focusedCommentId=31572&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-31572 for historical discussion

[2020-02-05 01:51] lsitu commented on #394
@arwenhutt `2) be encoded separately when there is more than one date.` seems to be weird since all `dams:Date` should have the `rdf:value` field. Is there any preference in binding of  `Begin date` and `End date` for a specific `dams:Date` type in the case with more than one date?

[2020-02-05 16:59] lsitu commented on #394
@arwenhutt Also, if begin and end date is going to be encoded separately, it violates the `dams:Date` model that need to have the `dams:type` attribute that is from the `date type` CV list.

[2020-02-06 18:35] lsitu commented on #394
@arwenhutt Do you have any suggestions for binding Begin date and End date to one of the date when there is more than one date? It seem like separating `Begin date` and `End date` doesn't comply with the dams:Date model that requires to have `dams:type`.
In Excel InputStream tool, we will allow the following date type:
Date:collected
Date:copyright
Date:creation
Date:issued
Date:event

[2020-02-06 22:18] lsitu commented on #393
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/398 to ensure that the curator id is passed to the damsrepo backend for events creation as the fist step for the fix. The PR is ready for review now. We'll see whether there are other issues or not. Thanks.

[2020-02-06 23:18] #392 closed

[2020-02-07 00:54] gamontoya opened #399 "Release 2.77"
### Descriptive summary

Descriptive summary
Version: 2.77
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @rstanonik

------------
### To Verify

- [x] [Update Excel Standard InputStream in DAMS Manager to use the expected CC copyright Use Constrain(s) template on object creation](https://github.com/ucsdlib/damsmanager/issues/387)
- [x] [Backslash characters in Roger r

[2020-02-07 00:54] gamontoya commented on #385
Kamino cloned this issue to [ucsdlib/damsmanager](https://github.com/ucsdlib/damsmanager/issues/399)

[2020-02-07 00:56] gamontoya commented on #399
@lsitu Feel free to add what needs to be verified.

[2020-02-07 21:00] arwenhutt commented on #394
@lsitu sorry for the delay in responding, I've been out of the office with a sick kiddo.

It's not possible to make a rule for binding begin and end date to a specific date type, since the begin and end dates can represent a date of any type.

The approach I described is not a change in practice, it's what was agreed on when the excel ingest tool was developed, and the way it has worked since then

[2020-02-07 21:08] lsitu commented on #394
@arwenhutt Okay. Then I would just move forward with the separate dams:Date for Begin data and End date when there are more than one date exists.

[2020-02-09 00:44] arwenhutt commented on #394
@lsitu Great, thanks!

[2020-02-10 18:51] lsitu commented on #394
@mcritchlow @arwenhutt I've created PR https://github.com/ucsdlib/damsmanager/pull/400 for it, which is ready for review now. Thanks.

[2020-02-11 21:11] arwenhutt commented on #399
@gamontoya @lsitu let us know when this is deployed to staging and we'll start testing.

[2020-02-11 21:15] arwenhutt commented on #394
@lsitu Can you give us some information about what conditions cause the problem with dates?  also when the relevant code was deployed?

This will help us with figuring out how to test it and give us an idea for how many records may have been affected and may need to be fixed.

[2020-02-11 21:17] arwenhutt commented on #392
@lsitu Can you give us some information about why event data was missing, and what conditions causedit?  also when the relevant code was deployed?

This will help us with figuring out how to test and give us an idea for how many records may have been affected.

[2020-02-11 21:51] #394 closed

[2020-02-11 22:23] lsitu commented on #392
@arwenhutt I think the major reason is that we failed to pass the curator name over to the backend damsrepo, and damsrepo just use an empty ark to create the event for the user. The codes are deployed to staging and I think you can test it now:
1. Ingest some new objects and validate events.
2. Batch overlay the objects and validate all events again.
3. Test RDF Import and validate events
...

[2020-02-11 22:24] lsitu commented on #399
@gamontoya / @arwenhutt / @hjsyoo I think damsmanager release 2.77 is ready for review now. Thank you.

[2020-02-11 22:28] arwenhutt commented on #392
@lsitu does that mean it's related to https://github.com/ucsdlib/damsmanager/issues/393 ?

[2020-02-11 22:38] lsitu commented on #394
@arwenhutt I think it caused by a bug that selectively binds begin/end date to date:creation. And records ingest/overlay recently with begin/end date but no date:creation should be affected.

[2020-02-11 23:01] arwenhutt commented on #386
I created a ticket for the [<dams:unit> clean up](https://github.com/ucsdlib/damsmanager/issues/395) work mentioned as a dependency in https://github.com/ucsdlib/damsmanager/issues/386#issuecomment-580022794

[2020-02-12 20:39] gamontoya opened #401 "Add ability to pull out statistics based on format/content type"
### Descriptive summary

Currently DAMS Manager gives administrators the ability to pull out collection statistics based on collections.

- https://library.ucsd.edu/damsmanager/collectionsReport.do

Determine the best way to pull out statistics based on format/content type (audio, video, text, etc.) and the total size for each format set. Also, give the user the option to exclude objects that are

[2020-02-18 15:26] abbypenn93 commented on #317
@lsitu - Regarding the transformation process for non-unique files: all the files are present and accounted for. Thanks, Longshou!

[2020-02-18 18:03] hjsyoo commented on #386
@lsitu The code fix described in https://github.com/ucsdlib/damsmanager/issues/386#issuecomment-579494388 works exactly as expected in staging. Thanks!

[2020-02-19 19:05] arwenhutt commented on #399
@lsitu @gamontoya @jessicahilt here's a summary of the results of our testing.

- [x] [Update Excel Standard InputStream in DAMS Manager to use the expected CC copyright Use Constrain(s) template on object creation](https://github.com/ucsdlib/damsmanager/issues/387) -- working as expected
- [x] [Backslash characters in Roger records cause MARC Import tool to fail, and not report errors](https://gi

[2020-02-19 19:40] arwenhutt commented on #388
@VivianChu @lsitu
The majority of the objects we looked at displayed the constraints on use values in the rdf.

But we noted a few things which weren't as expected:

### 1.  text displayed different from value stored
This item https://librarytest.ucsd.edu/dc/object/bb3789734j is displaying a different "constraints on use" text than is in the rdf

### 2. inconsistent display
@abbypenn93 ingested a

[2020-02-19 19:54] lsitu commented on #388
@arwenhutt For record https://librarytest.ucsd.edu/dc/object/bb3789734j  in `1. text displayed is different than value stored`, I think it's just a SOLR updated issue and I'll re-index it so to fix it. Do you see other records still have the issue?

For `2. inconsistent display`, it looks like it's a new issue that is no related. Could you create a damsmanager ticket and attach the Excel source fi

[2020-02-19 20:06] lsitu commented on #387
@arwenhutt I think we should move the copyright boilerplate metadata cleanup work to be done and QA on prod if overall looks good on staging. What do you think?

[2020-02-19 20:10] lsitu commented on #388
@arwenhutt The index for object https://librarytest.ucsd.edu/dc/object/bb3789734j that you mentioned above is updated. Could you review it again? Thanks.

[2020-02-19 20:13] arwenhutt commented on #387
@lsitu
@abbypenn93 tested the import scenarios outlined in: https://github.com/ucsdlib/damsmanager/issues/386#issuecomment-579494388 and they all worked as expected.

But we noticed an issue when ingesting a batch of records, the records created had an empty dams:copyright property:
`    <dams:copyright><dams:Copyright/></dams:copyright>`

Here's the batch export for the files (it's rdf but I chan

[2020-02-19 20:24] lsitu commented on #387
@arwenhutt Thanks. I think it should be an existing bug that wasn't found. Could you attached the Excel source file that was used for ingest so that I can take a look?

[2020-02-19 21:54] arwenhutt commented on #388
@lsitu
#1 looks good
and I'll create a new ticket for #2

given all of that, I think we can close this ticket.

[2020-02-19 21:54] #388 closed

[2020-02-19 22:25] arwenhutt opened #402 "empty dams:copyright property created on ingest"
### Descriptive summary
We've found many examples of objects with an empty dams:copyright property
`<dams:copyright><dams:Copyright /></dams:copyright>`

in some cases this is the only copyright info in the record, sometimes it is in addition to a populated copyright property.

This was identified during testing of release candidate 2.77 on staging, but also is seen in production objects ingested

[2020-02-19 22:26] arwenhutt commented on #388
Link to ticket for # 2 - #402

[2020-02-19 22:29] arwenhutt commented on #387
@lsitu I've created the new ticket and added the excel source file there #402
With that in a separate ticket, I think we can close this one.

[2020-02-19 22:29] #387 closed

[2020-02-19 22:30] lsitu commented on #387
@arwenhutt Thanks. I am on that new ticket now.

[2020-02-19 22:39] arwenhutt commented on #386
@lsitu In reviewing a small sample of objects, 2 of the 7 objects I reviewed were not updated.

Here's my tracking spreadsheet for the review:
[damsmanager_2_77_0_issue_386.xlsx](https://github.com/ucsdlib/damsmanager/files/4227856/damsmanager_2_77_0_issue_386.xlsx)

[2020-02-19 22:44] arwenhutt commented on #393
@lsitu events initiated by @abbypenn93 still have incorrect initiator metadata.
I'm attaching a zip with an object edited by @abbypenn93 and for comparison objects edited by @remerjohnson and myself.  Also the <dams:personalName> records for each of us
[ah_initiator.zip](https://github.com/ucsdlib/damsmanager/files/4227878/ah_initiator.zip)

[2020-02-19 22:51] arwenhutt commented on #392
@lsitu
I tested ingest, batch overlay (3 times) for batch of objects (test ah1) + single item edit for 1 of the items.  I've reviewed the events for the single item carefully and they look correct (number, type) - also reviewed a sample of items from the rest of the batch and they look good.

[2020-02-19 22:52] lsitu commented on #386
@arwenhutt Got it. I think this should be the SOLR update issue on staging, which may not be reliable enough with other deployment and tests on-going at the same time. Would like to run SOLR re-indexing for all rdcp object on staging for you to review?

[2020-02-19 23:01] lsitu commented on #393
@arwenhutt I just took a look at record object_ah_2020_02_12_bd3708188f.xml in ah_initiator.zip and I see the new events are correct. Would you point me to the newly created events that are correct? Thanks.

[2020-02-19 23:17] lsitu commented on #402
@arwenhutt I see column `Copyright   status` and `Copyright holder` are there in the ingest metadata, which may cause the confusing. At this time, the batch editing/overlay tool expects the copyrights to be captured from the spreadsheet while the batch ingest expect it from the Excel InputStream form, which causing the trouble.
Would you like me to just ignore all fields related to copyright and `

[2020-02-19 23:35] arwenhutt commented on #390
@lsitu
@remerjohnson tested converting roger titles with the backslash, and one bib that always fails and gave the thumbs up on the improved character handling and reporting

[2020-02-19 23:40] arwenhutt commented on #393
@lsitu the problem is with events initiated by Abby, in the files I provided the examples with abby's name or initials are the ones that show problems:
- object_ap_2020_02_12_bb6930466p.xml
- initiator_abby.xml

All of the other files are objects which show how Ryan and my names are recorded, and are provided for comparison.

[2020-02-19 23:44] lsitu commented on #390
@arwenhutt @remerjohnson Thanks. I think another improvement is that with batch of bib's, it'll to give the error report on record base (record by record) when conversion error occurred now.

[2020-02-19 23:53] arwenhutt commented on #402
@lsitu ah! I totally missed that.  I just looked at some objects with the blank copyright that had been ingested into production and their spreadsheets have the same columns.

hmmm, since the batch overlay can import those fields, how difficult would it be to have the excel input stream work the same way - use information from the spreadsheet instead of the form?

[2020-02-20 00:12] arwenhutt commented on #386
@lsitu If you think it might help, but I didn't think SOLR indexing affected the rdf data views?

[2020-02-20 00:54] lsitu commented on #402
@arwenhutt It won't be hard but if we want to move forward with the deployment now, I think we can simply fix the empty copyright element issue now and then made the improvement for ticket [Move rights and access controls into spreadsheet](https://github.com/ucsdlib/damsmanager/issues/265) in the next step, which may need some discussions. Or would you like to hold on the new release and wrap up t

[2020-02-20 00:56] lsitu commented on #386
@arwenhutt Yes, solr indexing won't affected the rdf data views but just update those out-dated metadata in SOLR for damspas UI display.

[2020-02-20 01:10] arwenhutt commented on #386
@lsitu okay, so no need to reindex for this ticket then.  I did my review on the rdf data (at the location  listed in column E of the spreadsheet attached above) not the UI display.

[2020-02-20 01:15] lsitu commented on #386
@arwenhutt It sounds good. At the mean time, I am starting the SOLR re-indexing process for rdcp records now so that you are still able to take a look later if needed. But it will take a little while.

[2020-02-20 01:21] arwenhutt commented on #402
@lsitu I think the only reason we might consider holding the new release is if the interim fix was a lot of work or would make it a lot harder to move rights into the spreadsheet in the future.

But it sounds like it probably isn't and doesn't, so...

sounds like the best plan!

[2020-02-20 01:25] lsitu commented on #402
@arwenhutt Yes, it's a simple fix.

[2020-02-20 01:28] arwenhutt commented on #402
@lsitu great!

[2020-02-20 16:03] lsitu commented on #393
@arwenhutt Yep, I see the problem regarding why Arbby's name record (bb42367382) doesn't show up in the full RDF/XML now. It is a `bb` ark  that was created on prod in the events triplestore: see [apennington](http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb42367382/export?ts=events). I think this is what we'd implemented from the very beginning to have all event data stored in the even

[2020-02-20 17:10] arwenhutt commented on #393
@lsitu I think either sounds fine, so whichever you think is best!

[2020-02-20 17:21] lsitu commented on #393
@arwenhutt I recalled that we may have talked about the topic with creating those curator name records first. How about just import @abbypenn93 's name record to the `dams` triplestore now to move the deployment forward, and if you want to change the way of creating/looking up those name records, we'll work on another ticket?

[2020-02-20 17:26] arwenhutt commented on #393
@lsitu sounds good

[2020-02-20 17:40] lsitu commented on #393
@arwenhutt I've imported @abbypenn93 's name record to staging. Here is the full RDF/XML for record bb6930466p that Abby tested earlier: http://lib-hydratail-staging.ucsd.edu:8080/dams/api/objects/bb6930466p/export. Could you take a look?

[2020-02-20 18:31] lsitu commented on #402
@arwenhutt @mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/403 to fix the empty copyright element problem. It's ready for review now. Thanks.

[2020-02-20 19:33] arwenhutt commented on #393
@lsitu it's showing up for me now 👍

[2020-02-20 20:33] lsitu commented on #402
@arwenhutt The changes in PR https://github.com/ucsdlib/damsmanager/pull/403 to staging is deployed to staging, which will fix the empty Copyright element in Excel InputStream. Could you test it on staging? Thank you.

[2020-02-21 01:53] arwenhutt commented on #402
@lsitu this looks good! I checked all the values we use in those fields and none of the records created have an empty copyright element.

[2020-02-21 01:58] lsitu commented on #399
@gamontoya @arwenhutt @hjsyoo Are there any blockers still need to be resolved for new release 2.77?

[2020-02-21 17:18] arwenhutt commented on #399
@lsitu I believe the only unresolved issue was with the global clean up ticket: https://github.com/ucsdlib/damsmanager/issues/386

[2020-02-21 18:25] #317 closed

[2020-02-21 18:30] lsitu commented on #399
@arwenhutt I think #386 should be fine unless you see some problems in other RDCP objects with `bb` ARK. I take a look at those two examples you mentioned in https://github.com/ucsdlib/damsmanager/issues/386#issuecomment-588510197, both are test objects:
- http://lib-hydratail-staging.ucsd.edu:8080/dams/api/objects/bd0022046z/export
It's not in my update list somehow, but I can retrieve and update

[2020-02-21 18:38] arwenhutt commented on #399
@lsitu could you share your update list for #386?  My concern is that even though this is just two objects, it's a big proportion of the objects we checked.  But I'm thinking that if we have a list of the arks identified for changes, we can review that and see if these two objects were anomolies or there's some set of conditions that need to be updated/added.

[2020-02-21 18:52] lsitu commented on #399
@arwenhutt Here should be the list with objects that were updated:
[solr_ark-01292020.txt](https://github.com/ucsdlib/damsmanager/files/4237564/solr_ark-01292020.txt)
But I think it's good to run my tool again to clear your concerns.

[2020-02-21 19:01] arwenhutt commented on #399
@lsitu thanks!  Give me an hour or so to look at some more records first.

[2020-02-21 20:16] arwenhutt commented on #399
@lsitu okay, do you want to run the clean up again? and if you could give me the list of the objects that get updated on the second round that would be helpful.

[2020-02-21 20:17] lsitu commented on #399
@arwenhutt Sure.

[2020-02-21 20:24] #393 closed

[2020-02-21 20:27] arwenhutt commented on #265
@gamontoya @jessicahilt After recent work and discussion, I think we should move ahead with this before doing the rights decoupling work, so I'm removing the `blocked ` label.

[2020-02-21 22:31] arwenhutt commented on #399
(sorry about the premature closing - accidental click!)

[2020-02-22 01:10] lsitu commented on #399
@arwenhutt I've run my tool again to do the global cleanup and update the copyright boilerplate for all RDCP objects in staging with empty copyright element correction.
Here are the list of records affected:
- 1701 objects updated:
[update_ark-new.txt](https://github.com/ucsdlib/damsmanager/files/4238606/update_ark-new.txt)

- 85 objects that contains empty copyright elements, which are corrected:

[2020-02-22 03:17] arwenhutt commented on #399
@lsitu this looks great, I'll close #386 🎉

[2020-02-22 03:26] arwenhutt commented on #386
Closing per followup in #399

[2020-02-25 16:42] lsitu commented on #399
Thanks @arwenhutt. @gamontoya Are we ready to move the new release forward to prod now?

[2020-02-25 16:44] lsitu commented on #386
@arwenhutt Just let you know that we haven't done any work to clean up the copyright boilerplate on prod yet.

[2020-02-25 16:45] lsitu commented on #386
@arwenhutt Just let you know that we haven't done any work to clean up the copyright boilerplate on prod yet.

[2020-02-25 16:48] lsitu commented on #386
@arwenhutt Just let you know that we haven't done any work to clean up the copyright boilerplate on prod yet.

[2020-02-25 18:13] arwenhutt commented on #386
@lsitu doh! I totally knew that, but was in the verify-close-celebrate mode that I spaced on needing to leave this open!  Thanks : )

[2020-02-25 18:17] arwenhutt commented on #386
@lsitu and to verify, before implementing this I think we need to fix the objects missing `<dams:unit>` and the empty `<dams:copyright>` properties

Is that correct?

[2020-02-25 18:28] arwenhutt commented on #402
reopening for production verification

[2020-02-25 18:35] lsitu commented on #386
@arwenhutt Yes. But I think it doesn't matter if you can fix the dam:copyrightNote in the spreadsheet for batch overlay.

[2020-02-26 16:30] lsitu commented on #386
@arwenhutt For your comment https://github.com/ucsdlib/damsmanager/issues/386#issuecomment-590993259, what's your plan then?

[2020-02-26 16:45] arwenhutt commented on #386
@lsitu Once the updates to damsmanager are deployed to prod I can update the objects missing dams:unit.  I don’t know the scope of the blank copyright fields, or if they can be fixed using batch overlay. Could you identify and remove those?

Then once those are both done, you can run your scripts for the update.

How does that sound?

[2020-02-26 16:52] lsitu commented on #386
@arwenhutt Yes, it sounds good. I think my script can fix those records in RDCP that have empty copyright fields. But for those objects in DLP collection, they can be fixed using batch overlay but we may need a report for them.

[2020-02-27 16:21] lsitu commented on #399
@rstanonik @thorucsd Has damsmanger release 2.77 been deployed to prod and tomcat restart? Thanks.

[2020-02-27 16:36] rstanonik commented on #399
damsmanager was deployed to production this morning (including tomcat restart), along with a deploy of damspas.

[2020-02-27 16:45] lsitu commented on #399
Thank you both @rstanonik @thorucsd.

[2020-02-27 16:45] lsitu commented on #399
@arwenhutt I think release 2.77 is ready on prod now. Could you let me know when you finish your update for those missing &lt;Unit> records (https://github.com/ucsdlib/damsmanager/issues/386#issuecomment-591525591)? I'll move forward with the RDCP copyright boilerplate cleanup once you are done. Thank you.

[2020-02-27 17:53] arwenhutt commented on #399
@lsitu will do.  I think it may be tomorrow.  I want to test the issues related to batch overlay before making changes to real records, and have a lot of meetings today. I think I will have some time to start testing the release this afternoon.

[2020-02-27 18:06] lsitu commented on #399
@arwenhutt Is it possible to make the change tomorrow morning? @hjsyoo What's your expectation regarding the timeline to finish the copyright boilerplate metadata cleanup ticket https://github.com/ucsdlib/damsmanager/issues/386 for RDCP collections?

[2020-02-27 19:01] hjsyoo commented on #399
@lsitu Thanks! I think we're good on the timeline. @arwenhutt made a custom fix to the object that was holding us up, so our process is no longer dependent on #386 , if I understand correctly.

[2020-03-02 20:03] lsitu commented on #399
@arwenhutt Should I move forward to cleanup the copyright boilerplate on prod for ticket https://github.com/ucsdlib/damsmanager/issues/386 now? Thanks.

[2020-03-02 22:46] arwenhutt commented on #402
@lsitu verified on production ✔️

[2020-03-02 22:46] #402 closed

[2020-03-02 22:47] arwenhutt commented on #387
@lsitu - @abbypenn93 verified this on production ✔️

[2020-03-02 22:48] arwenhutt commented on #390
@lsitu - @remerjohnson verified this on production ✔️

[2020-03-02 22:48] arwenhutt commented on #392
@lsitu verified on production ✔️

[2020-03-02 22:49] arwenhutt commented on #393
@lsitu - @abbypenn93 verified this on production ✔️

[2020-03-02 22:49] arwenhutt commented on #394
@lsitu verified on production ✔️

[2020-03-02 22:54] arwenhutt commented on #399
@lsitu I wasn't able to do testing Thursday and Friday - too many meetings and other deadlines, but I finished up the last of the testing a little while ago and am in the process of adding unit to the objects missing it now.  There's just one large collection left - I'm guessing it'll be done in 15-30 minutes.

[2020-03-02 22:57] lsitu commented on #399
@arwenhutt That sounds great! Thank you very much for the update.

[2020-03-02 22:58] arwenhutt commented on #388
@lsitu - @remerjohnson verified on production ✔️

[2020-03-02 23:47] arwenhutt commented on #399
@lsitu sorry, it's taken longer than expected!  Hopefully done soon 🤞

[2020-03-02 23:54] lsitu commented on #399
@arwenhutt No worries. Just let me know once it's done so that I can start my process. Thank you.

[2020-03-03 00:11] arwenhutt commented on #399
@lsitu okay, all done!  The changes are still being re-indexed but I exported after editing and checked that unit is present in the object records.

[2020-03-03 00:38] arwenhutt commented on #395
Done.  related docs (export, overlay, post-overlay export on rdcp-staging zz_DOMM\2019_Q4_missing_unit_bug)

[2020-03-03 00:38] #395 closed

[2020-03-03 21:30] lsitu commented on #386
@arwenhutt I've finished the global copyright boilerplate cleanup for RDCP collections on prod. And I think you can review it now. Here are the objects affected:
- Objects updated (1557):
[update_ark.txt](https://github.com/ucsdlib/damsmanager/files/4283644/update_ark.txt)
- Objects with empty copyright that are fixed (4):
[ark_fixed.txt](https://github.com/ucsdlib/damsmanager/files/4283666/ark_fi

[2020-03-05 19:06] arwenhutt commented on #386
@lsitu I've reviewed a sample of the updated files and they look good.  There are some items that didn't get updated (because they didn't meet the search parameters I'm guessing) but we'll update them using batch overlay.  So I think this can be closed! :tada:

[2020-03-05 19:06] #386 closed

[2020-03-05 19:08] arwenhutt commented on #367
@abbypenn93 @hjsyoo All of the tasks/tickets listed above have been completed and I think this is fixed!

[2020-03-05 19:08] #367 closed

[2020-03-05 19:10] arwenhutt commented on #399
@gamontoya @lsitu  Is there anything else needed for this ticket, or can it be closed (with much fanfare!)

[2020-03-05 19:12] arwenhutt commented on #383
@lsitu I received a harvesting status report via the unit email address -- definitely working!

[2020-03-05 19:12] #383 closed

[2020-03-05 19:13] lsitu commented on #386
@arwenhutt Yes. all 50 objects in file [ark_error.txt](https://github.com/ucsdlib/damsmanager/files/4283703/ark_error.txt) of my comment above (https://github.com/ucsdlib/damsmanager/issues/386#issuecomment-594179492) haven't been updated since there are no copyright element and the I don't know how to make the change without the criteria in the copyright element.

[2020-03-05 19:15] arwenhutt commented on #386
@lsitu doh! I didn't see that one! thanks for the great reports - helps a lot with qa :)

[2020-03-05 20:36] gamontoya commented on #399
@arwenhutt I think this is finally closeable!

[2020-03-05 20:36] #399 closed

[2020-03-11 18:06] mdpeters opened #404 "Export master files from Spanish Civil War Children's Drawings collection for Starlight exhibit"
### Descriptive summary

Please export the object master files for items belonging to the collection https://library.ucsd.edu/dc/collection/bb4540678g to the starlight staging space in \\lib-storage.ucsd.edu\starlight-upload\sw_children_drawings\

### Rationale

Prep for ingest into the Starlight exhibit system

[2020-03-11 18:23] gamontoya commented on #289
@arwenhutt @lsitu Can we finally close this one? 😃

[2020-03-12 02:04] lsitu commented on #404
@rstanonik I don't have write access to \lib-storage.ucsd.edu\starlight-upload\sw_children_drawings\, and all 634 tiff files in [Spanish Civil War Children's Drawings collection](https://library.ucsd.edu/dc/collection/bb4540678g) are exported to \\darry\dams_staging\starlight-upload\sw_children_drawings now. However. Could you help us copy all files in `\\darry\dams_staging\starlight-upload\sw_chi