[2016-10-17 16:55] mcritchlow opened #104 "Capture FAST headings instead of LCSH headings in MARC input stream"
Please ping @ucsdlib/domm for any questions.

If a MARC record contains a 6XX field:

Whose 2nd indicator = 7 AND contains the subfield:'|2fast'

Then load that 6xx type field ONLY and do not load a matching 6xx field with a second indicator of 0.

Ex:

650  0 Architecture, Modern|y20th century|vGuidebooks   DO NOT LOAD
650  0 Architect-designed houses|zCalifornia|vGuidebooks  DO NOT LOAD
**650  7

[2016-10-17 17:44] lsitu commented on #104
@ucsdlib/domm Could I have an example that can be used for testing? And the corresponding converted result if possible. Thanks.

[2016-10-17 17:48] arwenhutt commented on #104
@pitviper6 Do you have time to help @lsitu with a good example record he can test with?

[2016-10-17 18:25] remerjohnson opened #105 "Add support for ingesting files with file names containing accents/diacritics"
Currently the DAMS Manager tools will accept and pass files with accent marks and diacritics (File Match and File Validation tool), but fail during ingest (see attached)

Perhaps this isn't a large use case, as we can normally adjust file names as needed, but this particular collection has 100s of objects with diacritics in the file names, so I figure it's worth a shot if it's an easy fix.

[amazo

[2016-10-17 19:36] GregReser commented on #104
I don;t have a converted version, but this Roger record cold be a good example.  It has both FAST and non-FAST subjects with the same labels.
http://roger.ucsd.edu/record=b8529446~S9

[2016-10-17 19:42] arwenhutt commented on #104
@lsitu the record Greg links to has a few different subject types included (648, 650, and 655), do you need something which covers all subject types, or is it sufficient to have a few for testing and then use that pattern in the stylesheet's other mappings?

For a record with all types, I think we'll have to get an artificial test record created by our MARC catalogers.

[2016-10-17 19:48] lsitu commented on #104
@arwenhutt Yes, It's good to list all subject types that we want to apply the fast conversion rule. And I am also wondering how these subject type are converted to MARCXML at these time so that we can decide how to update JollyRoger to convert these fields to MARCXML.

[2016-10-17 19:56] lsitu commented on #104
@arwenhutt @GregReser From the example http://lib-hydratail-staging.ucsd.edu:8080/jollyroger/get?type=bib&mods=true&ns=true&value=b8529446 MarcXML, I don't see any fast id included so I think we may need to update JollyRoger to include all field we want as the first step. Do you have any thoughts on the MarcXML that is used for dams4 RDF conversion?

[2016-10-17 19:56] arwenhutt commented on #104
The DAMS field that each type of subject (648, 650, 655, etc.) maps to should not be changed as part of this ticket.  What we want to change is to ingest the values from the ones that contain FAST values (marked by a second indicator 7 AND contains the subfield:'|2fast') instead of the ones that contain LCSH values (marked by a second indicator 0).  Currently we import only the LCSH ones and not t

[2016-10-17 20:05] arwenhutt commented on #104
@lsitu I don't know what parts of the current MARC conversion are happening at the MARC->MARCXML part vs. the MARCXML->DAMS 4 conversion, @pitviper6 may know some, but she came on after this was already in the works, so I'm afraid the only authoritative source would be Esme.

My memory is that the MARC->MARCXML was based on a LOC stylesheet but with local customization.

It seems that the safest w

[2016-10-17 20:14] lsitu commented on #104
@arwenhutt Yes. It sounds good to me. But what format do you suggest for the id field in the MARCXML and how it looks like in DAMS4 RDF/XML?

[2016-10-17 20:23] arwenhutt commented on #104
@lsitu ah, so your question is where do we map the ID value?

From the perspective of the MADS data model, I think it maps to mads:hasExactExternalAuthority, e.g. <mads:hasExactExternalAuthority rdf:resource="http://id.loc.gov/authorities/names/no2008083372"/>

But we haven't done this much in D4 so I'm not sure how completely this is modeled out in D4

I found the name example above but looking f

[2016-10-17 20:29] lsitu commented on #104
@arwenhutt Yes. I think we've got it in DAMS4 for authority records, including subjects.

[2016-10-17 20:30] arwenhutt commented on #104
Great!  then that's the place.

[2016-10-17 21:03] lsitu commented on #104
@arwenhutt For the following 650 field in the example above:
<datafield tag="650" ind1=" " ind2="7">
<subfield code="a">Architect-designed houses.</subfield>
<subfield code="2">fast</subfield>
<subfield code="0">(OCoLC)fst00813106</subfield>
</datafield>

What's the MARCXML looks like? Do we need to convert the fast id (OCoLC)fst00813106 to a URI or not since mads:hasExactExternalAuthority should

[2016-10-17 21:19] arwenhutt commented on #104
For the ID encoding, yes, it would be good to convert to a URI.  The URI for the example you gave is `http://id.worldcat.org/fast/813106`

It looks like they aren't using the leading zero's in the URI (though if you include them it still resolves to the same record, but including them could cause problems in future matching)

For the MARCXML, I don't know exactly how/when the MARCXML is generated

[2016-10-17 21:56] lsitu commented on #104
Thanks @arwenhutt. Yes, I mean the MODS output looks like, which is used for DAMS4 RDF conversion.

[2016-10-17 22:04] arwenhutt commented on #104
According to the sample you sent the MODS output currently being created conforms to the MODS 3.5 standard, and according to that the fast ID value should (I believe) be encoded as @valueURI

The current MODS output doesn't appear to include the IDs, so presumably it would have to be added to the MARCXML->MODS transformation.

[2016-10-18 15:06] lsitu commented on #104
@arwenhutt Do we need to support the mads:hasExactExternalAuthority field with the CSV format in the Excel Input Stream?

[2016-10-18 17:12] arwenhutt commented on #104
@lsitu Nope, for the excel input stream we are just matching against existing subject records in the DB.  Also the subject import supports it mads:hasExactExternalAuthority field so we can add subjects with URIs via that.

We will likely want to rethink all of this when we redesign and rebuild the import tools in D5, but it is not necessary now in the D4 Excel Input Stream.

[2016-10-18 17:19] lsitu commented on #104
@arwenhutt Okay. I'll move ahead to update JollyRoger and the MARC/MODS Import tool to support it them.

[2016-10-18 18:45] lsitu commented on #104
@arwenhutt @GregReser Attached is the sample record for b8529446. You can simply rename it to .xml to review it. Thanks.
[export-b8529446.txt](https://github.com/ucsdlib/damsmanager/files/537097/export-b8529446.txt)

[2016-10-18 23:17] lsitu commented on #104
@mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/106 to add FAST headings support to the MARC/MODS Input Stream, which will extract the FAST headings if it exists otherwise the LCSH will be extracted. I think it's ready for review now. Thanks.

[2016-10-18 23:55] mcritchlow commented on #104
@arwenhutt @GregReser - how sure are we that the subfield value for FAST will always be `fast` in lowercase. Are we sure it will never be `FAST` or `Fast`? I'm wondering if we should, or need to, force lowercase on our end.

[2016-10-19 01:50] arwenhutt commented on #104
@mcritchlow good question, I'll check in with our some of our marc experts tomorrow and see.  But if we could easily accommodate any casing, that would probably be safer.

Also, @lsitu I'll look at the test record tomorrow.

[2016-10-19 15:01] GregReser commented on #104
Agreed about forcing "FAST" to lower case - just in case.
The sample looks good to me.
Are we also bringing in non-fast 6xx field with a second indicator of 0 IF there is not a matching fast 6xx?

Example 6xx from Roger bib# b3437818:

650  0 Interior decoration|xHistory
650  0 Interior architecture|xHistory
650  0 Interior decoration in art
653 0  Interiors|aDecoration|aHistory
655  7 History.|2f

[2016-10-19 15:15] lsitu commented on #104
@mcritchlow I've updated the PR to support case intensive FAST in the style sheet.

[2016-10-19 15:25] lsitu commented on #104
@GregReser It's hard to support this rule since we convert the MODS output to DAMS4 RDF at this time. In the MODS format output, all those 6xx fields are converted to mods:subject and they are mixed with the fields that are marked as "fast". So I think we may need to convert all subject fields to FAST with an ID, or at lease marked them as "fast".

[2016-10-19 15:28] GregReser commented on #104
@lsitu do you mean that the input stream would search FAST for a match and use it?  In other words it would reconcile the non-FAST subjects at the time of ingest?  That would be great.

[2016-10-19 15:34] lsitu commented on #104
@GregReser Yes. So we would support both FAST subjects and non-FAST subject MARC records at the same time, and no duplicates as well.

[2016-10-19 15:37] GregReser commented on #104
@lsitu can you test this on b3437818?

[2016-10-19 15:56] lsitu commented on #104
@GregReser Here it is:
[b3437818-export.txt](https://github.com/ucsdlib/damsmanager/files/539535/b3437818-export.txt)

[2016-10-19 17:13] arwenhutt commented on #104
@lsitu For now please do not include non-FAST headings in the MARC input.  Thanks.

[2016-10-19 17:59] mcritchlow commented on #104
Given @arwenhutt most recent comment, i think @lsitu's PR is ready to go. I'll review and merge now. Thanks all!

[2016-10-19 18:11] arwenhutt commented on #104
Not sure if it's relevant, but I'm QA'ing the output now, it looks good so far.

[2016-10-19 18:14] mcritchlow commented on #104
@arwenhutt - we can certainly wait for that, sorry i missed that comment :)

[2016-10-19 18:21] arwenhutt commented on #104
No problem! Okay, I'm done :) @lsitu the output in this comment https://github.com/ucsdlib/damsmanager/issues/104#issuecomment-254601656 looks good.

Since the sample does only include some of the 6xx fields, I only verified that those were coming in as expected.

We can do a more thorough test, using a validation record like we discussed previously, but there isn't any variation in handling of th

[2016-10-19 18:28] arwenhutt commented on #104
Also, I forgot to add, we'll need to test the matching against the DAMS values (bullets 1&2 in the original ticket) functionality after it's deployed to staging.

[2016-10-19 19:14] lsitu commented on #104
@arwenhutt For your questions above:

I think the logic should be applied to all 6xx/subject fields. But do we have a FAST id for hierarchicalGeographic or not? Also, do we have other fields that are not 6xx but map to subject as well?

No. The codes are general for all subjects.

[2016-10-19 21:36] arwenhutt commented on #104
Great, sounds good!

Could you clarify what you mean?  This could be interpreted a number of ways, so I'm not sure which question to answer.

We don't have documentation of the mapping from MARC to DAMS, just the scripts themselves (which were customized from community scripts).  So I couldn't say authoritatively one way or the other.  BUT it seems unlikely (too potentially messy I'd think), and e

[2016-10-19 22:35] lsitu commented on #104
@arwenhutt Unlike other subject fields, hierarchicalGeographic subject is handle in a separate block in MODS output conversion with no id converted. This is the only variation I see and I may need to add id conversion logic for it if it do have an id.
For fields other than 6xx that are converted to subjects, I think we may need to marked them as FAST headings as well.

[2016-10-26 22:34] arwenhutt commented on #104
@lsitu I don't think we need to worry about the hierarchicalGeographics headings.  I checked with Ryan Finnerty (head of the database maintenance unit for our ILL) about how common they (662 fields specifically) are in MARC records and his exact quote was "I don't believe I have ever encountered one of those in my life".  So that's good.

We don't want to mark items as FAST headings unless they ar

[2016-10-26 22:54] lsitu commented on #104
@arwenhutt I think only the following non 6xx fields could be converted to subjects by JollyRoger:
marc:datafield[@tag=034] createSubGeoFrom034 => cartographics
marc:datafield[@tag=045] createSubTemFrom045 => temporal
marc:datafield[@tag=255] createSubGeoFrom255 => cartographics
marc:datafield[@tag=752] createSubGeoFrom662752 => hierarchicalGeographic

[2016-10-26 22:58] arwenhutt commented on #104
Okay, I don't think those will have FAST headings assigned by OCLC, so they won't be available in the MARC.  So I think for initial implementation we can leave them.

We'll do an evaluation of the process with some of our MARC folks and based on that look at whether we need to make any modifications to the mapping or processing for D5.

[2016-10-27 16:50] mcritchlow opened #107 "Report on missing names/subjects excluded from initial Subject report"
Per @arwenhutt:

[code]

@lsitu suspects there were predicates that were not included when the initial subject report was created. Please provide this supplemental report.

[2016-10-27 18:17] arwenhutt commented on #104
@GregReser I verified that this has been deployed to staging and is ready for testing.  Please test that it works as expected, particularly the new functionality of matching against existing dams records using the FAST ID, and if that is not available, the text string (processing logic outlined above).
Thanks!

[2016-10-27 20:29] GregReser commented on #104
@lsitu Testing in staging -
Roger record = b3582973
DAMS object = https://librarytest.ucsd.edu/dc/object/bd76949215

The Roger record has 3 non-FAST subjects.  I believe three new DAMS ARKs were created for these on ingest.  These should not have imported, right?

650  0 Architecture, Domestic|xHistory
650  0 Dwellings
650  0 Historic buildings

http://library.ucsd.edu/ark:/20775/bd3804101n
http:/

[2016-10-27 21:04] lsitu commented on #104
@GregReser I don't see the marc Record [b3582973](http://lib-hydratail-prod.ucsd.edu:8080/jollyroger/get?type=bib&mods=false&ns=true&value=b3582973) that you used for testing includes any FAST headings, so it will be treated as-is with all subjects ingested. To exclude those non-FAST 6xx fields from ingested, we have to set at least one 6xx field to use FAST headings.

[2016-10-27 21:44] GregReser commented on #104
@arwenhutt Need to confirm the meaning of your earlier comment "For now please do not include non-FAST headings in the MARC ingest"

1. Non-FAST headings should not be imported, regardless of if they have a matching FAST heading.  If a MARC record contains only non-FAST headings, then no headings will be imported.

OR

2. Non-FAST headings with no matching FAST heading should be treated as they cu

[2016-10-27 22:32] arwenhutt commented on #104
This:

Specifically drawing from the text in the original issue:

The primary concern of this ticket is to update the ingest so that no LCSH precoordinated headings are ingested, so that once the subject conversion is complete, we will not be reintroducing complex subjects (in content or in encoding).   There are always things that may fall in grey areas (what if they are MESH headings?  or other

[2016-10-27 22:48] GregReser commented on #104
@lsitu FAST personalName and corporateName are not being imported.  I test twice to confirm.
Roger record = b3052904
DAMS object = http://librarytest.ucsd.edu/dc/object/bd3087371f AND http://librarytest.ucsd.edu/dc/object/bd9845111x

The MARC record has FAST terms:
610 27 E.W. Scripps (Ship)|2fast|0(OCoLC)fst00774418
610 27 Scripps Institution of Oceanography.|2fast|0(OCoLC)fst00540219

The DAMS o

[2016-10-28 15:54] lsitu commented on #104
@GregReser I've updated it to capture only those FAST subject and there is no non-FAST subjects extract when there are no non-FAST headings exist. So we only expect to ingest those MARC records that are updated to have FAST headings.
I also fix the name issue you found with the change. Could you try it again? Thanks.

[2016-10-28 15:59] GregReser commented on #104
@lsitu I'm out of the office today, but I will test it first thing Monday.

[2016-10-28 16:03] lsitu commented on #104
@GregReser Thanks. Don't worry about it. I think we've already been in advance for the sprint deployment.

[2016-10-31 16:18] GregReser commented on #104
@lsitu Confirmed it is functioning as expected - for the following MARC headings, only FAST headings were imported and FAST ID was included in the DAMS authority.
600 > PersonalName
610 > CorporateName
650 > Topic
651 > Geographic
655 > GenreForm

I only found one problem:
GenreForm value should not include dot at end.  See how topic and geographic values are handled.
<mads:GenreFormElement>
	<mad

[2016-10-31 20:10] lsitu commented on #104
@GregReser I've update to remove the leading and ending punctuations from subject GenreForm. I also fixed the missing FAST ID and scheme issues with GenreForm. Could you take a look again? Thanks.

[2016-10-31 22:44] GregReser commented on #104
@lsitu Looks good.
Testing if an existing DAMS authority is matched on ingest:
1. Existing DAMS authority WITH FAST ID
 - yes, the ingested term "Filmed speeches" was matched to existing DAMS authoritybd2643682c

2. Existing DAMS authority WITHOUT FAST ID
 - no, a new DAMS authority was created.  This results in duplicate authorities, one with FAST ID and one without FAST ID.  I think the MARC FAS

[2016-10-31 22:57] lsitu commented on #104
@GregReser Will the updating of existing authority records to FAST heading is another bigger issue that is not related to the FAST heading support in this ticket?
I think we are ensured that the authority records are matching by its label and the mads scheme like FAST, lcsh, lcgft etc. But let me know if you would like to change this mapping rule for authority records lookup and linking so that we

[2016-11-01 00:45] GregReser commented on #104
@lsitu Oh right, the FAST ID does not need to be added to an existing DAMS authority for this ticket, so disregard that.  I think the instructions do say that if a MARC FAST term is string matched to an existing DAMS ARK/term, that ARK should be used.  So in my above test, a new ARK should not have been created.  The existing ARK should have been used.  Am I right about that?

From the instruction

[2016-11-01 15:41] lsitu commented on #104
@GregReser I think we may need to talk about how an authority records should be looked up and link to an object a little more before implement a matching rule. Here is what we are doing now:
1. Matching the model (a class, like mads:Topic, mads:PersonalName, mads:GenreForm etc.)
2. Matching the mads scheme (such as lcsh,  and fast in this case)
3. Matching the authoritative label
4. Match other pr

[2016-11-01 17:01] GregReser commented on #104
@lsitu For matching, the instructions on this ticket don't mention matching the model.  Do you mean that when no FAST ID exists and a string match is made, the DAMS mads class must match the MARC tag type?  For example,
IF MARC 650 == mads:Topic, match that ARK
ELSE create a new GenreForm ARK?

[2016-11-01 17:30] lsitu commented on #104
@GregReser No. I think we may need to talk about a more general way to lookup an authority record for matching. It seems like that the model (class) is the key to compare two concepts. For example, a PersonalName and a Topic with the same literal value should be considered different concepts. So I believe we should match the model in the first place, then we can consider match other properties we

[2016-11-01 17:49] GregReser commented on #104
@lsitu The problem is that that we sometimes use a different mads class than the FAST type.  It is very possible that a FAST 655 will match to a topic not genreForm.  We have seen this in the subject conversion project.  We are changing some of these mismatches when they are completely wrong (personalName != geographic) but we are choosing to use a different class in some cases (event == topic).

[2016-11-01 18:17] arwenhutt commented on #104
@GregReser
I think this sounds like a good approach.  This is complicated, and I don't think there's a 100% solution, but I agree that we're going to get much better results by prioritizing FAST ID and then string label matches.  I could see utilizing the class _if_ the ID or string/label matched more than one existing record in the DAMS.  But I believe (once the subjects and names have been clean

[2016-11-01 18:24] lsitu commented on #104
@arwenhutt @GregReser I think we should have some duplicate authority records in dams4 that need to clean up later since we haven't cleaned them up yet. Will it be better to just separate the matching rule implementation and the clean up work that we need to do?

[2016-11-01 18:33] GregReser commented on #104
@lsitu Yes, I think we should do the clean up later.  We will need to do some further analysis after the first round of subject conversion to see what further we needs to be done.

[2016-11-01 18:34] arwenhutt commented on #104
Agreed.  There shouldn't be clean up as part of the work on this ticket.

[2016-11-01 18:35] arwenhutt commented on #107
@lsitu could you give me an update on how this is progressing?  Thanks!

[2016-11-01 19:01] lsitu commented on #107
@arwenhutt I think it's done for mads:Name and mads:PersonalName. Now it's on mads:CorporateName, which hits 14273 records for corporate name. My process is still running for it. I think the SPARQLs to query the counts for each Relationship for the records count is slow.

[2016-11-01 19:05] arwenhutt commented on #107
Thanks for the report Longshou! If the mads:Name and mads:PersonalName reports are available, we might be able to go ahead and get the ball rolling on those.

[2016-11-01 20:16] lsitu commented on #107
@arwenhutt Attached are the reports for mads:Name and mads:PersonalName, which are found in the Relationship but not in subject name (dams:name, dams:personalName). And I think all these names should not be included in our last report.
[missing-Name.txt](https://github.com/ucsdlib/damsmanager/files/564890/missing-Name.txt)
[missing-PersonalName.txt](https://github.com/ucsdlib/damsmanager/files/564

[2016-11-01 20:55] lsitu commented on #104
@arwenhutt @GregReser Once the new matching rules implementation in DAMS Manager, we'll get the following results for records linking:
1. The new matching rules is a global change for authoritative records lookup and linking, which will apply to both the Excel Input Stream and the MARC/MODS Input Stream.
2. By matching the mads:authoritativeLabel without matching the model (class), it could bring

[2016-11-01 21:52] arwenhutt commented on #104
@lsitu thanks for that information.  If this is a global rule then I think we'll need to discuss this a little more.

@GregReser I think we should probably discuss this at our unit meeting tomorrow.  If you have time to prepare, I'd like you to lead that conversation on what the implications of making a global change like this are and what the alternatives are.  If not, let me know and I'll look a

[2016-11-02 15:51] lsitu commented on #105
Hi Matt,
I've added [PR](https://github.com/ucsdlib/damsmanager/pull/108) to fix the issue of encoding with filename that contains accents/diacritics. But the PR have dependency on the hot fixes for the deployment with FAST support last week and we should merge it after the deployment is done. Thanks.

[2016-11-02 16:13] mcritchlow commented on #105
Looks great, thanks @lsitu! We'll merge after the deploy.

[2016-11-02 20:05] lsitu commented on #107
@arwenhutt Just let you know that the report for mods:CorporateName got interrupted with error "org.apache.http.NoHttpResponseException: The target server failed to respond" this morning after running for several days.
I am re-running my process to generate the report for mods:CorporateName now.

[2016-11-02 22:45] GregReser commented on #104
@lsitu DOMM discussed the options and came up with a proposed global matching logic.  I had to write this a little differently to help me keep the steps straight.  Let me know if you see problems or if it is unclear.

1. IF the source term has an ID AND it matches the ID in a single DAMS authority THEN link to that ARK
2. ELSE IF the source term label AND type match a DAMS authority authoritative

[2016-11-02 23:17] lsitu commented on #104
@GregReser That looks good and I am assuming that the ID here is the FAST heading ID.
For your question, I'll say Yes but you won't see any FAST heading ID in the CSV export file.

[2016-11-03 16:17] GregReser commented on #104
@lsitu For the global matching, it would be any ID.  We are looking at using LoC, VIAF, and other IDs in the subject conversion and will most likely allow these for new ingests in the future (with priority rules).
For the MARC input stream, the logic, for now at least, should be to only import 2nd indicator = 7 AND contains the subfield:'|2fast'.

[2016-11-03 16:32] lsitu commented on #104
Hi Greg,
Thank you very much for the clarification. So if I use the value in properties mads:hasExactExternalAuthority as the ID for authority look up, all IDs will be included. Is it correct?
For the MARC input stream, I won't do anything for FAST metadata extraction this round but only change the rules for authority records lookup, so you will see the same metadata. The only difference is that w

[2016-11-03 17:03] GregReser commented on #104
Correct, all IDs in mads:hasExactExternalAuthority will be included.  We anticipate doing periodic analysis of the DAMS subjects to correct duplicate and incorrect authorities.

So, to see where we are with finishing this ticket...
In the last test I did, a new DAMS record was created for the MARC 650 FAST heading "Marine biology".  I think that should not have happened because the existing DAMS r

[2016-11-03 18:05] lsitu commented on #104
Hi Greg,
Yes. Currently we are matching for the mads scheme as well. So those non-fasting heading authority records won't be considered for a match. I'll update the matching rules to remove the matching of the mads scheme so that we can bring up those existing non-FAST heading authority records for linking.

[2016-11-03 18:17] GregReser commented on #104
Great.  I'll test again when it's ready.

[2016-11-03 19:17] lsitu commented on #104
@mcritchlow I've implemented the new rules for authority records lookup as suggested by @arwenhutt and @GregReser , see PR https://github.com/ucsdlib/damsmanager/pull/109. It's ready for review now and please merge it to the release branch if it looks good. Thanks.

[2016-11-03 20:00] GregReser commented on #104
@lsitu can I test it in staging now?

[2016-11-03 20:02] lsitu commented on #104
@GregReser No. We need to deploy it to staging once the PR is merged. I'll let you know when it's ready.

[2016-11-03 20:14] GregReser commented on #104
OK, thanks

[2016-11-03 23:05] lsitu commented on #104
@GregReser I've deployed damsmanager with the latest update for authority records lookup to staging. It's ready for test now. Thanks.

[2016-11-04 20:33] GregReser commented on #104
@lsitu Good news: the matching logic is working correctly.
Bad news: complex subjects are being created.

The goal with this ticket is to bring the ingest process inline with our new approach to subjects for the new data model:

1. Eliminate pre-coordinated LCSH subjects
2. Eliminate dams:complexSubject.  As part of the subject conversion, we are splitting these into single subjects reconciled to

[2016-11-04 20:54] lsitu commented on #104
@GregReser Yes, these fast headings subjects have multiple sub-fields which trigger our tool to consider it to be complex subjects. Is it possible that these multiple sub-fields are not in the same element type, for example one is Topic and the other is Geographic? How do we deal with it in this case?

[2016-11-04 21:37] GregReser commented on #104
@lsitu That should not be a problem.  For MARC, any 6xx with "|2fast" should be an authorized FAST term, and will be OK.

For other ingest streams, we will develop a method to reconcile to a vocabulary before or during ingest (to be determined).  If we miss something, we still want simple subjects.  We will develop a method to review new DAMS authority records for class mismatch and other mistakes

[2016-11-07 16:53] lsitu commented on #104
Hi Greg,
I've updated to convert those FAST Headings with multiple fields to simple subjects with the name of the first field element as the subject element name. Could you test it on staging again?

[2016-11-07 20:11] GregReser commented on #104
@lsitu Geographics look great.  There should be two formGenre headings, which I don't see.
http://librarytest.ucsd.edu/dc/object/bd0118162r

ROGER RECORD: http://roger.ucsd.edu/record=b4163419~S9
655  7 Maps.|2fast|0(OCoLC)fst01423704
655  7 Aerial photographs.|2fast|0(OCoLC)fst01423684

[2016-11-07 21:19] lsitu commented on #104
@GregReser I think the issue is that we are trying to eliminate duplicate GenreForm elements in mods:genre and mods:subject/mods:genre. So when two such mods:genre element are detected , the mods:genre field (Maps and Aerial photographs in this case) are ignored.
I've fixed the logic to compare the siblings count as well. Could you try it now to see whether it works for you?

[2016-11-07 23:23] GregReser commented on #104
@lsitu It's getting closer.  All testes worked except one.

dams:topic "Panama-California Exposition" not present.
DAMS INGEST: http://librarytest.ucsd.edu/dc/object/bd28485616
ROGER: http://roger.ucsd.edu/record=b6302708~S9
MISSING MARC: 611 27 Panama-California Exposition.|2fast|0(OCoLC)fst01407969

Is this because we didn't map 611?  That is an meeting name or event.

[2016-11-08 00:16] lsitu commented on #107
@arwenhutt Attached missing-CorporateName.txt is the report for mads:CorporateName that are found in the Relationship but not in subject name dams:corporateName).
And I also compare the subjects names reported last time and found some records that are in the subject names but not included in our last report, see attachments
[missing-CorporateName.txt](https://github.com/ucsdlib/damsmanager/files/5

[2016-11-08 17:02] lsitu commented on #104
@GregReser It looks like the metadata for MARC 611 is extracted as mads:Name, which should be mads:ConferenceName: http://lib-hydratail-staging.ucsd.edu:8080/dams/api/objects/bd28485616/export?es=no

I have the following names types for the MARC/MODS import tool to convert now: mods:name[@type='personal'], mods:name[@type='corporate'], and mods:name[@type='conference']. Is there any name types sti

[2016-11-08 18:43] GregReser commented on #104
@lsitu We won't be using ConferenceName, so map MARC 611 to mods:name[@type='corporate'] and dams:corporateName.  We are taking this into consideration in our subject conversion project.

Family - there is no 6xx for family (thankfully, one less thing to map)

Be sure to remove trailing punctuation on the 611:
<mads:authoritativeLabel>Panama-California Exposition.</mads:authoritativeLabel>

[2016-11-08 19:22] lsitu commented on #104
@GregReser I've updated JollyRoger to map field 611 to mods:name[@type='corporate'] and it'll be converted to mads:CorporateName in DAMS4. I also remove the tracing punctuation as you want. Could you test it on staging again? Thanks.

[2016-11-08 21:29] GregReser commented on #104
@lsitu Excellent, it looks good.  Matching is right. Mapping is right.  No trailing punctuation.

DAMS INGEST: http://librarytest.ucsd.edu/dc/object/bd01522915
ROGER: http://roger.ucsd.edu/record=b9292834~S9

I think this is done.  Thanks for the good suggestions and for making all the changes.

[2016-11-08 21:32] lsitu commented on #104
Thanks @GregReser. I am glad that it works.

[2016-11-08 21:32] mcritchlow commented on #104
Great job @lsitu and thanks to @GregReser for all the QC and recommendations!

[2016-11-09 21:42] mcritchlow opened #110 "Curator vs non-curator views in RDCP statistics reporting"
QA/QC Testing: @hjsyoo

* Bug: In RDCP Unique Views (https://library.ucsd.edu/damsmanager/statsRdcpUsage.do), curator views are being improperly reported as non-curator views. Curator view sums appears to have been reported properly in June, but not since then (all curator views have been reported as 0, from July to Nov). This can't be correct.
* Bug: The views report seems to total all views, not

[2016-11-10 22:43] #104 closed

[2016-11-10 22:44] #105 closed

[2016-11-14 20:45] lsitu commented on #110
@mcritchlow @hjsyoo For #2 "In curator view, I backspaced once, then clicked back onto the page from search results. Then, in non-curator view, I repeated this action. Expected to see curator views = 1 and non-curator views = 1", we are counting on the page requests to the server, so if the browser's cache is timeout or disable, it will trigger another request to the page which will be counted as

[2016-11-14 21:47] lsitu commented on #110
@hjsyoo I think I've found the issue with the curator view that are not counted but I am curious that why it was once working in the past.
Could you confirm that from the search result page in the curator view, when you click on the thumbnail link on the left, it will be counted as curator view, while click on the link with object title and description metadata below it, it won't be counted as cur

[2016-11-16 19:00] lsitu commented on #110
@mcritchlow I've added two PRs (Fixes marking the title link in the search result page for RDCP curator stats. #110 ucsdlib/damspas#256, https://github.com/ucsdlib/damsmanager/issues/111) to address the first and third issues above. I think we may need to discuss the second issue regarding how to count the the number of views. See https://github.com/ucsdlib/damsmanager/issues/110#issuecomment-2604

[2016-11-16 21:20] GregReser commented on #104
@lsitu I think this is related to this issue, but not sure if it needs to be a new one or not.  Matt Peter's discovered that the CSV preview function is not including the 655 field.  All other FAST headings are working.

Roger: http://roger.ucsd.edu/record=b9292834~S9
655  7 History.|2fast|0(OCoLC)fst01411628

The XML output contains the heading "History", but the CSV output does not.

[preview-18

[2016-11-16 21:23] mcritchlow commented on #110
@lsitu great thanks 👍 . #111 looks good to me, and we'll let the team review/merge.

As to the second issue, I agree I think a discussion (either here or in a separate mtg) might need to happen regarding what's realistic to implement on our end. @gamontoya and @hjsyoo let us know what you think.

[2016-11-16 21:25] mcritchlow commented on #104
It would be nice to have this tracked as a separate ticket, but reference back to this one. @GregReser and @lsitu are you OK with that?

[2016-11-16 21:49] lsitu commented on #104
@mcritchlow @GregReser It looks like something is missing from the CSV output and I am fine to work it out in another ticket and reference it back.

[2016-11-16 21:52] mcritchlow opened #112 "CSV preview does not include 655 field"
Per @GregReser from #104

@mdpeters discovered that the CSV preview function is not including the 655 field.  All other FAST headings are working.

Roger: http://roger.ucsd.edu/record=b9292834~S9
655  7 History.|2fast|0(OCoLC)fst01411628

The XML output contains the heading "History", but the CSV output does not.

[preview-1861538287.xlsx](https://github.com/ucsdlib/damsmanager/files/595939/previe

[2016-11-16 22:37] lsitu commented on #112
@mcritchlow Yes, it's just a little mistake in the stylesheet for GenreForm conversion for the CSV output, and I've created a PR to fix it. It ready for review now. Thanks.

[2016-11-17 18:52] remerjohnson commented on #107
@lsitu I'm having problems with these attachments. Although they report at being UTF-8, the names are badly encoded and corrupted. There's also some with some abnormalities that make it so it cannot be opened as tab-separated. Is there a way to get these to come out clean encoding-wise?

[2016-11-17 19:05] lsitu commented on #107
@remerjohnson What tool do you use to open the files?

[2016-11-17 19:11] remerjohnson commented on #107
@lsitu So far Mousepad and LibreOffice Calc (on Xubuntu)

[2016-11-17 19:13] lsitu commented on #107
@remerjohnson Does it work with the first file missing-CorporateName.txt?

[2016-11-17 19:19] remerjohnson commented on #107
@lsitu The encoding on that file seems to be non-corrupt, but LibreOffice Calc complains that a cell exceeds the allowable length and so does not split at tabs properly (at line 240 it breaks and the whole doc becomes one column)

[2016-11-17 19:26] remerjohnson commented on #107
@lsitu I think it might be due to line 241 being a quoted value, which throws off the quoting of values. I can tweak that, but there's still the issue of bad encoding for names.

[2016-11-17 19:33] lsitu commented on #107
Hmm, interesting. Do you see just several of the names corrupted or all names that have diacritic are corrupted in the first file missing-CorporateName.txt?

[2016-11-17 19:39] remerjohnson commented on #107
In missing-CorporateName.txt, the diacritics are fine and correct. In CorporateName-additional.txt, however, diacritics are garbled.

[2016-11-17 19:53] lsitu commented on #107
@remerjohnson Could you try the following attachments to see whether it works? Thanks.
[CorporateName-additional.txt](https://github.com/ucsdlib/damsmanager/files/598299/CorporateName-additional.txt)
[Name-additional.txt](https://github.com/ucsdlib/damsmanager/files/598300/Name-additional.txt)
[PersonalName-additional.txt](https://github.com/ucsdlib/damsmanager/files/598301/PersonalName-additional

[2016-11-17 20:04] remerjohnson commented on #107
@lsitu The first two files are fine, but PersonalName-additional.txt has an unknown encoding...

[2016-11-17 20:12] lsitu commented on #107
@remerjohnson How about the following attachment?
[PersonalName-additional.txt](https://github.com/ucsdlib/damsmanager/files/598336/PersonalName-additional.txt)

[2016-11-17 20:53] remerjohnson commented on #107
@lsitu Still "unknown". I can open it in Windows notepad or force Calc to open as UTF-8, but there's about 5 names that are corrupt...

[2016-11-17 20:56] lsitu commented on #107
Hmm, it looks like something is messing up when I am merging the for the diff. Let's see how this one goes:
[PersonalName-additional.txt](https://github.com/ucsdlib/damsmanager/files/598450/PersonalName-additional.txt)

[2016-11-17 21:11] remerjohnson commented on #107
Still invalid/unknown. I wonder if there's some character in the file that throws everything off?

[2016-11-17 22:21] lsitu commented on #107
@remerjohnson Not sure what's going wrong but it looks good when I open the last attachment https://github.com/ucsdlib/damsmanager/files/598450/PersonalName-additional.txt with Notpad++.
Could you convert it at you end to see how it goes?

[2016-11-17 22:31] remerjohnson commented on #107
Okay I can convert things. I would like a final listing of all the names though, if that's possible. Thanks

[2016-11-17 22:51] lsitu commented on #107
@remerjohnson Do you mean a file with the names from all the name types in it, or one file for each name type? I am not sure whether there are something newly ingested since my last report but I can generate the report again, which could include some new names if that works.

[2016-11-17 23:59] remerjohnson commented on #107
Well, just to the original issue: a collection of all the files, since this ticket is now pointing to a lot of different files. We've been trying to be diligent about getting new names reconciled before ingest, so it wouldn't have to be super recent.

[2016-11-18 00:57] lsitu commented on #107
@remerjohnson Okay, I just merged all files into one (attachment all-missing-names.txt), which includes all the names that are not in the original report:
[all-missing-names.txt](https://github.com/ucsdlib/damsmanager/files/598818/all-missing-names.txt)

[2016-11-19 00:32] remerjohnson commented on #107
@lsitu There were still the issues from before, but I managed to clean it up and identify some problems that were making it fail. I think we're good here. Thanks!

[2016-11-19 00:32] #107 closed

[2016-11-19 00:38] lsitu commented on #107
That sounds good. Thanks @remerjohnson .

[2016-11-21 16:49] hjsyoo commented on #110
Hi @lsitu. Below are the steps I took to test the second issue, as you requested.
Last night, I identified 2 objects that haven't been viewed this month, Area T (bb0684080d) and Locus 44 (bb4131211t). I opened Firefox in Private mode. In search results, Curator view, I clicked on thumbnail link to open the Area T page, counted to 10, then clicked back to search results. Clicked thumbnail again, co

[2016-11-21 16:52] hjsyoo commented on #110
@lsitu , regarding your other question, "Since we don't know when the curator will hit the back button which trigger another page load, should we have some rules to eliminate those kind of counts? Something like one view for one object view per day from an IP?" This seems reasonable. One object view per day is all I feel we need to track. Is this how google analytics defines unique views? But I ca

[2016-11-21 17:10] lsitu commented on #110
@hjsyoo Thanks for testing on it. It looks like Locus 44 should be all counted on public view but not curator view.
For your questions, I am not sure how google analytics defines unique views. But I think we can count it on curator base, one count for one user per day. Does it sounds good?

[2016-11-21 22:15] hjsyoo commented on #110
@lsitu , The stats report was confusing to me. I would have expected both Area T and Locus 44 to report just 3 views by curator (I only tested in curator mode). Instead, Area T is reporting 3 extra, unexpected non-curator views and Locus 44 reports 3 extra curator views. Assuming no one else viewed these objects yesterday (perhaps an incorrect assumption), it looks like views are getting duplicate

[2016-11-21 22:39] lsitu commented on #110
@hjsyoo It looks like something weird that is related to the back button tests you are performing. I think we can examine it to see how that happened. Will it be counted twice if you just click the thumbnail link once without clicking back? For Locus 44, I see total 6 public views reported but not curator (curator access is displayed at the last column, which is 0):
Khirbat en-Nahas Project (Jorda

[2016-11-21 23:16] hjsyoo commented on #110
@lsitu - Oh, you're right, I misread the stats columns. So for Locus 44 (i.e., clicking on the title), curator views get incorrectly logged as non-curator (public) views. That happens to be my typical behavior - I click on titles, not thumbnails. I will do the single click test today on these same objects, and we can see how DAMS manager interprets them tomorrow.

[2016-11-21 23:29] hjsyoo commented on #110
@lsitu To log my behavior for today, I opened a tab on Chrome (not incognito) and browsed to the Khirbat en Nahas collection. From search results, I clicked on the thumbnail for Area T. After 10 secs on the landing page, I closed the tab. I opened a new tab and repeated this sequence, except that I clicked on the title for Locus 44.

[2016-11-21 23:53] lsitu commented on #110
@hjsyoo Yes, I can remove the "unique" keyword on the status report page.
For that double counted issue, I think it should be caused by the link we clicked got redirected to the page link. I'll see how to eliminate that counted. One simple way is just count those access from the search result page. Does it sound correct for per your view?

[2016-11-21 23:59] hjsyoo commented on #110
@lsitu Not sure what you mean by the last two sentences - do you mean that we would ignore user views if they came in directly from a bookmark or from google search?

[2016-11-22 00:10] lsitu commented on #110
@hjsyoo Yes, I think we should ignore those access (views) being redirected. But I need to count those coming from the bookmark for curator access. So it looks like counting all the access (views) and ignore those being redirected (access from bookmark) sounds correct, does it?

[2016-11-22 00:22] hjsyoo commented on #110
@lsitu If I'm understanding the problem correctly, I'd like to see the redirect counts be interpreted correctly as single hits and not double. But if a public user bookmarks a page and clicks on the bookmark or encounters the object in a google search, I would certainly want to see that visit being counted. My hope here is to be able to assess how often users are viewing the page, regardless of ho

[2016-11-22 00:27] lsitu commented on #110
@hjsyoo Yes, I think we just need to eliminate the redirect counts. If this is not the exact behavior you want, then we can adjust it later.

[2016-11-22 20:18] lsitu commented on #110
@mcritchlow I've added another commit to PR https://github.com/ucsdlib/damsmanager/pull/111 to eliminate the double counted object views from the search result page that are redirected. It's ready for review now. Thanks.

[2016-11-22 23:11] hjsyoo commented on #110
@lsitu To follow up on my UI test yesterday, DAMS manager reports that Area T (thumbnail clicked) was viewed non-curator=4 and curator=4. Locus 44 (title clicked) was viewed non-curator=8. So, same duplication issue has occurred, even without use of the backspace.

[2016-11-22 23:29] lsitu commented on #110
@hjsyoo Yes. This is caused by view page redirect and it's fixed with PR https://github.com/ucsdlib/damsmanager/pull/111 . We have another PR https://github.com/ucsdlib/damspas/pull/256 that still need to be merged. I'll let you know once it's ready for you to test. Thanks.

[2016-11-23 17:46] lsitu commented on #110
@hjsyoo Would you like to test it on QA? I've set it up on QA (https://libraryqa.ucsd.edu/dc) at this time, and you can review the result at QA damsmanager the next day: https://libraryqa.ucsd.edu/damsmanager/statsRdcpUsage.do
Thanks.

[2016-11-28 17:26] hjsyoo commented on #110
@lsitu It worked on libary QA! One click on thumbnail or title resulted in a report of 1 curator view, and 3 clicks on thumbnail or title resulted in a report of 3 curator views. 0 non-curator views were reported. So this is all expected behavior. Should I test further as non-curator? And should I test stats reports for when I use backspace or enter from a google search?
For reference, these are m

[2016-11-28 18:32] lsitu commented on #110
@hjsyoo That sounds good! Thank you very much for testing it out on QA.
We are going to deploy damsmanager to staging now so I think you can test it on staging later. Thanks.

[2016-11-28 19:40] lsitu commented on #110
@hjsyoo The required codes changes for damsmanager and damspas are deployed to staging and it's ready for review now. You can test it on https://librarytest.ucsd.edu/dc and review the RDCP stats result the next day on https://librarytest.ucsd.edu/damsmanager/statsRdcpUsage.do . Thanks.

[2016-11-29 19:08] hjsyoo commented on #110
@lsitu Yesterday, I conducted the same test on staging, as I did on QA (i.e., Loci 647, 629, 509, 270). But DM doesn't seem to have detected any activity, as of today. I can't even find the records for these objects, in https://librarytest.ucsd.edu/damsmanager/statsRdcpUsage.do. Is there a chance something didn't work on the code end, before I test again today? I suppose there's a chance I tested

[2016-11-29 19:38] lsitu commented on #110
@hjsyoo Do you have the arks that you tested with yesterday? Thanks.

[2016-11-29 20:45] lsitu commented on #110
@hjsyoo Did you only tested with public access as well? Since curator access is only serving as comparing purpose, it won't show up until a public access is triggered. Could you try a test with both public access and curator access if that object hasn't shown up in the stats report (https://librarytest.ucsd.edu/damsmanager/statsRdcpUsage.do) yet?

[2016-11-29 20:52] hjsyoo commented on #110
@lsitu I see. I'll test with both levels of access today, as you suggest. Here are the ARKs:
bb0376912h
bb1912764h
bb0684084g
bb63496611

[2016-11-29 21:09] lsitu commented on #110
Hi Ho Jung,
I check yesterday's Apache log and see lots of access to those objects above on QA but non on staging. Please double check that you are using damspas on staging ( http://librarytest.ucsd.edu/dc/ ) when performimg the test today. Thanks.

[2016-11-29 21:14] hjsyoo commented on #110
@lsitu Just finished testing on librarytest! We'll see what happens tomorrow. Yes, it's entirely possible I did all the testing on libraryqa yesterday. Today, I visited all 4 objects as non-curator first, to trigger DM.

[2016-11-29 21:17] hjsyoo commented on #110
@lsitu Actually, I take it back. I can't have tested as curator on qa yesterday, because the curator stats on qa didn't increment as they should have, if that were the case. I did, however, test the same 4 objects on qa as non-curator.

[2016-11-29 21:32] lsitu commented on #110
@hjsyoo I see some accesses on today's log for the first two objects above on staging now. So it looks looks good. Thanks.

[2016-11-30 17:34] remerjohnson opened #114 "PDF derivatives showing up as completely black upon ingest"
We have a problem of dark PDFs having completely [black derivatives][1] being generated upon ingest. If you click through to access the PDF in the viewer, it shows the correct document.

Initially, we suspected this was because the size of the PDFs was too large, but this problem still occurs with these much smaller PDFs.

The only pattern I can see from the ingest is that the problematic PDFs are

[2016-11-30 20:00] hjsyoo commented on #110
@lsitu Good news - my tests on staging came out as expected for all but one object. Looking at the stats for that object, however, it's clear that human error was involved - I must've failed to sign in as curator on one of the days of testing. I'll do some more testing later in the month, on production, and let you know if I encounter anything else. Thanks, Longshou!

[2016-11-30 20:18] lsitu commented on #114
@rstanonik I created the thumbnail for PDF http://library.ucsd.edu/dc/object/bb1504296t on my Mac and I don't see the problem (see attachment). Do you have any thoughts regarding this issue?
I see the GS version on QA is "GPL Ghostscript 8.70 (2009-07-31)", which is old. Could we install a newer version of GS on QA to see how it goes? Thanks.

Here is version of ImageMagick and GS, and the convert

[2016-11-30 20:20] lsitu commented on #110
That sounds good. Thanks @hjsyoo .

[2016-11-30 22:30] gamontoya commented on #110
@lsitu :+1:

[2016-12-02 19:37] arwenhutt opened #115 "MARC CSV preview includes invalid column headers"
Output from the CSV preview includes semantically incorrect headers, examples include:

- "Identifier:Roger record" - "Identifier:roger record"
- "Personal:Creator" - should be "Person:Creator"

Please fix incorrectly formatted headers in the CSV preview.

** For now, I believe we can leave incomplete headers (e.g. "Note:") so these can be reviewed and given a human mapping before ingest

[2016-12-02 19:51] arwenhutt commented on #115
Output from the CSV preview includes semantically incorrect headers, examples include:
- "Identifier:Roger record" - "Identifier:roger record"
- "Personal:Creator" - should be "Person:Creator"

Please fix incorrectly formatted headers in the CSV preview.

* For now, I believe we can leave incomplete headers (e.g. "Note:") so these can be reviewed and given a human mapping before ingest

[2016-12-07 19:56] GregReser opened #116 "Remove direct ingest to DAMS from MARC/MODS Import tool"
Roger records and METS/MODS records should no longer be ingested into the DAMS.  They will now be output only as CSV.  The direct ingest function should be disabled and the relevant UI controls should be hidden.

Matt Peters is the main user of the direct Roger to DAMS ingest and he agreed removing it.  He will use Roger > CSV > DAMS method from now on.

![newmarcmodsingestui](https://cloud.github

[2016-12-07 21:16] lsitu commented on #114
@rstanonik Have you got a chance to look into the issue of upgrading Ghostscript? Thanks.

[2016-12-07 21:56] arwenhutt commented on #116
I'm changing the label to this on this to bug, since the MARC ingest creates new, unapproved predicates -- which is a bug.  We're just addressing it by disabling the tool rather than fixing the unauthorized predicate creation.

[2016-12-07 23:39] hjsyoo commented on #110
Hi @lsitu - I'm curious - for our tests on staging, we found that reporting was triggered by non-curator views, not by curator views. So, no views were reported on an object that was only viewed by curator during that month. But I'm looking at stats for prod (https://library.ucsd.edu/damsmanager/statsRdcpUsage.do), and finding some reports for Dec that are non-curator=0, curator=1. Does prod behav

[2016-12-07 23:45] lsitu commented on #110
@hjsyoo It's actually triggered by any public access during the RDCP Stats history. So if you look at the months earlier, you'll see that object at least has one count for public access.

[2016-12-07 23:52] hjsyoo commented on #110
@lsitu Oh, right - that makes sense. Thanks!

[2016-12-09 23:54] gamontoya commented on #114
@lsitu Heard from Ron and he said he hasn't been following Github issues, but he will look for an updated version of GhostScript as you suggested.

Can you ping Ron early next week to remind him to look into this? I'll try to as well.

[2016-12-10 00:14] lsitu commented on #114
@gamontoya Sure. Thanks for tracking this down.
Sorry @rstanonik. I haven't realized that but we've changed to use Github issues for a little while already.

[2016-12-12 18:07] rstanonik commented on #114
I replaced ghostscript on lib-hydatail-qa, lib-hydratail-staging, and lib-hydratail-prod and confirmed that

convert -auto-orient -resize 450x450 bb1504296t_1.pdf[0] bb1504296t_1.jpg

was no longer just a black box.

Give it a try and let me know.

Ron

From: Gabriela A. Montoya [mailto:notifications@github.com]
Sent: Friday, December 09, 2016 3:54 PM
To: ucsdlib/damsmanager <damsmanager@noreply.g

[2016-12-12 18:10] gamontoya commented on #114
@lsitu Looks like you're good to go to test out now.

[2016-12-12 18:12] lsitu commented on #114
Thanks @rstanonik . That sounds promising.
@gamontoya I am on it now.

[2016-12-12 19:06] lsitu commented on #114
@gamontoya, @remerjohnson, @rstanonik  I've created a couple of examples on QA and both looks good:
http://libraryqa.ucsd.edu/dc/object/bd1381047p
http://libraryqa.ucsd.edu/dc/object/bd7251406d

I think we can move ahead to make the change on staging and prod. What do you think?

[2016-12-12 19:09] remerjohnson commented on #114
@lsitu Would you need a list of ARKs of the corrupt images to replace?

[2016-12-12 19:12] lsitu commented on #114
@remerjohnson How about just replacing the thumbnail/derivatives for all 45 objects in that collection?

[2016-12-12 19:15] remerjohnson commented on #114
@lsitu Ah... okay, that would be a way to catch everything

[2016-12-12 21:05] remerjohnson commented on #114
@rstanonik I think we are good to go. Do you need anything else from us?

[2016-12-13 19:35] lsitu commented on #115
@arwenhutt I've created a [PR](https://github.com/ucsdlib/damsmanager/pull/117) to fix column header "Identifier:Roger record" and "Personal:Creator". I think both Date and Note could have incomplete headers like "Date:", "Note:" etc. when the date type and note type can't be determined. Please let me know if you want to give it a default type in this case.

[2016-12-16 21:33] remerjohnson opened #119 "Replace curator-only .zips in Course Catalogs with PDFs"
As discussed with @lsitu, [Course Catalogs](http://library.ucsd.edu/dc/collection/bb1265385x) needs each curator-only .zip in its 45 objects replaced with PDFs.

This would mean for each object:
+ Delete the current zip (curator, document-source) file
+ Ingest the new pdf (curator, document-source [or service?]).

@lsitu: Let me know if you need an ARK/file sheet mapping. The files are at `/digita

[2016-12-16 21:38] lsitu commented on #119
@remerjohnson I think it'll be nice if you can provide the ARK/file mapping. Thanks.

[2016-12-21 18:51] remerjohnson commented on #119
@lsitu I've got the mapping completed. It has the ARK, current .zip file, and the pdf to replace it as curator-only. If this is easier to complete with #114 or after that issue, it's fine.

2 caveats:
+ One object, http://library.ucsd.edu/dc/object/bb8500947k, is a duplicate and can be deleted (it's noted in the csv)
+ One object, http://library.ucsd.edu/dc/object/bb1845593k, doesn't have a .zip o

[2016-12-21 19:07] lsitu commented on #119
@remerjohnson Yes, we can replace the files after #114 is done. For the second PDF files to replace the .zip files, I think the files use need to be document-source since we've ingested the first PDF as document-service already, and only document-source is curator-only since those are public objects under rights holder "UC Regents".

[2016-12-21 19:10] remerjohnson commented on #119
@lsitu Ah yes, you're right, these should be document-source. Thanks for catching that.

[2016-12-21 19:21] lsitu commented on #119
Okay, It sounds good and I'll use document-source then.

[2017-01-04 17:44] mcritchlow commented on #110
@lsitu @hjsyoo - Is this work still in progress?

[2017-01-04 17:45] mcritchlow commented on #114
@remerjohnson @lsitu @rstanonik - Is #119 the remaining work here? Or do we still need this ticket open for further work/testing?

[2017-01-04 17:46] mcritchlow commented on #115
It appears @lsitu created a PR to fix this, but this ticket remains open. Are we still testing? Or can this be closed?

[2017-01-04 17:54] lsitu commented on #110
I think we've done with the ticket and we can close it now. What do you think, @hjsyoo ?

[2017-01-04 17:58] lsitu commented on #114
@mcritchlow For this ticket, I think we may still need to update GS on staging and prod, and then I'll recreate the thumbnails for the PDFs in trouble. We'll deal with #119 as a separate ticket.
What do you think @remerjohnson @rstanonik ?

[2017-01-04 18:03] lsitu commented on #115
@mcritchlow Yes, we may still need to deploy damsmanager to staging as a sprint deployment cycle for test.

[2017-01-04 18:12] GregReser commented on #115
@mcritchlow @lsitu This must not have been deployed yet - just tested CVS preview in staging and got invalid headers.

[2017-01-04 18:23] hjsyoo commented on #110
@mcritchlow @lsitu Yes, I think all is good. Is the protocol in github the same as in Jira - should I normally close the ticket?

[2017-01-04 18:56] lsitu commented on #115
@GregReser Yes, I just deployed damsmanager to staging and it's ready for review now.

[2017-01-04 19:08] lsitu commented on #110
@hjsyoo I think normally the ticket will be marked as closed once the PR is merged and we just need to drag it to the "Closed" column at https://github.com/orgs/ucsdlib/projects/1. Either you or we can do it once you confirm on it. Thanks.

[2017-01-04 20:10] hjsyoo commented on #110
@lsitu Ok, I'll close this ticket tomorrow. I don't recall whether I did a final test on production before the break, so I'm doing so today and tomorrow. Thanks.

[2017-01-04 22:45] GregReser commented on #115
@lsitu

1. Date column header is coming over without a type.  Please make it "Date:creation"
2. Eliminate column "Note:local attribution" since this is added automatically by the Excel ingest process.

[2017-01-04 23:20] lsitu commented on #115
@GregReser I've updated damsmanager to use column name "Date:creation" when there is no type for Date and deleted column "Note:local attribution". The changes are on staging now. Could you take a look?

[2017-01-05 17:11] hjsyoo commented on #110
All went as expected! Thanks @lsitu.

[2017-01-05 17:11] #110 closed

[2017-01-05 17:19] lsitu commented on #110
Thanks for testing it out @hjsyoo .

[2017-01-05 19:55] lsitu commented on #114
Thanks @rstanonik for upgrading GS on staging and prod.
@remerjohnson, I've recreated the thumbnails for the PDFs in collection [UC San Diego General Catalog](http://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=UC+San+Diego+General+Catalog) . It seems like that all those black thumbnails are gone. Could you take a look?

[2017-01-06 20:14] remerjohnson commented on #114
@lsitu Yup, these look great. Thanks for all your help, and also @rstanonik

[2017-01-06 20:14] #114 closed

[2017-01-09 17:01] lsitu commented on #119
@remerjohnson I've deleted the .zip files and ingested the *-h.pdf files for each object in [Course Catalogs](http://library.ucsd.edu/dc/collection/bb1265385x). Could you take a look?

Just a note that I found the following two files in `/digital-staging/UCSD-course-catalogs/Final_files` but there are no corresponding objects ingested in prod:
UCSDGC_1989_1990-h.pdf
UCSDGC_1997_1998-h.pdf

[2017-01-10 17:07] remerjohnson commented on #119
@lsitu Great, it looks good and I'll close this ticket once I've confirmed everything.

The extra files are new and I will ingest these in a new batch. see [JIRA](https://lib-jira.ucsd.edu:8443/browse/CPP-76?focusedCommentId=49286&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-49286)

[2017-01-10 20:58] #119 closed

[2017-01-11 01:17] lsitu commented on #116
@mcritchlow I've created a [PR](https://github.com/ucsdlib/damsmanager/pull/120) to hide direct ingest and the default RDF/XML preview output from MARC/MODS Import tool. It's ready for review now. Thanks.

[2017-01-11 01:21] lsitu commented on #119
@remerjohnson Thank you very much for your review and clarification for those new files. I am moving the ticket to the "Closed" column now.

[2017-01-11 17:46] GregReser commented on #115
@lsitu The latest version on staging looks good to me.

[2017-01-11 17:52] lsitu commented on #115
Thanks @GregReser . We'll close the ticket then.

[2017-01-11 17:55] mcritchlow commented on #112
@lsitu - This issue is still open, but I believe needs to be Closed. Yes?

[2017-01-11 17:59] lsitu commented on #112
@mcritchlow Yes. It should be fixed.

[2017-01-11 17:59] #112 closed

[2017-01-11 22:19] remerjohnson opened #121 "Add component and sub-components to existing object (Heavy Metals collection)"
For the [Heavy Metals Collection](http://library.ucsd.edu/dc/collection/bb8056206n), we need a component added to [this object (http://library.ucsd.edu/dc/object/bb0820653z)](http://library.ucsd.edu/dc/object/bb0820653z), with two sub-components with files (meaning the component is merely a header with a title). I've attached the required metadata here (it's comma-separated).

If ordering is possi

[2017-01-13 21:04] #115 closed

[2017-01-19 18:30] GregReser opened #126 "Staging - PDF derivatives showing up as completely white upon ingest"
Possibly related to https://github.com/ucsdlib/damsmanager/issues/114

Objects ingested to staging have all white preview images.  Most recent ingest was Wed Jan 18 15:32:26
The PDF file looks fine, it's just the preview image that is blank.

http://librarytest.ucsd.edu/dc/object/bd9572278r
http://librarytest.ucsd.edu/dc/object/bd6876058n
![image](https://cloud.githubusercontent.com/assets/5453716

[2017-01-19 22:09] GregReser commented on #126
Oddly, one of three PDFs has a good preview image, while the other two are all white.

Good image:
bd27121991

Bad image:
bd37360999
bd6876058n

[2017-01-20 20:58] gamontoya commented on #126
@mcritchlow This is the ticket. Does Longshou have time to look into this today?

[2017-01-20 21:15] lsitu commented on #126
@gamontoya @mcritchlow Sure. I'll look into it.

[2017-01-20 21:20] GregReser commented on #126
I've done some more research that might help...

The objects with bad preview images, have dams:File/dams:outcomeNote = "Not well-formed"
The object with the good preview image has dams:File/dams:outcomeNote "Well-Formed and valid"

For the tile "Manifestación que hace a todas...", I created a new PDF from the same source TIFFs.  This time the preview image is correct and dams:File/dams:outcomeNot

[2017-01-20 23:17] lsitu commented on #126
Thanks @GregReser for the information. It looks like we can still created thumbnail for the PDFs with white background preview image. So it could be just the Ghostscript support issue.
@jhriv @rstanonik  I see the white background thumbnail is created on lib-camel, which has Ghostscript version "GPL Ghostscript 9.07 (2013-02-14)". While on lib-hydratail-staging with GS version "GPL Ghostscript 9.2

[2017-01-23 22:03] lsitu commented on #126
@jhriv Have you got a chance to upgrade Ghostscript on lib-camel to version "GPL Ghostscript 9.20 (2016-09-26)"? Thanks.

[2017-01-23 23:17] jhriv commented on #126
Unfortunately, there are no pre-built Ghostscript 9.20 for RHEL 7, so I am trying to use the Fedora 22 SRPM to create the Ghostscript 9.20 RPM.

[2017-01-23 23:21] lsitu commented on #126
Thanks @jhriv

[2017-01-24 14:32] jhriv commented on #126
Ghostscript has been updated to 9.20.

[2017-01-24 16:19] lsitu commented on #126
Thank you very much @jhriv .

[2017-01-24 16:49] lsitu commented on #126
@GregReser It look like the problem is fixed now. I recreated the preview thumbnails and I see it shows up for https://librarytest.ucsd.edu/dc/object/bd6876058n. Could you try it again? Thanks.

[2017-01-25 19:53] GregReser commented on #126
@lsitu Looks great - preview thumbnails are correct.
http://librarytest.ucsd.edu/dc/object/bd74904113
http://librarytest.ucsd.edu/dc/object/bd42480600
http://librarytest.ucsd.edu/dc/object/bd1005712c

Has this been updated on production too?

[2017-01-25 23:05] #116 closed

[2017-01-26 01:47] gamontoya opened #127 "Adjust DAMS statistics to include hits/downloads per collection from SC&A exhibits"
- Special Collections & Archives has several collections that pull objects directly from our DAMS. These Solr hits should be counted. For example: https://library.ucsd.edu/speccoll/dswenttowar
- Matt Peters will list all of the collection URLs here:

[2017-01-26 14:39] mdpeters commented on #127
http://library.ucsd.edu/speccoll/dswenttowar/
http://library.ucsd.edu/speccoll/dsads/
http://library.ucsd.edu/historyofucsd/
http://library.ucsd.edu/speccoll/missionsites/index.html

[2017-01-30 22:23] GregReser commented on #126
@lsitu Has this been updated on production too?  Can I ingest these same PDFs on production?

[2017-01-30 23:49] lsitu commented on #126
@GregReser I think prod should have the same GS version already and it should work. So just feel free to ingest these PDFs on production. Thanks.

[2017-01-31 15:51] GregReser commented on #126
@jhriv Is DAMS production running Ghostscript 9.20?  I'm wondering if I can proceed with ingest of the PDFs mentioned above to production.

[2017-01-31 16:02] jhriv commented on #126
lib-hydratail-prod has Ghostscript 9.20
lib-hydrahead-prod has Ghostscript 8.70

[2017-01-31 16:18] lsitu commented on #126
@GregReser We are using lib-hydratail-prod for derivatives creation on prod so we've got the right GS version installed there. Thanks @jhriv for checking it out.

[2017-01-31 20:06] GregReser commented on #126
@lsitu Thanks, I'll go ahead with my ingests

[2017-01-31 20:06] #126 closed

[2017-02-02 21:50] gamontoya commented on #121
@hweng This is a test for you as a watcher.

[2017-02-03 20:42] gamontoya opened #128 "Adjust code for RDCP download statistics"

[2017-02-03 20:45] gamontoya commented on #128
1. Investigate and fix: CSV, SAS7BDAT, TAR, GZIP and possibly other data file types do not get logged as downloads when in curator mode.
2. At the component level, when a user clicks on "View File" add a rule to count all file accesses as downloads.

[2017-02-03 21:06] gamontoya commented on #128
@mcritchlow I touched based with Longshou on this. Can we add to the next Sprint?

[2017-02-03 21:12] mcritchlow commented on #128
@gamontoya yeah i think so. while we definitely want his attention on the IIIF ticket, I think that won't be 100% time. I'll add the milestone 👍

[2017-02-06 22:13] lsitu commented on #128
@gamontoya Do you want to count all master source files and the second source file (such as "File_2" in the Excel Input  Stream as file downloads?

[2017-02-07 17:21] lsitu commented on #121
@remerjohnson @hjsyoo I've added the component with those two PDF files to the Heavy Metals object http://library.ucsd.edu/dc/object/bb0820653z. Could you take a look?

[2017-02-07 18:58] lsitu commented on #127
@mdpeters In Special Collections & Archives web page, what kind of files are you pulling from DAMS (like _4.jpg, _3.jpg, _2.jpg etc.)? What file would you consider to be a hit? And how about downloads?

[2017-02-07 19:09] gamontoya commented on #128
@lsitu Master files are "curator" counts, right? What master source files can the public access?

[2017-02-07 19:12] lsitu commented on #128
@gamontoya I think all service files, like PDFs (document-service), data files (data-service) etc, are allowed public access.

[2017-02-07 19:13] hjsyoo commented on #121
@lsitu It looks like the PDFs were ingested as JPGs. When trying to download the files, they save as single page jpgs, and clicking on the image itself results in this message: Error: unable to find zoomable image. Both components should be multiple page PDFs.

[2017-02-07 20:08] mdpeters commented on #127
I pull the _4 for thumb views and _2.jpg when doing the object view. I would consider the _2 to be object hits. The exhibit sites don't really do "downloads" per se, the best someone can get from the exhibits is the _2 file.

[2017-02-07 20:26] gamontoya commented on #128
@lsitu Yes, I know about the service files, but you mentioned master source files. I was asking if there are any master source files in the DAMS that the public accesses?

[2017-02-07 21:00] lsitu commented on #128
No, I don't think any files that are marked as source like image-source will be allowed public access. We always change it to a service file when a file need public access.
I was thinking about those files ingested by the curator are master source files, sorry about the confusing wordings.

[2017-02-07 21:03] remerjohnson commented on #121
@hjsyoo That's strange. Not sure how that could have happened. I imagine we could try a file replace but I'll wait for guidance.

[2017-02-07 21:11] gamontoya commented on #128
@lsitu Okay, but make sure we are also tracking downloads made by curators (when logged in), whether they are master or service files.

[2017-02-07 21:17] lsitu commented on #121
@hjsyoo @remerjohnson I think it's my mistake to use a wrong use property data-service. It's fixed now. Could you take a look again? Thanks.

[2017-02-07 21:26] hjsyoo commented on #121
It looks good now. Thanks @lsitu ! Will close the ticket.

[2017-02-07 21:26] #121 closed

[2017-02-07 21:33] lsitu commented on #127
@mdpeters Thanks for the information. I'll count _2.jpg access as object hits and ignore file downloads then.

[2017-02-08 01:02] lsitu commented on #128
@gamontoya Yes, all downloads by the curator are tracking down with a marker. I've added [PR](https://github.com/ucsdlib/damsmanager/pull/129) to count all access to master/service files as downloads, and this will exclude all derivatives created by DAMS from being counted.
@mcritchlow The PR https://github.com/ucsdlib/damsmanager/pull/129 is ready for review now. Thanks.

[2017-02-08 18:57] lsitu commented on #127
@gamontoya Would you like to add all _2.jpg access from Special Collections & Archives collection page to DAMS Statistics as object views, or separate those access from the object views for DAMS Statistics but add to the collections object access only?

[2017-02-08 22:02] GregReser opened #130 "Excel ingest - make column header validation case insensitive"
To avoid problems with output from other tools (MARC CSV > DAMS RDF) or user error, make the validation of all column headers in the Excel standard input spreadsheet case-insensitive.

For example, these should all be valid:
"File name", "file name"
"Title", "title"
"Person:artist", "Person:Artist", "person:Artist", "person:artist"

[2017-02-09 00:13] lsitu commented on #127
@gamontoya I've moved ahead to make the stats a different app and aggregated it for [DAMS Object Hits by Month](https://library.ucsd.edu/damsmanager/statsCollectionObjects.do) for now. Please let me know if you want to count it for DAMS Statistics as objects views as well, which will increase the count for accessing the object view URL like http://library.ucsd.edu/dc/object/bbxxxxxxxx.
@mcritchlow

[2017-02-10 22:54] mcritchlow commented on #127
@lsitu I'd prefer to hear if the change implemented in your PR (as described above) is what's desired by @gamontoya and company before evaluating the PR. Once we have agreement on that I'll dig into the PR.

[2017-02-10 23:07] lsitu commented on #127
Thanks @mcritchlow.
@gamontoya What's you though on it? I think we are flexible to include the status in or exclude it from any reports.

[2017-02-11 00:14] lsitu commented on #130
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/133 to make Excel Input Stream column header validation case insensitive. It's ready for review now. Thanks.

[2017-02-11 00:58] gamontoya commented on #127
@lsitu The stats should be counted along with our DAMS stats and not separated out.

[2017-02-11 02:31] lsitu commented on #127
@gamontoya Sure. I've update the PR to count it inside DAMS Stats.
@mcritchlow The PR  (see commit https://github.com/ucsdlib/damsmanager/commit/306a2acf5540419d46bb43db8995825b2a830962) is ready for review now. Thanks.

[2017-02-14 16:11] #128 closed

[2017-02-14 17:51] #127 closed

[2017-02-14 21:02] #130 closed

[2017-02-15 20:37] mcritchlow opened #134 "Deploy DAMS Manager 2.54"
Version: 2.54
Release Manager: @lsitu
Product Owner: @gamontoya
Operations: @rstanonik

Review Checklist:
- [x] [Adjust code for RDCP download statistics](https://github.com/ucsdlib/damsmanager/issues/128)
- [x] [Adjust DAMS statistics to include hits/downloads per collection from SC&A exhibits](https://github.com/ucsdlib/damsmanager/issues/127)
- [x] [Excel ingest - make column header validation

[2017-02-15 21:30] lsitu commented on #134
@gamontoya I've created release 2.54 for damsmanager and deployed it to staging. It's ready on staging for review now. Thanks.
The following changes are included in this release:

- [Adjust code for RDCP download statistics](https://github.com/ucsdlib/damsmanager/issues/128)
- [Adjust DAMS statistics to include hits/downloads per collection from SC&A exhibits](https://github.com/ucsdlib/damsmanage

[2017-02-15 21:55] gamontoya commented on #130
@mcritchlow @GregReser @arwenhutt Did someone in DOMM review this on staging?

[2017-02-15 22:18] mcritchlow commented on #134
@lsitu thanks for making that list, I like the idea of having that as part of the deploy ticket template.

I added it as a checklist to the description, then we can ensure the review checklist is complete for tickets before they're approved. What do you think?

[2017-02-15 22:31] mcritchlow commented on #130
@gamontoya I don't think so. I believe @lsitu just created the release branch and deployed it to staging.

[2017-02-15 23:05] gamontoya commented on #130
@GregReser @arwenhutt Can one of you review on staging and report back here?

[2017-02-15 23:09] lsitu commented on #134
@mcritchlow It looks nice! Thanks.

[2017-02-16 15:42] GregReser commented on #130
@gamontoya I'll test it today

[2017-02-17 17:56] GregReser commented on #130
@gamontoya @lsitu It's working perfectly. Thanks.

[2017-02-17 22:56] gamontoya commented on #130
@GregReser Thank you for confirming.

[2017-02-22 02:17] gamontoya commented on #134
@lsitu Approved for prod.

[2017-02-22 02:45] lsitu commented on #134
Thank you all for verifying the deployment.
@rstanonik I've merged the release branch to the master branch and it's ready for prod now. Thanks.

[2017-02-22 13:56] stanonik commented on #134
Damsmanager was deployed to production this morning

[2017-02-22 17:15] mcritchlow commented on #134
Thanks @rstanonik!

[2017-02-22 17:15] #134 closed

[2017-02-24 17:21] lsitu opened #135 "Add Contributing, PR, and Issue templates"

[2017-02-24 17:50] #135 closed

[2017-03-16 17:28] GregReser opened #137 "Generate report of all note:venue values"
### Descriptive summary
Generate a report of all instances of dams:Note @rdf:value = "venue" in all objects.

We need to know what values currently exist in note:venue before deciding to parse them into other properties such as date:event and subject:spatial.

### Report columns:
 - object ARK
 - note:venue
 - date (any type)
 - subject:geographic
 - collection

[2017-03-17 20:42] GregReser opened #138 "Change MARC to CSV Mapping"
## Descriptive summary

### Change mapping for MARC 700 12
- no longer map to title:variant
- map to Note:work title  (this is a new note type, which we will deal with later)
 - value = $a $d $t (replace subfield with whitespace)

Example:
[code]
[code]
### Handle multiple roles for a single MARC creator, 100, 110, 700, 710
In the current CSV output, if there is a second creator $e then a column w

[2017-03-20 17:04] lsitu commented on #138
@GregReser Do you have an example with the bib number that I can use for test? Thanks.

[2017-03-20 17:31] GregReser commented on #138
@lsitu this one has all three MARC tags mentioned above.
b3128805

[2017-03-20 17:52] GregReser commented on #138
@lsitu Here is a test MARC to CSV I did to evaluate the issues.
See row 2 and how the creator values do not line up with the correct column header.
"Kimball, Jean, (Conductor)" should be Person:conductor
"Yates, Peter, 1909-1976" should be Person:host
"Myrick, Julian, 1880-1969" should be Person:speaker
[yates_marc2Csv_001.xlsx](https://github.com/ucsdlib/damsmanager/files/855879/yates_marc2Csv_00

[2017-03-20 18:22] lsitu commented on #138
@GregReser Yes, I see the problem and I'll look into it. Thanks.

[2017-03-20 19:54] lsitu commented on #137
@GregReser I cannot find any objects/records that have a dams:Note with @rdf:value = "venue". Could you show me an example that I can follow to explore for the report?

[2017-03-20 21:08] lsitu commented on #138
@GregReser Currently MARC 336 is map to typeOfResource with the following conversions:
cartographic dataset => cartographic data
cartographic image => cartographic
cartographic moving image => cartographic moving image
cartographic tactile image => cartographic
cartographic tactile three-dimensional form => cartographic
cartographic three-dimensional form => cartographic
computer dataset => data
c

[2017-03-20 21:14] GregReser commented on #137
http://library.ucsd.edu/dc/object/bb6452145q

That's my fault.  It should be dams:type = "venue"

[2017-03-20 21:17] GregReser commented on #138
@lsitu Can we have both?
- typeOfResource = 336 current conversion
- Subject:genre = 336 value?

336 is a more specific type of resource and seems like a good fit for genre.

[2017-03-20 21:36] lsitu commented on #138
@GregReser Yes. I'll make another copy with no conversions for Subject:genre then.

[2017-03-21 16:35] lsitu commented on #138
@GregReser To have MARC 336 as Subject:genre in the CSV output, I need to make it a FAST subject with no valueURI for the FAST url in the JollyRoger stylesheet for mods conversion by default. Does it sound good to you?

[2017-03-21 16:49] GregReser commented on #138
@lsitu You're right, we did restrict subjects to FAST and I don't want to conflict with that.
Do we have anything mapped to Note:material details?  If not, let's map the 336 there.

[2017-03-21 16:56] lsitu commented on #138
No, 336 is only mapped to typeOfResource at this time. I'll add it to Note:material details then. Could you update the Excel Standard Input template (xls_standard_input_template.xlsx) to include new note type Note:work title for validation? Thanks.

[2017-03-21 17:10] GregReser commented on #138
@lsitu I updated https://github.com/ucsdlib/dams-metadata/blob/master/xls_standard_input_template.xlsx

[2017-03-21 18:01] lsitu commented on #138
@GregReser I got the 404 error when I click on the link above. It looks like I don't have the access rights.

[2017-03-21 18:08] GregReser commented on #138
@lsitu here it is.
[xls_standard_input_template.xlsx](https://github.com/ucsdlib/damsmanager/files/859200/xls_standard_input_template.xlsx)

[2017-03-21 18:32] lsitu commented on #137
@GregReser No problem. I've got the report generated in TSV format with the following columns:
object ARK | note:venue (type: value) | date (type: value) | subject:geographic | collection

[Report_Note-venue.txt](https://github.com/ucsdlib/damsmanager/files/859271/Report_Note-venue.txt)

Please let me know if you need anything else. Thanks.

[2017-03-21 20:49] lsitu commented on #138
@mcritchlow I've created a PR in JollyRoger and a PR in damsmanager for the mapping changes:
https://lib-stash.ucsd.edu/projects/OD/repos/jollyroger/pull-requests/8/overview
https://github.com/ucsdlib/damsmanager/pull/139

Both PRs are ready for review now. Thanks.

[2017-03-22 17:14] GregReser commented on #138
@lsitu Sorry, I received feedback that we need to import more subfields from the MARC 700 12.  I wanted to warn you in case you are wrapping this up.
I'll get you a new list of subfields as soon as possible.

[2017-03-22 17:44] lsitu commented on #138
@GregReser Yes, we've merged the PRs and the ticket was closed by default. But no problem and we can work together on it again once the new fields are ready for 700 12.

[2017-03-22 17:51] GregReser commented on #138
@lsitu is it better in cases like this to open a new ticket?

[2017-03-22 17:55] mcritchlow commented on #138
Sorry to jump in, but I'd say if the work was done as originally described, a new ticket makes sense. That seems to be the scenario in this case.

If work was not completed as originally described, then re-opening makes sense.

[2017-03-23 15:17] #138 closed

[2017-03-23 17:46] GregReser opened #140 "Change MARC to CSV Mapping: 700 12"
## Descriptive summary

### Include additional subfields for MARC 700 12
- map to Note:work featured (ucsd:workFeatured)
  - this is a change in the data dictionary and import template
- include values from subfields $a, $b, $c, $d, $f, $g, $j, $k, $l, $m, $n, $o, $p, $q, $r, $s, $t
  - keep order of subfield values from MARC source (not the subfield order above )
  - replace subfield with whitesp

[2017-03-23 17:48] GregReser commented on #140
[xls_standard_input_template.xlsx](https://github.com/ucsdlib/damsmanager/files/865647/xls_standard_input_template.xlsx)

updated ingest template with Note:work featured

[2017-03-28 16:19] #137 closed

[2017-03-28 16:19] GregReser commented on #137
@lsitu This was exactly what I needed.  Thanks.

[2017-03-28 16:24] lsitu commented on #137
@GregReser I am glad that it works. Thanks.

[2017-04-03 17:10] lsitu commented on #140
@GregReser Should we hold off the release for damsmanager for the changes we had last sprint while we are working on this ticket this sprint?

[2017-04-03 18:10] GregReser commented on #140
@lsitu Yes, it makes sense to wait.

[2017-04-03 21:07] lsitu commented on #140
@GregReser Are we going to replace the mapping for Note:work title to Note:work features for MARC 700 12, and the column Note:work title will be no longer used?

[2017-04-03 22:20] GregReser commented on #140
@lsitu Yes and thanks for catching that

[2017-04-03 23:41] lsitu commented on #140
@mcritchlow I've created a PR in damsmanager and a PR in JollyRoger for the new mapping, and both PRs are ready for review now. Thanks.
https://lib-stash.ucsd.edu/projects/OD/repos/jollyroger/pull-requests/9/overview
https://github.com/ucsdlib/damsmanager/pull/141

[2017-04-04 15:18] #140 closed

[2017-04-13 22:02] GregReser opened #142 "Stuart Collection Photographs - update metadata and visibility"
### Descriptive summary

This request is to make several metadata edits to the Stuart Collection http://library.ucsd.edu/dc/collection/bb9421444x
It is not a very high priority since they are not currently public. However, there is a desire by the project manager to finally make approved objects public.

## Issue 1
Redundant Title values.  SubTitle value is repeated in Title after "--".
In Title,

[2017-04-14 21:10] mcritchlow opened #143 "Deploy DAMS Manager 2.55 and Jolly Roger 1.12"
DAMS Manager Version: 2.55
Jolly Roger Version: 1.12
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya @GregReser
Operations: @rstanonik

Review Checklist:
- [x] #138
- [x] #140

[2017-04-14 21:10] mcritchlow commented on #143
@lsitu and @rstanonik the deploy of Jolly Roger and DAMS Manager are tied together, so I think it's probably simpler to just track that in this one ticket. If that's ok with you all.

[2017-04-14 22:05] lsitu commented on #143
@rstanonik Is auto deploy to staging with the staging tag "git tag -a -f staging -m 'release 2.55'" still working? I tagged it for damsmanager and JollyRoger more than half of an hour ago but I don't received any emails for the deployment status as I used to. Thanks.

[2017-04-14 23:26] lsitu commented on #143
@gamontoya @GregReser The new releases for DAMS Manager and JollyRoger are deployed to staging and it's ready for review now. Thanks @rstanonik for setting up the Jenkins plans and deploy both apps to staging.

[2017-04-21 17:02] remerjohnson opened #144 "Change brief description for dataMares collection"
### Descriptive summary

We need a change to the "brief description" for the dataMares collection: http://library.ucsd.edu/dc/collection/bb08210169

There is already a [JIRA ticket DOMM-21](https://lib-jira.ucsd.edu:8443/browse/DOMM-21), but the brief description needs to be now:

### Rationale

I cannot make this edit via RDF because we no longer have the source CLR metadata or image, and there h

[2017-04-21 19:40] gamontoya commented on #144
@mcritchlow No way to transfer a ticket to another repository, right? This probably should be in DAMSPAS.

[2017-04-21 20:17] lsitu commented on #143
@gamontoya @GregReser Does damsmanager and JollyRoger ready for prod deployment?

[2017-04-21 22:22] mcritchlow commented on #144
@gamontoya in this case, i think DAMS Manager is fine. That said, I agree it's worth checking out possible issues for ticket transfers between repos (like the one you found).

[2017-04-25 16:22] mcritchlow commented on #143
@GregReser have you had a chance to review this? We've had these apps queued for release for almost two weeks now. I know @gamontoya is out this week, and if you're swamped, maybe someone else could help review?

[2017-04-26 18:20] GregReser commented on #143
@mcritchlow I'll test this today

[2017-04-26 21:46] GregReser commented on #143
@mcritchlow confirmed that #138 and #140 are working as expected.  This is ready for prod deployment.

[2017-04-26 21:47] mcritchlow commented on #143
@GregReser Thank you!

[2017-04-26 22:31] lsitu commented on #143
@gamontoya Should we move damsmanager and JollyRoger to prod now? Thanks.

[2017-04-26 22:33] mcritchlow commented on #143
@lsitu I think given how long we've had these open, and that @gamontoya is out and @GregReser did all the testing and verification, we can move forward with deploying in this case.

[2017-04-26 22:49] lsitu commented on #143
@rstanonik I've merged release/2.55 for damsmanager to the master branch, and I also merged Jolly Roger release/1.12 to the master branch as well. Both damsmanager and Jolly Roger are ready for prod now. Thanks.

[2017-04-27 19:19] lsitu commented on #143
@rstanonik The deployment looks good. Thanks. Could we close the deployment ticket now?

[2017-05-01 16:23] lsitu commented on #143
Close the ticket now since the deployment is done.

[2017-05-01 16:23] #143 closed

[2017-05-01 19:34] lsitu commented on #142
@GregReser I see all records in Stuart collection has rights holder UC Regents:
<dams:rightsHolderCorporate>
      <mads:CorporateName>
        <mads:authoritativeLabel>UC Regents</mads:authoritativeLabel>
        <mads:elementList rdf:parseType="Collection">
          <mads:FullNameElement>
            <mads:elementValue>UC Regents</mads:elementValue>
          </mads:FullNameElement>
        </m

[2017-05-01 20:26] lsitu commented on #144
@remerjohnson: Do we need to update the "Scope And Content" Note or the "dams:ScopeContentNote" here for the [dataMares Project: Fisheries](http://library.ucsd.edu/dc/collection/bb08210169) collection?

[2017-05-01 20:28] GregReser commented on #142
@lsitu yes, delete the UC Regents rights holder element if dams:rightsHolderPersonal is being added.  We want just one rightsHolder

[2017-05-02 18:13] lsitu commented on #142
@GregReser I've updated the records in the Stuart collection on prod according to the action items in the description text above. It's ready for review now, http://library.ucsd.edu/dc/collection/bb9421444x. Could you take a look? Thanks.

[2017-05-02 18:56] lsitu commented on #144
@hjsyoo, @remerjohnson I've moved ahead to update the dams:ScopeContentNote since this what the brief description refers to, which will change the collection description text in the search result page https://library.ucsd.edu/dc/search?utf8=%E2%9C%93&q=%22dataMares+Project%3A+Fisheries%22 but it won't change anything in the collection viewer (http://library.ucsd.edu/dc/collection/bb08210169). Coul

[2017-05-02 19:28] GregReser commented on #142
@lsitu The collection objects and the objects with dams:visibility value = "public" not visible to the public.  Is this because the collection has not ever been released?  Should I run the damsmanager/collectionRelease.do tool?  I'm always a little unsure if I select Release State - Public Access that it will turn all objects public.  This won't happen, right.  Does collectionRelease.do just re-in

[2017-05-02 20:09] lsitu commented on #142
@GregReser Yes, the Stuart collection is still in curator view and it isn't visible to public at this time. It hasn't been released yet and we can simply release it through [damsmanager/collectionRelease.do](https://librarytest.ucsd.edu/damsmanager/collectionRelease.do) tool.
If you select "Release State - Public Access", yes, we will update the visibility of the CLR to public and reindex (only) a

[2017-05-02 20:33] hjsyoo commented on #144
@lsitu The Brief Description text and collection page have the correct content. Thank you!

[2017-05-02 20:33] #144 closed

[2017-05-03 21:08] GregReser commented on #142
@lsitu Looks good.  This was a very complicated edit and you did a great job with it.  Thanks

[2017-05-03 21:08] #142 closed

[2017-05-03 21:57] lsitu commented on #142
Thanks @GregReser. Yep, my codes are happy with the nice instructions you provided!

[2017-05-06 00:08] gamontoya opened #145 "Statistics reporting not working on prod"
### Descriptive summary

Noting that statistics reporting seems to be broken on prod. Appears to be working fine on staging.

See: https://librarytest.ucsd.edu/damsmanager/statsSummary.do?start=2010-03-01

**Per Longshou:**

_It seems like some records are in a different format in the weblog that I need to look into._

[2017-05-12 20:33] #145 closed

[2017-05-12 20:34] mcritchlow opened #147 "Release 2.56"
DAMS Manager Version: 2.56
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @rstanonik

Review Checklist:
- [ ] #145

[2017-05-12 21:12] lsitu commented on #147
@gamontoya The new release 2.56 is deployed to staging and it's ready for review now. I see more statistics data showing up after rerun the process. So I think this will fix the problem on prod. Could you take a look? Thanks.

[2017-05-12 22:12] gamontoya commented on #147
@lsitu This is approved for prod. Thanks!

[2017-05-12 22:18] lsitu commented on #147
Thanks Gabriela.
@rstanonik New release 2.56 for damsmanager is ready for prod now. Thanks.

[2017-05-12 23:19] lsitu commented on #147
I am closing the ticket now since the new 2.56 release is deployed to pro and it looks good. Thanks @rstanonik.

[2017-05-12 23:19] #147 closed

[2017-05-20 00:08] gamontoya opened #148 "DAMS Top 100s not working"
### Descriptive summary

DAMS Statistics include list out the top 100 objects accessed the most. The thumbnails have suddenly stopped working.

### Steps to reproduce the behavior

https://library.ucsd.edu/damsmanager/statsPopular.do

[2017-05-31 16:35] lsitu commented on #148
@mcritchlow I think the missing thumbnail issue should be fixed with PR https://github.com/ucsdlib/damsmanager/pull/150. It's ready for review now. Thanks.

[2017-05-31 16:59] #148 closed

[2017-06-05 18:10] GregReser opened #151 "Move objects into new SIO photos ProvenanceCollectionPart - Milo Woodbridge Williams Photographs"
### Descriptive summary

For 299 objects with note:location of originals = "This digital image is a surrogate of an item from the Milo Woodbridge Williams Papers, 1914-2000"

1. Place each object into the collection "Milo Woodbridge Williams Photographs" (bb6248543w).  This is a ProvenanceCollectionPart of the Scripps Institution of Oceanography Photographs (bb20151229).

2. For each object, compl

[2017-06-08 20:11] arwenhutt opened #152 "Update indexing rules for linked records"
### Descriptive summary
Update indexing rules for linked records
1. In all cases, only reindex records directly linked to the item updated.
2. For CLR records, IF dams:relatedResource property is edited, THEN Re-index all directly linked OLRs
3. For CLR records, IF dams:title property is edited, THEN Re-index all directly linked OLRs and CLRs
4. For CLR records, IF the CLR is published, THEN Re-in

[2017-06-08 20:13] arwenhutt commented on #152
@lsitu please let us know if these make sense, or if you have any reservations about them causing problems.  We don't want to omit important data from the index because of an oversight on our part.  Thanks!

[2017-06-08 20:44] gamontoya commented on #152
@mcritchlow We should make this an R&D ticket and not so much implementation at this time.

[2017-06-08 21:18] lsitu commented on #152
@arwenhutt The rules looks good but we may need to discuss #4, #5 and #6 a little bit for priorities and efforts:
4. For CLR records, IF the CLR is published, THEN Re-index all directly linked CLRs (as well as whatever it currently does for OLRs)
*Could we say this rule will apply for all public collections? I think this could introduce lots of unnecessary re-indexing of OLR in a collection when i

[2017-06-12 17:59] gamontoya opened #153 "Release 2.57"
### Descriptive summary

Version: 2.57
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv

[2017-06-12 18:35] lsitu commented on #153
Hi Gabriela,
I think damsmanager is deployed to staging and it's ready for review now. THe main change is https://github.com/ucsdlib/damsmanager/issues/148: https://librarytest.ucsd.edu/damsmanager/statsPopular.do.
And https://github.com/ucsdlib/damsrepo/issues/49 that reports a failed index as successful is also addressed.

[2017-06-12 19:37] gamontoya commented on #153
@lsitu Are you seeing the thumbnails, because I see only a handful:

https://librarytest.ucsd.edu/damsmanager/statsPopular.do

![top10](https://user-images.githubusercontent.com/4314914/27051691-e52a5966-4f6b-11e7-84b9-aeb90773c276.png)

[2017-06-12 20:17] lsitu commented on #153
Hi Gabriela,
I think we only can see some of the thumbnails for records that have titles since most of those records created on staging in the past (those without a title/metadata) are wiping out with prod sync.

[2017-06-12 22:03] gamontoya commented on #153
@lsitu Okay, then I'll be sure to test on prod once the release is deployed.

[2017-06-12 22:03] gamontoya commented on #153
@lsitu Approved for prod.

@gamontoya Will review once deployed.

[2017-06-12 23:20] lsitu commented on #153
Thanks @gamontoya. Yep, we can test it on prod once it's deployed.
@jhriv DAMS Manager release/2.57 is merged and it's ready for prod now. Thanks.

[2017-06-13 19:07] lsitu commented on #151
@GregReser I think all 299 objects with note:location of originals = "This digital image is a surrogate of an item from the Milo Woodbridge Williams Papers, 1914-2000" should be grouped under collection [Milo Woodbridge Williams Photographs](http://library.ucsd.edu/dc/collection/bb6248543w) now http://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Milo+Woodbridge+Williams+Photographs&id=bb

[2017-06-13 20:25] GregReser commented on #151
Yes, go ahead and release collection "Milo Woodbridge Williams Photographs"

[2017-06-14 15:34] lsitu commented on #151
@GregReser The "Milo Woodbridge Williams Photographs" collection is available for public access now: http://library.ucsd.edu/dc/collection/bb6248543w. Could you take a look? Thanks.

[2017-06-14 17:52] jhriv commented on #153
Deployed, and verified.

Thank you, @lsitu

[2017-06-14 19:51] #151 closed

[2017-06-14 19:51] GregReser commented on #151
@lsitu Looks good.  Closed this issue

[2017-06-14 22:04] lsitu commented on #152
@arwenhutt What's your thought regarding # 4, # 5 and # 6 in [#issuecomment-307230373](https://github.com/ucsdlib/damsmanager/issues/152#issuecomment-307230373) above? I think we could prioritize the features you want to implement now. Thanks.

[2017-06-19 23:12] gamontoya opened #154 "R&D: Investigate options for capturing object level view (analytics) for the Holocaust collection"
### Descriptive summary

Need object views for the Holocaust Living History Workshop collection. Google Analytics only tells us if a user landed on the page and not if they watched the video. Check to see if we can get statistics for watched data from Wowza/Splunk like Vivian is currently doing for DMR.

### Rationale

We need to give UCTV a way to aggregate our current usage statistics for the HL

[2017-06-22 18:01] remerjohnson opened #155 "Add file to existing dataMates: Fisheries object"
### Descriptive summary

Add one file, `f_gc_pfe.xlsx` to the existing [Potential Fishing Effort object](https://library.ucsd.edu/dc/object/bb7032714m). It should go in as the `data-service` file use. If more information is needed or an ingest sheet is needed, let me know.

### Rationale

This object is no longer under embargo. Originally we had ingested this object without a file. This file shoul

[2017-06-22 21:14] lsitu commented on #152
@arwenhutt I review damsmanager for the rules currently implemented, I see the following fields being updated in CLR will trigger the linked OLR and CLR being re-indexed recursively:
dams:title
dams:visibility
dams:relatedResource
predicates for collections hierarchy like dams:assembleCollection|dams:hasCollection etc.

It looks like the updating of these fields should trigger the reindexing of th

[2017-06-26 16:23] mcritchlow commented on #154
@VivianChu - let's discuss in the planning mtg w/ @gamontoya

[2017-06-27 21:22] lsitu commented on #155
@remerjohnson I've added the .xslx file to object https://library.ucsd.edu/dc/object/bb7032714m. I think you can download it now.

[2017-06-28 22:05] hjsyoo opened #157 "Delete object in dataMares: Fisheries"
### Descriptive summary

Please move the object, https://library.ucsd.edu/dc/object/bb34157613 into curator view as soon as possible.

### Rationale

After giving us the dataset, we ingested the object into production and released it immediately. During QA, the researcher realized that the data are too sensitive to be released at this time.

[2017-06-28 22:12] #157 closed

[2017-06-28 22:13] hjsyoo commented on #157
Ticket was created in error. DOMM is handling the issue.

[2017-06-29 17:53] lsitu commented on #152
@mcritchlow I've created PR https://github.com/ucsdlib/damsmanager/pull/158 to update the SOLR re-index rules for RDF Import to avoid  re-indexing of referenced records from the parent collections. It's ready for review now. Thanks.

[2017-06-29 22:38] #152 closed

[2017-07-03 22:16] VivianChu commented on #154
@gamontoya - DMR is using wowza log and splunk api to retrieve the data to report how long the user watched a video.  We can use that way to capture the data for the Holocaust collection to tells us if a user watched the video.  The wowza logs are already in splunk and ready to use.  We just need to decide where to implement this feature - in damsmanager or damspas.   What do you think?  Thanks

[2017-07-07 20:05] mcritchlow commented on #155
@remerjohnson - is this done as expected?

[2017-07-07 20:07] remerjohnson commented on #155
@mcritchlow Ah yes. Sorry, had reviewed this but hadn't closed it out. Thanks @lsitu

[2017-07-07 20:07] #155 closed

[2017-07-07 20:26] mcritchlow opened #160 "Release Dams Manager 2.58"
### Descriptive summary

Version: 2.58
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv

[2017-07-10 16:16] lsitu commented on #160
@gamontoya DAMS Manager release 2.58 is also available on staging for review now. This release  includes changes for the following tickets:
[Dedupe collection titles in Research Data Collections](https://github.com/ucsdlib/damspas/issues/319)
[Update indexing rules for linked records](https://github.com/ucsdlib/damsmanager/issues/152)

[2017-07-10 18:55] gamontoya commented on #154
@VivianChu @mcritchlow I'm thinking we want to add this feature to DAMSManager with the other stats tool(s).

FYI: This work needs to be approved by the Products Group before any action is taken. Thanks Vivian!

[2017-07-10 18:55] #154 closed

[2017-07-10 20:52] gamontoya commented on #160
@lsitu Thank you Longshou. This is approved for production.

[2017-07-10 21:29] lsitu commented on #160
Thanks @gamontoya .
@rstanonik @jhriv DAMS Manager release/2.58 is merged to the master branch and it's ready for prod now. Thanks.

[2017-07-10 22:05] rstanonik commented on #160
I scheduled it to deploy tomorrow morning at 6:00am.

[2017-07-10 22:29] lsitu commented on #160
Sounds good. Thanks @rstanonik .

[2017-07-11 13:38] rstanonik commented on #160
It deployed this morning

[2017-07-18 14:34] #160 closed

[2017-07-19 23:24] arwenhutt opened #161 "Request for reports on usage of file-use values in D4"
### Descriptive summary
I would like to request two reports on file-use value usage in D4 to identify all the unique combinations of files use values and their frequency of use.

### Rationale
Having a breakdown of the unique patterns of file use values and their frequency of use, will help to identify areas of our current data model that may not require replication in D5.  They will be useful for

[2017-07-26 17:44] lsitu commented on #161
@arwenhutt Here are the reports of file-use values occurred in DAMS4 for objects and components, which are arranged in the following format:
[File-use Pattern] ( [Count/Occurrence] )
* [Collection ARK] ( [Collection Title] )
* ... ...
* Examples:
*    [Object ARK]
*    ... ...

Report 1 - Object level file-use values:
[object_file_use_report.txt](https://github.com/ucsdlib/damsmanager/files/117756

[2017-07-26 20:22] arwenhutt commented on #161
Wow, that was fast!  Thanks @lsitu
I'll let you know if I have any questions after I have a chance to look at them.

[2017-08-01 18:32] GregReser opened #162 "MARC to CSV Mapping: add 79X, 245 $c"
### Descriptive summary

## Export all MARC 79X fields to CSV DAMS4 transform

- map to new column "79X  Local Added Entry" This column is invalid, but it will be reviewed and mapped manually to a valid DAMS template column for ingest.
- if there are multiple 79X fields, place each in a separate "79X  Local Added Entry" column
- include values from subfields $a, $b, $c, $d, $e, $f, $g, $h, $i, $j,

[2017-08-01 18:56] GregReser opened #163 "Subject import tool - add pre-ingest test for matching subjects"
### Descriptive summary

Add a new Pre-ingest validation function to test for matching subject strings before the import is run.

### Rationale

Currently we don't know which subjects in a new ingest are already in the DAMS so we reconcile all of them and then run the subject import.  Commonly, many of the subjects are already in the DAMS and are ignored by the import tool.  A considerable amount

[2017-08-01 19:06] GregReser opened #164 "Subject import tool - add closeMatch"
### Descriptive summary

Add a column to the subject import template for closeMatch

### Rationale

During reconciliation we often find a useful URI, such as Wikipedia, that we would like to store for reference in an authority record.  Adding this during import will save time rather than reconciling it later.

### Expected behavior

Add new template column "closeMatch"
 - map this to hasCloseExter

[2017-08-01 19:07] GregReser commented on #164
@arwenhutt this one might need more review.

[2017-08-01 19:10] gamontoya commented on #164
@GregReser Not ready for the next Sprint then?

[2017-08-01 19:24] GregReser opened #165 "DAMS UI - display File 2 for all file types"
### Descriptive summary

Display the file 2 (source files) download button for all components that have them.

### Rationale

Currently, file 2 (usually a zip of raw source files) does not display in the component viewer for audio or video files as it does for still image and documents.  Data providers and the digital archivist have requested this as a way to ingest raw source files, ISO disc imag

[2017-08-02 16:05] GregReser commented on #164
@gamontoya just want to get Arwen's input first

[2017-08-02 19:35] arwenhutt commented on #165
Thanks @GregReser  I think this is a good feature request that we'll want to consider for DAMS 5.  There may be a bit more spec work needed once we have the file-use behaviors locked down, since presumably there are some different possible interactions between the two file 1 and file 2 depending on the file-use values.

@gamontoya I'm wondering if we have a place/label for D5 requests?  Even befor

[2017-08-02 20:00] lsitu commented on #165
@arwenhutt @gamontoya I think the feature is implemented in DAMS 5 already:
<img width="1298" alt="screen shot 2017-08-02 at 12 51 49 pm" src="https://user-images.githubusercontent.com/2430784/28892357-8f1262a0-7782-11e7-8655-b68e2b53d4af.png">

[2017-08-02 21:01] gamontoya commented on #165
@GregReser @arwenhutt This really should be a DAMSPAS ticket, but I'll leave this here since there is commenting happening already.

[2017-08-03 01:08] arwenhutt commented on #161
@mcritchlow @lsitu do you know if the files associated with these file-use values:
**image-huge
image-large
**image-icon**

could be outdated relics of a bygone era?  I'm not seeing them rendered anywhere (at least on desktop, maybe they're for mobile?) even when present.
example object: https://library.ucsd.edu/dc/object/bb9728253x/

[2017-08-03 14:59] lsitu commented on #161
@arwenhutt I think we just once used image-icon in DAMS 3 but stoping using it for D4, and we've never used image-huge and image-large in any scenarios.

[2017-08-03 17:38] arwenhutt commented on #161
Thanks! thats very helpful :)

[2017-08-04 19:51] #161 closed

[2017-08-08 21:56] gamontoya opened #166 "DAMS statistics reporting is questionable and needs investigating"
### Descriptive summary

## Special Collections and Archives:
- [Dr. Seuss Political Cartoons](https://library.ucsd.edu/dc/collection/bb65202085) had a HUGE spike from January to April: 109k object views on the exhibit pages in Feb alone, the DAMS is only reporting ~18k.
- [San Diego History collection](https://library.ucsd.edu/dc/collection/bb33815809) is still not showing up in the [DAMS Object

[2017-08-08 21:57] gamontoya commented on #166
@hjsyoo Can you please provide me with an example or two?

[2017-08-08 22:17] hjsyoo commented on #166
@gamontoya I haven't had time to do anything but trivial testing at this point, but I keep a brief record of the stats manager issues here: https://lisn.ucsd.edu/display/datacuration/DAMS+Statistics+development+timeline. See the latest entry for examples.

[2017-08-18 15:34] gamontoya opened #167 "Provide report on current MARC to CSV mapping"
### Descriptive summary

It would helpful to DOMM to have documentation of the current MARC to CSV mapping.

### Rationale

See [https://github.com/ucsdlib/damsmanager/issues/162](url)

[2017-08-21 18:34] lsitu commented on #166
@rstanonik: Is there any changes to the weblog /pub/data1/weblog/httpd located at lib-hydratail-staging?
I tried to access some objects from dams4 on library but I don't see the URL is logged at /pub/data1/weblog/httpd. For example:
https://library.ucsd.edu/dc/object/bb6793765b.

[2017-08-21 18:55] lsitu commented on #167
@gamontoya The mapping of MARC to CSV is indirect and not obvious. Actually we first convert the MARCXML to MODS with the JollyRogger app, and then convert the MODS metadata to the CSV format that is inline with the Excel InputStream template.
What would you like to have in the documentation? Do the XSL stylesheets that we use to transform MARCXML to MODS (JollyRogger), and convert MODS to CSV (DA

[2017-08-21 19:02] gamontoya commented on #167
@GregReser Can you respond to Longshou's inquiry above?

[2017-08-21 19:58] rstanonik commented on #166
It appears that https://library isn't logged to the central log server, only http://library.  I'll talk with John about it.

[2017-08-21 20:23] lsitu commented on #166
Thanks @rstanonik .

[2017-08-21 20:58] GregReser commented on #167
@lsitu We sometimes need to figure out why data is not appearing, or is appearing in an unexpected place, in the output of the MODS to CSV (DAMS Manager).  When specifying a change to the output, it would help to know which indicators and subfields are already mapped so we could say "add this tag or subfield, delete this tag or subfield from the mapping"

Would it be possible to use the Excel Inpu

[2017-08-21 21:44] lsitu commented on #167
@GregReser Here is the XSL stylesheet to transform MARCXML to MODS in JollyRoger:
https://lib-stash.ucsd.edu/projects/OD/repos/jollyroger/browse/src/webinf/MARC21slim2MODS.xsl

And the links in DAMS Manager to convert MODS to JSON format, and then CSV with codes:
https://github.com/ucsdlib/damsmanager/blob/develop/WebContent/files/dams42json.xsl
https://github.com/ucsdlib/damsmanager/blob/develop/

[2017-08-21 22:19] mcritchlow commented on #167
This does make me wonder if a more direct mapping would make more sense for DAMS5. There's a lot going on here, and I wonder if we should consider cutting out some of the middle-people.

For example, UCSB (along with other Hydra folks) use [traject](https://github.com/traject/traject)

Here are some UCSB mappings using traject: https://github.com/ucsblibrary/alexandria/tree/master/lib/traject

Jus

[2017-08-22 15:44] GregReser commented on #167
@lsitu I don't have permission to access https://lib-stash.ucsd.edu/login?next=/projects/OD/repos/jollyroger/browse/src/webinf/MARC21slim2MODS.xsl

Even so, it is a three part puzzle that's hard to make sense of.  I like the idea of moving to a simpler approach like UCSB is using.  If we do, we might still need to know what we are currently mapping so we can duplicate it (for example, our mapping

[2017-08-22 16:56] lsitu commented on #167
@GregReser Here is the XSL stylesheet that was renamed:
[MARC21slim2MODS.txt](https://github.com/ucsdlib/damsmanager/files/1242697/MARC21slim2MODS.txt)

Yes, we could do that but I think we just start from a standard conversion in the past and customized over time per DDOM requests. I found the following link could help us understand the conversion: https://www.loc.gov/standards/mods/mods-mapping.

[2017-08-22 17:05] rstanonik commented on #166
John fixed logging so that https://library now logs to the central log server.  I tested by browsing https://library.ucsd.edu/dc/object/bb6793765b and saw my request logged in /pub/data1/weblog/httpd on lib-hydratail-staging.

[2017-08-22 18:03] lsitu commented on #166
@jhriv  @rstanonik: Thank you very much.

[2017-08-22 18:20] lsitu commented on #166
Hi Gabriela,
I think the RDCP issue from Ho Jung and the DAMS Object Hits by Month issue in "San Diego History collection" should be fixed with the weblog changes. Could we test it on prod to see whether there are other issues related?
For the 109k HUGE spike object views in "Dr. Seuss Political Cartoons had a HUGE spike from January to April on the exhibit pages, I think this should be the bot/sp

[2017-08-22 20:02] GregReser commented on #167
@lsitu Yes, this format looks great https://www.loc.gov/standards/mods/mods-mapping.html

[2017-08-22 23:49] gamontoya commented on #166
@lsitu Yes, I suspected the exhibits pages were reporting bot hits. As you suggest, please change the rules so they match in both places.

@hjsyoo Can you start visiting some of your collections/objects that were getting zero hits and then check again to see if the hits are being picked up now (on prod)?

[2017-08-23 16:40] lsitu commented on #166
@gamontoya I've updated DAMS Statistics to include all counts from the exhibits pages, See PR https://github.com/ucsdlib/damsmanager/pull/168 .
@mcritchlow The PR is ready fro review now. Thanks.

[2017-08-23 17:36] #166 closed

[2017-08-23 17:40] mcritchlow opened #169 "Release 2.59"
### Descriptive summary

Version: 2.59
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv

To Verify/Review:
* [ ] #168 (statistics update)

[2017-08-23 18:16] lsitu commented on #169
@gamontoya DAMS Manager Release 2.59 is deployed to staging. I think we can move it to prod to test DAMS Statistics once we are ready. Thanks.

[2017-08-23 19:14] hjsyoo commented on #166
@gamontoya I'm running a small test today and will report tomorrow on the results. Do we know when  https://library no longer logged to the central log server? Did this only become an issue when the library site migration happened in June? I'm just trying to figure out when the stats began omitting actual hits.

[2017-08-23 19:37] lsitu commented on #166
@jhriv @rstanonik Do you have any ideas about @hjsyoo's question regarding when the weblog issue happened?

[2017-08-23 19:40] jhriv commented on #166
Part of the migration was a more aggressive use of https:// over http://

I don't have any records going back of https://library logging centrally.

[2017-08-24 16:38] gamontoya commented on #166
@rstanonik @jhriv If http://library is a redirect (to https, or is it?) shouldn't it captured by the central log server?

Shouldn't **http:**//library.ucsd.edu/dc/object/bb6793765b = **https:**//library.ucsd.edu/dc/object/bb6793765b

When was the actual switch to https://

[2017-08-24 16:50] gamontoya commented on #169
@lsitu Approved. Thank you Longshou!

[2017-08-24 17:08] lsitu commented on #169
Thanks Gabriela.
@remerjohnson @rstanonik I've merged it to the master branch and DAMS Manager release 2.59 is ready fro prod now. Thanks.

[2017-08-25 22:05] GregReser commented on #167
Since this has a very high LOE, I'm going to close it.
@mcritchlow do you want to open a separate issue to look at using something like [traject](https://github.com/traject/traject) ?

[2017-08-25 22:08] lsitu commented on #167
@GregReser I am on a middle of it an I could have it done by Monday. Would you like me to continue my work on it?

[2017-08-25 22:10] GregReser commented on #167
@lsitu Yes,  I misunderstood and didn't know you could do it.  That's great.

[2017-08-25 22:11] lsitu commented on #167
@GregReser That's Okay. I'll continue to work on it then.

[2017-08-26 03:51] mcritchlow commented on #167
@GregReser - Yeah, let's setup another ticket to look into Traject for DAMS5. I'll do that on Monday. Thanks!

[2017-08-28 16:50] lsitu commented on #169
@jhriv @rstanonik Have you got a chance to deploy damsmanager release 2.59 to prod? Thanks.

[2017-08-28 17:00] rstanonik commented on #169
Sorry, I deployed it just now.

[2017-08-28 20:18] lsitu commented on #169
Thanks @rstanonik .

[2017-08-29 00:50] lsitu commented on #167
@GregReser Attached is the mapping of MARCXML to MODS, which is following the basic pattern in https://www.loc.gov/standards/mods/mods-mapping.html with some manipulations that could help understanding of our mappings. Please let me know if you have any questions.
[MARC_MODS_Mappings.txt](https://github.com/ucsdlib/damsmanager/files/1258771/MARC_MODS_Mappings.txt)

[2017-08-29 22:28] arwenhutt opened #170 "Report on file sizes for files in the CCDB collection"
### Descriptive summary
Could I get a report on the files in the Cell Centered Database collection (currently in curator) like the one generated with the DAMS Manager "File report" utility but also including file size value.  Please include "size not available" for files which do not have a <dams:size> element and value:
e.g. https://library.ucsd.edu/dc/collection/bb4814883t/rdf  file name spin_fi

[2017-08-30 18:57] lsitu commented on #170
@arwenhutt Here is the report for all 2767 files found in CCDB:
[FileReport_CCDB.txt](https://github.com/ucsdlib/damsmanager/files/1264522/FileReport_CCDB.txt)

It looks like that the following 4 .tar files are empty:
spin_filt_img.tar:    https://library.ucsd.edu/dc/object/bb4814883t/_2_1.tar
osaka3_img.tar:    https://library.ucsd.edu/dc/object/bb91493870/_2_1.tar
1wk-ly5-proj.tar:    https://li

[2017-08-30 20:22] arwenhutt commented on #170
Thanks @lsitu ! very helpful :)

[2017-08-30 22:24] #170 closed

[2017-08-31 14:38] #167 closed

[2017-08-31 14:39] GregReser commented on #167
@lsitu This is great.  Thanks.

[2017-09-01 23:22] arwenhutt opened #171 "Authority report on a list of arks"
### Descriptive summary
We need a report on the authority records created since the reports from 2016.  We've been tracking records created via the subject import tool and I've included the list of arks.

### Details
Using the list of authority record arks attached, please run a report which includes:
1. DAMS_ARK (provided)
2. AuthoritativeLabel
3. Predicate
4. ExactExternalAuthority (when present

[2017-09-05 22:18] lsitu commented on #171
@arwenhutt Where can I find the arks of the authority records that you want for the report?

[2017-09-06 00:51] arwenhutt commented on #171
@lsitu doh! I forgot to attach the list, sorry - adding now.

[2017-09-06 01:49] lsitu commented on #171
Got it. Thanks Arwen.

[2017-09-06 23:50] lsitu commented on #171
@arwenhutt Here is the report for the subjects with those ARKs provided above. I just added in an additional column "Subject Type" to the report so that we can compare it with the predicates used in DAMS. Please let me know if you want to remove it. Thanks.
[Subjects-report.txt](https://github.com/ucsdlib/damsmanager/files/1283016/Subjects-report.txt)

[2017-09-07 01:42] arwenhutt commented on #171
@lsitu looks great, thanks!

[2017-09-08 20:20] #171 closed

[2017-09-09 00:02] arwenhutt opened #172 "Information on select properties/predicates for subject conversion work"
### Summary
I'm trying to identify where we can/want to put some of the information from the subject conversion project, and need to know if we are currently using a few properties/predicates [1], if so how/where, and whether they can be used in our main authority record classes.

**For each of the following properties/predicates:**
- mads:hasCloseExternalAuthority
- mads:hasBroaderExternalAuthori

[2017-09-18 17:49] gamontoya commented on #166
@mdpeters @hjsyoo Can you both report back on what you're seeing now for your stats?

[2017-09-21 22:09] arwenhutt opened #173 "List of arks for all roles in D4"
### Descriptive summary
We would like to get a list of the arks for all the role values in DAMS 4 with the role label, preferably in a delimited or tabular format.

Like:
Role label, Role ARK
Principal investigator, http://library.ucsd.edu/ark:/20775/bb5735317d
etc., etc.

[2017-09-21 22:13] gamontoya commented on #173
@hweng Is this a task you could normally do or does it require Longshou?

[2017-09-22 16:42] hweng commented on #173
@gamontoya I will work with Juliana to query the production database to get the Role label, Role ARK list.

[2017-09-22 17:00] gamontoya commented on #173
@hweng Great, thank you!

[2017-09-25 21:55] lsitu commented on #172
@arwenhutt Attached is the report on the using of property/predicate mads:hasCloseExternalAuthority  in DAMS 4 with fields DAMS ARK, Value Used, Subject Type, Predicate, Subject Label, Example, Object Count:
[mads_hasCloseExternalAuthority.txt](https://github.com/ucsdlib/damsmanager/files/1330887/mads_hasCloseExternalAuthority.txt)

I also found that ComplexSubject Aquaculture--Korea (North)--Post

[2017-09-26 15:28] hjsyoo commented on #166
@gamontoya My small, controlled test at the end of August indicated that downloads are being logged correctly, but views are not being logged at all. I haven't had time to do a proper test of all user behavior on the various file types we have, but given our discussion of the D5 migration, think it's best to put this on hold until further discussion.

[2017-09-26 15:43] lsitu commented on #166
@hjsyoo I see some stats on both the curator view and non-curactor views for August and September: https://library.ucsd.edu/damsmanager/statsRdcpUsage.do.

Could you give us more information regarding what objects were tested for the view and when the tests were performed so that we can look into it? Thanks.

[2017-09-26 15:55] hjsyoo commented on #166
@gamontoya I can't explain why some numbers are >0 and others won't increment. I've put my notes into a google doc: https://docs.google.com/spreadsheets/d/1JWic6IF1e3yswqqNmOxxFy35lIwuhu7_Kbuvz62ynbs/edit#gid=0. The development timeline notes are here: https://lisn.ucsd.edu/display/datacuration/DAMS+Statistics+development+timeline. Again, I think this requires some more rigorous testing than I can

[2017-09-26 19:00] lsitu commented on #166
@hjsyoo I guess there could be some cache issue with your browser in your tests. Could you open a new private browser /Incognito window each time when you start a test? Thanks.

[2017-09-26 20:01] hjsyoo commented on #166
@lsitu How frequently should I open a new window? This isn't something I was aware would be an issue. If I want to test 3 objects, for example, and do 2 downloads of each, then I have to close the window/tab between each download, meaning I open a new incognito window 6x for this one test?

[2017-09-26 20:15] lsitu commented on #166
@hjsyoo I think opening a new incognito window for each round of test for those 3 objects in your case will be fine. But if you want another round of test with the same objects to accumulate the counts of views, then we may need to open a new incognito window again. We just want to make sure that no caching will affect our tests.

[2017-09-28 15:05] hjsyoo commented on #166
@lsitu I'm in the process of hiring a student, whom I'll train to do some more rigorous testing. It may take a few weeks before we can report anything. I'll plan to add caching as a factor in our tests.
Thanks.

[2017-09-28 22:58] hweng commented on #173
@arwenhutt Here you go. I made up the query to D4 database. Attached please find all dams roles and arks exist in D4 database.

[DAMS_role_ark_value_list.txt](https://github.com/ucsdlib/damsmanager/files/1342604/DAMS_role_ark_value_list.txt)

[2017-09-29 19:15] arwenhutt commented on #172
Thanks @lsitu
To make sure I understand correctly, can we use all of the properties in all of the authority record types we have (question 3 in the description)?

[2017-09-29 19:22] lsitu commented on #172
@arwenhutt I think we can but this is your call for it. And I think how to expose those properties is another issue since we haven't take advantage of those properties at this time at all.

[2017-09-29 20:49] arwenhutt commented on #172
Basically I'm trying to identify the best temporary holding places (predicates) for some of the data from the subject conversion project.  Ideally the ones we use wouldn't be used yet (or at least in a different way) or require any/much development work.  I think using the predicates will come later, and maybe not until D5.

[2017-09-30 00:14] arwenhutt commented on #173
thanks @hweng, looks great!

[2017-09-30 00:14] #173 closed

[2017-10-03 22:12] arwenhutt commented on #172
@lsitu
Is there any work that needs to be done in the system to do the following?

* use all three of these properties:
    - mads:hasHiddenVariant
    - mads:hasBroaderAuthority
    - mads:hasCloseExternalAuthority (values consistent with current dams usage)

* in each of these authority records types:
    - mads:CorporateName
    - mads:PersonalName
    - mads:FamilyName
    - mads:Geographic

[2017-10-03 22:14] lsitu commented on #172
@arwenhutt Maybe we just need to update the Subject Import tool in damsmanager to support them.

[2017-10-04 21:33] GregReser opened #174 "Re-ingest Objects to Peter Yates Sound Recording Collection"
### Descriptive summary

Ingest DAMS production objects from the modified standard ingest spreadsheet, matching simple and complex objects to the existing ARKs in column A.
- 223 simple objects
- 25 complex objects
### Rationale

Because of problems with the original ingest, all objects were removed from [Peter Yates Sound Recording Collection](https://library.ucsd.edu/dc/collection/bb68616527) bu

[2017-10-04 21:44] gamontoya commented on #174
@mcritchlow Another ticket for this Sprint if you need it.

[2017-10-05 17:43] gamontoya opened #175 "Create report for IDEAS Performance Series collection"
### Descriptive summary

Create a report (tab delimited or csv) for the [IDEAS Performance Series collection](https://library.ucsd.edu/dc/collection/bb4029917n). The report should include:

- ARK
- Local filename
- Title
- Description

[2017-10-05 18:03] arwenhutt commented on #172
@lsitu Right now we are focused on adding them as part of the subject conversion project, so not an immediate requirement for updating the ingest tools, but I will add creating an issue to add these to the ingest tool to our "things to do" list.  Thanks!

[2017-10-05 18:03] #172 closed

[2017-10-05 18:48] arwenhutt opened #176 "Report on roles used with authority records"
### Descriptive summary
Attached is a list of ARKS.
[arks_for_role_report_request.txt](https://github.com/ucsdlib/damsmanager/files/1360505/arks_for_role_report_request.txt)

These are the ARKS included in the subject conversion work which have an existing record type of the name class, and which will continue to have a name class record type post conversion.

Is it possible to get a report with:

[2017-10-05 18:50] arwenhutt commented on #176
@mcritchlow I'm concerned that this will be a difficult report to generate, with low potential for being useful.  Take a look at it and see what you think.  Thanks!

[2017-10-05 18:50] arwenhutt commented on #176
@mcritchlow I'm concerned that this will be a difficult report to generate, with low potential for being useful.  Take a look at it and see what you think.  Thanks!

[2017-10-06 21:59] mcritchlow commented on #176
@arwenhutt - yeah, I'll defer to @lsitu on this regarding LOE. He should be able to start looking into this first thing next week and we can take it from there.

[2017-10-06 22:14] arwenhutt commented on #176
Sounds good!

[2017-10-09 15:19] lsitu commented on #174
@GregReser Where can I find the Excel source metadata file and the master files for ingest? Thanks.

[2017-10-09 16:56] GregReser commented on #174
@lsitu digital-staging:\Yates\Final_Metdata\OLR_Yates.xlsx
If you don't have access to staging, you can also get is from https://github.com/ucsdlib/dams-metadata/blob/master/Yates/OLR_Yates.xlsx

[2017-10-09 17:02] lsitu commented on #174
@GregReser I got status 404. Maybe I don't have access to it?

[2017-10-09 17:05] GregReser commented on #174
@lsitu, oh yeah, that's DOMM only.  Attaching the file here.
[OLR_Yates.xlsx](https://github.com/ucsdlib/damsmanager/files/1369301/OLR_Yates.xlsx)

[2017-10-09 17:25] lsitu commented on #174
@GregReser Got it. Thanks. Where are those .wav files located?

[2017-10-09 17:33] lsitu commented on #174
@GregReser Thanks. Did you see any issues in staging when ingesting with those provided ARKs?

[2017-10-09 17:40] GregReser commented on #174
I used the standard ingest tool and couldn't reuse those ARKs - just did a regular ingest with new staging ARKs.  The objects were successful and the metadata was approved by the provider.

[2017-10-09 18:23] lsitu commented on #174
@GregReser I see. I'll look into it. Thanks.

[2017-10-09 19:58] lsitu commented on #174
@GregReser I tested it with the internal ark format like http://library.ucsd.edu/ark:/20775/bb0036580h and it works. Attached is the preview RDF/XML with the provided arks assigned:

[preview-Yates-rdf.xml.txt](https://github.com/ucsdlib/damsmanager/files/1369650/preview-Yates-rdf.xml.txt)

And the updated Excel source I used:
[OLR_Yates_ark_updated.xlsx](https://github.com/ucsdlib/damsmanager/fil

[2017-10-09 20:32] GregReser commented on #174
@lsitu The important thing is that it works, so use the internal ARK format that you tested.

[2017-10-09 20:37] lsitu commented on #174
@GregReser Okay. I would just move forward with the ingest process then.

[2017-10-11 18:32] lsitu commented on #174
@GregReser I've done with the test to ingest the objects in Yates collection into staging with those provided ARKs (curator access): https://librarytest.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Peter+Yates+Sound+Recording+Collection+-+ARK&id=bd51366892.

Could you take a look? I think we can do the ingest on prod if it looks good. Thanks.

[2017-10-11 21:40] GregReser commented on #174
@lsitu they look great.  Go ahead with production ingest.

[2017-10-11 23:36] lsitu commented on #174
@GregReser I've changed the [CLR for Peter Yates Sound Recording Collection](https://library.ucsd.edu/dc/collection/bb68616527) to curator view and the ingest is started on prod now.

[2017-10-12 16:13] lsitu commented on #174
@GregReser I think we've got all 248 objects in Yates collection re-ingested on prod now:
https://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Peter+Yates+Sound+Recording+Collection&id=bb68616527

[2017-10-16 06:24] arwenhutt opened #177 "Subject Conversion Test: Stage 1"
### Data input
File [label_updates.xlsx](https://github.com/ucsdlib/damsmanager/files/1392440/label_updates.xlsx)

Includes columns:
1. old_ARK
2. updated_label

### Process
1. Match DAMS authority records to "old_ARK"
    1. IF there is a match
        1. Replace authoritativeLabel with value from “updated_label”

### Related work
Overall subject conversion process https://github.com/ucsdlib/dams

[2017-10-16 15:51] lsitu commented on #176
@arwenhutt Finally my process for the roles used in the authority records was done over the weekend. Here is the report:
[report-roles.txt](https://github.com/ucsdlib/damsmanager/files/1388093/report-roles.txt)

The report includes the following fields:
DAMS ARK, Name Type, AuthoritativeLabel, Subjects Count, Subject Example, RightsHolders Count, RightsHolder Example, Relationships Count, Roles, R

[2017-10-16 16:03] arwenhutt opened #178 "Subject Conversion Test: Stage 2"
### Data input
File: [stage_2_data_input_test.xlsx](https://github.com/ucsdlib/damsmanager/files/1402830/stage_2_data_input_test.xlsx)

Includes columns:

1. record_type
2. updated_label
3. external_authority_URI
4. wikipedia_URI
5. other_URI
6. variant_label

### Matching criteria
`data input "updated_label" EXACT match to DAMS authoritativeLabel` _(NO fuzzy searching, trimming whitespace, etc.)_

[2017-10-16 16:23] remerjohnson opened #179 "Add otherRights override to Blackburn collection objects"
### Descriptive summary

The [Blackburn collection](https://library.ucsd.edu/dc/collection/bb8158593z) was ingested under copyright with rights holders, but with no override. Thus, when trying to release the collection as public, it remains curator-only.

We need to assign the objects in the collection the 'Public - granted by rights holder' override, so that the collection can be publicly release

[2017-10-16 17:36] gamontoya commented on #174
@GregReser Do things look good? If so, feel free to close this ticket.

[2017-10-16 17:37] gamontoya commented on #176
@arwenhutt Final report added here. Please close out this ticket unless you need something more.

[2017-10-16 18:11] GregReser commented on #174
@gamontoya will do as soon as project manager data provider has approved

[2017-10-16 18:39] lsitu commented on #177
@arwenhutt It looks like this ticket has dependency on ticket [ucsdlib/damspas#354](https://github.com/ucsdlib/damspas/issues/354). Do we need to update the "elementValue" for those NameElement's or not? For example, http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb1230135d.

[2017-10-16 19:50] lsitu commented on #177
@arwenhutt I also found that some old_ARK's may occur more than once with different updated_label value. For example:
row#413   http://library.ucsd.edu/ark:/20775/bb6213122d	Transpac Expedition (1953)
row#1659 http://library.ucsd.edu/ark:/20775/bb6213122d	MidPac Expedition (1950)
row#3455 http://library.ucsd.edu/ark:/20775/bb6213122d	Acapulco Trench Expedition (1954)

Could you take a look? Thanks

[2017-10-16 20:55] GregReser commented on #177
@situ @arwenhutt  I looked into the above ARKs to see what is going on.

These names are currently in a single ARK and will be split out into 5 new ARKs during conversion
Here's an example of the current ARK https://library.ucsd.edu/dc/object/bb6690479z

You will see many other cases like this where an old_ARK have duplicate values because where we are splitting them up into new single terms.

[2017-10-16 21:33] lsitu commented on #177
@arwenhutt @GregReser For the compound subjects/names case like https://library.ucsd.edu/dc/object/bb6690479z, should we fix the subjects linking problem for those objects first? Those 5 new subjects/names divided from the compound subject like [Midpac Expedition; Capricorn Expedition (1952-1953); Shellback Expedition, 1952; Transpac Expedition; Acapulco Trench Expedition](http://lib-hydratail-pro

[2017-10-16 22:17] GregReser commented on #177
@lsitu I believe these duplicate ARKs will have to be removed from this first phase of the process.  Let's wait to see what @arwen says.

[2017-10-17 16:35] GregReser opened #180 "Excel input stream - add new director roles"
### Descriptive summary

Update Excel input template to support two new roles

Associate Director: http://library.ucsd.edu/ark:/20775/bb5429571b (http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb5429571b)

Co-Director: http://library.ucsd.edu/ark:/20775/bb67265096 (http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb67265096)

New valid column headers (case insensitive):
- Person:

[2017-10-17 16:55] lsitu commented on #177
@arwenhutt @GregReser Here is the list of arks that are dupplicate in file [label_updates.xlsx](https://github.com/ucsdlib/damsmanager/files/1386365/label_updates.xlsx):
[data-dups.txt](https://github.com/ucsdlib/damsmanager/files/1391873/data-dups.txt)

[2017-10-17 17:33] gamontoya commented on #180
@GregReser Is this for DAMS 4 or 5?

[2017-10-17 17:36] GregReser commented on #180
DAMS 4.  See comment from Longshough in https://github.com/ucsdlib/damsrepo/issues/57

[2017-10-17 17:40] arwenhutt commented on #177
@lsitu
I didn't think about the repeated arks when I was preparing the file but probably should have! @GregReser has it right about what's happening ("flat complex" subjects being split apart) and about removing them from the first stage.  We don't want to touch any linking in Stage 1, which is really about trying to increase the matches we get in Stage 2 and thus saving more existing ARKS for reu

[2017-10-17 17:41] gamontoya commented on #180
@lsitu Adding to this Sprint for you.

[2017-10-17 18:39] lsitu commented on #180
@gamontoya Sure. It's done with PR https://github.com/ucsdlib/damsmanager/pull/181 now.
And I think we can move the PR forward once @mcritchlow is back from vacation.

[2017-10-17 19:28] VivianChu commented on #179
@remerjohnson - The objects in this collection have been updated with license override.  They are publicly released now.  https://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Paul+Blackburn+Audio+Collection&id=bb8158593z

[2017-10-17 19:28] #179 closed

[2017-10-17 20:03] remerjohnson commented on #179
@VivianChu Thanks so much, Vivian :smile:

[2017-10-17 20:07] arwenhutt commented on #177
@lsitu I've removed duplicate arks and replaced the data input file.

It might also be useful to have an idea of how long the database updates take, so if you could add that to the issue comments once it's done.  Thanks!

[2017-10-17 20:17] lsitu commented on #177
@arwenhutt Thanks. I'll update it with damsmanager and it won't take too long for this stage, probably it'll be done over night.

[2017-10-18 15:38] lsitu commented on #177
@arwenhutt The stage 1 task is done on QA now with total 3178 authority records updated. Here are some examples:
http://lib-hydratail-qa.ucsd.edu:8080/dams/api/objects/bb1366721h
http://lib-hydratail-qa.ucsd.edu:8080/dams/api/objects/bb7851367w
http://lib-hydratail-qa.ucsd.edu:8080/dams/api/objects/bb0820593f (CorporateName with multiple element values)
http://lib-hydratail-qa.ucsd.edu:8080/dams/a

[2017-10-18 21:12] arwenhutt commented on #177
This looks good @lsitu!
I'm working on the data input file today and will update https://github.com/ucsdlib/damsmanager/issues/178 and ping you when it's ready.

[2017-10-18 21:12] #177 closed

[2017-10-19 02:21] arwenhutt commented on #176
@lsitu thanks! I haven't had a chance to look at it yet, but will as soon as I can.
@gamontoya I'll close this then too.

[2017-10-19 16:15] gamontoya commented on #176
@lsitu Good work!

[2017-10-19 17:31] remerjohnson opened #182 "Re-structure objects in Catalhoyuk collection"
### Descriptive summary

The [Catalhoyuk collection](https://library.ucsd.edu/dc/collection/bb16752349), within each object, has a certain component group of three files: a .obj file, a .jpg file and .mtl file. (These are all currently sub-components, if that has any relevance)

We need to replace those 3 files in each object with one newly-created zip.

Let me know exactly what information you wo

[2017-10-19 22:17] hweng commented on #175
@gamontoya
Just to clarify, the Local filename is for master filename, correct?
And the description is retrieved from "<dams:Note><dams:type>description</dams:type><rdf:value>...", correct?  For the following example, it is "<rdf:value>IDEAS aims to encourage.........from the ongoing series. </rdf:value>"

<dams:note>
<dams:Note>
<dams:type>extent</dams:type>
<rdf:value>26 digital objects.</rdf:va

[2017-10-19 22:30] arwenhutt commented on #176
@lsitu I haven't had a lot of time with this, but it looks good!  Thanks!

[2017-10-19 22:30] #176 closed

[2017-10-19 23:02] gamontoya commented on #175
@hweng That's correct.

[2017-10-20 18:27] arwenhutt commented on #178
@lsitu @gamontoya @mcritchlow
This is ready now (wasn't sure who to ping, so just letting you all know)

[2017-10-20 22:27] lsitu commented on #178
@arwenhutt For the report, do you just need the records that are updated when matches are found? Or you would prefer to include all records that are matched in the report but marking it as matched or updated in the "Action taken" column?

[2017-10-21 02:23] arwenhutt commented on #178
@lsitu good question, we need an ark back for all records so we can integrate into the next stage, so your second option would be best. I’ll update the description of the report to reflect that.
Thanks!

[2017-10-23 15:53] lsitu commented on #178
@arwenhutt Yep, thanks. I've added those matched records to the report. I also added the Row# column so that you can reference it in the source file. All 9916 authority records are updated/created on QA now.
Attached is the report:

[report-subjects.txt](https://github.com/ucsdlib/damsmanager/files/1407652/report-subjects.txt)

Here are some examples (record created with bd arks instead of bb arks

[2017-10-24 00:47] arwenhutt commented on #178
Thanks @lsitu this looks good overall, but there's one thing we need changed:

For the report, we need a single ark per unique label even if there are multiple matches in the database (1.i.a.).
* When the record is updated (1.i.b.) that ark should be used
* When no record is updated (in the case there is a label match but no additional metadata to add), any single ark for one of the duplicate auth

[2017-10-24 15:48] lsitu commented on #178
@arwenhutt I've generated the 1:1 alignment report. It includes an additional column "Duplicate ARK" for those records that are matched but not updated (delimited by | ). Just noted that the records updated in the ARK column may not be exactly as last time if there are multiple matches (duplicates) , so we may need to use the ARKs in this report for next stage and stages following for records re-l

[2017-10-24 16:28] #174 closed

[2017-10-24 17:15] lsitu commented on #178
@arwenhutt I think I just added the note for the the potential use of the ARK column and the Duplicate ARK column in the report above, so that we all are in the same page  not to reference/use the report I attached yesterday in [#issuecomment-338705530](https://github.com/ucsdlib/damsmanager/issues/178#issuecomment-338705530).

- For stage 3, I think if you already have a full list of the old_ARK

[2017-10-24 17:16] GregReser opened #183 "Change authority label matching in import tools: spaces and punctuation"
### Descriptive summary

Ignore leading, trailing, multiple spaces and punctuation when matching labels between import tools and DAMS authority records.  Also confirm that matches are not case-sensitive.
Tools affected:
- Subject Import Tool
- Collection Import Tool
- Excel Standard Import tool

### Rationale

We want to avoid creating new authorities for the same topic, name, or place because the

[2017-10-24 17:41] arwenhutt commented on #178
@lsitu

Got it! yep, same page :)

I'm still working on the easiest way to approach this one, the gray text there is just outlining some of the complexity of the problem in case anyone else had a brainstorm on how to tackle it, it's not meant for implementation.  I think it will still probably be the most difficult stage, but it will have processing steps outlined like the other steps when it's re

[2017-10-24 19:39] arwenhutt commented on #178
@lsitu it looks like there's a problem with the character encoding in the report, e.g.
`Viti︠a︡zʹ`
comes out as
`Viti?a?z?`

[2017-10-24 19:51] lsitu commented on #178
@arwenhutt Let me take a look and see how to fix it.

[2017-10-25 15:51] lsitu commented on #178
@arwenhutt I think I've fixed the character encoding problem in the report. Those corrupted diacritics with question marks are updated and around 40 of the total 9916 records/ARKs are corrected to use the existing bb ARKs in stead of creating new records with bd ARKs. Here is the updated report:
[report-subjects.txt](https://github.com/ucsdlib/damsmanager/files/1415225/report-subjects.txt)

[2017-10-25 16:33] arwenhutt commented on #178
@lsitu thanks!  I'll work on the input file and issue ticket for stage 3 today.

[2017-10-25 18:03] arwenhutt commented on #178
@lsitu I'm still seeing weird character encoding errors in the new report
The example above is now `Vitiï¸ aï¸¡zÊ¹`

It looks correct in the authority record though.

[2017-10-25 18:20] gamontoya commented on #178
I see this @arwenhutt `"Viti︠a︡zʹ" (Ship)`

[2017-10-25 18:38] arwenhutt commented on #178
Ah! So maybe this time it’s excel :) I checked the txt last time but not this time. Thanks!

[2017-10-25 19:06] gamontoya commented on #178
Yes Excel is a grouch and a pain if you don't import UTF-8 in the steps it wants you to. Let me know if you need help with this.

![excel](https://user-images.githubusercontent.com/4314914/32017867-ecdf91fa-b97c-11e7-8df4-c6aa919b3f2c.png)

[2017-10-25 19:26] arwenhutt commented on #178
@gamontoya yup! I usually check that, just made the incorrect assumption that since it was the data file last time it was the data file this time :)  working on creating the data input file now.

[2017-10-25 22:16] hweng commented on #175
@gamontoya Attached please find the report(tab delimited) that I made for IDEAS collection which includes all items title, local file name in the complex objects and the description and titles for all top level objects.
[IDEAS_report.txt](https://github.com/ucsdlib/damsmanager/files/1416364/IDEAS_report.txt)

[2017-10-26 00:57] #178 closed

[2017-10-26 01:18] arwenhutt opened #184 "Subject Conversion Test: Stage 3"
### Data input
File (with no change rows moved to second tab):
[stage_3_data_input_test.xlsx](https://github.com/ucsdlib/damsmanager/files/1424636/stage_3_data_input_test.xlsx)

Includes columns:
1. old_ARK
2. old_predicate
3. new_ARK
4. new_predicate
5. DAMS_ARK_Part_order

### Matching criteria
IN CLR/OLR records, match:
`old_predicate` AND `old_ARK`

### Process
1. IF there is an exact match on

[2017-10-26 16:11] lsitu commented on #184
@arwenhutt I created the following example report as a test to analyze what extend of the records could be affected in this stage and see there could be a gab for component linking:

[example-report-stage3.txt](https://github.com/ucsdlib/damsmanager/files/1419082/example-report-stage3.txt)

Here are my questions:
Does the format of the report looks good?
Does the numbers in the report for "Records

[2017-10-26 17:27] gamontoya commented on #175
@hweng Thank you. Looks good!

[2017-10-26 17:27] #175 closed

[2017-10-27 21:21] mcritchlow commented on #182
@ucsdlib/developers could someone take this for next Sprint please?

[2017-10-27 21:50] #169 closed

[2017-10-27 21:51] mcritchlow opened #185 "Release 2.60"
### Descriptive summary

Version: 2.60
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

To Verify/Review:
* [ ] #180  (added director roles)

[2017-10-27 22:15] lsitu commented on #185
@gamontoya Release 2.60 for damsmanager is created and deployed to staging. It's ready for review now, http://librarytest.ucsd.edu/damsmanager. Thanks.

[2017-10-28 21:39] arwenhutt commented on #184
@lsitu sorry for the delay in getting back to you, I was out with the kids Thursday and Friday and came down with a cold at the same time - I'm not sure if that's good timing or bad!

1. The matching should use **old_ARK** not DAMS_ARK_Part_order.  DAMS_ARK_Part_order looks like a component ARK but is actually a field DOMM has added into our main subject conversion data file, initially to track th

[2017-10-30 15:18] GregReser commented on #184
@ arwen Yes, the logic in item 4 (remove headings where the old and new predicates and arks are all the same) is sound.  Since all four criteria match, these would be skipped in step 1.i.a.a.

[2017-10-30 15:41] lsitu commented on #184
@arwenhutt @GregReser Thanks. Do you mean we don't need to compare the old_predicate column for matching? From the counts in the example report above, it looks like once the value in the old_ARK column matched, then predicate in the old_predicate column matched as well. But I think it's find to keep the old_predicate column if you want to see the difference.

And also I found some duplicates in th

[2017-10-30 15:56] lsitu commented on #184
@arwenhutt @GregReser Sorry I meant when values in the old_ARK and the old_predicate are matched then we always add the new_ARK and new_predicate, so we may still need to matched the old_predicate. And it sounds good to remove those rows with values in all four columns matched.

[2017-10-30 16:45] lsitu commented on #183
@GregReser I think # 1 (Confirm label match is not case-sensitive) and the first part of # 2 (Ignore leading, trailing) should be supported at this time. Do you see any issues with it?

With # 4 (Ignore punctuation) , it looks like we may need new implementation strategics for matching since SPARQL won't work in this case and SOLR indexing is delayed, which will produce duplications. Do you have a

[2017-10-30 17:03] gamontoya commented on #185
@lsitu Should this be tested on staging by Greg?

[2017-10-30 17:16] lsitu commented on #185
@gamontoya Yes, I think so. The only change in this release is @GregReser ticket https://github.com/ucsdlib/damsmanager/issues/180.

[2017-10-30 17:21] arwenhutt commented on #184
@lsitu yes old_ARK should be compared for matching, but NOT DAMS_ARK_Part_order.  DAMS_ARK_Part_order should just be included in the report (for our use) not used for any part of the processing (that's why it's not included in the Matching Criteria or Process instructions).

It is okay that there are duplicates in the old_ARK column, this is an important part of converting the complex headings.

[2017-10-30 17:24] GregReser commented on #184
@lsitu OK, we agree to not process rows where all four columns match.  Those are now in the 'no change" tab of [stage_3_data_input_test.xlsx](https://github.com/ucsdlib/damsmanager/files/1424636/stage_3_data_input_test.xlsx)  Make sure you are using this file.  The row numbers you gave in your last message don't match this file.

It sounds like you are OK with still matching the old_predicate, cor

[2017-10-30 17:50] lsitu commented on #184
@arwenhutt @GregReser Thanks for clarifying that.
For Greg's questions:
It sounds like you are OK with still matching the old_predicate, correct? Any other questions about that?
A: Yes. I'll still use both the old_ARK and and old_predicate as matching criteria. I just wondering whether we can find some examples of an authority in the old_ARK column that are linking to with different predicates or

[2017-10-30 18:27] GregReser commented on #180
3 of the rights column headers are returning as invalid.  These need to be allowed, even though nothing is being ingested for them.
[xls_standard_input_test.xlsx](https://github.com/ucsdlib/damsmanager/files/1428311/xls_standard_input_test.xlsx)

Invalid control value(s) -
* Row index 2 [Access granted => Access granted | CC license => CC license | Copyright status => Copyright status]

[2017-10-30 18:28] gamontoya commented on #185
@lsitu Greg is getting an error on staging so I won't approve until it's fixed.

#180

[2017-10-30 19:11] GregReser commented on #184
@lsitu
 **"examples of an authority in the old_ARK column that are linking to different predicates or not."**
A: An example is a complexSubject, such as https://library.ucsd.edu/dc/collection/bb8636279w
In object https://library.ucsd.edu/dc/object/bb7134402x, this old_ARK is found with the old_predicate, but the new_ARK_test with the new_predicate is not found, so it should be created.
By 'not fou

[2017-10-30 20:26] lsitu commented on #184
@GregReser Thanks. I see the changes for complex subjects and I'll process all the ARKs/values in the old_ARK column. I am trying to see whether there are any authority records link to clr/olr with different predicates (old_predicate) like in dams. I think this shouldn't be an issue since we always link authority records basing on its model/type.

[2017-10-30 21:00] lsitu commented on #180
@GregReser It looks like Access granted, Copyright status, Copyright holder, and CC license
are something new in the latest Excel Input Stream template that I don't aware of. And the value like "Access granted" used in your test is not a valid CV for header "Access granted", which should be one of the followings as defined in the "CV values" tab:
Library curators   only
UCSD IP only
The world - me

[2017-10-30 23:08] lsitu commented on #185
@gamontoya I think there is something new in #180. I am discussing with Greg to see how to move it forward.

[2017-10-31 00:04] gamontoya commented on #185
@lsitu Sounds good!

[2017-10-31 14:39] GregReser commented on #180
@lsitu The new columns were specified in this ticket (see the description at the top).
We do not need these columns to do anything at this time - they should just be ignored and not cause a validation error.  The cell contents for these columns should also be ignored.

We use these columns to help us identify rights for individual rows.  We want to leave them in the spreadsheet to help us track th

[2017-10-31 16:25] lsitu commented on #180
@GregReser Got it. Thanks. In this case, the issue is that damsmanager is able to identify and validate the columns headers and CVs automatically. I think it might not be a good approach to add custom codes to ignore some of the columns. Instead we can just do it in the following two ways:
1. Fix the test Excel source to use the valid CVs specified in the "CV values" tab for "Access granted", "Cop

[2017-10-31 20:14] GregReser commented on #180
@lsitu OK, that is a good idea.
Let's use valid CVs.  Then I don't have to change the headers in the "CV values" tab, right?
Here is a new test file.
[xls_standard_input_test.xlsx](https://github.com/ucsdlib/damsmanager/files/1432144/xls_standard_input_test.xlsx)

[2017-11-01 00:03] lsitu commented on #184
@arwenhutt I've generated the report:
[report-stage3.txt](https://github.com/ucsdlib/damsmanager/files/1432648/report-stage3.txt)

There are total 76,362 CLRs/OLRs that will be affected in this stage. Does the report look good and the counts in columns "Records matched" and "Records added to" are correct? Please let me know if we can move ahead to update the CLRs and OLRs. Thanks.

[2017-11-01 15:04] lsitu commented on #180
@GregReser Correct. The headers in the CV values tab doesn't need to change. I tested it with the test file above and it looks good. Thanks.

[2017-11-01 15:21] GregReser commented on #180
@lsitu Excellent!  Is it in staging for testing?

[2017-11-01 15:25] lsitu commented on #180
@GregReser Yes. Just test it on staging.

[2017-11-01 15:40] #180 closed

[2017-11-01 15:41] GregReser commented on #180
@lsitu Looks great.  This will be very helpful for us.

[2017-11-01 16:24] gamontoya commented on #185
@lsitu This is approved for prod now.

[2017-11-01 18:10] lsitu commented on #183
@GregReser Do we need to ignore all of the following punctuations?
\ / | [ ] ( ) { } , . : ; ? '  " ~ ` ! @ # $ % & * < > + - _ =

[2017-11-01 18:31] lsitu commented on #185
Thanks @gamontoya.
@rstanonik @jhriv I've merged the release branch to master. DAMS Manager release 2.60 is ready for prod now. Thanks.

[2017-11-01 20:25] rstanonik commented on #185
It will deploy to production tomorrow 6:00am

[2017-11-01 20:53] GregReser commented on #183
@lsitu # 1 (Confirm label match is not case-sensitive) and the first part of # 2 (Ignore leading, trailing) should be supported at this time.  - this is currently working, just being clear about all all expected results.

Yes, that is a good list of punctuation to ignore.

[2017-11-01 20:59] lsitu commented on #183
Thanks @GregReser. I'll use the punctuation list above as the starting point then.

[2017-11-02 15:44] rstanonik commented on #185
It deployed this morning

[2017-11-02 15:53] lsitu commented on #185
Thanks @rstanonik .

[2017-11-02 15:53] #185 closed

[2017-11-03 16:04] lsitu commented on #182
@remerjohnson Do you have the zip files for those three files (a .obj file, a .jpg file and .mtl file)  in each object that you want to replace?

[2017-11-03 17:04] lsitu commented on #184
@arwenhutt I would move ahead with the clr/olr records update on QA over the weekend so that we won't delay the subject conversion process. I'll give you a final report once it's done and I think we can do it again if you see any issues.

[2017-11-03 19:46] remerjohnson commented on #182
@lsitu I do have the zips, but was wondering what is the data that would most help here?
Column A - ARK
Column B - .obj .jpg .mtl files to replace
Column C - .zip file that replaces files in Column B

[2017-11-03 21:18] GregReser commented on #184
@lsitu The totals look good and I spot checked the DAMS_ARK_Part_order and new_ARK added and it looks good.
I checked with @arwenhutt and she said to go ahead and update the clr/olr records update on QA.

[2017-11-03 21:35] lsitu commented on #184
@GregReser Thanks. I am starting the process to update the CLR/OLR records on QA now. It will take around 4 days to update all 76,362 records. I'll let you know once it's done.

[2017-11-03 22:17] lsitu commented on #182
@remerjohnson I think one ark for one row/Object works better. So either split Column B into three columns for each file, or put all the file names in column B will be fine.
Do you want to remove all the Sub-components for .obj .jpg .mtl files and ingest the .zip file into the parent component?
Do you any metadata need to change, for example the component title?
Thanks.

[2017-11-03 23:05] gamontoya opened #186 "Fix database error for Oct 16 statistics"
### Descriptive summary

DAMS usage statistics for Oct. 16 are missing:

https://library.ucsd.edu/damsmanager/stats.do

### Per Longshou

I see it failed with a weird database insert error now. Somehow we have a wrong URL logged like:
 bb00695483/1.pdf&sa=U&ved=0ahUKEwjBtpmstvbWAhXEDxoKHdJUA-84FBAWCBQwBA&usg=AOvVaw3BYj0-Cp0-dQJLQnynQQuK%22.

There is no question mark to separate the parameters, wh

[2017-11-03 23:22] remerjohnson commented on #182
@lsitu Good questions. I'll have to get back to you on that, but I will be at Connect next week, so it might be a while before I could produce the data

[2017-11-03 23:38] lsitu commented on #182
@remerjohnson No problem. I'll work on it once it's ready. Have a nice Trip!

[2017-11-06 17:11] lsitu commented on #184
@arwenhutt @GregReser All 76,362 records affected in this stage were updated successfully on QA over the weekend.
However, SOLR re-indexing failed with tomcat on lib-hydratail-qa stopped last night and and thanks @rstanonik for restarting it early this morning. I've restarted the SOLR re-indexing process. It'll take around three days and I'll let you know once it's done.

[2017-11-06 19:18] hjsyoo commented on #182
@remerjohnson As a reminder, we have an edited version of the OLR that could be rearranged to produce what @lsitu needs.
https://docs.google.com/spreadsheets/d/1t5AyXWNCLOzLQI52kboyltBMpdjpE7PvfXjS2bcgd4w/edit#gid=608775816
 If you'd like my proj assts to work on this, I can assign them the task. @lsitu, yes, I'd like all the subcomponents for .obj, .jpg, .mtl files to be removed, and Ryan's .zip'

[2017-11-06 20:18] lsitu commented on #182
@hjsyoo Thanks. I think I only need the .zip files for those three components with the object ARK mapping.
@remerjohnson If all objects has three files with the same file extensions (.obj .jpg .mtl) and it won't conflict with other components in those objects, then I think we don't need "Column B - .obj .jpg .mtl files to replace", which could make your work easier.
Thank you both.

[2017-11-06 22:18] hjsyoo commented on #182
@lsitu I should be able to get that list to you tomorrow afternoon.

[2017-11-07 18:02] lsitu commented on #186
Hi Gabriela,
I've added PR https://github.com/ucsdlib/damsmanager/pull/187 to ignore those invalid dams URL, which will avoid the database error. FYI, the hits for 10/16/2017 is 2062.
@mcritchlow The PR is ready for review now. Thanks.

[2017-11-07 21:17] hjsyoo commented on #182
@lsitu The .zip file-to-object-ARK mapping file is ready for you: https://docs.google.com/spreadsheets/d/1t5AyXWNCLOzLQI52kboyltBMpdjpE7PvfXjS2bcgd4w/edit#gid=987009751.
The .zips are located in \rdcp-0098-catalhoyuk-bldg89\Final_Files. Please let me know if you need anything else.

[2017-11-07 21:33] lsitu commented on #182
@hjsyoo Thanks. I don't have permission to access the mapping file. Could you attach/upload it here?

[2017-11-07 21:36] hjsyoo commented on #182
@lsitu It's the Github #182 tab in this file:
[Restructuring Catalhoyuk Bldg 89.xlsx](https://github.com/ucsdlib/damsmanager/files/1451731/Restructuring.Catalhoyuk.Bldg.89.xlsx)

[2017-11-07 21:50] lsitu commented on #182
@hjsyoo It looks good. Thanks. I see four other columns for descriptive metadata: Title, Note:description, Note:material details:relationship to other loci, Note:note.
Do we need to deal with this columns?

[2017-11-07 22:06] hjsyoo commented on #182
@lsitu No need to deal with the Note or TItle columns. I'll ask @remerjohnson directly to make any needed edits for the Note properties. I think there were only 1 or two objs that needed editing. Thanks.

[2017-11-08 19:29] lsitu commented on #182
@hjsyoo @remerjohnson All objects in the collection are restructured and the replacement .zip files are ingested on prod now: https://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Data+from%3A+Immersive+Visualization+and+Curation+of+Archaeological+Heritage+Data%3A+%C3%87atalh%C3%B6y%C3%BCk+and+the+Dig%40IT+App&id=bb16752349.
I see component with label "Layer No. 30928" (file U30928.zip) s

[2017-11-08 23:50] hjsyoo commented on #182
@lsitu Thanks! The replacements have been verified and everything looks great. @remerjohnson We just have some metadata that needs to be edited - those issues are reported in https://github.com/ucsdlib/dams-metadata/issues/45.

[2017-11-08 23:52] #182 closed

[2017-11-09 00:52] lsitu commented on #183
@mcritchlow PR https://github.com/ucsdlib/damsmanager/pull/188 is ready for review now. Thanks.

[2017-11-09 15:44] #186 closed

[2017-11-09 15:53] #183 closed

[2017-11-09 16:02] lsitu commented on #184
@rstanonik I see Tomcat at lib-hydratail-qa was killed by the system again yesterday:
/usr/local/tomcat/bin/catalina.sh: line 387:  6811 Killed

It looks like it was killed when indexing a large complex object, which may use lots of memory. Could you check what memory and CPU lib-hydratail-qa has? I also notice that it's slow compare to prod. Could you take a look? Thanks.

[2017-11-09 16:41] lsitu commented on #184
Thanks @rstanonik . Is it possible to match it with prod temporally? We want to move the Subject Conversion process forward asap and I think we can reclaim some of the resources once the subject conversion process is done.

[2017-11-09 17:56] rstanonik commented on #184
I'm about to power off lib-hydratail-qa, so I can increase cpu and memory.

[2017-11-09 17:59] lsitu commented on #184
@rstanonik Thanks. I don't use lib-hydratail-qa at this time.

[2017-11-09 18:02] rstanonik commented on #184
lib-hydratail-qa is up again and has 12 CPU and 24GB memory

[2017-11-09 18:20] lsitu commented on #184
That sounds nice! I've re-initiated the process to re-index those 76,362 CLRs/OLRs.  Thanks @rstanonik .

[2017-11-13 16:20] lsitu commented on #184
@arwenhutt Just let you know that the SOLR re-indexing process is still on going. There are around 10,600 records in the index queue now, which could be done by midnight.

[2017-11-14 16:49] lsitu commented on #184
@arwenhutt The SOLR re-indexing process was finished over night. Attached is the final report for stage 3 (the additional column "Linkings count" is the count for linkings to the old_ARK, including blank nodes linking):
[report-stage3.txt](https://github.com/ucsdlib/damsmanager/files/1471633/report-stage3.txt)

And those 76,362 CLRs/OLRs that are updated (columns Row#, old_ark, new_ark and new_pre

[2017-11-14 21:21] GregReser commented on #184
@lsitu Arwen asked to take a first look at the results.
Things look very good so far!  I do have a question about one new topic: http://library.ucsd.edu/ark:/20775/bb98650304

The mads:elementValue includes an unexpected value "United States. Congress--Pictorial Works".  I think it should be "Pictorial Works".  I don't see "United States. Congress--Pictorial Works" in our conversion source spreads

[2017-11-14 21:47] lsitu commented on #184
@GregReser I think record [bb98650304](http://lib-hydratail-qa.ucsd.edu:8080/dams/api/objects/bb98650304/export) an existing record with its label changed in [stage 1](https://github.com/ucsdlib/damsmanager/issues/177) from "United States. Congress--Pictorial Works". We have the decision made on ticket https://github.com/ucsdlib/damspas/issues/354 not to update the mads:elementValue.

[2017-11-14 22:39] remerjohnson commented on #184
@lsitu Ah, thanks! Greg and I were looking for that info re:elementValue. Since those values won't be used, it helps us confirm that the conversion data is good.

[2017-11-16 19:24] hjsyoo opened #189 "Fix incorrect Component numbering in Catalhoyuk collection"
### Descriptive summary

Following on the work of https://github.com/ucsdlib/damsmanager/issues/182, a new issue has arisen. The components were properly compressed as requested, but component numbering and component advance arrow functionality are now messed up.

In all objects of the collection (https://library.ucsd.edu/dc/collection/bb16752349) that have more than one component titled "Layer No

[2017-11-16 22:08] arwenhutt opened #190 "Subject Conversion Test: Stage 4 (names)"
### Data input
File:
[stage_4_data_input_test.xlsx](https://github.com/ucsdlib/damsmanager/files/1485635/stage_4_data_input_test.xlsx) (updated role values)

Includes columns:
1. old_ARK
2. old_predicate
3. new_ARK
4. new_predicate
5. new_role (values: arks for role, blank, or "subject" which indicates the name should be related to the object as a subject)
6. DAMS_ARK_Part_order
7. updated_label

[2017-11-16 23:08] GregReser commented on #190
I think the logic is right.
Add to the report: updated_label.  I find it helpful when checking the results

[2017-11-17 00:21] remerjohnson commented on #190
The final `else` clause in "ii": I'm not clear on what conditional it is working off of, but as far as I can tell, it all might work

[2017-11-17 17:15] lsitu commented on #190
@arwenhutt Is the ticket ready? I see a dummy link for the Data File: stage_4_data_input_test.xlsx. Could you attach it again? Thanks.
For the report, I think it'll be lengthy. We may get multiple occurrences in the report for each name that are matched in a CLR/OLR. Does it what you want?

[2017-11-17 18:25] gamontoya commented on #189
@lsitu Let me know if the level of effort is high for this.

[2017-11-17 18:28] arwenhutt commented on #190
@lsitu I’m working on the file now - should have it ready pretty soon!

[2017-11-17 19:02] arwenhutt commented on #190
Thanks all,
@GregReser I added updated_label, as well as a few other things from the data input file/test that may help with QA

@remerjohnson I added a paranthetical to clarify the ELSE scenario (it's basically if the condition in 1. is met but not that in 1.i.)

@lsitu for the report, it's fine if it's lengthy and there's duplicates, I think it will be useful for us.  My only concern is if it wi

[2017-11-17 19:02] lsitu commented on #189
@gamontoya It seems like that this is a damspas ticket for fixing the display issue for components. However, we can fix it in the metadata level but I don't know how many files were ingested in those components that has gaps in component numbers due the deletion of the files previously. We may need to re-ingest the files if we restructure the component orders. In this case, re-ingest those objects

[2017-11-17 19:19] lsitu commented on #190
@arwenhutt It looks good. I am working on the logic for the tool now.

[2017-11-17 19:21] lsitu commented on #189
@hjsyoo It's a nice to have that list. Thanks.

[2017-11-17 19:25] gamontoya commented on #189
@lsitu So which do you prefer? Fixing at the metadata level or re-ingesting the collection?

[2017-11-17 19:29] lsitu commented on #189
@gamontoya Let's see how many objects and files are affected. We don't need to ingest the whole collection but only those objects with component files that are affected.

[2017-11-17 19:37] hjsyoo commented on #189
There are 20 objects:

https://library.ucsd.edu/dc/object/bb00028666
https://library.ucsd.edu/dc/object/bb0241779k
https://library.ucsd.edu/dc/object/bb13680656
https://library.ucsd.edu/dc/object/bb17093631
https://library.ucsd.edu/dc/object/bb21871842
https://library.ucsd.edu/dc/object/bb2801523b
https://library.ucsd.edu/dc/object/bb3825425n
https://library.ucsd.edu/dc/object/bb4303245q
https://l

[2017-11-17 19:41] hjsyoo commented on #189
I'm estimating, based on my worksheet, that 36 components (all starting with "Layer No....") will need renumbering.

[2017-11-17 23:05] lsitu commented on #190
@arwenhutt I see the values in new_role column are literal that may need translation. For example:
Row#474 need to fix order
Row#475 need to fix order
Row#476 role, former owner?
Row#4535 subject
Row#4779 dams:topic
Row#5272 dams:corporate:Vessel
...

IN 1.i, we may need to use the new_role value to find a match and/or create a new relationships. Could it be the ARK for the role? Or at least a lab

[2017-11-18 00:28] arwenhutt commented on #190
@lsitu oops! yup, that needs fixing.  I think we should be able to look up the arks since we have a report of them.  I'm not sure I'll have time to do it tonight, but will try and will let you know when it's done.

[2017-11-18 00:33] lsitu commented on #190
Thanks @arwenhutt .

[2017-11-19 14:55] arwenhutt commented on #190
@lsitu I've updated and reattached the input file.
Role values now include: arks for role (just vessel and cruise), blank, or "subject" which indicates the name should be related to the object as a subject

[2017-11-20 16:17] lsitu commented on #190
@arwenhutt Thanks. It looks like there are still some non-uri values like "subject" for new_role, should I simply ignore those non-uri values in the new_role column?  For example, row#4776 - 4779.

[2017-11-20 17:02] arwenhutt commented on #190
@lsitu the ones with "subject" should be linked to the object directly (instead of via a relationship value), I'm happy to move this if there's a better way to express this.

[2017-11-20 17:23] lsitu commented on #190
@arwenhutt I am running a test that simply ignores those subject/non-url values at this time. So I think it should be fine if those subject values are not roles.

[2017-11-20 19:03] arwenhutt commented on #190
They aren't roles but they may indicate a change in how the name is related to the object, so we may need to modify the processing instructions and/or the data to account for them.

[2017-11-20 19:45] lsitu commented on #190
@arwenhutt Thanks for clarifying that. I've got the report as a test that you can reference for modifying the processing instructions and/or the data. But it's 32M in size and I can't attach it here. Would you like to take a look?

Also, another report that is similar to the one in staging 3, which count for the changes with columns like (Records matched | Relationships added to | Subjects added t

[2017-11-20 19:52] arwenhutt commented on #190
@lsitu   I thought for a second you meant it had 32 million rows (which it might!) heh.
Yeah, I should look at it, just let me know where's convenient to put/get it. Thanks!

[2017-11-20 21:13] lsitu commented on #190
@arwenhutt Aha, it's 32 megabytes with 124260 rows only. I notice some rows may be duplicated since the report is generated basing on the query result of old_ARK and old_predicate in each row. However, I can eliminate those duplicate rows in the final report.
I zipped it and the size is much smaller now:
[report-stage4-test.zip](https://github.com/ucsdlib/damsmanager/files/1489145/report-stage4-te

[2017-11-21 03:47] arwenhutt commented on #190
@lsitu There are some things that I think need changing:

## 1 Roles are being changed that shouldn't
I'm seeing a lot of rows where it looks like the roles is being changed when it should not be.

For example:
For DAMS_ARK_Part_order = http://library.ucsd.edu/ark:/20775/bb6588466h
according to the data input spreadsheet - there is no new role value indicated and so the old role should be retained

[2017-11-21 17:48] lsitu commented on #189
@hjsyoo Thanks. I think the component ordering issue in those 20 objects above should be fixed now.

[2017-11-21 19:57] lsitu commented on #190
@arwenhutt Attached is the updated report basing on your feedback above:
[report-stage4.zip](https://github.com/ucsdlib/damsmanager/files/1492770/report-stage4.zip)

And the one similar to stage 3:
[report-matched.txt](https://github.com/ucsdlib/damsmanager/files/1492780/report-matched.txt)

[2017-11-22 16:51] lsitu commented on #190
@arwenhutt Do we need to modify the processing instructions and/or the data for those "subject" values in the new_role column? AT this time, I simply ignored those non-url values like "subject" to generate the reports above. And those rows with "no change" action value in the report are name subject links that are already added to the CLRs/OLRs (duplicates).

Please let me know if you think we are

[2017-11-22 18:22] arwenhutt commented on #190
Thanks @lsitu
I haven't had a chance to look at the report yet, and have a few things I have to take care of first so it'll probably be a few hours before I have time to dig into it.  I'll let you know as soon as I can how it looks.

For your question about subjects - I'm not sure if this is being covered in the current code or if it needs to be modified.  I think it is probably okay if all of the

[2017-11-22 19:00] lsitu commented on #190
@arwenhutt I have no ideas regarding whether the action of the rows with a value of "subject" in the new_role column are "added with no role" or "no change" or not. Do you need another report to include a column for it?

[2017-11-22 19:02] arwenhutt commented on #190
@lsitu How about this:  How does the processing code determine how to link a name to the object in question?

[2017-11-22 19:17] lsitu commented on #190
@arwenhutt First look up the objects that match `old_predicate` AND `old_ARK` in each row, then for each object found, find all links that match the`old_predicate` AND `old_ARK` and apply the rules in the `Process` section to determine whether a dams:Relationship or subject name need to be added to the object or not. The only difference is that those non-url values in the new_role column like "sub

[2017-11-22 22:56] arwenhutt commented on #190
@lsitu okay, I'm still not sure just reading the description.  But I finished (well, enough) of my other thing and will start looking at the report to see if that will help me tell.  It may be though that some of this we won't know for sure until we go through the real test.

[2017-11-22 23:02] lsitu commented on #190
@arwenhutt Thanks. Just let me know what's next once you are done with reviewing the report.

[2017-11-23 01:21] arwenhutt commented on #190
@lsitu issues/questions below - I've continued the numbering from the previous comment so it won't be confusing when we need to refer to any of them:

## 5
A number of rows with action="no change" should be triggering a change (e.g. the new_ark does not match the old_ark or the new_predicate does not match the old_predicate)

## 6
I'm seeing rows that seem like they should not require any addition

[2017-11-23 03:40] lsitu commented on #190
@arwenhutt: _Sorry I may need to clarify that only those objects that are matched and need action like `added with new role`, `added with old role`, `added with no role` will be included in the report. Those actions with `no change` are just dups that are already done previously:_

## 5
A number of rows with action="no change" should be triggering a change (e.g. the new_ark does not match the old_

[2017-11-27 16:28] lsitu commented on #190
@arwenhutt Basing on your feedback and my response above,  I've moved ahead to generate the report with the following changes in the  process and the reports:
1. To catch the rights holders names, an additional row with old_predicate=dams:rightsHolderxxx is added to the data file stage_4_data_input_test.xlsx for every name row with old_predicate= () :
dams:personalName => dams:rightsHolderPersonal

[2017-11-27 19:24] hjsyoo commented on #189
Thanks @lsitu! My student assistant, @anrastog, has verified that the fixes are correct. Closing the ticket.

[2017-11-27 19:24] #189 closed

[2017-11-27 19:40] lsitu commented on #189
@hjsyoo I am glad it works for you.

[2017-11-28 03:42] arwenhutt commented on #190
@lsitu I haven't had as much time with this as I would like today, but I feel like things are getting less clear for me as things go on.  I think we may get further if we can separate the review of the processing code from review of the report creation.

To evaluate how the processing is occurring I would like to:
1. look at the processing code - I might not be able to understand it all, but I may

[2017-11-28 17:00] hjsyoo opened #192 "DAMS Manager is not reporting RDCP Views when clicking in from URL"
### Descriptive summary

Visits to object pages from users in both curator and non-curator mode do not get logged in RDCP stats reports (https://library.ucsd.edu/damsmanager/statsRdcpUsage.do) when the URL is directly clicked from linked text, such as https://library.ucsd.edu/dc/object/bb73062290.

### Expected views
We tested view counts for about 15 unique objects and found that none were report

[2017-11-28 17:00] hjsyoo commented on #192
@anrastog

[2017-11-28 17:31] jessicahilt commented on #190
@lsitu It looks like you've done a great job getting this project most of the way there! Can you push the code up to github so we can review the code? Thanks!

[2017-11-28 17:32] lsitu commented on #190
@arwenhutt I think we could create a private repo for it if you want to see the codes, or I can remove the credentials and attach the source file related to the logic here. Which way would you like?

Could you tell me what become less clear per your view? I believe the gaps between us are how to catch those links for rights holder names are caught,  and why there are some links are added previousl

[2017-11-28 19:25] lsitu commented on #192
@hjsyoo When did you run the tests? Do you get the counts when you test it directly on dams public page https://library.ucsd.edu/dc by browsing and searching?

I am trying to understand what might be an issue since I see lots of counts showing up in https://library.ucsd.edu/damsmanager/statsRdcpUsage.do for those objects tested recently.

Commitment Problems https://library.ucsd.edu/dc/object/bb73

[2017-11-28 21:36] hjsyoo commented on #192
When we get to an object by browsing or searching from within https://library.ucsd.edu/dc, the counts do indeed get logged. But when we click on a URL we have copied onto a spreadsheet previously, such that we go directly to the object without browsing, the visit does not get logged. I suspect the same log failure occurs when finding the link through a search engine, although we haven't tested thi

[2017-11-28 22:27] gamontoya commented on #190
@lsitu In a meeting with Arwen and Matt. Can you just run the code on QA right now? We are going to have multiple iterations of this work even if it takes weeks, but this will better help Arwen rather than having to review report.

[2017-11-28 22:35] lsitu commented on #190
@gamontoya Sure. I am moving ahead to update the CLRs/OLRs now. Thank you all.

[2017-11-29 16:52] lsitu commented on #192
@hjsyoo Thank you very much for the clarification. I did some tests yesterday to click on the object URL above and I see the object URL is logged in the weblog. And this morning I see the counts for RDCP Views increase in https://library.ucsd.edu/damsmanager/statsRdcpUsage.do:
Commitment Problems
2017/11: 4 0 (was 2 0)

Bangarang https://library.ucsd.edu/dc/object/bb5975373f:
2017/11: 32 0 (was 18

[2017-11-29 18:47] hjsyoo commented on #192
@lsitu Sorry, it turns out your test was confounded by the fact that @anrastog and @xiw391 were running some tests on those same objects yesterday. But they're now noticing that another set of objects that they clicked into via URL are getting logged and reported by DM. This is not the behavior they were seeing prior to yesterday. Did you apply any fixes yesterday, or were you only testing?

[2017-11-29 20:19] lsitu commented on #192
@hjsyoo We haven't deployed damsmanager for some times already. And we didn't made any changes for RDCP status since you reported the missing counts a few months before due to the https logging change.
However, if your tests was happened to be performed on Monday, Oct. 16, it won't get counted until we deploy the new release for damsmanager to prod.

[2017-11-29 21:13] hjsyoo commented on #192
@lsitu All of our testing has been done since Oct 25. We've seen views being counted when visiting pages by browsing. We've also seen downloads being counted correctly. Can you clarify what isn't working at present but will be when the new release is deployed?

[2017-11-29 21:23] lsitu opened #193 "Release 2.61"
### Descriptive summary

Version: 2.61
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

To Verify/Review:
* [x] #183 (Change authority label matching in import tools: spaces and punctuation)
* [x] #186  (Fix database error for Oct 16 statistics)
* [ ] https://github.com/ucsdlib/damspas/issues/360 (Update attribution note for all objects referencing

[2017-11-29 21:40] lsitu commented on #192
@hjsyoo That sounds good. I think all features for RDCP status should be working at this time. The new release is just to fix an issue with the invalid URL so that we can have the stats counted for Oct. 16.

[2017-11-29 22:26] hjsyoo commented on #192
@lsitu Okay, that's good to hear. But I think the problem remains that direct entry into objects don't get logged consistently (there are some objects that do, and some that log too many views - we're investigating that now). If you'd like to check from your end, here are a few pages that we won't be testing this week:
https://library.ucsd.edu/dc/object/bb9491049c (CAICE)
https://library.ucsd.edu/

[2017-11-29 22:27] hjsyoo commented on #192
I can also provide a detailed log of our activity if you think it would help, but I want to clean it up and make sure it's comprehensible.

[2017-11-29 22:29] lsitu commented on #193
@gamontoya The new release is ready on staging for review now. I think we may need @GregReser to test and verify the functionality of authority label matching on https://github.com/ucsdlib/damsmanager/issues/183. Thanks.

[2017-11-29 22:40] lsitu commented on #192
@hjsyoo Thanks. That could be helpful if you see something that was not counted as expected.
I'll test the first object https://library.ucsd.edu/dc/object/bb9491049c (CAICE):
I see the following counts at this time:
2017/10: 11 12
2017/11:   1 0
<img width="1440" alt="screen shot 2017-11-29 at 2 36 08 pm" src="https://user-images.githubusercontent.com/2430784/33402930-2b5f4d10-d513-11e7-9176-7f494

[2017-11-29 23:11] gamontoya commented on #193
@lsitu Greg is out this week. Can this wait?

[2017-11-29 23:11] gamontoya commented on #193
@GregReser Can you please confirm authority label matching on staging?

[2017-11-29 23:15] mcritchlow commented on #193
Wondering if someone else from @ucsdlib/domm could verify in @GregReser's absence?

Not that we're in a rush. Just curious.

[2017-11-29 23:16] lsitu commented on #193
@gamontoya I think next Tuesday when Greg is back will be fine since this is not an urgent fix.

[2017-11-29 23:19] arwenhutt commented on #193
I doubt I'd be able to get to this before Greg gets back :( I'm buried under a mountain already.  @remerjohnson do you have the bandwidth to test this?

[2017-11-29 23:29] remerjohnson commented on #193
@arwenhutt Yeah I could test out #183 on staging

[2017-11-30 00:16] remerjohnson commented on #193
So, I ran a test subject ingest with the term variations Greg had in his ticket, plus some ones I made up for good measure, and they all got matched to the original value/ARK. I'd say it's confirmed. @mcritchlow @gamontoya

[2017-11-30 00:36] gamontoya commented on #193
Thank you for testing! @remerjohnson

[2017-11-30 00:37] gamontoya commented on #193
@lsitu Is #186 confirmed fixed?

[2017-11-30 00:39] lsitu commented on #193
@gamontoya Yes. I think so. But we need to run it on prod.

[2017-11-30 16:33] lsitu commented on #192
@hjsyoo I see the counts increase for object https://library.ucsd.edu/dc/object/bb9491049c (CAICE):
2017/11: 2 0 (was 1 0)
<img width="1439" alt="screen shot 2017-11-30 at 8 24 55 am" src="https://user-images.githubusercontent.com/2430784/33441763-4db6c3bc-d5a8-11e7-82a6-282cb12dde41.png">

Please keep in mind that DAMS Statistics won't be able to count it if your browser loads the object page fro

[2017-11-30 16:47] GregReser opened #194 "Create a report of all objects in collection: INGEST Fletcher batch 4"
### Descriptive summary

Because the ingest to INGEST Fletcher batch 4 (bb4200993n) in production was interrupted by a restart of ActiveMQ server, only 229 or 360 objects were created.  No DAMS manager report was generated for the ingest, so we need to know which objects were created so we can ingest the remaining items in the spreadsheet.

### Task
Create a CSV report of all objects in the collec

[2017-11-30 16:59] hjsyoo commented on #192
Ok, I didn't realize that, but @anrastog clears her cache at the end of each day. We've been running tests over multiple days.
Also, I have just done a similar test for the CAICE object you tested yesterday, but in incognito. Will let you know what I get tomorrow.

[2017-11-30 17:19] lsitu commented on #192
@hjsyoo Thanks. Please close the browser and open a new incognito browser each time when you run a test for the same object URL. You may not get everything counted if you only clear the browser's cache at the end of the day.

[2017-11-30 17:46] hjsyoo commented on #192
@lsitu I just shared a google sheet with you: https://docs.google.com/spreadsheets/d/1JWic6IF1e3yswqqNmOxxFy35lIwuhu7_Kbuvz62ynbs/edit#gid=1673736810. See tab, "Testing URL direct links". This is a record of tests we ran for clicking on URLs to open object pages. The "Action" column F describes what we did, and Expected and Observed reports are to the right. The + sign after counts simply indicate

[2017-11-30 18:07] lsitu commented on #192
@hjsyoo It looks good. Thanks.
To avoid the annoying caching issues that may affect your expected counts, please close the browser and open an incognito one **each time** when you test a file download or object URL view. Thanks.

[2017-11-30 19:04] gamontoya commented on #193
@lsitu This can be pushed to prod whenever it's convenient.

[2017-11-30 19:13] lsitu commented on #193
@gamontoya Sure. I've merged it into the master branch.
@rstanonik @jhriv DAMS Manager release 2.61 is ready for prod now. Thanks.

[2017-11-30 22:08] lsitu commented on #190
@arwenhutt I think we've done with stage 4 to update the CLRs/OLRs.
Attached is the report:
[report-stage4.zip](https://github.com/ucsdlib/damsmanager/files/1519623/report-stage4.zip)

And the one for matched counts:
[report-matched.txt](https://github.com/ucsdlib/damsmanager/files/1519626/report-matched.txt)

But the SOLR re-indexing process is still on-going with more than 46,000 left in the que

[2017-12-01 21:29] gamontoya commented on #194
@jessicahilt @mcritchlow Jessica: Do you have a developer that wants to take this on this Sprint?

[2017-12-01 21:30] lsitu commented on #194
@gamontoya I can work on it.

[2017-12-02 00:53] gamontoya commented on #194
@lsitu Thank you!

[2017-12-04 16:04] lsitu commented on #190
@arwenhutt I just checked the solr re-indexing process. It's delayed and there are still more than 20,000 items in the queue http://lib-hydratail-qa.ucsd.edu:8161/admin/queues.jsp. It looks like it could take another day and a half or two.

[2017-12-04 16:59] lsitu commented on #194
@GregReser Attached is the report:
[report-Fletcher-btach4.txt](https://github.com/ucsdlib/damsmanager/files/1528016/report-Fletcher-btach4.txt)

[2017-12-04 17:35] gamontoya commented on #194
Thank you @lsitu !

[2017-12-04 20:10] GregReser commented on #194
@lsitu looks great, thanks.

[2017-12-04 20:10] #194 closed

[2017-12-06 15:58] lsitu commented on #190
@rstanonik It looks like the Solrizer on lib-hydratail-qa is stopped: http://lib-hydratail-qa.ucsd.edu:8161/admin/queues.jsp. Could you take a look? Thanks.

[2017-12-06 16:20] lsitu commented on #193
@rstanonik Have you got a chance to deploy damsmanager release 2.61 to prod? Thanks.

[2017-12-06 16:30] rstanonik commented on #193
Sorry, I overlooked the request.
I deployed it this morning.

[2017-12-06 16:35] lsitu commented on #193
Thanks @rstanonik.

[2017-12-06 19:21] lsitu commented on #190
@rstanonik Have you got a chance to look at DAMS Solrizer on QA? It'll be nice if we can restart it for now so that it won't delay the SOLR indexing process. Thanks.

[2017-12-06 19:54] rstanonik commented on #190
I restarted it.
I'll create a jenkins plan, so you can restart it too, if need be.

[2017-12-06 20:20] lsitu commented on #190
@rstanonik That sounds great! Thanks a lot.

[2017-12-06 20:36] lsitu commented on #193
@gamontoya I just ran dams statistics on prod to generate the stats for Oct. 16 that was failed earlier and it works. I am closing the deployment ticket now. Thanks @rstanonik for deploying it to prod.

[2017-12-06 20:36] #193 closed

[2017-12-07 17:50] GregReser opened #195 "Revise JIRA DAMS ingest workflow and template; create subtasks"
### Descriptive summary

We would like to modify the current JIRA DAMS ingest workflow in order to:

- Clarify and enforce requirements needed for ingest work to proceed
- Make workflow more self explanatory within JIRA so that external documentation doesn't need to be referred to as often
- Add explicit statuses for some workflow states that aren't currently represented
- Improve clarity of track

[2017-12-07 17:50] GregReser commented on #195
[di-workflow_2017-12-07.pptx](https://github.com/ucsdlib/damsmanager/files/1540071/di-workflow_2017-12-07.pptx)
![new_jira_di](https://user-images.githubusercontent.com/5453716/33730181-0939f18c-db34-11e7-92db-8edf07d02edc.jpg)
![new_jira_di_subtask](https://user-images.githubusercontent.com/5453716/33730182-09a33a16-db34-11e7-9a65-2779abf427c2.jpg)

[2017-12-07 17:50] GregReser commented on #195
[di-workflow_2017-12-07.pptx](https://github.com/ucsdlib/damsmanager/files/1540073/di-workflow_2017-12-07.pptx)

[2017-12-07 17:51] GregReser commented on #195
![new_jira_di](https://user-images.githubusercontent.com/5453716/33730214-226c640a-db34-11e7-8fcf-cada4d99fc16.jpg)

[2017-12-07 17:51] GregReser commented on #195
![new_jira_di_subtask](https://user-images.githubusercontent.com/5453716/33730222-29711b9c-db34-11e7-87f4-a5ed6f4ef95e.jpg)

[2017-12-07 20:01] lsitu commented on #190
@arwenhutt The SOLR re-indexing process is finished on QA. I think it's ready for you to review the metadata changes in Stage 4 now. Thanks.

[2017-12-08 00:09] arwenhutt commented on #190
@lsitu thanks!  I should have some time tomorrow to start looking at it.

[2017-12-08 16:58] hjsyoo opened #197 "Generate a table of Catalhoyuk-bldg89 component titles and URLs"
### Descriptive summary

The database manager for catalhoyuk.com would like to create links from his database to components within our Catalhoyuk collection at https://library.ucsd.edu/dc/collection/bb16752349. To facilitate this work, please generate a CSV table for all components within this collection, containing the following metadata for each component:

* Object title (e.g., Building 89, Mod

[2017-12-08 23:16] GregReser commented on #190
@lsitu Should we be seeing all the changes from this test in http://libraryqa.ucsd.edu/dc/...?

In http://libraryqa.ucsd.edu/dc/object/bb0138369g , I don't see the new topic bb00356037 "Correspondence".  I see it in the RDF.  Perhaps the indexing is not complete?
![image](https://user-images.githubusercontent.com/5453716/33789020-a946c94c-dc2a-11e7-9a7e-7a67a844a3d5.png)

![image](https://user-ima

[2017-12-08 23:16] lsitu commented on #190
@arwenhutt:   @rstanonik and I just found that there some issues with SOLR in QA and the Solrizer failed to index the records. I am moving ahead to reindex the records updated in this stage now. So you may only be able to review the metadata at this time but not through the object viewer in damspas. Sorry about it.

[2017-12-08 23:18] arwenhutt commented on #190
Jinx!

[2017-12-08 23:19] GregReser commented on #190
@lsitu funny, we fond this at the same time!

[2017-12-08 23:21] lsitu commented on #190
@GregReser Yep. Ron and I are working together to see what's going wrong with SOLR for a little bit while.

[2017-12-08 23:29] lsitu commented on #190
@arwenhutt @GregReser Do you have a list of objects that you want to review? I can index those objets for you to review first. This will save us some time to wait for SOLR index to be done.

[2017-12-08 23:42] GregReser commented on #190
@lsitu yes, that makes sense.  Let's start with these:
bb0138369g
bb1536977g
bb46769317
bb21170551
bb4404344d
bb5291268s
bb56324513

[2017-12-09 00:21] lsitu commented on #190
@GregReser All 7 records above are updated in SOLR now. So you could review them in the object view like http://libraryqa.ucsd.edu/dc/object/bb0138369g at this time.

Would you like me to move ahead to index all other records now?

[2017-12-09 00:23] arwenhutt commented on #190
@lsitu yes please

[2017-12-09 00:40] mcritchlow opened #198 "Release 2.62"
### Descriptive summary
Version: 2.62
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

To Verify/Review:
- [ ] #

[2017-12-09 01:14] lsitu commented on #198
@gamontoya Release 2.62 for damsmanager is deployed to staging for review now. The change in this release is for ticket https://github.com/ucsdlib/damspas/issues/364 (Statistics: investigate potential new URL crawling patterns). I think it will take effects once it is deployed to prod. Could you ask @rstanonik to deploy it to prod if it looks good. Thanks.

@rstanonik I've merged the change to the

[2017-12-09 02:57] lsitu commented on #190
@arwenhutt Okay. All CLRs/OLRs updated in stage 4 are added to the solr index queue now. I think it could be done by next Thursday and you also can track the status [here](http://lib-hydratail-qa.ucsd.edu:8161/admin/queues.jsp). The number under column "Number Of Pending Messages" is the number of objects still need to be done.
I'll be out next sprint, but I'll update the status for you once I can

[2017-12-11 18:25] mcritchlow commented on #195
@GregReser - I should be able to do this for ya'll. I'll start reading through this more carefully and let you know if I come up with any questions. One thing at a quick pass, is I'm not sure whether the Sub-Task form template is customizable, since it's a global thing to JIRA. I'll look into it, just a heads up that we may run into limitations there.

[2017-12-11 18:42] mcritchlow commented on #195
@GregReser - Ok, I think I've got the DI Issue Template modified per your instructions. Can you take a look and let me know if things look  OK to you? Will look at the workflow stuff next.

[2017-12-11 18:55] mcritchlow commented on #195
RE: Modify DI workflow

I'm afraid there's no way to explicitly enforce this. The workflow for the DI issue type isn't really connected in any way to the child (sub-task) workflow. Can you all manage it via policy/best practice?

I'm afraid not. Sub-task is a JIRA global issue type that are treated differently than the standard types. Sorry.

[2017-12-11 19:31] gamontoya commented on #197
@jessicahilt Here's another ticket that can be assigned.

[2017-12-11 21:37] mcritchlow commented on #195
@GregReser - Ok, I've done an initial pass at modifying the workflow. There are currently two issues I'm trying to sort out. Basically there are now two workflow steps (Ingest, Release QA) which are no longer linked to anything. For whatever reason, I'm having a hard time figuring out how to delete them.. But if you wouldn't mind creating a test ticket or two and running through the workflow I'd a

[2017-12-11 23:47] GregReser commented on #195
@mcritchlow I see the requirements check boxes in the "Create Issue" screen but not on the issue screen.
Also, is it possible to require these be checked before moving from Open to MD wrangling?
![image](https://user-images.githubusercontent.com/5453716/33859739-2e680c24-de8a-11e7-989f-2a9ebbe4b57c.png)

[2017-12-11 23:55] GregReser commented on #195
@mcritchlow I neglected to add "Embargo until" to the DI template.  Please add it beneath "Attachment"

[2017-12-12 00:07] mcritchlow commented on #195
Could you give me a link of screenshot of where you were hoping to see it? Sorry, there are so many "screens" in JIRA..

Nope, sorry :(

Ok this is done. Let me know if that's what you were expecting

[2017-12-12 15:32] GregReser commented on #195
I was hoping to see the requirements in this view - the ongoing, working issue screens.  An issue might be opened with no requirement boxes checked.  After all boxes are checked, the issue would be ready for the MD wrangling step.
Also, we want to see the "Embargo until" field in this same view.
![image](https://user-images.githubusercontent.com/5453716/33892589-0556376e-df0e-11e7-81d0-26197cd81ba

[2017-12-12 18:52] GregReser commented on #195
@mcritchlow in the issue window, is it possible to control the order of the elements in the Workflow dropdown?  It would be much easier to select the next step from Pending if it followed the workflow.

MD Wrangling
Ingest MD QA
Staging Ingest
Staging QA
Production subject ingest
Production CLR ingest
Production OLR ingest
Production QA
Publish
Embargoed
Access verification
Close

![image](https:/

[2017-12-12 21:25] gamontoya commented on #163
@jessicahilt Will check in with @mcritchlow for LOE.

[2017-12-14 16:54] lsitu commented on #190
@arwenhutt SOLR re-indexing is done now. I think it's ready for you to review now. Thanks.

[2017-12-18 18:24] gamontoya commented on #198
@rstanonik Hi Ron. This can be pushed to prod.

[2017-12-18 19:10] GregReser commented on #195
Updated status , transition labels and tooltips.
![image](https://user-images.githubusercontent.com/5453716/34123343-0e75f520-e3e4-11e7-9532-baa8d1669ccd.png)

[2017-12-20 22:11] mcritchlow commented on #195
@GregReser - I think I addressed everything via our slack conversation. Are there other edits needed?

[2017-12-20 22:30] gamontoya commented on #198
@rstanonik Hi Ron. Did this get merged?

[2017-12-20 22:31] gamontoya commented on #198
@jhriv Are you around to do this?

[2017-12-20 22:53] jhriv commented on #198
Scheduled for Thursday, 2017-12-21, during our service window.

[2017-12-21 15:47] jhriv commented on #198
Deployed. Leaving open pending end-user acceptance.

[2017-12-21 16:03] GregReser commented on #195
@mcritchlow It's looking very good.  I've been using it for a new ingest and it works well.
One request: for the Requirements field, please change the label of the first checkbox to "[click to edit]"

[2017-12-21 17:13] gamontoya commented on #198
@jhriv Looks good. Thank you!

[2017-12-21 17:13] #198 closed

[2017-12-22 00:18] mcritchlow commented on #195
@GregReser - you got it, done.

[2017-12-22 15:48] #195 closed

[2017-12-22 15:49] GregReser commented on #195
@mcritchlow this looks great.  If we need any changes, I'll open a new issue.
Thanks for all your work on this.

[2017-12-22 17:00] mcritchlow commented on #195
sounds like a plan, I hope it's a helpful improvement for your team's workflow!

[2017-12-22 19:44] hweng commented on #197
@hjsyoo  Attached please find the report I made for Catalhoyuk collection objects and components. There are some components don't have downloadable urls, such as the 5th, 6th, 7th components in https://library.ucsd.edu/dc/object/bb13680656, which I left it blank.

[Catalhoyuk_collection_report.xlsx](https://github.com/ucsdlib/damsmanager/files/1583370/Catalhoyuk_collection_report.xlsx)